<div class="row" ng-hide="searchWarningMessage==''" ng-cloak>
    <div class="alert alert-warning fade in">
        <strong>{{searchWarningMessage}}</strong>
    </div>
</div>
<div class="row">
    <script type="text/ng-template" id="display_aff_orgs.html">
        <div class="modal-header">
            <h3 class="modal-title">{{vm.modalTitle}}</h3>
        </div>
        <div class="modal-body">
            <div ng-repeat="org in vm.aff_orgs">
                <strong>{{org.name}}</strong>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" id="delete_btn" ng-click="vm.close()">Close</button>
        </div>
    </script>

    <div class="col-xs-12">
        <div class="row">
            <h4>Search Family
                <small>* for wild card (e.g. Yal* for Yale Family)</small>
            </h4>
        </div>
        <div class="row">
            <form class="form form-horizontal" role="form">
                <!-- first row -->
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6">
                        <!-- name -->
                        <div class="form-group">
                            <label for="family_name" class="control-label col-xs-12 col-sm-3">Name:</label>
                            <div class="col-xs-12 col-sm-9">
                                <input type="text" id="family_name" class="form-control input-sm" placeholder="Family Name" ng-model="familyView.searchParams.name" auto-focus/>
                            </div>
                        </div>
                        <!-- family name ends -->

                        <!--family status-->
                        <div class="form-group">
                            <label for="family_status" class="control-label col-xs-12 col-sm-3">Family Status: </label>
                            <div class="col-xs-12 col-sm-9">
                                <select class="form-control input-sm" id="family_status" ng-model="familyView.searchParams.family_status">
                                    <option value="">Select a status</option>
                                    <option ng-repeat="status in familyView.familyStatusArr" value="{{status.name}}">{{status.name}}</option>
                                </select>
                            </div>
                        </div>
                        <!-- family status ends -->
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6">
                        <!--family type-->
                        <div class="form-group">
                            <label for="family_type" class="control-label col-xs-12 col-sm-3">Family Type: </label>
                            <div class="col-xs-12 col-sm-9">
                                <select class="form-control input-sm" id="family_type" ng-model="familyView.searchParams.family_type">
                                    <option value="">Select a type</option>
                                    <option ng-repeat="type in familyView.familyTypeArr" value="{{type.name}}">{{type.name}}</option>
                                </select>
                            </div>
                        </div>
                        <!-- family type ends -->
                    </div>
                </div><!-- first row ends -->

                <div class="row">
                    <div class="col-xs-12">
                        <div class="btn-toolbar">
                            <button type="submit" class="btn btn-primary pull-right" id="submission_btn" ng-click="familyView.searchFamilies()">
                                <i class="glyphicon glyphicon-search"></i> Search
                            </button>
                            <button class="btn btn-warning pull-right" id="reset_btn" ng-click="familyView.resetSearch()">
                                <i class="glyphicon glyphicon-remove"></i> Clear
                            </button>
                            <button class="btn btn-link pull-right" id="cancel_btn">
                                <i class="glyphicon glyphicon-circle-arrow-left"></i> Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- list of families -->
<div class="row" ng-if="searchWarningMessage.length === 0">
    <div class="col-sm-12">
        <div class="row" ng-if="searchWarningMessage.length === 0 && familyView.gridOptions.totalItems != null">
            <a href="" id="family_search_results"></a>
            <p><h4>Family Search Results: {{familyView.gridOptions.totalItems}} found</h4></p>
        </div>
        <div class="row animated-item" ng-if="familyView.gridOptions.data.length > 0">
            <div ui-grid="familyView.gridOptions" ui-grid-pagination="" external-scopes="clickHandler" class="grid"></div>
        </div>
    </div>
</div>
