<div class="row-fluid">
    <script type="text/ng-template" id="delete_confirm_template.html">
        <div class="modal-header">
            <h3 class="modal-title">{{vm.modalTitle}}</h3>
        </div>
        <div class="modal-body">
            <div ng-show="vm.deletionStatus == ''">
                <strong>This will be a permanent deletion</strong>
            </div>
            <div ng-show="vm.deletionStatus != ''">
                <strong>{{vm.deletionStatus}}</strong>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" ng-click="vm.ok()">Delete Now</button>
            <button class="btn btn-primary" ng-click="vm.cancel()">Cancel</button>
        </div>
    </script>

    <ctrp-comment instance-uuid="{{familyDetailView.curFamily.uuid}}" button-type="icon" field="" model="family"></ctrp-comment>
    <div class="col-xs-12 drop-shadow">
        <div class="row">
            <p>
                <h4 ng-if="familyDetailView.curFamily.new">Add Family</h4>
                <h4 ng-if="!familyDetailView.curFamily.new">Edit Family</h4>
            </p>
        </div>
        <div class="row md-sidenav-push-in-target">
            <form class="form form-horizontal" name="family_form" role="form" novalidate ctrp-submit="familyDetailView.updateFamily()">
                <div class="form-group has-feedback required" ng-class="{'has-error': ctrpbtn.family_form.needsAttention(family_form.name) || familyDetailView.showUniqueWarning}">
                    <label class="control-label col-xs-12 col-sm-3">Family Name:</label>
                    <div class="col-xs-12 col-sm-6">
                        <input type="text" name="name" restriction-field class="form-control input-sm" ng-model="familyDetailView.curFamily.name" required auto-focus ng-change="checkForNameUniqueness()"/>
                        <span class="form-control-feedback" ng-show="familyDetailView.curFamily.name.length" ng-class="(!familyDetailView.showUniqueWarning && familyDetailView.curFamily.name.length) ? 'glyphicon glyphicon-ok glyphicon-green' : 'glyphicon glyphicon-exclamation-sign glyphicon-red'"></span>
                        <span class="help-block" ng-show="family_form.name.$error.required">Family name is Required</span>
                        <div class="has-error" ng-show="familyDetailView.curFamily.name.length > 0 && family_form.name.$dirty && familyDetailView.showUniqueWarning">
                            <span class="help-block">
                                Warning: Family exists in the database. Please verify and create a new Family record.
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group has-feedback required"  ng-class="{'has-error': ctrpbtn.family_form.needsAttention(family_form.family_status)}">
                    <label class="control-label col-xs-12 col-sm-3">Family Status:</label>
                    <div class="col-xs-12 col-sm-6">
                        <select restriction-field ng-init="familyDetailView.curFamily.family_status_id" class="form-control input-sm" id="family_status" ng-model="familyDetailView.curFamily.family_status_id" ng-options="status.id as status.name for status in familyDetailView.familyStatusArr" name="family_status" required>
                            <option value="">Select a status</option>
                        </select>
                        <span class="form-control-feedback select-feedback" ng-show="familyDetailView.curFamily.family_status_id" ng-class="!ctrpbtn.family_form.needsAttention(family_form.family_status) ? 'glyphicon glyphicon-ok glyphicon-green' : 'glyphicon glyphicon-exclamation-sign glyphicon-red'"></span>
                        <span class="help-block" ng-show="family_form.family_status.$invalid">Family status is Required</span>
                    </div>
                </div>
                <div class="form-group has-feedback required"  ng-class="{'has-error': ctrpbtn.family_form.needsAttention(family_form.family_type)}">
                    <label class="control-label col-xs-12 col-sm-3">Family Type:</label>
                    <div class="col-xs-12 col-sm-6">
                        <select restriction-field ng-init="familyDetailView.curFamily.family_type_id" class="form-control input-sm" id="family_type" ng-model="familyDetailView.curFamily.family_type_id" ng-options="status.id as status.name for status in familyDetailView.familyTypeArr" name="family_type" required>
                            <option value="">Select a type</option>
                        </select>
                        <span class="form-control-feedback select-feedback" ng-show="familyDetailView.curFamily.family_type_id" ng-class="!ctrpbtn.family_form.needsAttention(family_form.family_type) ? 'glyphicon glyphicon-ok glyphicon-green' : 'glyphicon glyphicon-exclamation-sign glyphicon-red'"></span>
                        <span class="help-block" ng-show="family_form.family_type.$invalid">Family type is Required</span>
                    </div>
                </div>
                <div class="form-group">
                     <label class="control-label col-xs-12 col-sm-3">Membership Size:</label>
                    <div class="col-xs-12 col-sm-6 form-text"><!--TODO fix line height display-->
                        {{familyDetailView.savedSelection.length}}
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-3">Add Family Membership:</label>
                   <div class="col-xs-12 col-sm-9">
                       <ctrp-org-adv-search-modal-button use-built-in-template="false" allow-overwrite="false" selected-orgs-array="familyDetailView.orgsArrayReceiver"></ctrp-org-adv-search-modal-button>

                       <!--<button class="btn btn-primary" ng-click="familyDetailView.searchOrgsForAffiliation('lg')">
                           <i class="glyphicon glyphicon-search"></i> Search Organizations
                       </button>
                       <button class="btn btn-danger" ng-click="familyDetailView.batchSelect('removeAll')" ng-show="familyDetailView.savedSelection.length > 0">
                           <i class="glyphicon glyphicon-remove"></i> Remove All Family Members
                       </button> -->
                       <div class="row animated-item top-offset-tiny" ng-show="familyDetailView.savedSelection.length > 0">
                           <input type="text" ng-model="familyDetailView.selectedOrgFilter" restriction-field class="form-control input-sm" placeholder="Filter selected organizations"/>
                           <table class="table table-bordered table-striped table-condensed">
                               <thead>
                                   <th width="6%"><nobr>CTRP ID</nobr></th>
                                   <th width="6%"><nobr>CTEP ID</nobr></th>
                                   <th width="29%">Organization</th>
                                   <th width="22%">Relationship</th>
                                   <th width="18%">Effective Date</th>
                                   <th width="18%">Expiration Date</th>
                                   <th width="1%"></th>
                               </thead>
                               <tbody>
                                   <tr ng-repeat="org in familyDetailView.savedSelection | filter: {'name': familyDetailView.selectedOrgFilter} track by $index" ng-class="org._destroy == true ? 'deleted-text animated-item' : 'animated-item'">
                                       <td>{{org.id}}</td>
                                       <td>{{org.ctep_id}}</td>
                                       <td><a ng-href="/ctrp/ui#main/organizations/{{org.id}}">{{org.name}}</a></td>
                                       <td>
                                           <!--
                                           <select class="form-control" id="family_relationship" ng-model="org.family_relationship_id">
                                               <option value="">Select Relationship</option>
                                               <option ng-repeat="relation in familyDetailView.familyRelationshipArr" value="{{relation.id}}" ng-selected="org.family_relationship_id == relation.id">{{relation.name}}</option>
                                           </select>
                                           -->
                                       <select ng-init="org.family_relationship_id" class="form-control input-sm" id="org.family_relationship" ng-model="org.family_relationship_id" ng-options="relation.id as relation.name for relation in familyDetailView.familyRelationshipArr">
                                           <option value="">Select a relationship</option>
                                       </select>
                                   </td>
                                   <td>
                                       <div class="input-group add-on date datepicker" date-date-format="yyyy-mm-dd">
                                           <input type="text" class="form-control input-sm"
                                                  datepicker-popup="{{familyDetailView.dateFormat}}" show-weeks="false"
                                                  ng-model="org.effective_date" is-open="org.opened_effective"
                                                  datepicker-options="familyDetailView.dateOptions"
                                                  ng-required="false" close-text="Close" ng-disabled="org._destroy"/>
                                           <span class="input-group-btn">
                                               <button type="button" class="btn btn-default" ng-click="familyDetailView.openCalendar($event, $index, 'effective')" ng-disabled="org._destroy">
                                                   <i class="glyphicon glyphicon-calendar"></i>
                                               </button>
                                           </span>
                                       </div>
                                   </td>
                                   <td>
                                       <div class="input-group add-on date datepicker" date-date-format="yyyy-mm-dd">
                                           <input type="text" class="form-control input-sm"
                                                  datepicker-popup="{{familyDetailView.dateFormat}}" show-weeks="false"
                                                  ng-model="org.expiration_date" is-open="org.opened_expiration"
                                                  datepicker-options="familyDetailView.dateOptions"
                                                  ng-required="false" close-text="Close" ng-disabled="org._destroy"/>
                                           <span class="input-group-btn">
                                               <button type="button" class="btn btn-default" ng-click="familyDetailView.openCalendar($event, $index, 'expiration')" ng-disabled="org._destroy">
                                                   <i class="glyphicon glyphicon-calendar"></i>
                                               </button>
                                           </span>
                                       </div>
                                   </td>
                                   <td>
                                       <label class="btn btn-default" ng-click="familyDetailView.toggleSelection($index)">
                                           <i ng-class="org._destroy == true ? 'glyphicon glyphicon-ok-circle' : 'glyphicon glyphicon-remove-circle'"></i>
                                       </label>
                                   </td>
                               </tr>
                               </tbody>
                           </table>
                       </div>
                   </div>
               </div>

                <div class="form-group no-bottom-margin">
                    <div class="col-xs-12 col-sm-3"></div>
                    <div class="btn-toolbar col-xs-12 col-sm-9">
                        <button type="submit" restriction-field class="btn btn-primary pull-right" id="save_btn">
                            Save
                        </button>
                        <button type="button" ng-hide="!familyDetailView.curFamily.new" restriction-field class="btn btn-warning pull-right" ng-click="familyDetailView.clearForm()">
                            <i class="glyphicon glyphicon-remove"></i> Reset
                        </button>
                        <button type="button" ng-hide="familyDetailView.curFamily.new"  restriction-field class="btn btn-warning pull-right" ng-click="familyDetailView.resetForm()">
                            <i class="glyphicon glyphicon-remove"></i> Reset
                        </button>
                        <button type="button" ng-hide="familyDetailView.curFamily.new" restriction-field class="btn btn-danger btn-no-left-margin pull-left" id="confirm_btn" ng-click="familyDetailView.confirmDelete('sm')">
                            Delete This Family
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="row top-offset-xs"></div>
    </div>
</div>
