<div class="row" ng-hide="searchWarningMessage==''" ng-cloak>
    <div class="alert alert-warning fade in">
        <strong>{{searchWarningMessage}}</strong>
    </div>
</div>
<div class="row">
    <script type="text/ng-template" id="display_aff_orgs.html">
        <div class="modal-header">
            <h3 class="modal-title">{{vm.modalTitle}}</h3>
        </div>
        <div class="modal-body">
            <div ng-repeat="org in vm.aff_orgs">
                <strong>{{org.name}}</strong>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" id="delete_btn" ng-click="vm.close()">Close</button>
        </div>
    </script>

    <div class="col-md-12 col-border">
        <div class="row">
            <h4>Search Family
                <small>
                    <mark>* for wild card (e.g. Yal* for Yale Family)</mark>
                </small>
            </h4>
        </div>
        <div class="row">
            <form class="form-horizontal" role="form">

                <!-- first row -->
                <div class="row">
                    <div class="col-md-6">
                        <!-- name -->
                        <div class="form-group">
                            <label for="family_name" class="control-label col-sm-2">Name: </label>

                            <div class="col-sm-10">
                                <input type="text" id="family_name" class="form-control"
                                       placeholder="Family Name"
                                       ng-model="familyView.searchParams.name" auto-focus/>
                            </div>
                        </div>
                        <!-- family name ends -->
                    </div>
                    <div class="col-md-6">
                        <!--family type-->
                        <div class="form-group">
                            <label for="family_type" class="control-label col-sm-2">Family Type: </label>
                            <div class="col-sm-10">
                                <select class="form-control" id="family_type" ng-model="familyView.searchParams.family_type">
                                    <option value="">Select a type</option>
                                    <option ng-repeat="type in familyView.familyTypeArr" value="{{type.name}}">{{type.name}}</option>
                                </select>
                            </div>
                        </div>
                        <!-- family type ends -->
                    </div>
                </div><!-- first row ends -->

                <!-- second row -->
                <div class="row">
                    <div class="col-md-6">
                        <!--family status-->
                        <div class="form-group">
                            <label for="family_status" class="control-label col-sm-2">Family Status: </label>
                            <div class="col-sm-10">
                                <select class="form-control" id="family_status" ng-model="familyView.searchParams.family_status">
                                    <option value="">Select a status</option>
                                    <option ng-repeat="status in familyView.familyStatusArr" value="{{status.name}}">{{status.name}}</option>
                                </select>
                            </div>
                        </div>
                        <!-- family status ends -->
                    </div>
                    <div class="col-md-6">

                    </div>
                </div><!--second row ends -->



                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-12 text-center">
                            <button type="submit" class="btn btn-primary" ng-click="familyView.searchFamilies()">
                               <i class="glyphicon glyphicon-search"></i> Search
                            </button>

                            <button type="reset" class="btn btn-default btn-danger" ng-click="familyView.resetSearch()">
                               <i class="glyphicon glyphicon-remove"></i> Clear
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- list of families -->
<div class="row">
    <div class="col-sm-12">
        <div class="row" ng-if="searchWarningMessage.length === 0 && familyView.gridOptions.totalItems != null">
            <a href="" id="family_search_results"></a>
            <p><h4>Family Search Results: {{familyView.gridOptions.totalItems}} found</h4></p>
        </div>
        <div class="row animated-item" ng-if="familyView.gridOptions.data.length > 0">
            <div ui-grid="familyView.gridOptions" ui-grid-pagination="" external-scopes="clickHandler" class="grid"></div>
        </div>
    </div>


</div>