<footer class="footer footer-fixed" ng-controller="FooterCtrl">
    <div class="container center-block">
        <ul class="list-inline">
            <li><a href="http://www.hhs.gov/">U.S. Department of Health and Human Services</a>&nbsp;&nbsp;&nbsp;&nbsp;|</li>
            <li><a href="http://www.nih.gov">National Institutes of Health</a>&nbsp;&nbsp;&nbsp;&nbsp;| </li>
            <li><a href="http://www.cancer.gov/">National Cancer Institute</a>&nbsp;&nbsp;&nbsp;&nbsp;| </li>
            <li class="last"><a href="http://usa.gov">USA.gov</a></li>
        </ul>
        <br /><br />
        <div class="text-center" ng-show="appVersion !=''">
            CTRP Version {{appVersion}}
        </div>
        <div class="text-center">
            NIH ... Turning Discovery Into Health<sup>®</sup>
        </div>
    </div>
</footer>
