<script type="text/ng-template" id="warning-dialog.html">
    <div class="modal-header">
        <h3>Since you have been inactive, the system will log you out soon</h3>
    </div>
    <div idle-countdown="countdown" ng-init="countdown=5" class="modal-body">
        <progressbar max="5" value="5" animate="false" class="progress-striped active">
            You'll be logged out in {{countdown}} seconds.
        </progressbar>
    </div>

</script>
<script type="text/ng-template" id="timedout-dialog.html">
    <div class="modal-header">
        <h3>You have been logged out for exceeding our inactivity threshold</h3>
    </div>
    <div class="modal-body">
        <p>
            Your authentication session has been cleared. Please log back in if needed. <strong>Thank you</strong>
        </p>
    </div>
</script>

<header ng-controller="headerNavigationCtrl as headerView">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-7">
                <img class="img-responsive" src="/ctrp/ui/images/nci-logo-full.svg"
                     alt="National Cancer Institute"><span style="font-size:large;font-weight:bold;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Clinical Trials Reporting Program</span>
            </div>
            <div class="col-xs-12 col-sm-5">
                <div class="row">
                    <ul class="list-inline animated-item">
                        <li></li>
                        <li ng-show="headerView.signedIn">Welcome, <strong><a ui-sref="main.userDetail">{{headerView.username}}</a></strong> (Role: {{headerView.userRole}})</li>
                        <li ng-show="headerView.signedIn"><a href=""  ng-click="headerView.logOut()">Sign Out</a></li>
                    </ul>
                </div>
                <div class="row" ng-show="headerView.signedIn && headerView.userPrivileges.length > 0">
                    <!--<strong>Privileges: </strong>-->
                    <div class="btn-group">
                        <label class="btn btn-primary" ng-model="headerView.userPrivilege" ng-repeat="privilege in headerView.userPrivileges" btn-radio="'{{privilege}}'">
                            {{privilege}}
                        </label>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="contain-to-grid">
        <nav class="navbar navbar-default navbar-fixed-top nav-search-bar">
            <div class="container-fluid row-blue">
                <div class="top-bar-section pull-right">
                    <!--<ul class="list-inline">
                        <li><a href="">Contact Us</a></li>
                        <li><a href="">Dictionary</a></li>
                    </ul>-->
                </div>
            </div>
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!--<a class="navbar-brand" href="">CTRP</a>-->
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div ng-if="uiRouterState.current.name != 'main.sign_in'">
                    <div class="collapse navbar-collapse" id="collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="active"><a ui-sref="main.defaultContent">Home<span
                                    class="sr-only">(current)</span></a>
                            </li>
                            <!--<li><a ui-sref="main.organizations">Organizations</a></li>-->
                            <li class="dropdown">
                                <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-expanded="false">Organizations & Families
                                    <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a ui-sref="main.organizations">Search Organizations</a></li>
                                    <li><a ui-sref="main.addOrganization">Add Organization</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a ui-sref="main.families">Search Families</a></li>
                                    <li><a ui-sref="main.addFamily">Add Family</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-expanded="false">Persons<span
                                        class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a ui-sref="main.people">Search Persons</a></li>
                                    <li><a ui-sref="main.addPerson">Add Person</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-expanded="false">Trials<span
                                        class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a ui-sref="main.trials">Search Trials</a></li>
                                    <li class="dropdown-submenu">
                                        <a ui-sref="#">Register Trial</a>
                                        <ul class="dropdown-menu">
                                            <li><a ui-sref="main.addTrial({studySourceCode: 'NAT'})">National</a></li>
                                            <li><a ui-sref="main.addTrial({studySourceCode: 'EPR'})">Externally Peer-Reviewed</a></li>
                                            <li><a ui-sref="main.addTrial({studySourceCode: 'INS'})">Institutional</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-expanded="false">User Management<span
                                        class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a ui-sref="main.userDetail">Edit User Profile</a></li>
                                    <li><a href="/ctrp/users">User Portal</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </div>
</header>
