<div class="row-fluid">
    <script type="text/ng-template" id="delete_confirm_template.html">
        <div class="modal-header">
            <h3 class="modal-title">{{vm.modalTitle}}</h3>
        </div>
        <div class="modal-body">
            <div ng-show="vm.deletionStatus == ''">
                <strong>This will be a permanent deletion</strong>
            </div>
            <div ng-show="vm.deletionStatus != ''">
                <strong>{{vm.deletionStatus}}</strong>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" id="delete_btn" ng-click="vm.ok()">Delete Now</button>
            <button class="btn btn-primary" id="cancel_btn" ng-click="vm.cancel()">Cancel</button>
        </div>
    </script>
    <script type="text/ng-template" id="ctrp">CTRP Context</script>
    <script type="text/ng-template" id="nlm">NLM Context</script>
    <script type="text/ng-template" id="ctep">CTEP Context</script>

    <!-- comment button -->
    <!-- <md-button class="md-fab md-primary md-fab-top-right" restriction-field aria-label="Comment" ctrp-comment-modal uuid="{{orgDetailView.curOrg.uuid}}">
      <ng-md-icon icon="comment"></ng-md-icon>
      <i class="glyphicon glyphicon-comment"></i>
    </md-button> -->
    <!-- end of comment button -->
    <div class="col-xs-12 drop-shadow">
        <div class="row">
            <p>
                <h4 ng-if="orgDetailView.curOrg.new">Add Organization</h4>
                <h4 ng-if="!orgDetailView.curOrg.new">Edit Organization</h4>
            </p>
        </div>
        <div class="row">
            <ctrp-comment instance-uuid="{{orgDetailView.curOrg.uuid}}" button-type="icon" field="" model="organization"></ctrp-comment>
            <!-- tab views -->
            <form class="form form-horizontal" role="form" name="organization_form" novalidate ctrp-submit="orgDetailView.updateOrg()">
            <md-tabs md-dynamic-height md-border-bottom md-selected="orgDetailView.tabIndex">
                <md-tab ng-repeat="clusterOrg in orgDetailView.curOrg.cluster track by $index">
                    <md-tab-label>{{clusterOrg.context}}</md-tab-label>
                    <md-tab-body>
                        <!-- <button class="btn btn-primary pull-right" ctrp-comment-button ctrp-comment-panel uuid="{{orgDetailView.curOrg.uuid}}" field="mock_field">New Comment</button> -->
                        <!--CTRP content -->
                        <div class="row md-sidenav-push-in-target">
                            <div ng-if="!orgDetailView.curOrg.new" class="form-group">
                                <label class="control-label col-xs-12 col-sm-3">CTRP ID:</label>
                                <div class="col-xs-12 col-sm-6 form-text">{{orgDetailView.curOrg.ctrp_id}}</div>
                            </div>
                            <div class="form-group required"  ng-class="{'has-error': ctrpbtn.organization_form.needsAttention(organization_form.name)}">
                                    <label class="control-label col-xs-12 col-sm-3">Name:</label>
                                    <div class="col-xs-12 col-sm-6">
                                        <input type="text" restriction-field class="form-control input-sm" name="name" id="organization_name" ng-model="orgDetailView.curOrg.name" auto-focus required ng-change="checkUniqueOrganization()">
                                       <span class="help-block" ng-show="organization_form.name.$error.required">Name is Required</span>
                                        <div class="has-error" ng-show="orgDetailView.showUniqueWarning && orgDetailView.curOrg.name.length > 0 && organization_form.name.$dirty">
                                            <span class="help-block">
                                                <i ng-class="(personDetailView.name_unqiue === true) ? 'glyphicon glyphicon-ok' : 'glyphicon glyphicon-exclamation-sign'"></i> Warning: Organization exists in the database. Please verify and create a new Organization record.
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-3">Source Context:</label>
                                    <div class="col-xs-12 col-sm-6">
                                        <!--<select class="form-control" id="source_context" ng-model="orgDetailView.curOrg.source_context_id">-->
                                        <!--<option value="">Select a context</option>-->
                                        <!--<option ng-repeat="context in orgDetailView.sourceContextArr" value="{{context.id}}" ng-selected="orgDetailView.curOrg.source_context_id == context.id">{{context.name}}</option>-->
                                        <!--</select>-->
                                        <select restriction-field ng-init="orgDetailView.curOrg.source_context_id"
                                                class="form-control input-sm" id="source_context"
                                                ng-model="orgDetailView.curOrg.source_context_id"
                                                ng-options="context.id as context.name for context in orgDetailView.sourceContextArr">
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <!--  Make source ID a R/O field -->
                                    <label class="control-label col-xs-12 col-sm-3">Source ID:</label>
                                    <div class="col-xs-12 col-sm-6 form-text">
                                        {{orgDetailView.curOrg.source_id}}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-3">Source Status:</label>
                                    <div class="col-xs-12 col-sm-6">
                                        <div ng-if="orgDetailView.curOrg.new" class="form-text">{{orgDetailView.activeStatusName}}</div>
                                        <div ng-if="!orgDetailView.curOrg.new" class="animated-item">
                                            <!--<select class="form-control" id="source_status" ng-model="orgDetailView.curOrg.source_status_id">-->
                                            <!--<option value="">Select a status</option>-->
                                            <!--<option ng-repeat="status in orgDetailView.sourceStatusArr" value="{{status.id}}" ng-selected="orgDetailView.curOrg.source_status_id == status.id">{{status.name}}</option>-->
                                            <!--</select>-->
                                            <select restriction-field ng-init="orgDetailView.curOrg.source_status_id"
                                                    class="form-control input-sm" id="source_status"
                                                    ng-model="orgDetailView.curOrg.source_status_id"
                                                    ng-options="status.id as status.name for status in orgDetailView.sourceStatusArr">
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-3">Name Alias:</label>
                                    <div class="col-xs-12 col-sm-6">
                                        <table class="table table-striped table-condensed">
                                            <tbody>
                                            <tr>
                                                <td class="col-md-7">
                                                    <div>
                                                        <input type="text" restriction-field class="form-control input-sm" id="alias" ng-model="orgDetailView.alias"/>
                                                    </div>
                                                </td>
                                                <td class="col-md-1">
                                                    <div>
                                                        <button type="button" class="btn btn-primary" restriction-field ng-click="orgDetailView.addNameAlias()">
                                                            <i class="glyphicon glyphicon-plus"></i> Add
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <table class="table table-bordered table-striped table-condensed" ng-show="orgDetailView.addedNameAliases.length > 0">
                                            <tbody>
                                            <thead>
                                            <th>Alias</th>
                                            <th></th>
                                            </thead>
                                            <tr ng-repeat="nameAlias in orgDetailView.addedNameAliases track by $index" ng-class="nameAlias._destroy == true ? 'deleted-text animated-item' : 'animated-item'">
                                                <td class="col-md-7">{{nameAlias.name}}</td>
                                                <td class="col-md-1" style="vertical-align: middle">
                                                    <label class="btn btn-default" restriction-field ng-click="orgDetailView.toggleSelection($index, 'other_id')">
                                                        <i ng-class="nameAlias._destroy == true ? 'glyphicon glyphicon-ok-circle' : 'glyphicon glyphicon-remove-circle'"></i>
                                                    </label>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="form-group required"  ng-class="{'has-error': ctrpbtn.organization_form.needsAttention(organization_form.address)}">
                                    <label class="control-label col-xs-12 col-xs-12 col-sm-3">Address 1:</label>
                                    <div class="col-xs-12 col-sm-6">
                                        <input type="text" restriction-field class="form-control input-sm" id="address" ng-model="orgDetailView.curOrg.address" name="address" required>
                                        <span class="help-block" ng-show="organization_form.address.$error.required">Address is Required</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-3">Address 2:</label>
                                    <div class="col-xs-12 col-sm-6">
                                        <input type="text" restriction-field class="form-control input-sm" id="address2" ng-model="orgDetailView.curOrg.address2">
                                    </div>
                                </div>
                                <div class="form-group required"  ng-class="{'has-error': ctrpbtn.organization_form.needsAttention(organization_form.country)}">
                                    <label class="control-label col-xs-12 col-sm-3">Country:</label>
                                    <div class="col-xs-12 col-sm-6">
                                        <select restriction-field class="form-control input-sm" id="country"
                                                ng-model="orgDetailView.curOrg.country"
                                                ng-change="orgDetailView.watchCountrySelection(orgDetailView.curOrg.country)" name="country" required>
                                            <option value="" ng-selected="orgDetailView.curOrg.country == ''">Select a country</option>
                                            <option ng-repeat="country in orgDetailView.countriesArr track by $index" value="{{country.name}}" ng-selected="orgDetailView.curOrg.country == country.name">{{country.name}}</option>
                                        </select>
                                        <span class="help-block" ng-show="organization_form.country.$invalid">Country is Required</span>
                                    </div>
                                </div>

                                <div class="form-group" ng-hide="orgDetailView.curOrg.state_province == '' || orgDetailView.states.length == 0">
                                    <label class="control-label col-xs-12 col-sm-3">State:</label>
                                    <div class="col-sm-6">
                                        <select restriction-field class="form-control input-sm" id="state" ng-model="orgDetailView.curOrg.state_province">
                                            <option value="" ng-selected="orgDetailView.curOrg.state_province == ''">Select a state or province</option>
                                            <option ng-repeat="state in orgDetailView.states track by $index" value="{{state.name}}" ng-selected="state.name==orgDetailView.curOrg.state_province">{{state.name}}</option>
                                        </select>
                                    </div>
                                </div>
                               <div class="form-group required"  ng-class="{'has-error': (ctrpbtn.organization_form.needsAttention(organization_form.city) || ctrpbtn.organization_form.needsAttention(organization_form.postal_code))}">
                                    <label class="control-label col-xs-12 col-sm-3">City:</label>
                                    <div class="col-xs-12 col-sm-2">
                                        <input type="text" restriction-field class="form-control input-sm" id="city" ng-model="orgDetailView.curOrg.city" required name="city">
                                        <span class="help-block" ng-show="organization_form.city.$error.required">City is Required</span>
                                    </div>

                                    <label class="control-label col-xs-12 col-sm-2">Postal Code:</label>
                                    <div class="col-xs-12 col-sm-2">
                                        <input type="text" restriction-field class="form-control input-sm" id="postal_code" ng-model="orgDetailView.curOrg.postal_code" placeholder="Postal Code" name="postal_code" ng-required="orgDetailView.curOrg.country==='United States'">
                                           <span class="help-block" ng-show="organization_form.postal_code.$error && ctrpbtn.organization_form.needsAttention(organization_form.postal_code)">US Local Postal Code is Required</span>
                                    </div>
                                </div>
                                <div class="form-group required" ng-class="{'has-error': (organization_form.email.$error && ctrpbtn.organization_form.needsAttention(organization_form.email) && organization_form.phone.$error && ctrpbtn.organization_form.needsAttention(organization_form.phone))}">
                                    <label class="control-label col-xs-12 col-sm-3">Email:</label>
                                    <div class="col-xs-12 col-sm-3">
                                        <input type="email" restriction-field class="form-control input-sm" id="email" ng-model="orgDetailView.curOrg.email" type="email" placeholder="Email" name="email" ng-required="!orgDetailView.curOrg.phone">
                                    </div>
                                    <label class="control-label col-xs-12 col-sm-1">Phone:</label>
                                    <div class="col-xs-12 col-sm-2">
                                        <input type="text" restriction-field class="form-control input-sm" id="phone" name="phone" ng-model="orgDetailView.curOrg.phone" type="text" placeholder="Phone" ng-required="!orgDetailView.curOrg.email">
                                    </div>
                                </div>
                                <div class="form-group" ng-show="organization_form.phone.$error && ctrpbtn.organization_form.needsAttention(organization_form.phone) && organization_form.email.$error && ctrpbtn.organization_form.needsAttention(organization_form.email) && organization_form.phone.$error && ctrpbtn.organization_form.needsAttention(organization_form.phone)" ng-class="{'has-error': (organization_form.email.$error && ctrpbtn.organization_form.needsAttention(organization_form.email) && organization_form.phone.$error && ctrpbtn.organization_form.needsAttention(organization_form.phone))}">
                                    <div class="col-xs-12 col-sm-3"></div>
                                    <div class="col-xs-12 col-sm-6">
                                        <span class="help-block">Either Phone or Email is Required</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-3">Fax:</label>
                                    <div class="col-xs-12 col-sm-6">
                                        <input type="text" restriction-field class="form-control input-sm" id="fax" ng-model="orgDetailView.curOrg.fax" type="text" placeholder="Fax">
                                    </div>
                                </div>
                                <div class="form-group" ng-hide="orgDetailView.curOrg.new || !orgDetailView.curOrg.created_by">
                                    <label class="control-label col-xs-12 col-sm-3">Created By:</label>
                                    <div class="col-xs-12 col-sm-6 form-text">
                                        <!--<input type="text" class="form-control input-xs" id="fax"  ng-model="orgDetailView.curOrg.fax" type="text" placeholder="Fax">-->
                                        {{orgDetailView.curOrg.created_by}} ({{orgDetailView.curOrg.created_at | date:
                                        'dd-MMM-yyyy H:mm'}})
                                    </div>
                                </div>
                                <div class="form-group" ng-hide="orgDetailView.curOrg.new || !orgDetailView.curOrg.updated_by">
                                    <label class="control-label col-xs-12 col-sm-3">Updated By:</label>
                                    <div class="col-xs-12 col-sm-6 form-text">
                                        <!--<input type="text" class="form-control input-xs" id="fax"  ng-model="orgDetailView.curOrg.fax" type="text" placeholder="Fax">-->
                                        {{orgDetailView.curOrg.updated_by}} ({{orgDetailView.curOrg.updated_at | date:
                                        'dd-MMM-yyyy H:mm'}})
                                    </div>
                                </div>

                                <div ng-show="orgDetailView.curOrg.families.length > 0" class="form-group">
                                    <label class="control-label col-xs-12 col-sm-3">Families:</label>
                                    <div class="col-xs-12 col-sm-6 form-text">
                                        <p ng-repeat="family in orgDetailView.curOrg.families">
                                            <a href="/ctrp/ui#/main/families/{{family.id}}">{{family.name}}</a>
                                        </p>
                                    </div>
                                </div>

                                <div class="form-group no-bottom-margin">
                                    <div class="col-xs-12 col-sm-3"></div>
                                    <div class="btn-toolbar col-xs-12 col-sm-9">
                                        <!-- <button class="btn btn-primary pull-right" restriction-field ctrp-comment-modal uuid="{{orgDetailView.curOrg.uuid}}">
                                          <span>Comment</span><i class="glyphicon glyphicon-comment" style="vertical-align: middle;"></i>
                                        </button> -->
                                        <button type="submit" restriction-field class="btn btn-primary pull-right" id="save_btn">
                                            Save
                                        </button>
                                        <button type="button" ng-hide="!orgDetailView.curOrg.new" restriction-field class="btn btn-warning pull-right" id="clear_btn" ng-click="orgDetailView.clearForm()">
                                            <i class="glyphicon glyphicon-remove"></i>  Reset
                                        </button>
                                        <button type="button" ng-hide="orgDetailView.curOrg.new" restriction-field class="btn btn-warning pull-right" id="reset_btn" ng-click="orgDetailView.resetForm()">
                                            <i class="glyphicon glyphicon-remove"></i>  Reset
                                        </button>
                                        <button type="button" ng-hide="orgDetailView.curOrg.new" restriction-field class="btn btn-danger btn-no-left-margin pull-left" id="confirm_btn" ng-click="orgDetailView.confirmDelete('sm')">
                                            <i class="glyphicon glyphicon-remove"></i> Delete This Organization
                                        </button>
                                        <!-- <ctrp-comment instance-uuid="{{orgDetailView.curOrg.uuid}}" button-type="btn" field="" model="organization"></ctrp-comment> -->
                                        <!-- <button class="btn btn-default" ctrp-comment-modal uuid="{{orgDetailView.curOrg.uuid}}">Open dialog from directive</button> -->
                                    </div>
                                </div>
                        </div>
                        <!-- end of CTRP content -->
                    </md-tab-body>
                </md-tab>
            </md-tabs>
            <!-- end of tab views -->
            </form>
        </div>
        <div class="row top-offset-xs"></div>
    </div>
</div>
