<div class="row-fluid">
    <script type="text/ng-template" id="delete_confirm_template.html">
        <div class="modal-header">
            <h3 class="modal-title">{{vm.modalTitle}}</h3>
        </div>
        <div class="modal-body">
            <div ng-show="vm.deletionStatus == ''">
                <strong>This will be a permanent deletion</strong>
            </div>
            <div ng-show="vm.deletionStatus != ''">
                <strong>{{vm.deletionStatus}}</strong>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" ng-click="vm.ok()">Delete Now</button>
            <button class="btn btn-primary" ng-click="vm.cancel()">Cancel</button>
        </div>
    </script>


    <div class="col-xs-12 drop-shadow">
        <div class="row">
            <p>
            <h4 ng-if="personDetailView.curPerson.new">Add Person</h4>
            <h4 ng-if="!personDetailView.curPerson.new">Edit Person</h4>
            </p>
        </div>
        <div class="row">
          <ctrp-comment instance-uuid="{{personDetailView.curPerson.uuid}}" button-type="icon" field="" model="person"></ctrp-comment>
          <form class="form-horizontal" role="form" name="person_form" novalidate ctrp-submit="personDetailView.updatePerson()">
            <md-tabs md-dynamic-height md-border-bottom md-selected="personDetailView.tabIndex">
                <md-tab ng-repeat="clusterPerson in personDetailView.curPerson.cluster track by $index">
                    <md-tab-label>{{clusterPerson.context}}</md-tab-label>
                    <md-tab-body>
                      <div class="row md-sidenav-push-in-target">
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-3">Prefix:</label>
                            <div class="col-xs-12 col-sm-6" ng-if="personDetailView.curPersonEditable">
                                <input tabindex="1" type="text" restriction-field class="form-control input-sm" ng-model="personDetailView.curPerson.prefix">
                            </div>
                            <div class="col-xs-12 col-sm-6 form-text" ng-if="!personDetailView.curPersonEditable">{{personDetailView.curPerson.prefix}}</div>
                        </div>
                        <div class="form-group has-feedback required" ng-class="{'has-error': ctrpbtn.person_form.needsAttention(person_form.fname)}">
                            <label class="control-label col-xs-12 col-sm-3">First Name:</label>
                            <div class="col-xs-12 col-sm-6" ng-if="personDetailView.curPersonEditable">
                                <input tabindex="2" type="text" restriction-field name="fname" class="form-control input-sm" ng-model="personDetailView.curPerson.fname" required auto-focus ng-change="checkForNameUniqueness()" />
                                <span class="form-control-feedback" ng-show="person_form.fname.$dirty" ng-class="!ctrpbtn.person_form.needsAttention(person_form.fname) ? 'glyphicon glyphicon-ok glyphicon-green' : 'glyphicon glyphicon-exclamation-sign glyphicon-red'"></span>
                                <span class="help-block" ng-show="person_form.fname.$error.required">First name is Required</span>
                            </div>
                            <div class="col-xs-12 col-sm-6 form-text" ng-if="!personDetailView.curPersonEditable">{{personDetailView.curPerson.fname}}</div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-3">Middle Name:</label>
                            <div class="col-xs-12 col-sm-6" ng-if="personDetailView.curPersonEditable">
                                <input tabindex="3" type="text" restriction-field name="mname" class="form-control input-sm" ng-model="personDetailView.curPerson.mname">
                            </div>
                            <div class="col-xs-12 col-sm-6 form-text" ng-if="!personDetailView.curPersonEditable">{{personDetailView.curPerson.mname}}</div>
                        </div>
                        <div class="form-group has-feedback required" ng-class="{'has-error': ctrpbtn.person_form.needsAttention(person_form.lname)}">
                            <label class="control-label col-xs-12 col-sm-3">Last Name:</label>
                            <div class="col-xs-12 col-sm-6" ng-if="personDetailView.curPersonEditable">
                                <input tabindex="4" type="text" restriction-field name="lname" class="form-control input-sm" ng-model="personDetailView.curPerson.lname" required ng-change="checkForNameUniqueness()">
                                <span class="form-control-feedback" ng-show="person_form.lname.$dirty" ng-class="!personDetailView.showUniqueWarning && personDetailView.curPerson.lname.length ? 'glyphicon glyphicon-ok glyphicon-green' : 'glyphicon glyphicon-exclamation-sign glyphicon-red'"></span>
                                <span class="help-block" ng-show="person_form.lname.$error.required">Last name is Required</span>
                                <div class="has-error" ng-show="personDetailView.curPerson.lname.length > 0 && person_form.lname.$dirty && personDetailView.showUniqueWarning && !personDetailView.name_unqiue">
                                    <span class="help-block">
                                        Warning: Person exists in the database. Please verify and create a new Person record.
                                    </span>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 form-text" ng-if="!personDetailView.curPersonEditable">{{personDetailView.curPerson.lname}}</div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-3">Suffix:</label>
                            <div class="col-xs-12 col-sm-6" ng-if="personDetailView.curPersonEditable">
                                <input tabindex="5" type="text" restriction-field class="form-control input-sm" ng-model="personDetailView.curPerson.suffix">
                            </div>
                            <div class="col-xs-12 col-sm-6 form-text" ng-if="!personDetailView.curPersonEditable">{{personDetailView.curPerson.suffix}}</div>
                        </div>
                        <div class="form-group has-feedback required" ng-class="{'has-error': ctrpbtn.person_form.needsAttention(person_form.source_context)}">
                            <label class="control-label col-xs-12 col-sm-3">Source Context:</label>
                            <div class="col-xs-12 col-sm-6" ng-if="personDetailView.curPersonEditable">
                                <select tabindex="6" restriction-field ng-init="personDetailView.curPerson.source_context_id" class="form-control input-sm" id="source_context" ng-model="personDetailView.curPerson.source_context_id" ng-options="context.id as context.name for context in personDetailView.sourceContextArr" name="source_context" required>
                                    <option value="6">Select context</option>
                                </select>
                                <span class="form-control-feedback select-feedback" ng-show="person_form.source_context.$dirty" ng-class="!ctrpbtn.person_form.needsAttention(person_form.source_context) ? 'glyphicon glyphicon-ok glyphicon-green' : 'glyphicon glyphicon-exclamation-sign glyphicon-red'"></span>
                                <span class="help-block" ng-show="person_form.source_context.$invalid">Source context is Required</span>
                            </div>
                            <div class="col-xs-12 col-sm-6 form-text" ng-if="!personDetailView.curPersonEditable">{{personDetailView.curSourceContextName}}</div>
                        </div>
                        <!-- Source ID will be R/O on Person screen -->
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-3">Source ID:</label>
                            <div class="col-xs-12 col-sm-6 form-text">
                                {{personDetailView.curPerson.source_id}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-3">Source Status:</label>
                            <div class="col-xs-12 col-sm-6">
                                <!--TODO: if editable -->
                                <div ng-if="!personDetailView.curPersonEditable" class="form-text">{{personDetailView.curSourceStatusName}}</div>
                                <div ng-if="personDetailView.curPersonEditable">
                                    <select tabindex="7" ng-init="personDetailView.curPerson.source_status_id" restriction-field class="form-control input-sm" id="source_status" ng-model="personDetailView.curPerson.source_status_id" ng-options="status.id as status.name for status in personDetailView.sourceStatusArr"></select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group has-feedback required" ng-class="{'has-error': (person_form.email.$error && ctrpbtn.person_form.needsAttention(person_form.email) && person_form.phone.$error && ctrpbtn.person_form.needsAttention(person_form.phone))}">
                            <div class="row">
                                <label class="control-label col-xs-12 col-sm-3">Email:</label>
                                <div class="col-xs-12 col-sm-3" ng-if="personDetailView.curPersonEditable">
                                    <input tabindex="8" restriction-field class="form-control input-sm" name="email" ng-model="personDetailView.curPerson.email" type="email" ng-required="!personDetailView.curPerson.phone">
                                    <span class="form-control-feedback" ng-show="person_form.email.$dirty" ng-class="!(person_form.email.$error && ctrpbtn.person_form.needsAttention(person_form.email)) ? 'glyphicon glyphicon-ok glyphicon-green' : 'glyphicon glyphicon-exclamation-sign glyphicon-red'"></span>
                                </div>
                                <div class="col-xs-12 col-sm-3 form-text" ng-if="!personDetailView.curPersonEditable">{{personDetailView.curPerson.email}}</div>
                                <label class="control-label col-xs-12 col-sm-1">Phone:</label>
                                <div class="col-xs-12 col-sm-2" ng-if="personDetailView.curPersonEditable">
                                    <input tabindex="9" type="text" restriction-field class="form-control input-sm" name="phone" ng-model="personDetailView.curPerson.phone" ng-required="!personDetailView.curPerson.email">
                                    <span ng-show="personDetailView.curPerson.phone.length" class="form-control-feedback" ng-class="!(person_form.phone.$error && ctrpbtn.person_form.needsAttention(person_form.phone)) ? 'glyphicon glyphicon-ok glyphicon-green' : 'glyphicon glyphicon-exclamation-sign glyphicon-red'"></span>
                                </div>
                                <div class="col-xs-12 col-sm-2 form-text" ng-if="!personDetailView.curPersonEditable">{{personDetailView.curPerson.phone}}</div>
                            </div>
                            <div class="row" ng-show="person_form.phone.$error && ctrpbtn.person_form.needsAttention(person_form.phone) && person_form.email.$error && ctrpbtn.person_form.needsAttention(person_form.email)" ng-class="{'has-error': (person_form.email.$error && ctrpbtn.person_form.needsAttention(person_form.email) && person_form.phone.$error && ctrpbtn.person_form.needsAttention(person_form.phone))}">
                                <div class="col-xs-12 col-sm-3"></div>
                                <div class="col-xs-12 col-sm-6">
                                    <span class="help-block">Either Phone or Email is Required</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-hide="personDetailView.curPerson.new || !personDetailView.curPerson.created_by">
                            <label class="control-label col-xs-12 col-sm-3">Created By:</label>
                            <div class="col-xs-12 col-sm-6 form-text">
                                <!--<input type="text" class="form-control input-sm" id="fax"  ng-model="personDetailView.curPerson.fax" type="text" placeholder="Fax">-->
                                {{personDetailView.curPerson.created_by}} ({{personDetailView.curPerson.created_at | date: 'dd-MMM-yyyy H:mm'}})
                            </div>
                        </div>
                        <div class="form-group" ng-hide="personDetailView.curPerson.new || !personDetailView.curPerson.updated_by">
                            <label class="control-label col-xs-12 col-sm-3">Updated By:</label>
                            <div class="col-xs-12 col-sm-6 form-text">
                                <!--<input type="text" class="form-control input-sm" id="fax"  ng-model="personDetailView.curPerson.fax" type="text" placeholder="Fax">-->
                                {{personDetailView.curPerson.updated_by}} ({{personDetailView.curPerson.updated_at | date: 'dd-MMM-yyyy H:mm'}})
                            </div>
                        </div>
                        <div class="form-group" ng-if="personDetailView.curPersonEditable">
                            <label class="control-label col-xs-12 col-sm-3">Add Affiliated Organization:</label>
                            <div class="col-xs-12 col-sm-9">
                                <ctrp-org-adv-search-modal-button use-built-in-template="false" allow-overwrite="false" selected-orgs-array="personDetailView.orgsArrayReceiver"></ctrp-org-adv-search-modal-button>
                                <div class="row animated-item top-offset-tiny" ng-show="personDetailView.savedSelection.length > 0">
                                    <input type="text" ng-model="personDetailView.selectedOrgFilter" restriction-field class="form-control input-sm" placeholder="Filter selected organizations"/>
                                    <table class="table table-bordered table-striped table-condensed">
                                        <thead>
                                        <th width="6%">CTRP ID</th>
                                        <th width="57%">Organization</th>
                                        <th width="18%">Effective Date</th>
                                        <th width="18%">Expiration Date</th>
                                        <th width="1%"></th>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="org in personDetailView.savedSelection | filter: {'name': personDetailView.selectedOrgFilter} track by $index" ng-class="org._destroy == true ? 'deleted-text animated-item' : 'animated-item'">
                                            <td>{{org.id}}</td>
                                            <td>{{org.name}}</td>
                                            <td>
                                                <div class="input-group add-on col-sm-12 date datepicker">
                                                    <input tabindex="10" type="text" class="form-control input-sm"
                                                           uib-datepicker-popup="{{personDetailView.dateFormat}}" show-weeks="false"
                                                           ng-model="org.effective_date" is-open="org.opened_effective"
                                                           datepicker-options="personDetailView.dateOptions"
                                                           ng-required="false" close-text="Close" ng-disabled="org._destroy"/>
                                                    <span class="input-group-btn">
                                                        <button type="button" restriction-field class="btn btn-default" ng-click="personDetailView.openCalendar($event, $index, 'effective')" ng-disabled="org._destroy">
                                                            <i class="glyphicon glyphicon-calendar"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="input-group add-on col-sm-12 date datepicker">
                                                    <input tabindex="11" type="text" class="form-control input-sm"
                                                           uib-datepicker-popup="{{personDetailView.dateFormat}}" show-weeks="false"
                                                           ng-model="org.expiration_date" is-open="org.opened_expiration"
                                                           datepicker-options="personDetailView.dateOptions"
                                                           ng-required="false" close-text="Close" ng-disabled="org._destroy"/>
                                                    <span class="input-group-btn">
                                                        <button type="button" restriction-field class="btn btn-default" ng-click="personDetailView.openCalendar($event, $index, 'expiration')" ng-disabled="org._destroy">
                                                            <i class="glyphicon glyphicon-calendar"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </td>
                                            <td>
                                                <label restriction-field class="btn btn-default" ng-click="personDetailView.toggleSelection($index)">
                                                    <i ng-class="org._destroy == true ? 'glyphicon glyphicon-ok-circle' : 'glyphicon glyphicon-remove-circle'"></i>
                                                </label>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- row for the table ends -->
                                <!--</div>-->
                            </div>
                        </div>
                        <div class="form-group no-bottom-margin" ng-show="personDetailView.curPersonEditable">
                            <div class="col-xs-12 col-sm-3"></div>
                            <div class="btn-toolbar col-xs-12 col-sm-9">
                                <div class="btn-toolbar pull-right">
                                    <button type="button" tabindex="12" restriction-field class="btn btn-warning" id="reset_btn" ng-click="personDetailView.clearForm()">
                                        <i class="glyphicon glyphicon-remove"></i> Reset
                                    </button>
                                    <button tabindex="13" type="submit" restriction-field class="btn btn-primary" id="save_btn">
                                        Save
                                    </button>
                                </div>
                                <div class="btn-toolbar pull-left">
                                    <button tabindex="14" ng-hide="personDetailView.curPerson.new" restriction-field class="btn btn-danger btn-no-left-margin" id="confirm_btn" ng-click="personDetailView.confirmDelete('sm')">
                                        <i class="glyphicon glyphicon-remove"></i> Delete This Person
                                    </button>
                                </div>
                            </div>
                        </div>
                      </div> <!-- end of push-in-target -->
                    </md-tab-body>
                </md-tab>
            </md-tabs>
        </form>
    </div>
    <div class="row top-offset-xs"></div>
    </div>
</div>
