<div class="row-fluid">
    <script type="text/ng-template" id="delete_confirm_template.html">
        <div class="modal-header">
            <h3 class="modal-title">{{vm.modalTitle}}</h3>
        </div>
        <div class="modal-body">
            <div ng-show="vm.deletionStatus == ''">
                <strong>This will be a permanent deletion</strong>
            </div>
            <div ng-show="vm.deletionStatus != ''">
                <strong>{{vm.deletionStatus}}</strong>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" ng-click="vm.ok()">Delete Now</button>
            <button class="btn btn-primary" ng-click="vm.cancel()">Cancel</button>
        </div>
    </script>

    <ctrp-comment instance-uuid="{{personDetailView.curPerson.uuid}}" button-type="icon" field="" model="person"></ctrp-comment>
    <div class="col-xs-12">
        <div class="row">
            <p>
                <h4 ng-if="personDetailView.curPerson.new">Add Person</h4>
                <h4 ng-if="!personDetailView.curPerson.new">Edit Person</h4>
            </p>
        </div>
        <div class="row md-sidenav-push-in-target"">
            <form class="form-horizontal" role="form" name="person_form" novalidate ctrp-submit="personDetailView.updatePerson()">
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-3">Prefix:</label>
                    <div class="col-xs-12 col-sm-6">
                        <input type="text" curation-field class="form-control input-sm" ng-model="personDetailView.curPerson.prefix">
                    </div>
                </div>
                <div class="form-group required"  ng-class="{'has-error': ctrpbtn.person_form.needsAttention(person_form.fname)}">
                    <label class="control-label col-xs-12 col-sm-3">First Name:</label>
                    <div class="col-xs-12 col-sm-6">
                        <input type="text" curation-field name="fname" class="form-control input-sm" ng-model="personDetailView.curPerson.fname" required auto-focus />
                        <span class="help-block"
                              ng-show="person_form.fname.$error.required">First name is Required</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-3">Middle Name:</label>
                    <div class="col-xs-12 col-sm-6">
                        <input type="text" curation-field name="mname" class="form-control input-sm" ng-model="personDetailView.curPerson.mname">
                    </div>
                </div>
                <div class="form-group required" ng-class="{'has-error': ctrpbtn.person_form.needsAttention(person_form.lname)}">
                    <label class="control-label col-xs-12 col-sm-3">Last Name:</label>
                    <div class="col-xs-12 col-sm-6">
                        <input type="text" curation-field name="lname" class="form-control input-sm has-success" ng-model="personDetailView.curPerson.lname" required>
<!--                        <i ng-show="personDetailView.curPerson.lname.length > 0 && person_form.lname.$dirty" ng-class="(personDetailView.name_unqiue === true) ? 'glyphicon glyphicon-ok' : 'glyphicon glyphicon-warning-sign'"></i> -->
                        <span class="help-block"
                              ng-show="person_form.lname.$error.required">Last name is Required</span>
<!--                        <div ng-class='has-error' ng-show="personDetailView.showUniqueWarning">Person exists in the database.</div> -->
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-3">Suffix:</label>
                    <div class="col-xs-12 col-sm-6">
                        <input type="text" curation-field class="form-control input-sm" ng-model="personDetailView.curPerson.suffix">
                    </div>
                </div>
                <div class="form-group required" ng-class="{'has-error': ctrpbtn.person_form.needsAttention(person_form.source_context)}">
                    <label class="control-label col-xs-12 col-sm-3">Source Context:</label>
                    <div class="col-xs-12 col-sm-6">
                        <select curation-field class="form-control input-sm" id="source_context" ng-model="personDetailView.curPerson.source_context_id" ng-options="context.id as context.name for context in personDetailView.sourceContextArr" name="source_context" required>
                            <option value="">Select context</option>
                        </select>
                        <span class="help-block" ng-show="person_form.source_context.$invalid">Source context is Required</span>
                    </div>
                </div>
                <!-- Source ID will be R/O on Person screen -->
                 <div class="form-group">
                     <label class="control-label col-xs-12 col-sm-3">Source ID:</label>
                     <div class="col-xs-12 col-sm-6 form-text">
                         {{personDetailView.curPerson.source_id}}
                     </div>
               </div>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-3">Source Status:</label>
                    <div class="col-xs-12 col-sm-6">
                        <div ng-if="personDetailView.curPerson.new" class="form-text">{{personDetailView.activeStatusName}}</div>
                        <div ng-if="!personDetailView.curPerson.new" class="animated-item">
                            <!--<select class="form-control input-sm" id="source_status"-->
                                    <!--ng-model="personDetailView.curPerson.source_status_id">-->
                                <!--<option value="">Select a status</option>-->
                                <!--<option ng-repeat="status in personDetailView.sourceStatusArr" value="{{status.id}}" ng-selected="personDetailView.curPerson.source_status_id == status.id">{{status.name}}</option>-->
                            <!--</select>-->
                            <select ng-init="personDetailView.curPerson.source_status_id" curation-field class="form-control input-sm" id="source_status" ng-model="personDetailView.curPerson.source_status_id" ng-options="status.id as status.name for status in personDetailView.sourceStatusArr"></select>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': (person_form.email.$error && ctrpbtn.person_form.needsAttention(person_form.email))}">
                    <label class="control-label col-xs-12 col-sm-3">Email:</label>
                    <div class="col-xs-12 col-sm-6">
                        <input curation-field class="form-control input-sm" name="email" ng-model="personDetailView.curPerson.email" type="email" ng-required="!personDetailView.curPerson.phone">
                       <span class="help-block"
                             ng-show="person_form.email.$error && ctrpbtn.person_form.needsAttention(person_form.email)">Either Phone or Email is Required</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': (person_form.phone.$error && ctrpbtn.person_form.needsAttention(person_form.phone))}">
                    <label class="control-label col-xs-12 col-sm-3">Phone:</label>
                    <div class="col-xs-12 col-sm-6">
                        <input type="text" curation-field class="form-control input-sm" name="phone" ng-model="personDetailView.curPerson.phone" type="text" ng-required="!personDetailView.curPerson.email">
                       <span class="help-block"
                             ng-show="person_form.phone.$error && ctrpbtn.person_form.needsAttention(person_form.phone)">Either Phone or Email is Required</span>
                    </div>
                </div>
                <div class="form-group" ng-hide="personDetailView.curPerson.new || !personDetailView.curPerson.created_by">
                    <label class="control-label col-xs-12 col-sm-3">Created By:</label>
                    <div class="col-xs-12 col-sm-6 form-text">
                        <!--<input type="text" class="form-control input-sm" id="fax"  ng-model="personDetailView.curPerson.fax" type="text" placeholder="Fax">-->
                        {{personDetailView.curPerson.created_by}} ({{personDetailView.curPerson.created_at | date: 'dd-MMM-yyyy H:mm'}})
                    </div>
                </div>
                <div class="form-group" ng-hide="personDetailView.curPerson.new || !personDetailView.curPerson.updated_by">
                    <label class="control-label col-xs-12 col-sm-3">Updated By:</label>
                    <div class="col-xs-12 col-sm-6 form-text">
                        <!--<input type="text" class="form-control input-sm" id="fax"  ng-model="personDetailView.curPerson.fax" type="text" placeholder="Fax">-->
                        {{personDetailView.curPerson.updated_by}} ({{personDetailView.curPerson.updated_at | date: 'dd-MMM-yyyy H:mm'}})
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-3">Add Affiliated Organization:</label>
                    <div class="col-xs-12 col-sm-9">
                            <!--<button class="btn btn-primary" ng-click="personDetailView.searchOrgsForAffiliation('lg')">
                                <i class="glyphicon glyphicon-search"></i> Search Organizations
                            </button>
                            <button class="btn btn-danger" ng-click="personDetailView.batchSelect('removeAll')" ng-show="personDetailView.savedSelection.length > 0">
                                <i class="glyphicon glyphicon-remove"></i> Remove All Affiliated Organizations
                            </button>-->
                        <ctrp-org-adv-search-modal-button use-built-in-template="false" allow-overwrite="false" selected-orgs-array="personDetailView.orgsArrayReceiver"></ctrp-org-adv-search-modal-button>
                        <div class="row animated-item" ng-show="personDetailView.savedSelection.length > 0">
                            <br /><input type="text" ng-model="personDetailView.selectedOrgFilter" curation-field class="form-control input-sm" placeholder="Filter selected organizations"/>
                            <table class="table table-bordered table-striped table-condensed">
                                <thead>
                                    <th width="6%">CTRP ID</th>
                                    <th width="57%">Organization</th>
                                    <th width="18%">Effective Date</th>
                                    <th width="18%">Expiration Date</th>
                                    <th width="1%"></th>
                                </thead>
                                <tbody>
                                <tr ng-repeat="org in personDetailView.savedSelection | filter: {'name': personDetailView.selectedOrgFilter} track by $index" ng-class="org._destroy == true ? 'deleted-text animated-item' : 'animated-item'">
                                    <td>{{org.id}}</td>
                                    <td>{{org.name}}</td>
                                    <td>
                                        <div class="input-group add-on col-sm-12 date datepicker">
                                            <input type="text" class="form-control input-sm"
                                                   datepicker-popup="{{personDetailView.dateFormat}}" show-weeks="false"
                                                   ng-model="org.effective_date" is-open="org.opened_effective"
                                                   datepicker-options="personDetailView.dateOptions"
                                                   ng-required="false" close-text="Close" ng-disabled="org._destroy"/>
                                              <span class="input-group-btn">
                                                    <button type="button" curation-field class="btn btn-default" ng-click="personDetailView.openCalendar($event, $index, 'effective')" ng-disabled="org._destroy">
                                                        <i class="glyphicon glyphicon-calendar"></i>
                                                    </button>
                                              </span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="input-group add-on col-sm-12 date datepicker">
                                            <input type="text" class="form-control input-sm"
                                                   datepicker-popup="{{personDetailView.dateFormat}}" show-weeks="false"
                                                   ng-model="org.expiration_date" is-open="org.opened_expiration"
                                                   datepicker-options="personDetailView.dateOptions"
                                                   ng-required="false" close-text="Close" ng-disabled="org._destroy"/>
                                              <span class="input-group-btn">
                                                    <button type="button" curation-field class="btn btn-default" ng-click="personDetailView.openCalendar($event, $index, 'expiration')" ng-disabled="org._destroy">
                                                        <i class="glyphicon glyphicon-calendar"></i>
                                                    </button>
                                              </span>
                                        </div>
                                    </td>
                                    <td>
                                        <label curation-field class="btn btn-default" ng-click="personDetailView.toggleSelection($index)">
                                            <i ng-class="org._destroy == true ? 'glyphicon glyphicon-ok-circle' : 'glyphicon glyphicon-remove-circle'"></i>
                                        </label>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- row for the table ends -->
                        <!--</div>-->
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12 col-sm-3"></div>
                    <div class="btn-toolbar col-xs-12 col-sm-9">
                        <button type="submit" curation-field class="btn btn-primary pull-right" id="save_btn">
                            Save
                        </button>
                        <button curation-field class="btn btn-warning pull-right" id="reset_btn" ng-click="personDetailView.resetForm()">
                            <i class="glyphicon glyphicon-remove"></i> Reset
                        </button>
                        <button ng-hide="personDetailView.curPerson.new" curation-field class="btn btn-danger btn-no-left-margin pull-left" id="confirm_btn" ng-click="personDetailView.confirmDelete('sm')">
                            <i class="glyphicon glyphicon-remove"></i> Delete This Person
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
