<div class="row-fluid">
    <div class="col-xs-12 col-border">
        <div class="row">
            <p><h4 ng-if="trialDetailView.curTrial.new"><mark>Register Trial</mark></h4></p>
            <p><h4 ng-if="!trialDetailView.curTrial.new"><mark>Edit Trial</mark></h4></p>
        </div>
        <div class="row">
            <form class="form-horizontal" role="form" name="trial_form" novalidate>
                <accordion close-others="false">
                    <accordion-group is-open="trialDetailView.accordion1">
                        <accordion-heading>
                            Trial Identifiers  <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': trialDetailView.accordion1, 'glyphicon-chevron-right': !trialDetailView.accordion1}"></i>
                        </accordion-heading>

                        <div class="form-group col-sm-12">
                            <label class="control-label col-sm-3">Lead Protocol Identifier:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control input-xs" id="lead_protocol_id" ng-model="trialDetailView.curTrial.lead_protocol_id">
                            </div>
                        </div>

                        <div class="form-group col-sm-12">
                            <label class="control-label col-sm-3">Other Trial Identifier:</label>
                            <div class="col-sm-9">
                                <table class="table table-striped table-condensed">
                                    <thead>
                                    <th>Protocol ID Origin</th>
                                    <th>Protocol ID</th>
                                    <th></th>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="col-md-4">
                                            <div>
                                                <select class="form-control" id="protocol_id_origin" ng-model="trialDetailView.protocol_id_origin_id">
                                                    <option value="">Select a Protocol ID Origin</option>
                                                    <option ng-repeat="origin in trialDetailView.protocolIdOriginArr" value="{{origin.id}}">
                                                        {{origin.name}}
                                                    </option>
                                                </select>
                                            </div>
                                        </td>
                                        <td class="col-md-6">
                                            <div>
                                                <input type="text" class="form-control input-xs" id="protocol_id" ng-model="trialDetailView.protocol_id" />
                                            </div>
                                        </td>
                                        <td class="col-md-2">
                                            <div>
                                                <button class="btn btn-primary" ng-click="trialDetailView.addOtherId()">
                                                    <i class="glyphicon glyphicon-plus"></i> Add
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <table class="table table-bordered table-striped table-condensed" ng-show="trialDetailView.addedOtherIds.length > 0">
                                    <thead>
                                    <th></th>
                                    <th>Protocol ID Origin</th>
                                    <th>Protocol ID</th>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="otherId in trialDetailView.addedOtherIds track by $index" ng-class="otherId._destroy == true ? 'deleted-text animated-item' : 'animated-item'">
                                        <td class="col-md-1" style="vertical-align: middle">
                                            <label class="btn btn-default" ng-click="trialDetailView.toggleSelection($index, 'other_id')">
                                                <i ng-class="otherId._destroy == true ? 'glyphicon glyphicon-ok-circle' : 'glyphicon glyphicon-remove-circle'"></i>
                                            </label>
                                        </td>
                                        <td class="col-md-4">{{otherId.protocol_id_origin_name}}</td>
                                        <td class="col-md-7">{{otherId.protocol_id}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </accordion-group>

                    <accordion-group is-open="trialDetailView.accordion2">
                        <accordion-heading>
                            Trial Details  <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': trialDetailView.accordion2, 'glyphicon-chevron-right': !trialDetailView.accordion2}"></i>
                        </accordion-heading>

                        <div class="form-group col-sm-12">
                            <label class="control-label col-sm-3">Official Title:</label>
                            <div class="col-sm-9">
                                <textarea class="form-control input-xs" id="official_title" ng-model="trialDetailView.curTrial.official_title" />
                            </div>
                        </div>

                        <div class="form-group col-sm-12">
                            <label class="control-label col-sm-3">Phase:</label>
                            <div class="col-sm-9">
                                <select class="form-control" id="phase" ng-model="trialDetailView.curTrial.phase_id">
                                    <option value="">Select a Phase</option>
                                    <option ng-repeat="phase in trialDetailView.phaseArr"
                                            value="{{phase.id}}" ng-selected="trialDetailView.curTrial.phase_id == phase.id">
                                        {{phase.name}}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group col-sm-12">
                            <label class="control-label col-sm-3">Pilot?</label>
                            <div class="col-sm-1">
                                <label><input type="radio" ng-model="trialDetailView.curTrial.pilot" value="No"> No</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="radio" ng-model="trialDetailView.curTrial.pilot" value="Yes"> Yes</label>
                            </div>
                        </div>

                        <div class="form-group col-sm-12">
                            <label class="control-label col-sm-3">Research Category:</label>
                            <div class="col-sm-9">
                                <select class="form-control" id="research_category" ng-model="trialDetailView.curTrial.research_category_id">
                                    <option value="">Select a Research Category</option>
                                    <option ng-repeat="category in trialDetailView.researchCategoryArr"
                                            value="{{category.id}}" ng-selected="trialDetailView.curTrial.research_category_id == category.id">
                                        {{category.name}}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group col-sm-12">
                            <label class="control-label col-sm-3">Primary Purpose:</label>
                            <div class="col-sm-9">
                                <select class="form-control" id="primary_purpose" ng-model="trialDetailView.curTrial.primary_purpose_id" ng-change="trialDetailView.watchOption('primary_purpose')">
                                    <option value="">Select a Primary Purpose</option>
                                    <option ng-repeat="primaryPurpose in trialDetailView.primaryPurposeArr"
                                            value="{{primaryPurpose.id}}" ng-selected="trialDetailView.curTrial.primary_purpose_id == primaryPurpose.id">
                                        {{primaryPurpose.name}}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div ng-show="trialDetailView.showPrimaryPurposeOther" class="form-group col-sm-12">
                            <label class="control-label col-sm-3">Describe "Other" Primary Purpose:</label>
                            <div class="col-sm-9">
                                <textarea class="form-control input-xs" id="primary_purpose_other" ng-model="trialDetailView.curTrial.primary_purpose_other" />
                            </div>
                        </div>

                        <div class="form-group col-sm-12">
                            <label class="control-label col-sm-3">Secondary Purpose:</label>
                            <div class="col-sm-9">
                                <select class="form-control" id="secondary_purpose" ng-model="trialDetailView.curTrial.secondary_purpose_id" ng-change="trialDetailView.watchOption('secondary_purpose')">
                                    <option value="">Select a Secondary Purpose</option>
                                    <option ng-repeat="secondaryPurpose in trialDetailView.secondaryPurposeArr"
                                            value="{{secondaryPurpose.id}}" ng-selected="trialDetailView.curTrial.secondary_purpose_id == secondaryPurpose.id">
                                        {{secondaryPurpose.name}}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div ng-show="trialDetailView.showSecondaryPurposeOther" class="form-group col-sm-12">
                            <label class="control-label col-sm-3">Describe "Other" Secondary Purpose:</label>
                            <div class="col-sm-9">
                                <textarea class="form-control input-xs" id="secondary_purpose_other" ng-model="trialDetailView.curTrial.secondary_purpose_other" />
                            </div>
                        </div>
                    </accordion-group>

                    <accordion-group is-open="trialDetailView.accordion3">
                        <accordion-heading>
                            Lead Organization/Principal Investigator  <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': trialDetailView.accordion3, 'glyphicon-chevron-right': !trialDetailView.accordion3}"></i>
                        </accordion-heading>

                        <div class="form-group col-sm-12">
                            <label class="control-label col-sm-3">Lead Organization:</label>
                            <div class="col-sm-9">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-8">
                                        <input type="text" class="form-control input-xs" disabled value="{{trialDetailView.selectedLoArray[0].name}}"/>
                                    </div>
                                    <div class="col-xs-12 col-sm-4">
                                        <ctrp-org-adv-search-modal-button max-row-selectable="1" use-built-in-template="false" selected-orgs-array="trialDetailView.selectedLoArray"></ctrp-org-adv-search-modal-button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-sm-12">
                            <label class="control-label col-sm-3">Principal Investigator:</label>
                            <div class="col-sm-9">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-8">
                                        <input type="text" class="form-control input-xs" disabled value="{{trialDetailView.selectedPiArray[0].fname + ' ' + (trialDetailView.selectedPiArray[0].mname ? trialDetailView.selectedPiArray[0].mname + ' ' : '') + trialDetailView.selectedPiArray[0].lname}}"/>
                                    </div>
                                    <div class="col-xs-12 col-sm-4">
                                        <ctrp-person-adv-search-modal-button max-row-selectable="1" use-built-in-template="false" selected-persons-array="trialDetailView.selectedPiArray"></ctrp-person-adv-search-modal-button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </accordion-group>

                    <accordion-group is-open="trialDetailView.accordion4">
                        <accordion-heading>
                            Sponsor/Responsible Party  <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': trialDetailView.accordion4, 'glyphicon-chevron-right': !trialDetailView.accordion4}"></i>
                        </accordion-heading>

                        <div class="form-group col-sm-12">
                            <label class="control-label col-sm-3">Responsible Party:</label>
                            <div class="col-sm-9">
                                <select class="form-control" id="responsible_party" ng-model="trialDetailView.curTrial.responsible_party_id" ng-change="trialDetailView.watchOption('responsible_party')">
                                    <option value="">Select a Responsible Party</option>
                                    <option ng-repeat="responsibleParty in trialDetailView.responsiblePartyArr"
                                            value="{{responsibleParty.id}}" ng-selected="trialDetailView.curTrial.responsible_party_id == responsibleParty.id">
                                        {{responsibleParty.name}}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div ng-show="trialDetailView.showInvestigator" class="form-group col-sm-12">
                            <label class="control-label col-sm-3">Investigator:</label>
                            <div class="col-sm-9">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-8">
                                        <input type="text" class="form-control input-xs" disabled value="{{trialDetailView.selectedInvArray[0].fname + ' ' + (trialDetailView.selectedInvArray[0].mname ? trialDetailView.selectedInvArray[0].mname + ' ' : '') + trialDetailView.selectedInvArray[0].lname}}"/>
                                    </div>
                                    <div class="col-xs-12 col-sm-4">
                                        <ctrp-person-adv-search-modal-button max-row-selectable="1" use-built-in-template="false" selected-persons-array="trialDetailView.selectedInvArray"></ctrp-person-adv-search-modal-button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </accordion-group>

                    <accordion-group is-open="trialDetailView.accordion5">
                        <accordion-heading>
                            Data Table 4 Information  <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': trialDetailView.accordion5, 'glyphicon-chevron-right': !trialDetailView.accordion5}"></i>
                        </accordion-heading>

                        <div class="form-group col-sm-12">
                            <label class="control-label col-sm-3">Program code:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control input-xs" id="program_code" ng-model="trialDetailView.curTrial.program_code">
                            </div>
                        </div>
                    </accordion-group>

                    <accordion-group is-open="trialDetailView.accordion6">
                        <accordion-heading>
                            NIH Grant Information (for NIH funded Trials)  <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': trialDetailView.accordion6, 'glyphicon-chevron-right': !trialDetailView.accordion6}"></i>
                        </accordion-heading>

                        <div class="form-group col-sm-12">
                            <label class="control-label col-sm-3">Is this trial funded by an NCI grant?</label>
                            <div class="col-sm-1">
                                <label><input type="radio" ng-model="trialDetailView.curTrial.grant_question" value="Yes"> Yes</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="radio" ng-model="trialDetailView.curTrial.grant_question" value="No"> No</label>
                            </div>
                        </div>

                        <div class="form-group col-sm-12">
                            <div class="col-sm-12">
                                <table class="table table-striped table-condensed">
                                    <thead>
                                    <th>Funding Mechanism</th>
                                    <th>Institute Code</th>
                                    <th>Serial Number</th>
                                    <th>NCI Division/Program Code</th>
                                    <th></th>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="col-md-2">
                                            <div>
                                                <select class="form-control" id="funding_mechanism" ng-model="trialDetailView.funding_mechanism">
                                                    <option value="">-Select-</option>
                                                    <option ng-repeat="mechanism in trialDetailView.fundingMechanismArr" value="{{mechanism.code}}">
                                                        {{mechanism.code}}
                                                    </option>
                                                </select>
                                            </div>
                                        </td>
                                        <td class="col-md-2">
                                            <div>
                                                <select class="form-control" id="institute_code" ng-model="trialDetailView.institute_code">
                                                    <option value="">-Select-</option>
                                                    <option ng-repeat="institute in trialDetailView.instituteCodeArr" value="{{institute.code}}">
                                                        {{institute.code}}
                                                    </option>
                                                </select>
                                            </div>
                                        </td>
                                        <td class="col-md-3">
                                            <div>
                                                <input type="text" class="form-control input-xs" id="serial_number" ng-model="trialDetailView.serial_number" />
                                            </div>
                                        </td>
                                        <td class="col-md-3">
                                            <div>
                                                <select class="form-control" id="nci" ng-model="trialDetailView.nci">
                                                    <option value="">-Select-</option>
                                                    <option ng-repeat="nci in trialDetailView.nciArr" value="{{nci.code}}">
                                                        {{nci.code}}
                                                    </option>
                                                </select>
                                            </div>
                                        </td>
                                        <td class="col-md-2">
                                            <div>
                                                <button class="btn btn-primary" ng-click="trialDetailView.addGrant()">
                                                    <i class="glyphicon glyphicon-plus"></i> Add
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <table class="table table-bordered table-striped table-condensed" ng-show="trialDetailView.addedGrants.length > 0">
                                    <thead>
                                    <th></th>
                                    <th>Funding Mechanism</th>
                                    <th>Institute Code</th>
                                    <th>Serial Number</th>
                                    <th>NCI Division/Program Code</th>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="grant in trialDetailView.addedGrants track by $index" ng-class="grant._destroy == true ? 'deleted-text animated-item' : 'animated-item'">
                                        <td class="col-md-1" style="vertical-align: middle">
                                            <label class="btn btn-default" ng-click="trialDetailView.toggleSelection($index, 'grant')">
                                                <i ng-class="grant._destroy == true ? 'glyphicon glyphicon-ok-circle' : 'glyphicon glyphicon-remove-circle'"></i>
                                            </label>
                                        </td>
                                        <td class="col-md-2">{{grant.funding_mechanism}}</td>
                                        <td class="col-md-2">{{grant.institute_code}}</td>
                                        <td class="col-md-3">{{grant.serial_number}}</td>
                                        <td class="col-md-4">{{grant.nci}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </accordion-group>

                    <accordion-group is-open="trialDetailView.accordion7">
                        <accordion-heading>
                            Trial Status  <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': trialDetailView.accordion7, 'glyphicon-chevron-right': !trialDetailView.accordion7}"></i>
                        </accordion-heading>

                        <div class="form-group col-sm-12">
                            <div class="col-sm-12">
                                <table class="table table-striped table-condensed">
                                    <thead>
                                    <th>Status Date</th>
                                    <th>Status</th>
                                    <th>Why Study Stopped</th>
                                    <th></th>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="col-md-3">
                                            <div class="input-group add-on date datepicker" date-date-format="yyyy-mm-dd">
                                                <input type="text" class="form-control input-normal" datepicker-popup="{{trialDetailView.dateFormat}}" ng-model="trialDetailView.status_date"
                                                       is-open="trialDetailView.status_date_opened" datepicker-options="trialDetailView.dateOptions" ng-required="false" close-text="Close" disabled />
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default" ng-click="trialDetailView.openCalendar($event, 'status_date')">
                                                        <i class="glyphicon glyphicon-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                        <td class="col-md-3">
                                            <div>
                                                <select class="form-control" id="trial_status" ng-model="trialDetailView.trial_status_id">
                                                    <option value="">Select a Trial Status</option>
                                                    <option ng-repeat="trialStatus in trialDetailView.trialStatusArr" value="{{trialStatus.id}}">
                                                        {{trialStatus.name}}
                                                    </option>
                                                </select>
                                            </div>
                                        </td>
                                        <td class="col-md-4">
                                            <div>
                                                <textarea style="resize: vertical;" class="form-control input-xs" id="why_stopped" ng-model="trialDetailView.why_stopped" />
                                            </div>
                                        </td>
                                        <td class="col-md-2">
                                            <div>
                                                <button class="btn btn-primary" ng-click="trialDetailView.addStatus()">
                                                    <i class="glyphicon glyphicon-plus"></i> Add
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                                <table class="table table-bordered table-striped table-condensed" ng-show="trialDetailView.addedStatuses.length > 0">
                                    <thead>
                                    <th></th>
                                    <th>Status Date</th>
                                    <th>Status</th>
                                    <th>Why Study Stopped</th>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="status in trialDetailView.addedStatuses track by $index" ng-class="status._destroy == true ? 'deleted-text animated-item' : 'animated-item'">
                                        <td class="col-md-1" style="vertical-align: middle">
                                            <label class="btn btn-default" ng-click="trialDetailView.toggleSelection($index, 'trial_status')">
                                                <i ng-class="status._destroy == true ? 'glyphicon glyphicon-ok-circle' : 'glyphicon glyphicon-remove-circle'"></i>
                                            </label>
                                        </td>
                                        <td class="col-md-2">{{status.status_date}}</td>
                                        <td class="col-md-3">{{status.trial_status_name}}</td>
                                        <td class="col-md-6">{{status.why_stopped}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </accordion-group>

                    <accordion-group is-open="trialDetailView.accordion8">
                        <accordion-heading>
                            Trial Dates  <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': trialDetailView.accordion8, 'glyphicon-chevron-right': !trialDetailView.accordion8}"></i>
                        </accordion-heading>

                        <div class="form-group col-sm-12">
                            <label class="control-label col-sm-3">Trial Start Date:</label>
                            <div class="col-sm-3">
                                <div class="input-group add-on date datepicker" date-date-format="yyyy-mm-dd">
                                    <input type="text" class="form-control input-normal" datepicker-popup="{{trialDetailView.dateFormat}}" ng-model="trialDetailView.curTrial.start_date"
                                           is-open="trialDetailView.start_date_opened" datepicker-options="trialDetailView.dateOptions" ng-required="false" close-text="Close" disabled />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="trialDetailView.openCalendar($event, 'start_date')">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <label><input type="radio" ng-model="trialDetailView.curTrial.start_date_qual" value="Actual"> Actual</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="radio" ng-model="trialDetailView.curTrial.start_date_qual" value="Anticipated"> Anticipated</label>
                            </div>
                        </div>

                        <div class="form-group col-sm-12">
                            <label class="control-label col-sm-3">Primary Completion Date:</label>
                            <div class="col-sm-3">
                                <div class="input-group add-on date datepicker" date-date-format="yyyy-mm-dd">
                                    <input type="text" class="form-control input-normal" datepicker-popup="{{trialDetailView.dateFormat}}" ng-model="trialDetailView.curTrial.primary_comp_date"
                                           is-open="trialDetailView.primary_comp_date_opened" datepicker-options="trialDetailView.dateOptions" ng-required="false" close-text="Close" disabled />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="trialDetailView.openCalendar($event, 'primary_comp_date')">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <label><input type="radio" ng-model="trialDetailView.curTrial.primary_comp_date_qual" value="Actual"> Actual</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="radio" ng-model="trialDetailView.curTrial.primary_comp_date_qual" value="Anticipated"> Anticipated</label>
                            </div>
                        </div>

                        <div class="form-group col-sm-12">
                            <label class="control-label col-sm-3">Completion Date:</label>
                            <div class="col-sm-3">
                                <div class="input-group add-on date datepicker" date-date-format="yyyy-mm-dd">
                                    <input type="text" class="form-control input-normal" datepicker-popup="{{trialDetailView.dateFormat}}" ng-model="trialDetailView.curTrial.comp_date"
                                           is-open="trialDetailView.comp_date_opened" datepicker-options="trialDetailView.dateOptions" ng-required="false" close-text="Close" disabled />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="trialDetailView.openCalendar($event, 'comp_date')">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <label><input type="radio" ng-model="trialDetailView.curTrial.comp_date_qual" value="Actual"> Actual</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="radio" ng-model="trialDetailView.curTrial.comp_date_qual" value="Anticipated"> Anticipated</label>
                            </div>
                        </div>
                    </accordion-group>

                    <accordion-group is-open="trialDetailView.accordion9">
                        <accordion-heading>
                            FDA IND/IDE Information for applicable trials <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': trialDetailView.accordion9, 'glyphicon-chevron-right': !trialDetailView.accordion9}"></i>
                        </accordion-heading>

                        <div class="form-group col-sm-12">
                            <div class="col-sm-12">
                                <table class="table table-striped table-condensed">
                                    <thead>
                                    <th>IND/IDE Types</th>
                                    <th>IND/IDE Number</th>
                                    <th>IND/IDE Grantor</th>
                                    <th>IND/IDE Holder Type</th>
                                    <th>NIH Institution, NCI Division/Program Code (if applicable)</th>
                                    <th></th>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="col-md-2">
                                            <div>
                                                <select class="form-control" id="ind_ide_type" ng-model="trialDetailView.ind_ide_type" ng-change="trialDetailView.watchOption('ind_ide_type')">
                                                    <option value="">-Select-</option>
                                                    <option value="IND">IND</option>
                                                    <option value="IDE">IDE</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td class="col-md-2">
                                            <div>
                                                <input type="text" class="form-control input-xs" id="ind_ide_number" ng-model="trialDetailView.ind_ide_number" />
                                            </div>
                                        </td>
                                        <td class="col-md-2">
                                            <div>
                                                <select class="form-control" id="grantor" ng-model="trialDetailView.grantor">
                                                    <option value="">-Select-</option>
                                                    <option ng-repeat="grantor in trialDetailView.grantorArr" value="{{grantor}}">
                                                        {{grantor}}
                                                    </option>
                                                </select>
                                            </div>
                                        </td>
                                        <td class="col-md-2">
                                            <div>
                                                <select class="form-control" id="holder_type" ng-model="trialDetailView.holder_type_id" ng-change="trialDetailView.watchOption('holder_type')">
                                                    <option value="">-Select-</option>
                                                    <option ng-repeat="holderType in trialDetailView.holderTypeArr" value="{{holderType.id}}">
                                                        {{holderType.name}}
                                                    </option>
                                                </select>
                                            </div>
                                        </td>
                                        <td class="col-md-3">
                                            <div>
                                                <select class="form-control" id="nih_nci" ng-model="trialDetailView.nih_nci">
                                                    <option value="">-Select-</option>
                                                    <option ng-repeat="nihNci in trialDetailView.nihNciArr" value="{{nihNci.code}}">
                                                        {{nihNci.code}}
                                                    </option>
                                                </select>
                                            </div>
                                        </td>
                                        <td class="col-md-1">
                                            <div>
                                                <button class="btn btn-primary" ng-click="trialDetailView.addIndIde()">
                                                    <i class="glyphicon glyphicon-plus"></i> Add
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <table class="table table-bordered table-striped table-condensed" ng-show="trialDetailView.addedIndIdes.length > 0">
                                    <thead>
                                    <th></th>
                                    <th>IND/IDE Types</th>
                                    <th>IND/IDE Number</th>
                                    <th>IND/IDE Grantor</th>
                                    <th>IND/IDE Holder Type</th>
                                    <th>NIH Institution, NCI Division/Program Code (if applicable)</th>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="indIde in trialDetailView.addedIndIdes track by $index" ng-class="indIde._destroy == true ? 'deleted-text animated-item' : 'animated-item'">
                                        <td class="col-md-1" style="vertical-align: middle">
                                            <label class="btn btn-default" ng-click="trialDetailView.toggleSelection($index, 'ind_ide')">
                                                <i ng-class="indIde._destroy == true ? 'glyphicon glyphicon-ok-circle' : 'glyphicon glyphicon-remove-circle'"></i>
                                            </label>
                                        </td>
                                        <td class="col-md-2">{{indIde.ind_ide_type}}</td>
                                        <td class="col-md-2">{{indIde.ind_ide_number}}</td>
                                        <td class="col-md-2">{{indIde.grantor}}</td>
                                        <td class="col-md-2">{{indIde.holder_type_name}}</td>
                                        <td class="col-md-3">{{indIde.nih_nci}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </accordion-group>

                    <accordion-group is-open="trialDetailView.accordion10">
                        <accordion-heading>
                            Regulatory Information  <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': trialDetailView.accordion10, 'glyphicon-chevron-right': !trialDetailView.accordion10}"></i>
                        </accordion-heading>

                        <div class="form-group col-sm-12">
                            <label class="control-label col-sm-3">Trial Oversight Authority Country:</label>
                            <div class="col-sm-9">
                                <select class="form-control input-xs" id="authority_country" ng-model="trialDetailView.curTrial.authority_country"
                                        ng-change="trialDetailView.watchOption('authority_country')">
                                    <option value="">Select a country</option>
                                    <option ng-repeat="country in trialDetailView.countryArr track by $index" value="{{country.name}}" ng-selected="trialDetailView.curTrial.authority_country == country.name">{{country.name}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group col-sm-12">
                            <label class="control-label col-sm-3">Trial Oversight Authority Organization Name:</label>
                            <div class="col-sm-9">
                                <select class="form-control input-xs" id="authority_org" ng-model="trialDetailView.curTrial.authority_org">
                                    <option value="">Select an Organization Name</option>
                                    <option ng-repeat="org in trialDetailView.authorityOrgArr track by $index" value="{{org}}" ng-selected="trialDetailView.curTrial.authority_org == org">{{org}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group col-sm-12">
                            <label class="control-label col-sm-3">FDA Regulated Intervention Indicator:</label>
                            <div class="col-sm-1">
                                <label><input type="radio" ng-model="trialDetailView.curTrial.intervention_indicator" value="No"> No</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="radio" ng-model="trialDetailView.curTrial.intervention_indicator" value="Yes"> Yes</label>
                            </div>
                        </div>

                        <div class="form-group col-sm-12">
                            <label class="control-label col-sm-3">Section 801 Indicator:</label>
                            <div class="col-sm-1">
                                <label><input type="radio" ng-model="trialDetailView.curTrial.sec801_indicator" value="No"> No</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="radio" ng-model="trialDetailView.curTrial.sec801_indicator" value="Yes"> Yes</label>
                            </div>
                        </div>

                        <div class="form-group col-sm-12">
                            <label class="control-label col-sm-3">Data Monitoring Committee Appointed Indicator:</label>
                            <div class="col-sm-1">
                                <label><input type="radio" ng-model="trialDetailView.curTrial.data_monitor_indicator" value="No"> No</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="radio" ng-model="trialDetailView.curTrial.data_monitor_indicator" value="Yes"> Yes</label>
                            </div>
                        </div>
                    </accordion-group>

                    <accordion-group is-open="trialDetailView.accordion11">
                        <accordion-heading>
                            Trial Related Documents  <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': trialDetailView.accordion11, 'glyphicon-chevron-right': !trialDetailView.accordion11}"></i>
                        </accordion-heading>

                        <div class="form-group col-sm-12">
                            <label class="control-label col-sm-3">Protocol Document:</label>
                            <div class="col-sm-9">
                                <input type="file" ngf-select ng-model="trialDetailView.protocol_document" name="protocol_document" ngf-max-size="10MB">
                            </div>
                        </div>

                        <div class="form-group col-sm-12">
                            <label class="control-label col-sm-3">IRB Approval:</label>
                            <div class="col-sm-9">
                                <input type="file" ngf-select ng-model="trialDetailView.irb_approval" name="irb_approval" ngf-max-size="10MB">
                            </div>
                        </div>

                        <div class="form-group col-sm-12">
                            <label class="control-label col-sm-3">List of Participating Sites:</label>
                            <div class="col-sm-9">
                                <input type="file" ngf-select ng-model="trialDetailView.participating_sites" name="participating_sites" ngf-max-size="10MB">
                            </div>
                        </div>

                        <div class="form-group col-sm-12">
                            <label class="control-label col-sm-3">Informed Consent Document:</label>
                            <div class="col-sm-9">
                                <input type="file" ngf-select ng-model="trialDetailView.informed_consent" name="informed_consent" ngf-max-size="10MB">
                            </div>
                        </div>
                    </accordion-group>

                    <div id="buttonBar" class="form-group col-sm-12">
                        <div class="col-sm-offset-3 col-sm-9">
                            <input type="submit" class="btn btn-success" id="save_btn" ng-click="trialDetailView.updateTrial()" ng-disabled="trial_form.$invalid" value="Save">
                            <input type="reset" class="btn btn-warning" id="reset_btn" value="Reset">
                            <button class="btn btn-default" back-button>Cancel</button>
                        </div>
                    </div>
                </accordion>
            </form>
        </div>
    </div>
</div>
