<div class="form-group col-sm-12">
    <label class="control-label col-sm-3">User Name:</label>

    <div class="col-sm-9">
        <input type="text" class="form-control input-xs" ng-model="userDetailView.userDetails.username"
               type="text"
               placeholder="Username">
    </div>
</div>

<div class="form-group col-sm-12">
    <label class="control-label col-sm-3">Email:</label>

    <div class="col-sm-9">
        <input type="text" class="form-control input-xs" ng-model="userDetailView.userDetails.email"
               type="text"
               placeholder="email">
    </div>
</div>

<div class="form-group col-sm-12">
    <label class="control-label col-sm-3">Role:</label>

    <div class="col-sm-9">
        <input type="text" class="form-control input-xs" ng-model="userDetailView.userDetails.role"
               type="text"
               placeholder="email">
    </div>
</div>

<div class="form-group col-sm-12">
    <label class="control-label col-sm-3">First Name</label>

    <div class="col-sm-9">
        <input type="text" class="form-control input-xs" ng-model="userDetailView.userDetails.first_name"
               type="text"
               placeholder="first_name">
    </div>
</div>


<div class="form-group col-sm-12">
    <label class="control-label col-sm-3">Last Name</label>

    <div class="col-sm-9">
        <input type="text" class="form-control input-xs" ng-model="userDetailView.userDetails.last_name"
               type="text"
               placeholder="last_name">
    </div>
</div>

<div class="form-group col-sm-12">
    <label class="control-label col-sm-3">Middle Name</label>

    <div class="col-sm-9">
        <input type="text" class="form-control input-xs" ng-model="userDetailView.userDetails.middle_name"
               type="text"
               placeholder="middle_name">
    </div>
</div>


<div class="form-group col-sm-12">
    <label class="control-label col-sm-3">Street Address</label>

    <div class="col-sm-9">
        <input type="text" class="form-control input-xs" ng-model="userDetailView.userDetails.street_address"
               type="text"
               placeholder="street_address">
    </div>
</div>

<div class="form-group col-sm-12">
    <label class="control-label col-sm-3">Zip Code</label>

    <div class="col-sm-9">
        <input type="text" class="form-control input-xs" ng-model="userDetailView.userDetails.zipcode"
               type="text"
               placeholder="zipcode">
    </div>
</div>

<div class="form-group col-sm-12">
    <label class="control-label col-sm-3">Receive Email Notifications</label>

    <div class="col-sm-9">
        <input type="text" class="form-control input-xs" ng-model="userDetailView.userDetails.receive_email_notifications"
               type="text"
               placeholder="receive_email_notifications">
    </div>
</div>

<div class="form-group col-sm-12">
    <label class="control-label col-sm-3">PRS Organization Name</label>

    <div class="col-sm-9">
        <input type="text" class="form-control input-xs" ng-model="userDetailView.userDetails.receive_email_notifications"
               type="text"
               placeholder="prs_organizations_name">
    </div>
</div>

<div class="row">
    <ctrp-org-adv-search-modal-button max-row-selectable="1" use-built-in-template="true" allow-overwrite="false" selected-orgs-array="userDetailView.selectedOrgsArray"></ctrp-org-adv-search-modal-button>
</div>
<div class="row">

</div>
