@media (min-width: 992px) {
    .modal-lg {
        width: 975px;
    }
}

@media (min-width: 1200px) {
    .modal-lg {
        width: 1175px;
    }
}

@media screen and (min-width: 1300px) {
    .container {
        width: 1270px;
    }

    .modal-lg {
        width: 1250px;
    }
}

@media screen and (min-width: 1400px) {
    .container {
        width: 1370px;
    }
}

@media screen and (min-width: 1500px) {
    .container {
        width: 1470px;
    }

    .drop-shadow form {
        width: 75%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1600px) {
    .container {
        width: 1570px;
    }
}

@media screen and (min-width: 1700px) {
    .container {
        width: 1670px;
    }
}

@media screen and (min-width: 1800px) {
    .container {
        width: 1770px;
    }

    .drop-shadow form {
        width: 65%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1900px) {
    .container {
        width: 1870px;
    }
}

@media screen and (min-width: 2000px) {
    .container {
        width: 1970px;
    }
}

@media screen and (min-width: 2100px) {
    .container {
        width: 2070px;
    }

    .drop-shadow form {
        width: 55%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 2200px) {
    .container {
        width: 2170px;
    }
}

@media screen and (min-width: 2300px) {
    .container {
        width: 2270px;
    }
}

@media screen and (min-width: 2400px) {
    .container {
        width: 2370px;
    }
}

.col-border {
    margin-top: 10px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -webkit-transition: margin-left 0.3s linear;
    -moz-transition: margin-left 0.3s linear;
    transition: margin-left 0.3s linear;
}

/*
.ui-grid, .ui-grid-viewport {
  height: auto !important;
}
*/
.ui-grid.ui-grid-hide-left .ui-grid-pinned-container-left .ui-grid-cell-contents {

}
.ui-grid .ui-grid-menu-item:contains("Export all") {
    display: none;
}

.ui-grid-menu-button {
    height: 24px;
}

.ui-grid-contents-wrapper {
    margin-bottom: 32px;
}

.user-detail-grid .ui-grid-contents-wrapper {
    min-height: 460px;
}
.user-detail .panel-body {
    padding: 5px 0;
}
.grid {
    width: 100%;
    height: 550px;
}

.grid-small {
    width: 100%;
    height: 200px;
}

.ui-grid-header-cell .ui-grid-cell-contents {
    line-height: 1em;
    padding: 6px 5px;
    white-space: normal;
    -ms-text-overflow: clip;
    -o-text-overflow: clip;
    text-overflow: clip;
    overflow: visible;
}

.tooltip-uigrid {
    word-wrap: normal;
}

/* Overriding default table classes */

.table-bordered {
    margin-bottom: 13px;
    color: #003f59;
}

.table-bordered > thead >tr > td, .table-bordered > thead > tr > th {
    border-bottom-width: 1px;
    background: #f3f3f3;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(1, #ffffff));
    background: -ms-linear-gradient(bottom, #eeeeee, #ffffff);
    background: -moz-linear-gradient(center bottom, #eeeeee 0%, #ffffff 100%);
    background: -o-linear-gradient(#ffffff, #eeeeee);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0);
    -webkit-border-top-right-radius: -1px;
}

.table-bordered > tbody > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > thead > tr > th {
    line-height: 1em;
    padding: 3px 5px;
    height: 22px;
    white-space: normal;
    -ms-text-overflow: clip;
    -o-text-overflow: clip;
    text-overflow: clip;
    overflow: visible;
    border: 1px solid #D4D4D4;
}
.table-bordered > thead > tr > th.nowrap {
    white-space: nowrap;
}

.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td,
.table-bordered > thead > tr > td {
    vertical-align: middle;
}

.table-bordered > thead > tr > td {
    height: 22px;
}
.table > thead > tr > th  {
    vertical-align:top;
}
.table .btn, .input-group-btn .btn {
    line-height: 1em;
}

.table-striped > tbody > tr.edit-selected {
    background-color: #DDEBF7;
}
.table-striped.table-condensed textarea.form-control {
    height: 50px;
}
.control-label.text-left {
    text-align:left;
}
table td > div.input-group.datepicker {
    position: static;
}

.animated-item {
    -webkit-transition: all linear 0.5s;
    -o-transition: all linear 0.5s;
    transition: all linear 0.5s;
}

.animated-item.ng-enter {
    opacity: 0;
}
/*.animated-item.ng-enter-stagger {*/
    /*/!*-webkit-transition-delay: 0.5s;*!/*/
    /*/!*-moz-transition-delay: 0.5s;*!/*/
    /*/!*-ms-transition-delay: 0.5s;*!/*/
    /*/!*-o-transition-delay: 0.5s;*!/*/
    /*transition-delay: 0.5s;*/
    /*transition-duration: 0;*/
/*}*/
.animated-item.ng-enter-active {
    opacity: 1;
}
.animated-item.ng-leave {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.0s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.0s;
    -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.0s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.0s;
    transition-duration: 0.9s;
    opacity: 0.8;
}

.animated-item.ng-leave-active {
    opacity: 0;
}

.deleted-text, .deleted-text a{
    color:red;
    text-decoration:line-through;
}

.grey-text {
    color: grey;
    font-weight: bold;
}

.nav-search-bar {
    background: #363636;
    /* fallback */
    /*background: -webkit-gradient(left top, left bottom, color-stop(0%, #363636), color-stop(100%, #4a4a4a));*/
    /* Safari 4+, Chrome */
    background: -webkit-linear-gradient(top, #363636 0%, #4a4a4a 100%);
    /* Chrome 10+, Saf5.1+ */
    background: -moz-linear-gradient(top, #363636 0%, #4a4a4a 100%);
    /* FF3.6+ */
    background: -ms-linear-gradient(top, #363636 0%, #4a4a4a 100%);
    /* IE10 */
    background: -o-linear-gradient(top, #363636 0%, #4a4a4a 100%);
    /* Opera 11.10+ */
    background: linear-gradient(to bottom, #363636 0%, #4a4a4a 100%);
}


.navbar-header.navbar-brand a,
.nav.navbar-nav li a{
    text-decoration: none;
    color: #ffffff;
}

.nav.navbar-nav li a:hover {
    text-decoration: none;
    color: #cccccc;
}

.nav.navbar-nav li ul li a{
    text-decoration: none;
    color: #444;
}

.nav.navbar-nav li ul li a:hover{
    text-decoration: none;
    color: #0f0f0f;
}

.navbar-fixed-top {
    position:absolute;
    top:107px;
    height:80px;
    /*margin-top: 107px;*/
    /*position: relative;*/
}

.navbar-fixed-top.ui-scrollpoint {
   position: fixed;
   top:0;
}

.navbar-fixed-bottom {
    /*margin-bottom: 0;*/
}

header {
    margin: 21px 0;
}
header img {
    width: 60%;
}

.footer {
    bottom: 0;
    color: #FFF;
    background-color: #123E57;
    padding:25px 0;
}
.footer ul {
    text-align: center;
}
.footer ul li a {
    color: #FFF;
}

.top-offset-tiny {
    margin-top: 5px;
}
.top-offset-xss {
    margin-top: 15px;
}
.top-offset-xs {
	margin-top: 25px;
}
.top-offset-sm {
	margin-top: 50px;
}
.top-offset-md {
	margin-top: 100px;
}
.top-offset-lg {
	margin-top: 185px;
}
.bottom-offset-xs {
	margin-bottom: 25px;
}
.bottom-offset-sm {
	margin-bottom: 50px;
}
.bottom-offset-md {
	margin-bottom: 100px;
}

.min-width-xs {
    min-width: 50px;
}
.min-width-sm {
    min-width: 100px;
}
.min-width-md {
    min-width: 150px;
}
.min-width-lg {
    min-width: 200px;
}
.min-width-xl {
    min-width: 225px;
}
.min-width-xxl {
    min-width: 250px;
}
.min-width-xxxl {
    min-width: 275px;
}

.max-height-xs {
    max-height: 230px;
}
.max-height-sm {
    max-height: 500px;
}
.max-height-md {
    max-height: 750px;
}
.max-height-lg {
    max-height: 1000px;
}

.row-blue {
    background-color: #2A71A5;
    height:29px;
}

.contain-to-grid {
    width: 100%;
    margin-bottom: -50px;
}

.top-bar-section {
    left: 0;
    margin-top: 5px;
    margin-right: 30%;
    position: relative;
    width: auto;
    transition: left 300ms ease-out;
}

.top-bar-section ul {
    display: block;
    font-size: 13px;
    height: auto;
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
}

.top-bar-section .divider,
.top-bar-section [role="separator"] {
    border-top: solid 1px #ffffff;
    clear: both;
    height: 29px;
    width: 100%;
}

.top-bar-section ul li > a {
    text-decoration: none;
    color: #ffffff;
    display: block;
    font-weight: bold;
    text-transform: none;
    width: 100%;
}

.top-bar-section ul li > a:hover {
    color: #cccccc;
    text-decoration: none;
}

.checkbox .btn,
.checkbox-inline .btn {
    padding-left: 2em;
    min-width: 8em;
}

.checkbox-inline {
    margin-top: -5em;
    margin-left: -2.5em;
}

.checkbox label,
.checkbox-inline label {
    text-align: left;
    margin-top: -0.4em;
}

.checkbox-info, .checkbox-circle {}

.footer-fixed {
    margin-top: 5%;
}

/* large modal window */
@media screen and (min-width: 768px) {
    #adv-org-search-modal  {
        top: 5%;
        right: 50%;
        max-width: 1320px;
        /*max-height: 1080px;*/
    }

    .modal-body {
        max-width: 1350px;
        margin-left: 5px;
        overflow: auto;
    }
}

form label {
    font-size: 12px;
}


.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
}

.dropdown-menu li a:hover, a.hand-hover:hover {
    cursor: pointer;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}


/* New UI Overrides */
header .sub-title {
    font-size: large;
    font-weight: bold;
    margin-left: 69px;
}

body {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 12px;
    color: #444;
}

.body-container {
    background: #fff;
    width: 100%;
    padding-bottom: 30px;
    min-height: 400px;
}

.header-logo {
    height: 215px;
    background: #fff;
    width: 100%;
}

.nav {
    font-size: 14px;
}

.nav.nav-stacked > li {
    border-bottom: 1px solid #DDD;
    margin: 0;
}

.nav.nav-stacked > li > a {
    padding: 5px 15px;
}

.nav > li > a {
    padding: 15px 10px;
}

.sidebar {
    margin-left: -20px;
    padding:5px;
}

.sidebar .panel-heading {
    background: #2A71A5;
}

.sidebar .panel-title, .nav-stacked {
    font-size: 12px;
    color: #FFF;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

form {
    line-height: 1em;
    padding: 0 5px;
}

form.width-normal {
    width: 100%;
}

.control-label {
    color: #444;
}

.control-label.radio-line {
    padding-right: 10px;
    font-weight: normal;
}

.control-label.left {
    text-align: left;
}

.form-control  {
    font-size: 12px;
}

.col-lg-1, .col-lg-10,
.col-lg-11, .col-lg-12,
.col-lg-2, .col-lg-3,
.col-lg-4, .col-lg-5,
.col-lg-6, .col-lg-7,
.col-lg-8, .col-lg-9,
.col-md-1, .col-md-10,
.col-md-11, .col-md-12,
.col-md-2, .col-md-3,
.col-md-4, .col-md-5,
.col-md-6, .col-md-7,
.col-md-8, .col-md-9,
.col-sm-1, .col-sm-10,
.col-sm-11, .col-sm-12,
.col-sm-2, .col-sm-3,
.col-sm-4, .col-sm-5,
.col-sm-6, .col-sm-7,
.col-sm-8, .col-sm-9,
.col-xs-1, .col-xs-10,
.col-xs-11, .col-xs-12,
.col-xs-2, .col-xs-3,
.col-xs-4, .col-xs-5,
.col-xs-6, .col-xs-7,
.col-xs-8, .col-xs-9 {
    padding-right: 5px;
    padding-left: 10px;
}

/**
 * @file
 * Columns with automatic width, similar to .col-xs-1 and friends.
 */

.col-xs-auto, .col-xs1-auto, .col-sm-auto, .col-md-auto, .col-lg-auto,
.col-xs-auto-right, .col-xs1-auto-right, .col-sm-auto-right, .col-md-auto-right, .col-lg-auto-right,
.col-middle {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.col-middle {
    display: table;
}

.col-xs-auto {
    float: left;
}
.col-xs-auto-right {
    float: right;
}

@media (min-width: 480px) {
    .col-xs1-auto {
        float: left;
    }
    .col-xs1-auto-right {
        float: right;
    }
}

@media (min-width: 768px) {
    .col-sm-auto {
        float: left;
    }
    .col-sm-auto-right {
        float: right;
    }
}

@media (min-width: 992px) {
    .col-md-auto {
        float: left;
    }
    .col-md-auto-right {
        float: right;
    }
}

@media (min-width: 1200px) {
    .col-lg-auto {
        float: left;
    }
    .col-lg-auto-right {
        float: right;
    }
}

h1, h2 {
    font-size: 18px;
}

h4, h5, .panel-title {
    color: #2A71A5;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 13px;
}
.panel-title {
    font-size: 13px;
}
.panel-heading {
    padding: 6px 15px;
}

.panel-heading.white-heading {
    color: #FFF;
}

.glyphicon {
    font-size: 12px;
}

.form-horizontal .form-group {
    margin-right: -5px;
    margin-left: -5px;
    margin-bottom: 12px;
}
.form-horizontal .has-feedback .form-control-feedback {
    right: 5px;
}

.has-feedback .form-control  {
    padding-right: 30px;
}

.feedback-height-sm {
    line-height: 25px;
}

.input-group-addon {
    line-height: 1;
    padding: 3px 3px 3px 4px;
}

.input-sm, select.input-sm {
    height: 22px;
    padding: 2px 8px;
    border-radius: 6px;
}
.input-sm+.form-control-feedback {
    line-height: 2em;
}

.btn {
    padding: 3px 6px;
    font-size: 12px;
    font-weight: bold;
    height: 24px;
    margin-bottom:3px;
}

.btn-default {
    font-weight: normal;
}

.btn-toolbar {
    margin-top: 2px;
    margin-left: 0px;
    margin-bottom: 2px;
}

.btn-toolbar span.pad-height {
    line-height: 2.5em;
    font-size: 11px;
}

.btn-toolbar > .btn-no-left-margin {
    margin-left: 0;
}

.btn-left-margin {
    margin-left: 5px;
}

.checkbox.checkbox-info, .checkbox.checkbox-circle {
    margin: 0;
    padding-top: 4px;
    min-height: 15px;
}

.checkbox-info input[type=checkbox], .checkbox-circle input[type=checkbox] {
    position: relative;
    padding:0;
    margin: 6px 0 0 -20px;
}

.ui-grid-pager-panel {
    border-top: 1px solid #d4d4d4;
    background: #f4f4f4;
}

.ui-grid-row .ui-grid-cell, .ui-grid-row:last-child .ui-grid-cell {
    border-bottom: 1px solid #EEE;
    border-bottom-width: 1px !important; /* Remove '!important' once known CSS bug in angulur ui grid is fixed */
}

.ui-grid-row:nth-child(odd):hover .ui-grid-cell, .ui-grid-row:nth-child(even):hover .ui-grid-cell {
    background:#2A71A5;
    color: #FFF;
}

.ui-grid-row:nth-child(odd):hover .ui-grid-cell .ui-grid-cell-contents a, .ui-grid-row:nth-child(even):hover .ui-grid-cell .ui-grid-cell-contents a {
    color: #FFF;
}

.ui-grid-cell {
    line-height: 1em;
    height: 22px !important;
}

div.ui-grid-cell .ui-grid-datepicker [ng-click="select(null)"] {
    display: none;
}

.datepicker ul.dropdown-menu table {
    outline: none;
    margin-right: 5px;
    margin-left: 3px;
}

div.ui-grid-cell .ui-grid-datepicker {
   padding-left: 10px;
}

div.ui-grid-cell .ui-grid-datepicker input {
    background: none;
    border: none;
    margin: 1px 0 0 5px;
    border-bottom: 1px dashed #2b542c;
    width: 80px;
    text-align: center;
}

div.ui-grid-cell .ui-grid-datepicker input:hover {
    cursor: pointer;
}

.no_edit div.ui-grid-cell .ui-grid-datepicker input {
    border-bottom: none;
}

.no_edit div.ui-grid-cell .ui-grid-datepicker .glyphicon-edit {
    display: none;
}
.no_edit div.ui-grid-cell .ui-grid-datepicker input:hover {
    cursor: default;
}


.grid-medium-cell .ui-grid-cell {
    line-height: 1em;
    height: 35px !important;
}

.grid-large-cell .ui-grid-cell {
    line-height: 1em;
    height: 110px !important;
}

.grid-large-cell .ui-grid-row:nth-child(odd):hover .ui-grid-cell, .grid-large-cell .ui-grid-row:nth-child(even):hover .ui-grid-cell,

.grid-medium-cell .ui-grid-row:nth-child(odd):hover .ui-grid-cell, .grid-medium-cell .ui-grid-row:nth-child(even):hover .ui-grid-cell {
    background:#bbb;
    color: darkblue;
}

.grid-large-cell .ui-grid-row:nth-child(even) .ui-grid-cell,
.grid-medium-cell .ui-grid-row:nth-child(even) .ui-grid-cell {
    background: #fdfdfd;
}

.grid-large-cell .ui-grid-row .ui-grid-cell.ui-grid-row-header-cell,
.grid-medium-cell .ui-grid-row .ui-grid-cell.ui-grid-row-header-cell {
    background-color: #fdfdfd;
}

.expandableRow {
    border-bottom: 1px solid #EEE;
    margin-top: 2px !important;
}

.ui-grid-cell .btn {
    margin: 0 auto;
    padding: 0 6px;
}

.ui-grid-sort-priority-number {
  font-size: 0;
}

div.ui-grid-cell input[type="checkbox"] {
    margin-top: 0;
}

.form-text {
    padding-top: 7px;
}

td > .form-text {
    padding-top: 5px;
}

.form-file-upload {
    padding-top: 5px;
}

.popover {
    color: #444;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 12px;
}

.popover.popover-sm {
    font-size: 11px;
    width: 100%;
}

.comment-modal {
  z-index: 1;
  position: relative;
  width: 480px;
  min-height: inherit;
}

.glyphicon.glyphicon-comment {
    font-size: 22px;
}
.glyphicon.glyphicon-ok.glyphicon-green {
    color: #3c763d;
}
.glyphicon.glyphicon-exclamation-sign.glyphicon-red {
    color: #a94442;
}

.md-sidenav-right {
    z-index: 9999;
    width: 350px;
    word-wrap: break-word;
}

.btn-toolbar ng-md-icon {
    height: 13px;
    width: 12px;
}

input[type=radio] {
    margin: 0;
}

.ngCellText {
    text-overflow: ellipsis;
    overflow: hidden;
    word-wrap: normal;
    white-space: nowrap;
    padding:5px;
    width:99%;
}

.modal-header .close {
    margin-top: -10px;
}

.drop-shadow {
    border: 1px solid transparent;
    box-shadow: 2px 2px 10px #E1E1E1;
    border-radius: 6px;
}

.no-bottom-margin, .form-group.no-bottom-margin {
    margin-bottom: 0;
}

.no-padding, .sidebar .panel-body {
    padding: 0;
}

/* override the md-backdrop grey overlay/backdrop to make the content visible */
md-backdrop.md-opaque {
    opacity: .18; }
md-backdrop.md-opaque.ng-enter {
    opacity: 0; }
md-backdrop.md-opaque.ng-enter.md-opaque.ng-enter-active {
    opacity: .18; }
md-backdrop.md-opaque.ng-leave {
    opacity: .18;
    transition: opacity 400ms; }
md-backdrop.md-opaque.ng-leave.md-opaque.ng-leave-active {
    opacity: 0; }

/* for the comment push-in panel */
.md-sidenav-push-in .md-sidenav-push-in-target {
    transform: translate(0px);
    transition: all 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.md-sidenav-push-in.md-sidenav-left-open .md-sidenav-push-in-target {
    transform: translate(55px);
}
.md-sidenav-push-in.md-sidenav-right-open .md-sidenav-push-in-target {
    transform: translate(-55px);
}

.form-group.required .control-label:after{
    color: #a94442;
    content: "*";
    position: absolute;
    margin-right: -13px;
}

.nonselectable-row {
    background-color: rgba(255, 69, 0, 0.1) !important;
}
.nonselectable-row, .nonselectable-row a {
    color: #444 !important;
}

.form-horizontal .has-feedback .select-feedback {
    /* margin-top: 20px; */
    right: 15px;
}

.ui-grid-cell.action-btn {
    overflow: visible;
    text-align: center;
}

.ctrp-md-panel-header {
    background-color: #337ab7 !important;
    font-size: 18px !important;
}

.add-association-error {
    color: #a94442;
    margin-bottom: 10px;
}

fieldset.sub-bordered {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}
legend.sub-bordered {
    font-size: 1em !important;
    font-weight: bold !important;
    text-align: left !important;
    width:auto;
    padding:0 10px;
    border-bottom:none;
}

.editable-click,
a.editable-click,
a.editable-click:hover {
    text-decoration: none;
    border-bottom: dashed 1px #0088cc;
}

.search-calendar-grid {
    min-height: 310px;
}

.search-calendar-grid-sm {
    min-height: 210px;
}

.select2-results-absolute .select2-results {
    position: absolute;
    width: 225%;
    background: #FFF;
    border: 1px solid #DDD;
    border-radius: 5px;
    padding: 5px;
}

.select2-results-absolute .select2-search {
    padding-bottom: 4px;
}

.top-buffer { margin-top:10px; }

h5.border-bottom {
    color: #2A71A5;
    margin-top: 30px;
    border-bottom: 1px solid #E6E6E6;
}

span.date-qualifier {
    margin-left: 20px;
}

textarea.resize-vertical {
    resize: vertical;
}

md-checkbox .md-icon {
    background: clear;
}
md-checkbox.md-default-theme.md-checked .md-icon {
    background: blue;
}
.text-vmiddle {
    display: inline-block;
    vertical-align: middle;
}

/* Angular Material Overrides */
.md-layout-column > .flex-33, .md-layout-column > .flex-34, .md-layout-column > .flex-33, .md-layout-column > .flex-34 {
  flex: 0 0 auto;
}

.md-tab {
    font-size: 13px;
    text-transform:capitalize;
}

a.btn-file {
    color: #fff;
    width: 110px;

}
a.btn-file:hover {
    text-decoration:none;
    cursor: pointer;
}
.label-info {
    color: #555;
    background: #eee;
    font-weight: normal;
    display: inline-flex;
    width: 150px;
    text-align: left;
    border-radius: 0px 5px 5px 0px;
    -moz-border-radius: 0px 5px 5px 0px;
    -webkit-border-radius: 0px 5px 5px 0px;
    border-left-width: 0;
    padding: 4px 8px 6px 3px;
    font-size: 12px;
    overflow-y: hidden;
}


.td-icon {
    width: 45px;
    vertical-align: middle !important;
}

.td-time {
    min-width: 6%;
}
.td-name {
    min-width: 5%;
}

body.identification  a.menu-identification,
body.history a.menu-history,
body.milestone a.menu-milestone,
body.onhold a.menu-onhold,
body.view-tsr a.menu-view-tsr,
body.assign-ownership a.menu-assign-ownership,
body.check-out-history a.menu-check-out-history,
body.raw-json-trial-data a.menu-raw-json-trial-data,
body.general-trial-details a.menu-general-trial-details,
body.reg-fda a.menu-reg-fda,
body.regulatory-info-human-subject-safety a.menu-regulatory-info-human-subject-safety,
body.reg-ind a.menu-reg-ind,
body.trial-status a.menu-trial-status,
body.funding a.menu-funding,
body.participating-sites a.menu-participating-sites,
body.collaborators a.menu-collaborators,
body.trial-related-documents a.menu-trial-related-documents,
body.nci-info a.menu-nci-info,
body.trial-email-logs a.menu-email-logs,
body.trial-design a.menu-trial-design,
body.interventions a.menu-interventions,
body.trial-description a.menu-trial-description,
body.trial-outcome-measures a.menu-trial-outcome-measures,
body.eligibility-critiera a.menu-eligibility-critiera,
body.associated-trials a.menu-associated-trials,
body.disease a.menu-disease,
body.anatomic-sites a.menu-anatomic-sites,
body.bio-markers a.menu-bio-markers,
body.arms-groups a.menu-arms-groups,
body.submission-validation a.menu-submission-validation,
body.abstraction-validation a.menu-abstraction-validation,
body.trial-sub-groups a.menu-trial-sub-groups {
    background: #eee;
    color: #555;
    font-weight:bold;
    border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    cursor: default;
}


body.trial-related-documents #trial-doc-upload {
    width: 100%;
    text-align:left;
}


.td-icon  .btn {
    height: 20px;
    padding: 2px 5px;
    margin-bottom: 0;
}
th.td-icon .btn {
    height: 15px;
    padding: 0px 2px 5px 2px;
    margin-bottom: 0;
    font-size: .8em;
}
.input-sm, select.input-sm, input[type="text"].form-control {
    height: 24px;
}

.remove-bottom-margin {
    margin-bottom: 0;
}
ul.trial-comments li {
    padding-top: 10px;
}
ul.trial-comments li textarea {
    font-size: 12px !important;
    height: 60px !important;
    line-height: 1.3 !important;
    border: 1px dashed #ddd;
    border-width: 1px !important;
    padding: 0 5px !important;
    border-radius: 5px 5px 5px 5px !important;
    -moz-border-radius: 5px 5px 5px 5px !important;
    -webkit-border-radius: 5px 5px 5px 5px !important;
}
ul.trial-comments li md-input-container{
    padding-bottom: 0;
}

ul.trial-comments li .md-button.btn {
    text-transform: none;
    color: #fff;
    min-height: 24px;
    min-width: 70px;
}
ul.trial-comments li:hover{
    background: transparent;
}

ul.trial-comments li .md-button.btn-primary:hover {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,207cca+51,7db9e8+100;Blue+Gloss+Default */
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(top,  #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}

ul.trial-comments li .md-button.btn-warning:hover {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffaf4b+0,ff920a+100;Orange+3D+%231 */
    background: #ffaf4b; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffaf4b 0%, #ff920a 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ffaf4b 0%,#ff920a 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ffaf4b 0%,#ff920a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a',GradientType=0 ); /* IE6-9 */
}

input[type="file"] {
    display: inline;
}

uib-accordion form.form-horizontal {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1300px;
}

md-tabs.md-dynamic-height md-tab-content.md-active {
    padding-top: 20px;
}
md-tabs .md-tab.md-active, md-tabs .md-tab.md-focused {
    color: blue;
}

div.datepicker {
    max-width: 150px;
}

.sign_in .panel-body {
    padding-bottom: 0;
}

.item, .placeholder {
    padding: 2px;
    width: 50px;
    height: 20px;
    border: 1px solid #333;
    background: #EEE;
}
.placeholder {
    background: #AEF;
}

.popover-wide {
    color: #444;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1060;
    overflow: auto;
    display: none;
    max-width: 550px;
    padding: 1px;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size:12px;
    font-weight: normal;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.popover-wide .top {
    margin-top: -10px;
}

.popover-wide > .arrow {
    border-width: 11px;
}

.popover-wide > .arrow, .popover-wide >
.arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;

}

.popover-wide .top > .arrow {
    bottom: -11px;
    left: 50%;
    margin-left: -11px;
    border-top-color: #999;
    border-top-color: rgba(0, 0, 0, 0.25);
    border-bottom-width: 0;
}

.popover-confirm {
    width: 300px;
    padding-bottom: 10px;
}
.popover-confirm .popover-message {
    margin-bottom:3px;
}
.popover-confirm .form-actions {
    text-align: right;
}

/* For validation within Angular ui-select elements */
.select2-results-absolute.has-error a {
    border-color: #a94442;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.sign_up .panel, .welcome_signup .panel {
    max-width: 500px;
}

.sign_up form {
    width:100%;
}

.sign_up .centered-form, .welcome_signup .centered-form{
    padding: 1% 0;
}

.sign_up #password_confirm {
    font-family: inherit;
}
.sign_up fieldset legend {
    border: none;
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 7px;
}
.sign_up fieldset label {
    font-weight: normal;
}

.sign_up .input-group label {
    width: 100px;
    text-align: right;
    margin-right: 10px;
}

ul.csv {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul.csv li {
    display: inline;
}
ul.csv li:after {
    content: ",";
}
ul.csv li:last-child:after {
    content: "";
}

div[disabled] {
    display:none;
}

.modal-body {
    overflow: visible;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-move {
    cursor: move;
}

.small-header-text {
    font-size: 75%;
}

.st-sort-ascent:before{
    content: '\25B2';
}

.st-sort-descent:before{
    content: '\25BC';
}

.show-form-errors .ng-invalid, .show-form-errors .help-block {
    border-color: #a94442;
    border-width: 1px;
}
.cellbg-green {
    color: green;
}
.cellbg-red {
    color: red;
}

.ctrptransferselect label {
    margin: 10px;
}

.ctrptransferselect .btn {
    margin-left: 5px;
}

.ctrptransferselect .pool {
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 5px;
    height: 300px;
    overflow-y: scroll;
}

.ctrptransferselect .pool ul {
    list-style: none;
    padding-left: 0px;
}

.ctrptransferselect .pool ul li {
    width: 100%;
    padding: 4px 8px 4px 4px;
    border-bottom: 1px dotted #CFCFCF;
    font-size: 12px;
    padding: 3px 15px 3px 3px;
}

.ctrptransferselect .pool ul li a:hover {
    text-decoration: none;
}
.ctrptransferselect .pool ul li:hover {
    background: #ebf2f9;
}
.ctrptransferselect .select-content {
    margin-bottom: 20px;
    margin-top: 20px;
}

.ctrptransferselect .ms-col0 {
    width: 20px;
    float: left;
}

.ctrptransferselect .ms-col1, .ctrptransferselect .ms-col5 {
    float: left;
}
.ctrptransferselect .ms-col2, .ctrptransferselect .ms-col6 {
    float: right;
}
.ctrptransferselect .ms-col5 {
    padding-left: 20px;
 }
.ctrptransferselect .ms-col3, .ctrptransferselect .ms-col7 {
    width: 99%;
    padding-left: 20px;
    float: left;
}
.ctrptransferselect a span.ms-col1, .ctrptransferselect a span.ms-col5 {
    color: #666;
    font-weight:bold;
}
.ctrptransferselect a span.ms-col6 {
    color: #666;
    padding-left: 20px;
}
.ctrptransferselect input.search-term {
    width: 99%;
}

.transferTrials {
    width: 100%;
}
.transferTrials .modal-dialog {
    width: 90% !important;
    max-width: 1000px;
}

.assign-trial-ownership h2 {
    padding-left: 10px;
}

.assign-trial-ownership .popover-confirm .btn-toolbar, .user-detail .popover-confirm .btn-toolbar, .assign-ownership .popover-confirm .btn-toolbar {
    padding-right:10px;
}

.assign-trial-ownership .ctrptransferselect .pool {
    height: 400px;
}

.dir-modal-body .ctrptransferselect {
    margin: 10px 20px;
}

.reg-users-details label {
    padding-left: 0;
}

.has-error .form-control.no-validate {
    border-color: #CCC;
}

/* Center modal vertically as much as possible */
.modal-center .modal-dialog {
    position: absolute;
    left: 0;
    right: 0;
    top: 45%;
    bottom: 50%;
    margin: auto;
}

/* Set modal to mimic default browser look/feel */


.modal-default .modal-header {
    padding: 10px;
    background-color: #D5D5D5;
    border-bottom: 1px solid #BEBEBE;
}

.modal-default .modal-body, .modal-default .modal-footer {
    background-color: #ECECEC;
    color: #000;
    border: none;
    margin: 0;
}

.modal-default .btn {
    border: 1px solid #CBCBCB;
    color: #000;
    background-color: #FEFEFE;
    font-weight: normal;
}

.tooltip-footer {
    padding-top: 10px;
}

.tooltip-footer button {
   margin-left:10px;
}

body.trial-abstraction-list .completion-date-comments {
    margin-top:10px;
    width: 243px;
    height: 100px;
    border-color: #ddd;
}
body.trial-abstraction-list .date-radio {
    width: 70px;
    text-align: center;
    float: left;
}
body.trial-abstraction-list .date-radio-group{
    float: left;
}
body.trial-abstraction-list .date-radio-label {
    width: 250px;
    float: left;
}

body.sign_up .sign_up_form {
    max-width:650px;
    margin: 0 auto;
}

body.sign_in .sign_in_form, .welcome_signup_panel {
    max-width: 365px;
    margin: auto;
}

body.sign_up .sign_up_form .modal-body {
    padding-top: 30px;
}

body.sign_up .sign_in_form .modal-body, .welcome_signup_panel .modal-body {
    padding: 30px 0 30px 0;
    margin-left: 0;
    margin-right: 0;
}

.welcome_signup_panel .modal-body {
     padding-top: 20px;
}

body.sign_up .dir-modal-body {
    padding: 5%;
}

body.sign_up > .modal-content > .modal-body {
    padding-top: 20px;
}

body.sign_up .row-captcha > div {
    float: right;
}

body.sign_up .row-captcha re-captcha {
    transform:scale(0.88);
    -webkit-transform:scale(0.88);
    transform-origin:0 0;
    -webkit-transform-origin:0 0;
    width: 245px;
    height: 78px;
    margin-right: 1%;
}

body.sign_up .help-block {
    padding-left: 110px;
}

body.sign_up .row-captcha .help-block {
    padding-left: 0;
}

body.sign_in .input-group {
    width: 60%;
}

body.sign_in form {
    padding: 3% 1%;
}

body.sign_in .input-sm, body.sign_up .input-sm {
    -webkit-border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-bottomleft: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 80%;
}

body.sign_up .input-sm {
    width: 99%;
}

body.sign_in label {
    width: 36%;
    line-height: 28px;
    text-align: right;
    padding-right: 10px;
}

body.sign_in .input-group-addon {
    width: 23px;
}

#typeAheadResults .btn-danger .glyphicon {
    padding: 2px 6px 3px 3px;
}

body.sign_in .form-horizontal .form-group,
body.sign_up .welcome_signup_panel .modal-body .welcome-content {
    max-width: 305px;
    margin: 0 auto;
}
/*padding: 10px 20px 30px 30px;*/
body.sign_in .form-horizontal .btn-toolbar {
    width: 100%;
    margin-top: 12px;
}

body.sign_in .btn-toolbar .pull-left {
    width: 50%;
}

body.sign_in .btn-toolbar span.pad-height {
    line-height: 1.3em;
}

body.sign_up .input-group-addon {
    width: 5px;
}

body.users #typeAheadResults {
    padding-top: 5px;
}

.crn-rounded {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    float: right;
    margin: -1% 3px 0 10px;
    padding: 3px 0 2px 3px;
}

.ui-select-auto-width .ui-select-multiple input.ui-select-search {
  width: auto !important;
}

body.assign-trial-ownership .drop-shadow {
    padding-top: 10px;
}

body.assign-ownership .owners-list .ui-grid-pager-container, body.assign-ownership .owners-list .ui-grid-pager-count-container {
    visibility: hidden;
}

body.assign-ownership .add-owner-section .add-buttons {
    margin-right: 20px;
}

body.assign-ownership #user_list_admin_priv, body.assign-ownership #user_list_status {
    display: none;
}

.user-list-search-results {
    margin-right: 10px;
}

.edit-off .ui-grid-row:nth-child(odd):hover .ui-grid-cell.ui-grid-row-header-cell,
.edit-off .ui-grid-row:nth-child(even):hover .ui-grid-cell.ui-grid-row-header-cell {
    background: #eee;
}

.edit-off .ui-grid-selection-row-header-buttons.ui-grid-icon-ok {
    display: none;
}


body.trial-abstraction-search .pila {
    width: 200px;
    padding-left: 10px;
    padding-right: 5px;
    display: inline;
    text-align: right;
}
body.trial-abstraction-search #submission_date_range .datepicker {
    margin-right: 10px;
}

body.trial-abstraction-search .form-horizontal label.control-label.checkbox3 {
    display: inline;
}

.text-block {
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    color: #428bca;
    font-size: 12px;
}


/* firefox only*/
@-moz-document url-prefix() {
    #typeAheadResults {
        float: right;
    }
    #typeAheadResults .btn-danger .glyphicon {
        padding: 0 6px 0 2px;
    }
}
