@media (min-width: 992px) {
    .modal-lg {
        width: 975px;
    }
}

@media (min-width: 1200px) {
    .modal-lg {
        width: 1175px;
    }
}

@media screen and (min-width: 1300px) {
    .container {
        width: 1270px;
    }

    .modal-lg {
        width: 1250px;
    }
}

@media screen and (min-width: 1400px) {
    .container {
        width: 1370px;
    }
}

@media screen and (min-width: 1500px) {
    .container {
        width: 1470px;
    }

    .drop-shadow form {
        width: 75%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1600px) {
    .container {
        width: 1570px;
    }
}

@media screen and (min-width: 1700px) {
    .container {
        width: 1670px;
    }
}

@media screen and (min-width: 1800px) {
    .container {
        width: 1770px;
    }

    .drop-shadow form {
        width: 65%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1900px) {
    .container {
        width: 1870px;
    }
}

@media screen and (min-width: 2000px) {
    .container {
        width: 1970px;
    }
}

@media screen and (min-width: 2100px) {
    .container {
        width: 2070px;
    }

    .drop-shadow form {
        width: 55%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 2200px) {
    .container {
        width: 2170px;
    }
}

@media screen and (min-width: 2300px) {
    .container {
        width: 2270px;
    }
}

@media screen and (min-width: 2400px) {
    .container {
        width: 2370px;
    }
}

.col-border {
    margin-top: 10px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -webkit-transition: margin-left 0.3s linear;
    -moz-transition: margin-left 0.3s linear;
    transition: margin-left 0.3s linear;
}

/*
.ui-grid, .ui-grid-viewport {
  height: auto !important;
}
*/

.ui-grid-contents-wrapper {
    margin-bottom: 32px;
}

.grid {
    width: 100%;
    height: 550px;
}

.ui-grid-header-cell .ui-grid-cell-contents {
    line-height: 1em;
    padding: 6px 5px;
    white-space: normal;
    -ms-text-overflow: clip;
    -o-text-overflow: clip;
    text-overflow: clip;
    overflow: visible;
}

.tooltip-uigrid {
    word-wrap: normal;
}

/* Overriding default table classes */

.table-bordered {
    margin-bottom: 13px;
    color: #003f59;
}
/*
.table-bordered > thead >tr > td, .table-bordered > thead > tr > th {
    border-bottom-width: 1px;
    background: #f3f3f3;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(1, #ffffff));
    background: -ms-linear-gradient(bottom, #eeeeee, #ffffff);
    background: -moz-linear-gradient(center bottom, #eeeeee 0%, #ffffff 100%);
    background: -o-linear-gradient(#ffffff, #eeeeee);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0);
    -webkit-border-top-right-radius: -1px;
} commented out by peter temporaririly for table over-ride */

.table-bordered > tbody > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > thead > tr > th {
    line-height: 1em;
    padding: 3px 5px;
    height: 22px;
    white-space: normal;
    -ms-text-overflow: clip;
    -o-text-overflow: clip;
    text-overflow: clip;
    overflow: visible;
    border: 1px solid #D4D4D4;
}
.table-bordered > thead > tr > th.nowrap {
    white-space: nowrap;
}

.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td,
.table-bordered > thead > tr > td {
    vertical-align: middle;
}

.table-bordered > thead > tr > td {
    height: 22px;
}
.table > thead > tr > th  {
    vertical-align:top;
}
.table .btn, .input-group-btn .btn {
    line-height: 1em;
}

.table-striped > tbody > tr.edit-selected {
    background-color: #DDEBF7;
}
.table-striped.table-condensed textarea.form-control {
    height: 50px;
}
.animated-item {
    -webkit-transition: all linear 0.5s;
    -o-transition: all linear 0.5s;
    transition: all linear 0.5s;
}

.animated-item.ng-enter {
    opacity: 0;
}
/*.animated-item.ng-enter-stagger {*/
    /*/!*-webkit-transition-delay: 0.5s;*!/*/
    /*/!*-moz-transition-delay: 0.5s;*!/*/
    /*/!*-ms-transition-delay: 0.5s;*!/*/
    /*/!*-o-transition-delay: 0.5s;*!/*/
    /*transition-delay: 0.5s;*/
    /*transition-duration: 0;*/
/*}*/
.animated-item.ng-enter-active {
    opacity: 1;
}
.animated-item.ng-leave {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.0s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.0s;
    -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.0s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.0s;
    transition-duration: 0.9s;
    opacity: 0.8;
}

.animated-item.ng-leave-active {
    opacity: 0;
}

.deleted-text {
    color:red;
    text-decoration:line-through;
}

.nav-search-bar {
    background: #363636;
    /* fallback */
    /*background: -webkit-gradient(left top, left bottom, color-stop(0%, #363636), color-stop(100%, #4a4a4a));*/
    /* Safari 4+, Chrome */
    background: -webkit-linear-gradient(top, #363636 0%, #4a4a4a 100%);
    /* Chrome 10+, Saf5.1+ */
    background: -moz-linear-gradient(top, #363636 0%, #4a4a4a 100%);
    /* FF3.6+ */
    background: -ms-linear-gradient(top, #363636 0%, #4a4a4a 100%);
    /* IE10 */
    background: -o-linear-gradient(top, #363636 0%, #4a4a4a 100%);
    /* Opera 11.10+ */
    background: linear-gradient(to bottom, #363636 0%, #4a4a4a 100%);
}


.navbar-header.navbar-brand a,
.nav.navbar-nav li a{
    text-decoration: none;
    color: #ffffff;
}

.nav.navbar-nav li a:hover {
    text-decoration: none;
    color: #cccccc;
}

.nav.navbar-nav li ul li a{
    text-decoration: none;
    color: #444;
}

.nav.navbar-nav li ul li a:hover{
    text-decoration: none;
    color: #0f0f0f;
}

.navbar-fixed-top {
    position:absolute;
    top:107px;
    height:80px;
    /*margin-top: 107px;*/
    /*position: relative;*/
}

.navbar-fixed-top.ui-scrollpoint {
   position: fixed;
   top:0;
}

.navbar-fixed-bottom {
    /*margin-bottom: 0;*/
}

header {
    margin: 21px 0;
}
header img {
    width: 60%;
}

.footer {
    bottom: 0;
    color: #FFF;
    background-color: #123E57;
    padding:25px 0;
}
.footer ul {
    text-align: center;
}
.footer ul li a {
    color: #FFF;
}

.top-offset-tiny {
    margin-top: 5px;
}
.top-offset-xss {
    margin-top: 15px;
}
.top-offset-xs {
	margin-top: 25px;
}
.top-offset-sm {
	margin-top: 50px;
}
.top-offset-md {
	margin-top: 100px;
}
.top-offset-lg {
	margin-top: 185px;
}
.min-width-xs {
    min-width: 50px;
}
.min-width-sm {
    min-width: 100px;
}
.min-width-md {
    min-width: 150px;
}
.min-width-lg {
    min-width: 200px;
}

.row-blue {
    background-color: #2A71A5;
    height:29px;
}

.contain-to-grid {
    width: 100%;
    margin-bottom: -50px;
}

.top-bar-section {
    left: 0;
    margin-top: 5px;
    margin-right: 30%;
    position: relative;
    width: auto;
    transition: left 300ms ease-out;
}

.top-bar-section ul {
    display: block;
    font-size: 13px;
    height: auto;
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
}

.top-bar-section .divider,
.top-bar-section [role="separator"] {
    border-top: solid 1px #ffffff;
    clear: both;
    height: 29px;
    width: 100%;
}

.top-bar-section ul li > a {
    text-decoration: none;
    color: #ffffff;
    display: block;
    font-weight: bold;
    text-transform: none;
    width: 100%;
}

.top-bar-section ul li > a:hover {
    color: #cccccc;
    text-decoration: none;
}

.checkbox .btn,
.checkbox-inline .btn {
    padding-left: 2em;
    min-width: 8em;
}

.checkbox-inline {
    margin-top: -5em;
    margin-left: -2.5em;
}

.checkbox label,
.checkbox-inline label {
    text-align: left;
    margin-top: -0.4em;
}

.checkbox-info, .checkbox-circle {}

.footer-fixed {
    margin-top: 5%;
}

/* large modal window */
@media screen and (min-width: 768px) {
    #adv-org-search-modal  {
        top: 5%;
        right: 50%;
        max-width: 1320px;
        /*max-height: 1080px;*/
    }

    .modal-body {
        max-width: 1350px;
        margin-left: 5px;
        overflow: auto;
    }
}

form label {
    font-size: 12px;
}

/*#adv-org-search-modal .modal-dialog  {width:75%;}*/

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    /*margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;*/
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}


/* New UI Overrides */
header .sub-title {
    font-size: large;
    font-weight: bold;
    margin-left: 69px;
}

body {
    font-size: 12px;
    color: #444;
    font-family: 'Noto Sans', Arial, sans-serif;
}

.nav {
    font-size: 14px;
}

.nav.nav-stacked > li {
    border-bottom: 1px solid #DDD;
    margin: 0;
}

.nav.nav-stacked > li > a {
    padding: 5px 15px;
}

.sidebar {
    margin-left: -20px;
    padding:5px;
}

.sidebar .panel-heading {
    background: #2A71A5;
}

.sidebar .panel-title, .nav-stacked {
    font-size: 12px;
    color: #FFF;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

form {
    line-height: 1em;
    padding: 0 5px;
}

.control-label {
    color: #444;
}

.control-label.left {
    text-align: left;
}

.form-control  {
    font-size: 12px;
}

.col-lg-1, .col-lg-10,
.col-lg-11, .col-lg-12,
.col-lg-2, .col-lg-3,
.col-lg-4, .col-lg-5,
.col-lg-6, .col-lg-7,
.col-lg-8, .col-lg-9,
.col-md-1, .col-md-10,
.col-md-11, .col-md-12,
.col-md-2, .col-md-3,
.col-md-4, .col-md-5,
.col-md-6, .col-md-7,
.col-md-8, .col-md-9,
.col-sm-1, .col-sm-10,
.col-sm-11, .col-sm-12,
.col-sm-2, .col-sm-3,
.col-sm-4, .col-sm-5,
.col-sm-6, .col-sm-7,
.col-sm-8, .col-sm-9,
.col-xs-1, .col-xs-10,
.col-xs-11, .col-xs-12,
.col-xs-2, .col-xs-3,
.col-xs-4, .col-xs-5,
.col-xs-6, .col-xs-7,
.col-xs-8, .col-xs-9 {
    padding-right: 5px;
    padding-left: 10px;
}

h4, h5, .panel-title {
    color: #2A71A5;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 13px;
}
.panel-title {
    font-size: 13px;
}
.panel-heading {
    padding: 6px 15px;
}

.panel-heading.white-heading {
    color: #FFF;
}

.glyphicon {
    font-size: 12px;
}

.form-horizontal .form-group {
    margin-right: -5px;
    margin-left: -5px;
    margin-bottom: 12px;
}
.form-horizontal .has-feedback .form-control-feedback {
    right: 5px;
}

.feedback-height-sm {
    line-height: 25px;
}

.input-group-addon {
    line-height: 1;
    padding: 3px 3px 3px 4px;
}

.input-sm, select.input-sm {
    height: 22px;
    padding: 2px 8px;
    border-radius: 6px;
}
.input-sm+.form-control-feedback {
    line-height: 2em;
}

.btn {
    padding: 3px 6px;
    font-size: 12px;
    font-weight: bold;
    height: 24px;
    margin-bottom:3px;
}

.btn-default {
    font-weight: normal;
}

.btn-toolbar {
    margin-top: 2px;
    margin-left: 0px;
    margin-bottom: 2px;
}

.btn-toolbar span.pad-height {
    line-height: 2.5em;
    font-size: 11px;
}

.btn-toolbar > .btn-no-left-margin {
    margin-left: 0;
}

.btn-left-margin {
    margin-left: 5px;
}

.checkbox.checkbox-info, .checkbox.checkbox-circle {
    margin: 0;
    padding-top: 4px;
    min-height: 15px;
}

.checkbox-info input[type=checkbox], .checkbox-circle input[type=checkbox] {
    position: relative;
    padding:0;
    margin: 6px 0 0 -20px;
}

.ui-grid-pager-panel {
    border-top: 1px solid #d4d4d4;
    background: #f4f4f4;
}

.ui-grid-row .ui-grid-cell, .ui-grid-row:last-child .ui-grid-cell {
    border-bottom: 1px solid #EEE;
    border-bottom-width: 1px !important; /* Remove '!important' once known CSS bug in angulur ui grid is fixed */
}

.ui-grid-row:nth-child(odd):hover .ui-grid-cell, .ui-grid-row:nth-child(even):hover .ui-grid-cell {
    background:#2A71A5;
    color: #FFF;
}

.ui-grid-row:nth-child(odd):hover .ui-grid-cell .ui-grid-cell-contents a, .ui-grid-row:nth-child(even):hover .ui-grid-cell .ui-grid-cell-contents a {
    color: #FFF;
}

.ui-grid-cell {
    line-height: 1em;
    height: 22px !important;
}

.ui-grid-cell .btn {
    margin: 0 auto;
    padding: 0 6px;
}

.ui-grid-sort-priority-number {
  font-size: 0;
}

div.ui-grid-cell input[type="checkbox"] {
    margin-top: 0;
}

.form-text {
    padding-top: 7px;
}

.form-file-upload {
    padding-top: 5px;
}

.popover {
    color: #444;
}

.comment-modal {
  z-index: 1;
  position: relative;
  width: 480px;
  min-height: inherit;
}

.glyphicon.glyphicon-comment {
    font-size: 22px;
}
.glyphicon.glyphicon-ok.glyphicon-green {
    color: #3c763d;
}
.glyphicon.glyphicon-exclamation-sign.glyphicon-red {
    color: #a94442;
}

.md-sidenav-right {
    z-index: 9999;
    width: 350px;
    word-wrap: break-word;
}

.btn-toolbar ng-md-icon {
    height: 13px;
    width: 12px;
}

input[type=radio] {
    margin: 0;
}

.ngCellText {
    text-overflow: ellipsis;
    overflow: hidden;
    word-wrap: normal;
    white-space: nowrap;
    padding:5px;
    width:99%;
}

.modal-header .close {
    margin-top: -10px;
}

.drop-shadow {
    border: 1px solid transparent;
    box-shadow: 2px 2px 10px #E1E1E1;
    border-radius: 6px;
}

.no-bottom-margin, .form-group.no-bottom-margin {
    margin-bottom: 0;
}

.no-padding, .sidebar .panel-body {
    padding: 0;
}

/* override the md-backdrop grey overlay/backdrop to make the content visible */
md-backdrop.md-opaque {
    opacity: .18; }
md-backdrop.md-opaque.ng-enter {
    opacity: 0; }
md-backdrop.md-opaque.ng-enter.md-opaque.ng-enter-active {
    opacity: .18; }
md-backdrop.md-opaque.ng-leave {
    opacity: .18;
    transition: opacity 400ms; }
md-backdrop.md-opaque.ng-leave.md-opaque.ng-leave-active {
    opacity: 0; }

/* for the comment push-in panel */
.md-sidenav-push-in .md-sidenav-push-in-target {
    transform: translate(0px);
    transition: all 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.md-sidenav-push-in.md-sidenav-left-open .md-sidenav-push-in-target {
    transform: translate(55px);
}
.md-sidenav-push-in.md-sidenav-right-open .md-sidenav-push-in-target {
    transform: translate(-55px);
}

.form-group.required .control-label:after{
    color: #C53531;
    content: "*";
    position: absolute;
    margin-right: -13px;
}

.nonselectable-row {
    background-color: rgba(255, 69, 0, 0.1) !important;
}
.nonselectable-row, .nonselectable-row a {
    color: #444 !important;
}

.form-horizontal .has-feedback .select-feedback {
    /* margin-top: 20px; */
    right: 15px;
}

.ui-grid-cell.action-btn {
    overflow: visible;
    text-align: center;
}

.ctrp-md-panel-header {
    background-color: #337ab7 !important;
    font-size: 18px !important;
}

.add-association-error {
    color: #a94442;
    margin-bottom: 10px;
}

fieldset.sub-bordered {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}
legend.sub-bordered {
    font-size: 1em !important;
    font-weight: bold !important;
    text-align: left !important;
    width:auto;
    padding:0 10px;
    border-bottom:none;
}

.editable-click,
a.editable-click,
a.editable-click:hover {
    text-decoration: none;
    border-bottom: dashed 1px #0088cc;
}

.search-calendar-grid {
    min-height: 310px;
}

.search-calendar-grid-sm {
    min-height: 210px;
}

.select2-results-absolute .select2-results {
    position: absolute;
    width: 225%;
    background: #FFF;
    border: 1px solid #DDD;
    border-radius: 5px;
    padding: 5px;
}

.select2-results-absolute .select2-search {
    padding-bottom: 4px;
}

.top-buffer { margin-top:10px; }

h5.border-bottom {
    color: #2A71A5;
    margin-top: 30px;
    border-bottom: 1px solid #E6E6E6;
}

span.date-qualifier {
    margin-left: 20px;
}

textarea.resize-vertical {
    resize: vertical;
}

md-checkbox .md-icon {
    background: clear;
}
md-checkbox.md-default-theme.md-checked .md-icon {
    background: blue;
}

.text-vmiddle {
    display: inline-block;
    vertical-align: middle;
}

/* Angular Material Overrides */
.md-tab {
    font-size: 13px;
    text-transform:capitalize;
}

a.btn-file {
    color: #fff;
    width: 110px;

}
a.btn-file:hover {
    text-decoration:none;
    cursor: pointer;
}
.label-info {
    color: #555;
    background: #eee;
    font-weight: normal;
    display: inline-flex;
    width: 150px;
    text-align: left;
    border-radius: 0px 5px 5px 0px;
    -moz-border-radius: 0px 5px 5px 0px;
    -webkit-border-radius: 0px 5px 5px 0px;
    border-left-width: 0;
    padding: 4px 8px 6px 3px;
    font-size: 12px;
    overflow-y: hidden;
}


.td-icon {
    width: 45px;
    vertical-align: middle !important;
}

.td-date {
    min-width: 130px;
}
.td-time {
    min-width: 140px;
}
.td-name {
    min-width: 175px;
}

body.identification  a.menu-identification,
body.history a.menu-history,
body.milestones a.menu-milestones,
body.on-hold-info a.menu-on-hold-info,
body.view-tsr a.menu-view-tsr,
body.assign-ownership a.menu-assign-ownership,
body.check-out-history a.menu-check-out-history,
body.raw-json-trial-data a.menu-raw-json-trial-data,
body.general-trial-details a.menu-general-trial-details,
body.reg-fda a.menu-reg-fda,
body.regulatory-info-human-subject-safety a.menu-regulatory-info-human-subject-safety,
body.reg-ind a.menu-reg-ind,
body.trial-status a.menu-trial-status,
body.funding a.menu-funding,
body.participating-sites a.menu-participating-sites,
body.collaborators a.menu-collaborators,
body.trial-related-documents a.menu-trial-related-documents,
body.nci-info a.menu-nci-info,
body.trial-design a.menu-trial-design,
body.trial-description a.menu-trial-description,
body.trial-outcome-measures a.menu-trial-outcome-measures,
body.eligibility-critiera a.menu-eligibility-critiera,
body.associated-trials a.menu-associated-trials,
body.anatomic-sites a.menu-anatomic-sites,
body.arms-groups a.menu-arms-groups,
body.trial-sub-groups a.menu-trial-sub-groups {
    background: #eee;
    color: #555;
    font-weight:bold;
    border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    cursor: default;
}


.td-icon  .btn {
    height: 20px;
    padding: 2px 5px;
    margin-bottom: 0;
}
th.td-icon .btn {
    height: 15px;
    padding: 0px 2px 5px 2px;
    margin-bottom: 0;
    font-size: .8em;
}
.input-sm, select.input-sm, input[type="text"].form-control {
    height: 24px;
}

.remove-bottom-margin {
    margin-bottom: 0;
}
ul.trial-comments li {
    padding-top: 10px;
}
ul.trial-comments li textarea {
    font-size: 12px !important;
    height: 60px !important;
    line-height: 1.3 !important;
    border: 1px dashed #ddd;
    border-width: 1px !important;
    padding: 0 5px !important;
    border-radius: 5px 5px 5px 5px !important;
    -moz-border-radius: 5px 5px 5px 5px !important;
    -webkit-border-radius: 5px 5px 5px 5px !important;
}
ul.trial-comments li md-input-container{
    padding-bottom: 0;
}

ul.trial-comments li .md-button.btn {
    text-transform: none;
    color: #fff;
    min-height: 24px;
    min-width: 70px;
}
ul.trial-comments li:hover{
    background: transparent;
}

ul.trial-comments li .md-button.btn-primary:hover {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,207cca+51,7db9e8+100;Blue+Gloss+Default */
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(top,  #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}

ul.trial-comments li .md-button.btn-warning:hover {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffaf4b+0,ff920a+100;Orange+3D+%231 */
    background: #ffaf4b; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffaf4b 0%, #ff920a 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ffaf4b 0%,#ff920a 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ffaf4b 0%,#ff920a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a',GradientType=0 ); /* IE6-9 */
}

input[type="file"] {
    display: inline;
}

uib-accordion form.form-horizontal {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1300px;
}

md-tabs.md-dynamic-height md-tab-content.md-active {
    padding-top: 20px;
}
md-tabs .md-tab.md-active, md-tabs .md-tab.md-focused {
    color: blue;
}

div.datepicker {width: 146px;}

.sign_in .panel-body {
    padding-bottom: 0;
}
/* table css */

#ui-grid-twbs #ui-grid-twbs .form-horizontal .form-group:after,
#ui-grid-twbs #ui-grid-twbs .btn-toolbar:after,
#ui-grid-twbs #ui-grid-twbs .btn-group-vertical>.btn-group:after{clear:both}
.ui-grid {border:1px solid #eeeeee;box-sizing:content-box;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;-webkit-transform:translateZ(0);-moz-transform:translateZ(0);-o-transform:translateZ(0);-ms-transform:translateZ(0);transform:translateZ(0)}.ui-grid-vertical-bar{position:absolute;right:0;width:0}
.ui-grid-header-cell:not(:last-child) .ui-grid-vertical-bar,.ui-grid-cell:not(:last-child) .ui-grid-vertical-bar{width:1px}
.ui-grid-scrollbar-placeholder{background-color:transparent}
.ui-grid-header-cell:not(:last-child) .ui-grid-vertical-bar{background-color:#eeeeee}
.ui-grid-cell:not(:last-child) .ui-grid-vertical-bar{background-color:#eeeeee}
.ui-grid-header-cell:last-child .ui-grid-vertical-bar{right:-1px;width:1px;background-color:#eeeeee}
.ui-grid-clearfix:before,.ui-grid-clearfix:after{content:"";display:table}
.ui-grid-clearfix:after{clear:both}
.ui-grid-invisible{visibility:hidden}
.ui-grid-contents-wrapper{position:relative;height:100%;width:100%}
.ui-grid-sr-only{position:absolute;width:1px;height:1px;margin:-1px;padding:0;overflow:hidden;clip:rect(0, 0, 0, 0);border:0}
.ui-grid-top-panel-background, table th {background:#daecf4;background:-webkit-gradient(linear, left bottom, left top, color-stop(0, #add8e6), color-stop(1, #fffbfc));background:-ms-linear-gradient(bottom, #add8e6, #fffbfc);background:-moz-linear-gradient(center bottom, #add8e6 0%, #fffbfc 100%);background:-o-linear-gradient(#fffbfc, #add8e6);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbfc', endColorstr='#add8e6', GradientType=0)}
.ui-grid-header{border-bottom:1px solid #eeeeee;box-sizing:border-box}
.ui-grid-top-panel, table.table-bordered th, .panel-default > .panel-heading, .modal-header {
    position:relative;overflow:hidden;
    color: #fff;
    font-weight:bold;
    background:#2A71A5;
    -moz-background-clip:padding-box;-webkit-background-clip:padding-box;background-clip:padding-box;
    border-color: #fff;
    border-bottom-width: 3px;
}

.panel-title, .md-default-theme h3, .panel-heading h4.panel-title a,  .panel-heading h4.panel-title, .modal-header .modal-title  {
    color: #fff !important;
}

.ui-grid-header-viewport{overflow:hidden}
.ui-grid-header-canvas:before,.ui-grid-header-canvas:after{content:"";display:table;line-height:0}
.ui-grid-header-canvas:after{clear:both}.ui-grid-header-cell-wrapper{position:relative;display:table;box-sizing:border-box;height:100%}
.ui-grid-header-cell-row{display:table-row;position:relative}.ui-grid-header-cell{position:relative;box-sizing:border-box;background-color:inherit;border-right:1px solid;border-color:#eeeeee;display:table-cell;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;width:0}
.ui-grid-header-cell:last-child{border-right:0}.ui-grid-header-cell .sortable{cursor:pointer}
.ui-grid-header-cell .ui-grid-sort-priority-number{margin-left:-8px}
.ui-grid-header .ui-grid-vertical-bar{top:0;bottom:0}
.ui-grid-column-menu-button{position:absolute;right:1px;top:0}
.ui-grid-column-menu-button .ui-grid-icon-angle-down{vertical-align:sub}
.ui-grid-column-menu-button-last-col{margin-right:25px}
.ui-grid-column-menu{position:absolute}
.ui-grid-column-menu .ui-grid-menu .ui-grid-menu-mid.ng-hide-add,.ui-grid-column-menu .ui-grid-menu .ui-grid-menu-mid.ng-hide-remove{-webkit-transition:all 0.05s linear;-moz-transition:all 0.05s linear;-o-transition:all 0.05s linear;transition:all 0.05s linear;display:block !important}
.ui-grid-column-menu .ui-grid-menu .ui-grid-menu-mid.ng-hide-add.ng-hide-add-active,.ui-grid-column-menu .ui-grid-menu .ui-grid-menu-mid.ng-hide-remove{-webkit-transform:translateY(-100%);-moz-transform:translateY(-100%);-o-transform:translateY(-100%);-ms-transform:translateY(-100%);transform:translateY(-100%)}
.ui-grid-column-menu .ui-grid-menu .ui-grid-menu-mid.ng-hide-add,.ui-grid-column-menu .ui-grid-menu .ui-grid-menu-mid.ng-hide-remove.ng-hide-remove-active{-webkit-transform:translateY(0);-moz-transform:translateY(0);-o-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}
.ui-grid-menu-button .ui-grid-menu .ui-grid-menu-mid.ng-hide-add,.ui-grid-menu-button .ui-grid-menu .ui-grid-menu-mid.ng-hide-remove{-webkit-transition:all 0.05s linear;-moz-transition:all 0.05s linear;-o-transition:all 0.05s linear;transition:all 0.05s linear;display:block !important}
.ui-grid-menu-button .ui-grid-menu .ui-grid-menu-mid.ng-hide-add.ng-hide-add-active,.ui-grid-menu-button .ui-grid-menu .ui-grid-menu-mid.ng-hide-remove{-webkit-transform:translateY(-100%);-moz-transform:translateY(-100%);-o-transform:translateY(-100%);-ms-transform:translateY(-100%);transform:translateY(-100%)}
.ui-grid-menu-button .ui-grid-menu .ui-grid-menu-mid.ng-hide-add,.ui-grid-menu-button .ui-grid-menu .ui-grid-menu-mid.ng-hide-remove.ng-hide-remove-active{-webkit-transform:translateY(0);-moz-transform:translateY(0);-o-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}
.ui-grid-filter-container{padding:4px 10px;position:relative}
.ui-grid-filter-container .ui-grid-filter-button{position:absolute;top:0;bottom:0;right:0}
.ui-grid-filter-container .ui-grid-filter-button [class^="ui-grid-icon"]{position:absolute;top:50%;line-height:32px;margin-top:-16px;right:10px;opacity:0.66}
.ui-grid-filter-container .ui-grid-filter-button [class^="ui-grid-icon"]:hover{opacity:1}.ui-grid-filter-container .ui-grid-filter-button-select{position:absolute;top:0;bottom:0;right:0}
.ui-grid-filter-container .ui-grid-filter-button-select [class^="ui-grid-icon"]{position:absolute;top:50%;line-height:32px;margin-top:-16px;right:0px;opacity:0.66}
.ui-grid-filter-container .ui-grid-filter-button-select [class^="ui-grid-icon"]:hover{opacity:1}
input[type="text"].ui-grid-filter-input:hover{border:1px solid #eeeeee}select.ui-grid-filter-select{padding:0;margin:0;border:0;width:90%;border:1px solid #eeeeee;-webkit-border-top-right-radius:10px;-webkit-border-bottom-right-radius:0;-webkit-border-bottom-left-radius:0;-webkit-border-top-left-radius:0;-moz-border-radius-topright:10px;-moz-border-radius-bottomright:0;-moz-border-radius-bottomleft:0;-moz-border-radius-topleft:0;border-top-right-radius:10px;border-bottom-right-radius:0;border-bottom-left-radius:0;border-top-left-radius:0;-moz-background-clip:padding-box;-webkit-background-clip:padding-box;background-clip:padding-box}
select.ui-grid-filter-select:hover{border:1px solid #eeeeee}.ui-grid-filter-cancel-button-hidden select.ui-grid-filter-select{width:100%}.ui-grid-render-container{position:inherit;-webkit-border-top-right-radius:0;-webkit-border-bottom-right-radius:10px;-webkit-border-bottom-left-radius:10px;-webkit-border-top-left-radius:0;-moz-border-radius-topright:0;-moz-border-radius-bottomright:10px;-moz-border-radius-bottomleft:10px;-moz-border-radius-topleft:0;border-top-right-radius:0;border-bottom-right-radius:10px;border-bottom-left-radius:10px;border-top-left-radius:0;-moz-background-clip:padding-box;-webkit-background-clip:padding-box;background-clip:padding-box}
.ui-grid-render-container:focus{outline:none}
.ui-grid-viewport{min-height:20px;position:relative;overflow-y:scroll;-webkit-overflow-scrolling:touch}
.ui-grid-viewport:focus{outline:none !important}
.ui-grid-canvas{position:relative;padding-top:1px}

.ui-grid-row:nth-child(odd) .ui-grid-cell{background-color:#ffffff}
.ui-grid-row:nth-child(even) .ui-grid-cell{background-color:#eaf4f9}
.ui-grid-row:last-child .ui-grid-cell{border-bottom-color:#eeeeee;border-bottom-style:solid}
.ui-grid-no-row-overlay{position:absolute;top:0;bottom:0;left:0;right:0;margin:10%;background:#daecf4;background:-webkit-gradient(linear, left bottom, left top, color-stop(0, #add8e6), color-stop(1, #fffbfc));background:-ms-linear-gradient(bottom, #add8e6, #fffbfc);background:-moz-linear-gradient(center bottom, #add8e6 0%, #fffbfc 100%);background:-o-linear-gradient(#fffbfc, #add8e6);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbfc', endColorstr='#add8e6', GradientType=0);-webkit-border-top-right-radius:10px;-webkit-border-bottom-right-radius:0;-webkit-border-bottom-left-radius:0;-webkit-border-top-left-radius:0;-moz-border-radius-topright:10px;-moz-border-radius-bottomright:0;-moz-border-radius-bottomleft:0;-moz-border-radius-topleft:0;border-top-right-radius:10px;border-bottom-right-radius:0;border-bottom-left-radius:0;border-top-left-radius:0;-moz-background-clip:padding-box;-webkit-background-clip:padding-box;background-clip:padding-box;border:1px solid #eeeeee;font-size:2em;text-align:center}
.ui-grid-no-row-overlay>*{position:absolute;display:table;margin:auto 0;width:100%;top:0;bottom:0;left:0;right:0;opacity:0.66}.ui-grid-cell{overflow:hidden;float:left;background-color:inherit;border-right:1px solid;border-color:#eeeeee;box-sizing:border-box}
.ui-grid-cell:last-child{border-right:0}
.ui-grid-cell-contents{padding:5px;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;white-space:nowrap;-ms-text-overflow:ellipsis;-o-text-overflow:ellipsis;text-overflow:ellipsis;overflow:hidden;height:100%}
.ui-grid-cell-contents-hidden{visibility:hidden;width:0;height:0;display:none}
.ui-grid-row .ui-grid-cell.ui-grid-row-header-cell{background-color:#f0f0ee;border-bottom:solid 1px #eeeeee}
.ui-grid-footer-panel-background{background:#daecf4;background:-webkit-gradient(linear, left bottom, left top, color-stop(0, #add8e6), color-stop(1, #fffbfc));background:-ms-linear-gradient(bottom, #add8e6, #fffbfc);background:-moz-linear-gradient(center bottom, #add8e6 0%, #fffbfc 100%);background:-o-linear-gradient(#fffbfc, #add8e6);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbfc', endColorstr='#add8e6', GradientType=0)}.ui-grid-footer-panel{position:relative;border-bottom:1px solid #eeeeee;border-top:1px solid #eeeeee;overflow:hidden;font-weight:bold;background:#daecf4;background:-webkit-gradient(linear, left bottom, left top, color-stop(0, #add8e6), color-stop(1, #fffbfc));background:-ms-linear-gradient(bottom, #add8e6, #fffbfc);background:-moz-linear-gradient(center bottom, #add8e6 0%, #fffbfc 100%);background:-o-linear-gradient(#fffbfc, #add8e6);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbfc', endColorstr='#add8e6', GradientType=0);-webkit-border-top-right-radius:9px;-webkit-border-bottom-right-radius:0;-webkit-border-bottom-left-radius:0;-webkit-border-top-left-radius:9px;-moz-border-radius-topright:9px;-moz-border-radius-bottomright:0;-moz-border-radius-bottomleft:0;-moz-border-radius-topleft:9px;border-top-right-radius:9px;border-bottom-right-radius:0;border-bottom-left-radius:0;border-top-left-radius:9px;-moz-background-clip:padding-box;-webkit-background-clip:padding-box;background-clip:padding-box}
.ui-grid-grid-footer{float:left;width:100%}
.ui-grid-footer-viewport{overflow:hidden}
.ui-grid-footer-canvas{position:relative}
.ui-grid-footer-canvas:before,
.ui-grid-footer-canvas:after{content:"";display:table;line-height:0}
.ui-grid-footer-canvas:after{clear:both}
.ui-grid-footer-cell-wrapper{position:relative;display:table;box-sizing:border-box;height:100%}
.ui-grid-footer-cell-row{display:table-row}
.ui-grid-footer-cell{overflow:hidden;background-color:inherit;border-right:1px solid;border-color:#eeeeee;box-sizing:border-box;display:table-cell}
.ui-grid-footer-cell:last-child{border-right:0}
input[type="text"].ui-grid-filter-input:hover{border:1px solid #eeeeee}
.ui-grid-menu-button{
    border: 1px solid #bbb;z-index:2;position:absolute;right:0; top: -25px;background:#daecf4;border:1px solid #eeeeee;cursor:pointer;height:21px;font-weight:normal}
.ui-grid-menu-button .ui-grid-icon-container{margin-top:3px}
.ui-grid-menu-button .ui-grid-menu{right:0}
.ui-grid-menu-button .ui-grid-menu .ui-grid-menu-mid{overflow:scroll;max-height:300px;border:1px solid #eeeeee}
.ui-grid-menu{z-index:2;position:absolute;padding:0 10px 20px 10px;cursor:pointer;box-sizing:border-box}
.ui-grid-menu .ui-grid-menu-inner{background:#daecf4;border:1px solid #eeeeee;position:relative;white-space:nowrap;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;-webkit-box-shadow:0 10px 20px rgba(0,0,0,0.2),inset 0 12px 12px -14px rgba(0,0,0,0.2);-moz-box-shadow:0 10px 20px rgba(0,0,0,0.2),inset 0 12px 12px -14px rgba(0,0,0,0.2);box-shadow:0 10px 20px rgba(0,0,0,0.2),inset 0 12px 12px -14px rgba(0,0,0,0.2)}
.ui-grid-menu .ui-grid-menu-inner .ui-grid-menu-close-button{position:absolute;right:0px;top:0px;display:inline-block;margin-bottom:0;font-weight:normal;text-align:center;vertical-align:middle;touch-action:manipulation;cursor:pointer;background-image:none;border:1px solid transparent;white-space:nowrap;padding:6px 12px;font-size:14px;line-height:1.42857143;border-radius:4px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;padding:1px 1px;font-size:10px;line-height:1;border-radius:2px;color:transparent;background-color:transparent;border-color:transparent}.ui-grid-menu .ui-grid-menu-inner .ui-grid-menu-close-button:focus,.ui-grid-menu .ui-grid-menu-inner .ui-grid-menu-close-button:active:focus,.ui-grid-menu .ui-grid-menu-inner .ui-grid-menu-close-button.active:focus,.ui-grid-menu .ui-grid-menu-inner .ui-grid-menu-close-button.focus,.ui-grid-menu .ui-grid-menu-inner .ui-grid-menu-close-button:active.focus,.ui-grid-menu .ui-grid-menu-inner .ui-grid-menu-close-button.active.focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}.ui-grid-menu .ui-grid-menu-inner .ui-grid-menu-close-button:hover,.ui-grid-menu .ui-grid-menu-inner .ui-grid-menu-close-button:focus,.ui-grid-menu .ui-grid-menu-inner .ui-grid-menu-close-button.focus{color:#333333;text-decoration:none}.ui-grid-menu .ui-grid-menu-inner .ui-grid-menu-close-button:active,.ui-grid-menu .ui-grid-menu-inner .ui-grid-menu-close-button.active{outline:0;background-image:none;-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,0.125);box-shadow:inset 0 3px 5px rgba(0,0,0,0.125)}.ui-grid-menu .ui-grid-menu-inner .ui-grid-menu-close-button.disabled,.ui-grid-menu .ui-grid-menu-inner .ui-grid-menu-close-button[disabled],fieldset[disabled] .ui-grid-menu .ui-grid-menu-inner .ui-grid-menu-close-button{cursor:not-allowed;opacity:0.65;filter:alpha(opacity=65);-webkit-box-shadow:none;box-shadow:none}a.ui-grid-menu .ui-grid-menu-inner .ui-grid-menu-close-button.disabled,fieldset[disabled] a.ui-grid-menu .ui-grid-menu-inner .ui-grid-menu-close-button{pointer-events:none}.ui-grid-menu .ui-grid-menu-inner .ui-grid-menu-close-button:focus,.ui-grid-menu .ui-grid-menu-inner .ui-grid-menu-close-button.focus{color:transparent;background-color:transparent;border-color:transparent}.ui-grid-menu .ui-grid-menu-inner .ui-grid-menu-close-button:hover{color:transparent;background-color:transparent;border-color:transparent}.ui-grid-menu .ui-grid-menu-inner .ui-grid-menu-close-button:active,.ui-grid-menu .ui-grid-menu-inner .ui-grid-menu-close-button.active,.open>.dropdown-toggle.ui-grid-menu .ui-grid-menu-inner .ui-grid-menu-close-button{color:transparent;background-color:transparent;border-color:transparent}.ui-grid-menu .ui-grid-menu-inner .ui-grid-menu-close-button:active:hover,.ui-grid-menu .ui-grid-menu-inner .ui-grid-menu-close-button.active:hover,.open>.dropdown-toggle.ui-grid-menu .ui-grid-menu-inner .ui-grid-menu-close-button:hover,.ui-grid-menu .ui-grid-menu-inner .ui-grid-menu-close-button:active:focus,.ui-grid-menu .ui-grid-menu-inner .ui-grid-menu-close-button.active:focus,.open>.dropdown-toggle.ui-grid-menu .ui-grid-menu-inner .ui-grid-menu-close-button:focus,.ui-grid-menu .ui-grid-menu-inner .ui-grid-menu-close-button:active.focus,.ui-grid-menu .ui-grid-menu-inner .ui-grid-menu-close-button.active.focus,.open>.dropdown-toggle.ui-grid-menu .ui-grid-menu-inner .ui-grid-menu-close-button.focus{color:transparent;background-color:transparent;border-color:transparent}.ui-grid-menu .ui-grid-menu-inner .ui-grid-menu-close-button:active,.ui-grid-menu .ui-grid-menu-inner .ui-grid-menu-close-button.active,.open>.dropdown-toggle.ui-grid-menu .ui-grid-menu-inner .ui-grid-menu-close-button{background-image:none}.ui-grid-menu .ui-grid-menu-inner .ui-grid-menu-close-button.disabled,.ui-grid-menu .ui-grid-menu-inner .ui-grid-menu-close-button[disabled],fieldset[disabled] .ui-grid-menu .ui-grid-menu-inner .ui-grid-menu-close-button,.ui-grid-menu .ui-grid-menu-inner .ui-grid-menu-close-button.disabled:hover,.ui-grid-menu .ui-grid-menu-inner .ui-grid-menu-close-button[disabled]:hover,fieldset[disabled] .ui-grid-menu .ui-grid-menu-inner .ui-grid-menu-close-button:hover,.ui-grid-menu .ui-grid-menu-inner .ui-grid-menu-close-button.disabled:focus,.ui-grid-menu .ui-grid-menu-inner .ui-grid-menu-close-button[disabled]:focus,fieldset[disabled] .ui-grid-menu .ui-grid-menu-inner .ui-grid-menu-close-button:focus,.ui-grid-menu .ui-grid-menu-inner .ui-grid-menu-close-button.disabled.focus,.ui-grid-menu .ui-grid-menu-inner .ui-grid-menu-close-button[disabled].focus,fieldset[disabled] .ui-grid-menu .ui-grid-menu-inner .ui-grid-menu-close-button.focus,.ui-grid-menu .ui-grid-menu-inner .ui-grid-menu-close-button.disabled:active,.ui-grid-menu .ui-grid-menu-inner .ui-grid-menu-close-button[disabled]:active,fieldset[disabled] .ui-grid-menu .ui-grid-menu-inner .ui-grid-menu-close-button:active,.ui-grid-menu .ui-grid-menu-inner .ui-grid-menu-close-button.disabled.active,.ui-grid-menu .ui-grid-menu-inner .ui-grid-menu-close-button[disabled].active,fieldset[disabled] .ui-grid-menu .ui-grid-menu-inner .ui-grid-menu-close-button.active{background-color:transparent;border-color:transparent}.ui-grid-menu .ui-grid-menu-inner .ui-grid-menu-close-button .badge{color:transparent;background-color:transparent}.ui-grid-menu .ui-grid-menu-inner .ui-grid-menu-close-button>i{opacity:0.75;color:black}.ui-grid-menu .ui-grid-menu-inner ul{margin:0;padding:0;list-style-type:none}.ui-grid-menu .ui-grid-menu-inner ul li{padding:0px}.ui-grid-menu .ui-grid-menu-inner ul li button{min-width:100%;padding:8px;text-align:left;background:transparent;border:none}.ui-grid-menu .ui-grid-menu-inner ul li button:hover,.ui-grid-menu .ui-grid-menu-inner ul li button:focus{-webkit-box-shadow:inset 0 0 14px rgba(0,0,0,0.2);-moz-box-shadow:inset 0 0 14px rgba(0,0,0,0.2);box-shadow:inset 0 0 14px rgba(0,0,0,0.2)}.ui-grid-menu .ui-grid-menu-inner ul li button.ui-grid-menu-item-active{-webkit-box-shadow:inset 0 0 14px rgba(0,0,0,0.2);-moz-box-shadow:inset 0 0 14px rgba(0,0,0,0.2);box-shadow:inset 0 0 14px rgba(0,0,0,0.2);background-color:#cecece}.ui-grid-menu .ui-grid-menu-inner ul li:not(:last-child)>button{border-bottom:1px solid #eeeeee}.ui-grid-sortarrow{right:5px;position:absolute;width:20px;top:0;bottom:0;background-position:center}.ui-grid-sortarrow.down{-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-o-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg)}[class^="ui-grid-icon"]:before,[class*=" ui-grid-icon"]:before{font-family:"ui-grid";font-style:normal;font-weight:normal;speak:none;display:inline-block;text-decoration:inherit;width:1em;margin-right:.2em;text-align:center;font-variant:normal;text-transform:none;line-height:1em;margin-left:.2em}.ui-grid-icon-blank::before{width:1em;content:' '}
.ui-grid[dir=rtl] .ui-grid-header-cell,
.ui-grid[dir=rtl] .ui-grid-footer-cell,
.ui-grid[dir=rtl] .ui-grid-cell{float:right !important}
.ui-grid[dir=rtl] .ui-grid-column-menu-button{position:absolute;left:1px;top:0;right:inherit}.ui-grid[dir=rtl] .ui-grid-cell:first-child,.ui-grid[dir=rtl] .ui-grid-header-cell:first-child,.ui-grid[dir=rtl] .ui-grid-footer-cell:first-child{border-right:0}.ui-grid[dir=rtl] .ui-grid-cell:last-child,.ui-grid[dir=rtl] .ui-grid-header-cell:last-child{border-right:1px solid #eeeeee;border-left:0}.ui-grid[dir=rtl] .ui-grid-header-cell:first-child .ui-grid-vertical-bar,.ui-grid[dir=rtl] .ui-grid-footer-cell:first-child .ui-grid-vertical-bar,.ui-grid[dir=rtl] .ui-grid-cell:first-child .ui-grid-vertical-bar{width:0}.ui-grid[dir=rtl] .ui-grid-menu-button{z-index:2;position:absolute;left:0;right:auto;background:#daecf4;border:1px solid #eeeeee;cursor:pointer;min-height:27px;font-weight:normal}.ui-grid[dir=rtl] .ui-grid-menu-button .ui-grid-menu{left:0;right:auto}.ui-grid[dir=rtl] .ui-grid-filter-container .ui-grid-filter-button{right:initial;left:0}.ui-grid[dir=rtl] .ui-grid-filter-container .ui-grid-filter-button [class^="ui-grid-icon"]{right:initial;left:10px}.ui-grid-animate-spin{-moz-animation:ui-grid-spin 2s infinite linear;-o-animation:ui-grid-spin 2s infinite linear;-webkit-animation:ui-grid-spin 2s infinite linear;animation:ui-grid-spin 2s infinite linear;display:inline-block}@-moz-keyframes ui-grid-spin{0%{-moz-transform:rotate(0deg);-o-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-moz-transform:rotate(359deg);-o-transform:rotate(359deg);-webkit-transform:rotate(359deg);transform:rotate(359deg)}}@-webkit-keyframes ui-grid-spin{0%{-moz-transform:rotate(0deg);-o-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-moz-transform:rotate(359deg);-o-transform:rotate(359deg);-webkit-transform:rotate(359deg);transform:rotate(359deg)}}@-o-keyframes ui-grid-spin{0%{-moz-transform:rotate(0deg);-o-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-moz-transform:rotate(359deg);-o-transform:rotate(359deg);-webkit-transform:rotate(359deg);transform:rotate(359deg)}}@-ms-keyframes ui-grid-spin{0%{-moz-transform:rotate(0deg);-o-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-moz-transform:rotate(359deg);-o-transform:rotate(359deg);-webkit-transform:rotate(359deg);transform:rotate(359deg)}}@keyframes ui-grid-spin{0%{-moz-transform:rotate(0deg);-o-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-moz-transform:rotate(359deg);-o-transform:rotate(359deg);-webkit-transform:rotate(359deg);transform:rotate(359deg)}}.ui-grid{color:#003f59}

