.NCILogo img {
    width:100%;
    height: 200px;
}

.col-border {
    margin-top: 10px;
    border: #cdcdcd medium dashed;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -webkit-transition: margin-left 0.3s linear;
    -moz-transition: margin-left 0.3s linear;
    transition: margin-left 0.3s linear;
}

.grid {
    width: 100%;
    height: auto;
}

.tooltip-uigrid {
    overflow: visible;
    white-space: normal;
    word-wrap: normal;
}