<div class="ctrptransferselect">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h4>{{options.title}}<small>&nbsp;{{options.helpMessage}}</small> </h4>
            <input class="form-control" placeholder="{{options.filterPlaceHolder}}" ng-model="searchTerm">
        </div>
    </div>
    <div class="row select-content">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <label>{{options.labelAll}}</label>
            <button ng-disabled="!options.items.length"
                    class="btn btn-primary btn-xs" ng-click="transfer(options.items, options.selectedItems, -1)"> Select All </button>
            <div class="pool">
                <ul>
                    <li ng-repeat="item in options.items | filter: searchTerm | orderBy: options.orderProperty">
                        <a href="" ng-click="transfer(options.items, options.selectedItems, options.items.indexOf(item))">&nbsp;&rArr; {{item.name}}</a>
                    </li>
                </ul>
            </div>
            <label>Total Unselected: {{options.items.length}}</label>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <label>{{options.labelSelected}}</label>
            <button ng-disabled="!options.selectedItems.length"
                    class="btn btn-warning btn-xs" ng-click="transfer(options.selectedItems, options.items, -1)"> Deselect All </button>
            <div class="pool">
                <ul>
                    <li ng-repeat="item in options.selectedItems | orderBy: options.orderProperty">
                        <a href="" ng-click="transfer(options.selectedItems, options.items, options.selectedItems.indexOf(item))"> &lArr;&nbsp;{{item.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <label>Total Selected: {{options.selectedItems.length}}</label>
    </div>
    <div class="row modal-footer">
        <button ng-disabled="!options.selectedItems.length"
                type="button" class="btn btn-primary pull-right ng-isolate-scope"
                id="save_btn"
                ctrp-confirm ctrp-click="options.save(); options.close()"
                ng-attr-confirm-off="false"
                ng-if="options.type === 'users'"
                confirm-msg="You have selected to transfer ownership of the trials to the Selected User(s) above."> <i class="glyphicon glyphicon-ok"></i>  Save
        </button>

        <button type="button" class="btn btn-warning pull-right" ng-click="searchTerm = ''; options.reset()">
            <i class="glyphicon glyphicon-remove"></i> Reset
        </button>

        <button type="button" class="btn btn-danger pull-right" ng-click="options.close()" ng-if="options.openModal">
            <i class="glyphicon glyphicon-remove"></i> close
        </button>
    </div>
</div>