<div id="trial-checkin-modal">
    <div class="row">
        <div class="col-sm-12">
            <div class="modal-header">
                <strong class="modal-title">Check in Trial</strong>
                <button type="button" class="close" data-dismiss="modal" ng-click="checkinModalView.cancel()">&times;</button>
            </div>
            <div>
                <form class="form form-horizontal" role="form" name="checkin_form" novalidate>
                    <div class="form-group">
                        <label for="checkin_comment" class="control-label col-xs-12 col-sm-3">Checkin Comment:</label>
                        <div class="col-xs-12 col-sm-9">
                            <texarea class="form-control" maxlength="4000" name="checkin_comment" id="checkin_comment" rows="5" ng-model="checkinModalView.checkinComment" required>

                            </texarea>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <strong>Comment:</strong>
                    <strong>Warnings & Errors: </strong>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-xs-12">
                    <button class="btn btn-primary pull-right" ng-click="checkinModalView.proceedCheckin()">Proceed With Check-in</button>
                    <button class="btn btn-default pull-right" ng-click="checkinModalView.viewTrialStatusHistory()" ng-hide="checkinModalView.isTrialStatusValid">View Trial Status History</button>
                    <button class="btn btn-default pull-right" ng-click="checkinModalView.viewAbstractionValidation()" ng-hide="checkinModalView.isAbstractionValid">View Trial Abstraction Validation</button>
                    <button class="btn btn-danger pull-right" ng-click="checkinModalView.cancel()">
                        <i class="glyphicon glyphicon-remove"></i> Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
