
<div class="row" ng-if="!trialOwnershipView.setAddMode" ng-init="trialOwnershipView.displayTrialOwnershipGrid = true">
<div ng-controller="userListCtrl as userView">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">Assign Ownership</div>
            </div>
            <div class="panel-body">
                <div class="form-group no-bottom-margin">
                    <!-- list of Users -->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row" ng-if="userView.gridOptions.totalItems != null">
                                <a href="" id="user_search_results"></a>
                                <h4>{{userView.gridOptions.totalItems}} Owner(s) found</h4>
                            </div>
                            <div class="row animated-item" ng-if="userView.gridOptions.data.length > 0">
                                <div ui-grid="userView.gridOptions" ui-grid-exporter ui-grid-selection ui-grid-pagination="" ng-class="{'edit-off': !userView.curationMode}"
                                     external-scopes="clickHandler" ui-grid-exporter ui-grid-move-columns class="grid"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row top-offset-xs" ng-if="userView.gridOptions.totalItems != null"></div>
                    <div class="btn-toolbar">
                        <button type="button" class="btn btn-primary pull-right" id="add_btn" restriction-field ng-click="trialOwnershipView.setAddMode = true" ng-if="!userView.curTrial.is_rejected">
                            <i class="glyphicon glyphicon-plus"></i> Add Ownership
                        </button>
                    </div>
                </div>
            </div>
        </div>
    <modal visible="userView.confirmRemoveTrialOwnershipsPopUp" title="Please confirm" id="confirmRemoveTrials">
        <div class="modal-body">You have chosen to remove selected user(s) from this trial.</div>
        <div class="modal-footer">
            <div class="btn-toolbar">
                <button type="button" class="btn btn-primary pull-right" id="cancelRemOwn"
                        ng-click="userView.confirmRemoveTrialOwnershipsPopUp = false"><i class="glyphicon glyphicon-ok"></i>
                    Cancel
                </button>
                <button type="button" class="btn btn-danger pull-right"  id="remOwn"
                        ng-click="userView.removeTrialsOwnerships()"><i class="glyphicon glyphicon-ok"></i>
                    Remove Ownership
                </button>
            </div>
        </div>
    </modal>
</div>
</div>
<div ng-if="trialOwnershipView.setAddMode == true" ng-include src="'app/user/_trial_ownership.html'"></div>
