<div class="row">
    <uib-accordion close-others="false">
        <uib-accordion-group is-open="paTrialOverview.accordionOpen">
            <uib-accordion-heading>
                Trial Identification <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': paTrialOverview.accordionOpen, 'glyphicon-chevron-right': !paTrialOverview.accordionOpen}"></i>
            </uib-accordion-heading>
            <!-- first row in the accordion body -->
            <div class="row">
                <!-- <p>
                    <s><strong>Clinical Research Category:</strong>
                    <span>{{paTrialOverview.trialDetailObj.research_category.name}}</span></s>
                </p> -->

                <p>
                    <strong>NCI Trial ID: </strong>
                    <!-- get data from parent controller view -->
                    <span>{{paTrialOverview.trialDetailObj.nci_id}}</span>
                </p>

                <p>
                    <strong>ClinicalTrials.gov XML required? </strong>
                    <span>{{paTrialOverview.trialDetailObj.xml_required}}</span>
                </p>

                <!-- <p>
                    <s>
                        <strong>Lead Organization Trial ID: </strong>
                        <span>{{paTrialOverview.trialDetailObj.lead_protocol_id}}</span>
                    </s>
                </p>

                <p>
                    <s>
                        <strong>ClinicalTrials.gov Identifier: </strong>
                        <span>{{paTrialOverview.trialDetailObj.other_ids[0].protocol_id}}</span>
                    </s>
                </p> -->

                <p>
                    <strong>Last Verification Date: </strong>
                    <span>{{paTrialOverview.trialDetailObj.verification_date | date: "dd-MMM-yyyy H:mm"}}</span>
                </p>

                <!-- <p>
                    <s><strong>Official Title: </strong>
                    <span>{{paTrialOverview.trialDetailObj.official_title}}</span></s>
                </p>

                <p>
                    <s>
                        <strong>Submission Source:</strong>
                        <span>{{paTrialOverview.trialDetailObj.study_source.name}}</span>
                    </s>
                </p> -->

                <hr />
            </div>
            <!-- end of first row in the accordion body -->

            <!-- second row in the accordion body -->
            <div class="row">
                <div class="col-xs-12 pull-left">
                    <form name="abstraction_form" class="form" role="form" novalidate>
                        <!-- first form-group -->
                        <div class="form-group">
                            <label for="processing_priority" class="control-label col-xs-12 col-sm-3">Processing Priority:</label>
                            <div class="input-group col-xs-12 col-sm-4">
                                <select name="priority_selection" id="processing_priority" class="form-control input-sm" ng-model="trialIdView.trialProcessingObj.priority">
                                    <option value="1 - High">1 - High</option>
                                    <option value="2 - Normal" selected>2 - Normal</option>
                                    <option value="3 - Low">3 - Low</option>
                                </select>
                            </div>
                            <div class="col-sm-offset-4"></div>
                        </div>
                        <!-- end of first form-group -->

                        <!-- second form-group -->
                        <div class="form-group">
                            <label for="trial_processing_comment" class="col-xs-12">Trial Processing Comments <small>(maximum: 4,000 characters)</small>:</label>
                        </div>
                        <!-- end of second form-group -->

                        <!-- third row in the form -->
                        <div class="form-group">
                            <div class="col-xs-12">
                                <textarea class="form-control" name="processing_comment" id="trial_processing_comment" rows="5" ng-maxlength="4000" ng-model="trialIdView.trialProcessingObj.comment"></textarea>
                            </div>
                        </div>
                        <!-- end of third row -->

                        <div class="form-group no-bottom-margin">
                            <div class="btn-toolbar">
                                <button type="submit" class="btn btn-primary pull-right" id="submit_processing" ng-click="trialIdView.saveProcessingInfo()" ng-disabled="!abstraction_form.$valid">Save</button>
                                <button type="button" class="btn btn-warning pull-right" id="cancel_processing" ng-click="trialIdView.resetView()">
                                    <i class="glyphicon glyphicon-remove"></i> Reset
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </uib-accordion-group>
    </uib-accordion>
</div>

<!-- end of row -->
