<div class="row">
    <uib-accordion close-others="false">
        <uib-accordion-group is-open="paTrialOverview.accordionOpen">
            <uib-accordion-heading>
                Trial Identification <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': paTrialOverview.accordionOpen, 'glyphicon-chevron-right': !paTrialOverview.accordionOpen}"></i>
            </uib-accordion-heading>
            <!-- first row in the accordion body -->
            <div class="row">
                <!-- <p>
                    <s><strong>Clinical Research Category:</strong>
                    <span>{{paTrialOverview.trialDetailObj.research_category.name}}</span></s>
                </p> -->

                <p>
                    <strong>NCI ID: </strong>
                    <!-- get data from parent controller view -->
                    <span>{{paTrialOverview.trialDetailObj.nci_id}}</span>
                </p>

                <!-- <p>
                    <strong>NCT ID:</strong>
                    <span><a href="https://clinicaltrials.gov/ct2/show/{{paTrialOverview.trialDetailObj.nct_trial_id}}" target="_blank">{{paTrialOverview.trialDetailObj.nct_trial_id}}<i class="glyphicon glyphicon-new-window" style="padding-left: 5px"></i></a></span>
                </p> -->

                <p>
                    <strong>Lead Organization Trial ID: </strong>
                    <span>{{paTrialOverview.trialDetailObj.lead_protocol_id}}</span>
                </p>

                <p>
                    <strong>Other Identifiers: </strong>
                    <ul>
                        <li ng-repeat="id in paTrialOverview.trialDetailObj.other_ids_hash track by $index">
                            {{id.name}}: {{id.other_id_obj.protocol_id}}
                            <!-- <span ng-show="!$last">;</span> -->
                        </li>

                    </ul>
                </p>

                <!-- <p>
                    <strong>Abbreviated Trial?</strong>
                    <span></span>
                </p> -->

                <p>
                    <strong>Last Verification Date: </strong>
                    <span>{{paTrialOverview.trialDetailObj.verification_date | date: "dd-MMM-yyyy H:mm"}}</span>
                </p>

                <p>
                    <strong>Official Title: </strong>
                    <span>{{paTrialOverview.trialDetailObj.official_title}}</span>
                </p>

                <p>
                    <strong>Submission Source:</strong>
                    <span>{{paTrialOverview.trialDetailObj.last_submission_source.code}}</span>
                </p>

                <hr />
            </div>
            <!-- end of first row in the accordion body -->

            <!-- second row in the accordion body -->
            <div class="row">
                <form name="abstraction_form" class="form form-horizontal" role="form" novalidate>
                    <div class="col-xs-12">
                        <!-- first form-group -->
                        <div class="form-group">
                            <label for="processing_priority" class="control-label left col-xs-12 col-sm-2">Processing Priority:</label>
                            <div class="col-xs-12 col-sm-4">
                                <select name="priority_selection" id="processing_priority" class="form-control input-sm" ng-model="trialIdView.trialProcessingObj.priority">
                                    <option value="1 - High">1 - High</option>
                                    <option value="2 - Normal">2 - Normal</option>
                                    <option value="3 - Low">3 - Low</option>
                                </select>
                            </div>
                            <div class="col-xs-12 col-sm-6"></div>
                        </div>
                        <!-- end of first form-group -->

                        <!-- second form-group -->
                        <div class="form-group pull-left">
                            <label for="trial_processing_comment" class="control-label col-xs-12">Trial Processing Comments <small>(maximum: 4,000 characters)</small>:</label>
                        </div>
                        <!-- end of second form-group -->

                        <!-- third row in the form -->
                        <div class="form-group">
                            <div class="col-xs-12">
                                <textarea class="form-control" name="processing_comment" id="trial_processing_comment" rows="5" ng-maxlength="4000" ng-model="trialIdView.trialProcessingObj.comment"></textarea>
                            </div>
                        </div>
                        <!-- end of third row -->

                        <div class="form-group no-bottom-margin">
                            <div class="btn-toolbar">
                                <button type="submit" class="btn btn-primary pull-right" id="submit_processing" ng-click="trialIdView.saveProcessingInfo()" ng-disabled="!abstraction_form.$valid">Save</button>
                                <button type="button" class="btn btn-warning pull-right" id="cancel_processing" ng-click="trialIdView.resetView()">
                                    <i class="glyphicon glyphicon-remove"></i> Reset
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </uib-accordion-group>
    </uib-accordion>
</div>

<!-- end of row -->
