<ul class="nav navbar-nav">
    <li ng-class="{ active: headerView.navbarIsActive('main.defaultContent') }">
        <a tabindex="1" ui-sref="main.defaultContent">Home<span class="sr-only">(current)</span></a>
    </li>
    <li class="dropdown" ng-class="{ active: headerView.navbarIsActive('main.administrative, main.registeredUserDetails, main.manageSiteAdmins, main.newBiomarkerRequests, main.manageNcltTerms') }">
        <a tabindex="7" href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Administrative <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li><a ui-sref="main.registeredUsers">Registered User Details</a></li>
            <li><a ui-sref="main.users">User Management</a></li>
            <li><a ui-sref="main.assignTrials">Assign Trial Ownership</a></li>
            <li><a ui-sref="main.manageSiteAdmins">Manage Site Admins</a></li>
            <li><a ui-sref="main.newBiomarkerRequests">New Biomarker Requests</a></li>
            <li><a ui-sref="main.manageNcltTerms">Manage NClt Terms</a></li>
        </ul>
    </li>
</ul>
