<ul class="nav navbar-nav">
    <li ng-class="{ active: headerView.navbarIsActive('main.defaultContent') }">
        <a tabindex="1" ui-sref="main.defaultContent" ui-sref-opts="{reload:true}">Home<span class="sr-only">(current)</span></a>
    </li>
    <!--<li><a ui-sref="main.organizations">Organizations</a></li>-->
    <li class="dropdown" ng-class="{ active: headerView.navbarIsActive('main.dashboards, main.paTrialSearch, main.pa.trialOverview, main.pa.resultsReporting, main.pa.govImport') }">
        <a tabindex="2" href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dashboards <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li><a ui-sref="main.pamTrialSearch" ui-sref-opts="{reload:true}">Abstraction</a></li>
            <li><a ui-sref="main.resultsReporting" ui-sref-opts="{reload:true}">Results Reporting</a></li>
            <li><a ui-sref="main.govImport" ui-sref-opts="{reload:true}">CT.Gov Import</a></li>
        </ul>
    </li>
    <li class="dropdown" ng-class="{ active: headerView.navbarIsActive('main.organizations, main.addOrganization, main.families, main.addFamily') }">
        <a tabindex="3" href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Organizations & Families <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li><a ui-sref="main.organizations" ui-sref-opts="{reload:true}">Search Organizations</a></li>
            <li><a ui-sref="main.addOrganization" ui-sref-opts="{reload:true}">Add Organization</a></li>
            <li role="separator" class="divider" ui-sref-opts="{reload:true}"></li>
            <li><a ui-sref="main.families" ui-sref-opts="{reload:true}">Search Families</a></li>
            <li><a ui-sref="main.addFamily" ui-sref-opts="{reload:true}">Add Family</a></li>
        </ul>
    </li>
    <li class="dropdown" ng-class="{ active: headerView.navbarIsActive('main.people, main.addPerson') }">
        <a tabindex="4" href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Persons<span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li><a ui-sref="main.people" ui-sref-opts="{reload:true}">Search Persons</a></li>
            <li><a ui-sref="main.addPerson" ui-sref-opts="{reload:true}">Add Person</a></li>
        </ul>
    </li>
    <li class="dropdown" ng-class="{ active: headerView.navbarIsActive('main.trials, main.addTrial') }">
        <a tabindex="5" href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Trials<span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li><a ui-sref="main.trials" ui-sref-opts="{reload:true}">Search Trials (Reg)</a></li>
            <li><a id="mnu_srch_trls_pa" ui-sref="main.paTrialSearch" ui-sref-opts="{reload:true}">Search Trials (PA)</a></li>
            <li class="dropdown-submenu">
                <a ui-sref="#" ui-sref-opts="{reload:true}">Register Trial</a>
                <ul class="dropdown-menu">
                    <li><a ui-sref="main.addTrial({studySourceCode: 'nat'})" ui-sref-opts="{reload:true}">National</a></li>
                    <li><a ui-sref="main.addTrial({studySourceCode: 'epr'})" ui-sref-opts="{reload:true}">Externally Peer-Reviewed</a></li>
                    <li><a ui-sref="main.addTrial({studySourceCode: 'ins'})" ui-sref-opts="{reload:true}">Institutional</a></li>
                    <li><a ui-sref="main.importTrial" ui-sref-opts="{reload:true}">Industrial/Other</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="dropdown" ng-class="{ active: headerView.navbarIsActive('main.accrual, main.pendingAccrualQueue, main.accrualsOutOfScopeTrials, main.manageFlaggedTrails, main.manageAccrualAccess') }">
        <a tabindex="6" href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Accrual <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li><a ui-sref="main.pendingAccrualQueue" ui-sref-opts="{reload:true}">Pending Accrual Queue</a></li>
            <li><a ui-sref="main.accrualsOutOfScopeTrials" ui-sref-opts="{reload:true}">Accruals Out-Of-Scope Trials</a></li>
            <li><a ui-sref="main.manageFlaggedTrails" ui-sref-opts="{reload:true}">Manage Flagged Trials</a></li>
            <li><a ui-sref="main.manageAccrualAccess" ui-sref-opts="{reload:true}">Manage Accrual Access</a></li>
        </ul>
    </li>
    <li class="dropdown" ng-class="{ active: headerView.navbarIsActive('main.administrative, main.registeredUserDetails, main.manageSiteAdmins, main.newBiomarkerRequests, main.manageNcltTerms') }">
        <a tabindex="7" href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Administrative <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li><a ui-sref="main.registeredUsers" ui-sref-opts="{reload:true}">Registered User Details</a></li>
            <li><a ui-sref="main.users" ui-sref-opts="{reload:true}">User Management</a></li>
            <li><a ui-sref="main.assignTrials" ui-sref-opts="{reload:true}">Assign Trial Ownership</a></li>
            <li><a ui-sref="main.manageSiteAdmins" ui-sref-opts="{reload:true}">Manage Site Admins</a></li>
            <li><a ui-sref="main.newBiomarkerRequests" ui-sref-opts="{reload:true}">New Biomarker Requests</a></li>
            <li><a ui-sref="main.manageNcltTerms" ui-sref-opts="{reload:true}">Manage NClt Terms</a></li>
        </ul>
    </li>
    <li><a tabindex="8" ng-href="/ctrp/backoffice">Back Office</a></li>
</ul>
