

<!-- FOOTER -->
<footer class="site-footer" ng-controller="footerCtrl">
    <div id="nvcgSlFooter">
        <div class="contentid-911586 slot-item only-SI">


            <div class="row">
                <div class="large-12 columns footer-nci">National Cancer Institute<br /> <span>at the National Institutes of Health</span></div>
            </div>
            <div class="row footer-utility">
                <div class="large-3 columns">
                    <h2>FOLLOW US</h2>
                    <ul class="follow-us clearfix">
                        <li><a class="facebook icon" onclick="NCIAnalytics.FooterLink(this, 'Facebook');" href="/social-media#facebook"><span class="hidden">Facebook</span></a></li>
                        <li><a class="twitter icon" onclick="NCIAnalytics.FooterLink(this, 'Twitter');" href="/social-media#twitter"><span class="hidden">Twitter</span></a></li>
                        <li><a class="instagram icon no-exit-notification" onclick="NCIAnalytics.FooterLink(this, 'Instagram');" href="http://instagram.com/ncivisualsonline"><span class="hidden">Instagram</span></a></li>
                        <li><a class="youtube icon" onclick="NCIAnalytics.FooterLink(this, 'YouTube');" href="/social-media#youTube"><span class="hidden">YouTube</span></a></li>
                        <li><a class="googleplus icon" onclick="NCIAnalytics.FooterLink(this, 'Google+');" href="/social-media#google+"><span class="hidden">Google+</span></a></li>
                        <li><a class="linkedin icon" onclick="NCIAnalytics.FooterLink(this, 'LinkedIn');" href="/social-media#linkedIn"><span class="hidden">LinkedIn</span></a></li>
                    </ul>
                    <ul class="follow-us clearfix">
                        <li><a class="govdelivery icon" onclick="NCIAnalytics.FooterLink(this, 'GovDelivery');" href="https://public.govdelivery.com/accounts/USNIHNCI/subscriber/new "><span class="hidden">GovDelivery</span></a></li>
                        <li><a class="rss icon" onclick="NCIAnalytics.FooterLink(this, 'RSS');" href="/syndication/rss"><span class="hidden">RSS</span></a></li>
                    </ul>
                </div>
                <div class="large-3 columns">
                    <h2>CONTACT INFORMATION</h2>
                    <ul>
                        <li><a onclick="NCIAnalytics.FooterLink(this, 'Contact Us');" href="/contact">Contact Us</a></li>
                        <li><a onclick="NCIAnalytics.FooterLink(this, 'LiveHelp Chat'); window.open('https://livehelp.cancer.gov', 'LiveHelp','scrollbars=yes,resizable=yes,menubar=yes,toolbar=yes,location=yes,width=650,height=600'); return false;" href="https://livehelp.cancer.gov">LiveHelp Online Chat</a></li>
                    </ul>
                </div>
                <div class="large-3 columns">
                    <h2>MORE INFORMATION</h2>
                    <ul>
                        <li><a onclick="NCIAnalytics.FooterLink(this, 'About Website');" href="/about-website">About This Website</a></li>
                        <li><a onclick="NCIAnalytics.FooterLink(this, 'Cancer.gov en Espanol');" href="/espanol">Cancer.gov en espa&ntilde;ol</a></li>
                        <li><a onclick="NCIAnalytics.FooterLink(this, 'Multimedia');" href="/multimedia">Multimedia</a></li>
                        <li><a onclick="NCIAnalytics.FooterLink(this, 'Publications');" href="/publications">Publications</a></li>
                        <li><a onclick="NCIAnalytics.FooterLink(this, 'Site Map');" href="/about-website/sitemap">Site Map</a></li>
                        <li><a onclick="NCIAnalytics.FooterLink(this, 'Digital Standards');" href="/digital-standards">Digital Standards for NCI Websites</a></li>
                    </ul>
                </div>
                <div class="large-3 columns">
                    <h2>POLICIES</h2>
                    <ul>
                        <li><a onclick="NCIAnalytics.FooterLink(this, 'Accessibility');" href="/policies/accessibility">Accessibility</a></li>
                        <li><a onclick="NCIAnalytics.FooterLink(this, 'Comments');" href="/policies/comments">Comment Policy</a></li>
                        <li><a onclick="NCIAnalytics.FooterLink(this, 'Disclaimer');" href="/policies/disclaimer">Disclaimer</a></li>
                        <li><a onclick="NCIAnalytics.FooterLink(this, 'FOIA');" href="/policies/foia">FOIA</a></li>
                        <li><a onclick="NCIAnalytics.FooterLink(this, 'Privacy and Security');" href="/policies/privacy-security">Privacy &amp; Security</a></li>
                        <li><a onclick="NCIAnalytics.FooterLink(this, 'Reuse');" href="/policies/copyright-reuse">Reuse &amp; Copyright</a></li>
                        <li><a onclick="NCIAnalytics.FooterLink(this, 'Syndication');" href="/syndication">Syndication Services</a></li>
                        <li><a onclick="NCIAnalytics.FooterLink(this, 'Linking');" href="/policies/linking">Website Linking</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="large-12 small-centered columns agencies">
                    <ul>
                        <li><a onclick="NCIAnalytics.FooterLink(this, 'HHS');" href="http://www.hhs.gov/">U.S. Department of Health and Human Services</a></li>
                        <li><a onclick="NCIAnalytics.FooterLink(this, 'NIH');" href="http://www.nih.gov">National Institutes of Health</a></li>
                        <li><a onclick="NCIAnalytics.FooterLink(this, 'NCI');" href="/">National Cancer Institute</a></li>
                        <li class="last"><a onclick="NCIAnalytics.FooterLink(this, 'USA.gov');" href="http://usa.gov">USA.gov</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="large-12 small-centered columns tagline">NIH ... Turning Discovery Into Health<sup>&reg;</sup></div>
            </div>
            <a class="back-to-top" href="#top">TOP</a>
        </div>
        <br /><br />
        <div class="text-center" ng-show="appVersion !=''">
            CTRP v{{appVersion}} {{appRelMilestone}}
        </div>
    </div>
</footer>
