<p id="notice"><%= notice %></p>

<p>
  <strong>Alternate name:</strong>
  <%= @marker_synonym.alternate_name %>
</p>

<%= link_to 'Edit', edit_marker_synonym_path(@marker_synonym) %> |
<%= link_to 'Back', marker_synonyms_path %>
