<div ng-show="editMode">
    <div class="col-xs-12 col-sm-10">
        <textarea class="form-control input-sm" rows="1"
            name="criteria_desc_edit" id="criteria_desc_edit"
            maxlength="5000" ng-maxlength="5000"
            ng-required="true"
            ng-model="model">
        </textarea>
        <span ng-show="model.length > 0">
            {{5000 - model.length}} characters left. Total characters for all Other Criteria is 5,000
        </span>
        <!-- <input type="text" id="other_id_edit" class="form-control input-sm" ng-model="model" auto-focus ng-required="true"> -->
    </div>
    <div class="col-xs-12 col-sm-1"><button type="button" id="cancel_edit_btn" class="btn btn-warning" ng-click="cancelEdit()">Cancel</button></div>
    <div class="col-xs-12 col-sm-1"><button type="button" id="save_id_btn" class="btn btn-success" ng-disabled="errorMsg.length > 0" ng-click="saveEdit()" restriction-field>Save</button></div>
</div>
<div class="help-block" ng-show="errorMsg.length > 0">
    {{errorMsg}}
</div>
<div ng-hide="editMode">
    <span ng-mouseenter="showEdit = true" ng-mouseleave="showEdit = false">
        <span ng-click="edit()" class="editable-click">{{model}}</span>
        <!-- <a ng-show="showEdit" ng-click="edit()">Edit</a> -->
    </span>
</div>
