<!-- add associated trial -->
<div class="row top-buffer">
    <form name="associated_trials_form" role="form" class="form-horizontal" novalidate ctrp-submit="assoTrialsView.updateCriteria()">
        <!-- fieldset for eligibility criteria -->
        <fieldset class="sub-bordered" restriction-field ng-disabled="!paTrialOverview.trialDetailObj.pa_sci_editable">
            <legend class="sub-bordered">Look Up Trial</legend>
            <div class="form-group">
                <label for="identifier_type" class="control-label col-xs-12 col-sm-3">Identifier Type</label>
                <div class="col-xs-12 col-sm-4">
                    <select name="identifier_type" id="identifier_type" class="form-control input-sm"
                        ng-model="assoTrialsView.trialQueryObj.identifierTypeId"
                        ng-options="type.id as type.name for type in assoTrialsView.identifierTypes"
                        required>
                        <option value="">
                            -- Please select a trial identifier type...
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="trial_identifier" class="control-label col-xs-12 col-sm-3">Trial Identifier</label>
                <div class="col-xs-12 col-sm-4">
                    <input type="text" name="trial_identifier" id="trial_identifier"
                        class="form-control input-sm"
                        ng-model="assoTrialsView.trialQueryObj.trialIdentifier"
                        required
                        placeholder="Trial Identifier"
                    >
                </div>
                <div class="col-xs-12 col-sm-3">
                    <button type="button" class="btn btn-primary"
                        ng-click="assoTrialsView.lookupTrial()"
                        ng-disabled="assoTrialsView.lookupBtnDisabled">
                        <i class="glyphicon glyphicon-search"></i> Look Up Trial
                    </button>
                </div>
                <div class="col-xs-12 col-sm-2 form-text alert alert-warning" ng-show="assoTrialsView.foundTrialObj.errorMsg.length > 0">
                    {{assoTrialsView.foundTrialObj.errorMsg}}
                </div>
            </div>
            <div ng-hide="assoTrialsView.foundTrialObj.official_title.length==0">
                <!-- show this div only if the trial is found not null -->
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-3">Research Category</label>
                    <div class="col-xs-12 col-sm-5 form-text">{{assoTrialsView.foundTrialObj.researchCategory}}</div>
                </div>

                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-3">Official Title</label>
                    <div class="col-xs-12 col-sm-9 form-text">{{assoTrialsView.foundTrialObj.official_title}}</div>
                </div>

                <div class="form-group text-center">
                    <button type="button" class="btn btn-warning" ng-click="assoTrialsView.resetTrialLookupForm()">Reset</button>
                    <button class="btn btn-primary" ng-click="assoTrialsView.associateThisTrial(assoTrialsView.foundTrialObj)">Save</button>
                </div>
            </div>
        </fieldset>

    </form>
</div>
<!-- end of adding associated trial -->
<!-- associated trials -->
<div class="row top-buffer">
    <form>
        <fieldset class="sub-bordered" restriction-field ng-disabled="!paTrialOverview.trialDetailObj.pa_sci_editable">
            <legend class="sub-bordered">Associated Trials</legend>
            <span ng-show="assoTrialsView.associatedTrials.length === 0">Nothing found to display</span>
            <table st-table="assoTrialsView.associatedTrials" class="table table-striped table-hover table-bordered" ng-hide="assoTrialsView.associatedTrials.length === 0">
                <thead>
                <tr>
                    <th st-sort="trial_identifier" class="col-sm-2 text-center">Trial Identifier</th>
                    <th class="col-sm-2 text-center">Identifier Type</th>
                    <th class="text-center col-sm-1">Trial Type</th>
                    <th class="text-center col-sm-4">Official Title</th>
                    <th class="text-center col-sm-1">Delete</th>
                </tr>
                </thead>
                <tbody>
                    <!-- trial_identifier: '',
                    identifier_type_id: '',
                    trial_id: '',
                    official_title: '',
                    _destroy: false -->
                    <tr ng-repeat="t in assoTrialsView.associatedTrials track by $index">
                        <td class="text-center">
                            {{t.trial_identifier}}
                        </td>
                        <td class="text-center">
                            {{t.identifierTypeStr}}
                        </td>
                        <td class="text-center">
                            {{t.researchCategory}}
                        </td>
                        <td>
                            {{t.official_title}}
                        </td>
                        <td class="text-center">
                            Delete
                        </td>
                    </tr>
                </tbody>
            </table>
        </fieldset>
    </form>
</div>

<!-- end of associated trials -->
