<strong>Arms Groups</strong><!-- Grid the shows all the Anatomic Sites -->
<div class="row">
    <uib-accordion close-others="false">
        <uib-accordion-group is-open="paTrialOverview.accordionOpen">
            <uib-accordion-heading>
                List of Arms Groups<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': paTrialOverview.accordionOpen, 'glyphicon-chevron-right': !paTrialOverview.accordionOpen}"></i>
            </uib-accordion-heading>

            <div class="form-group no-bottom-margin" ng-if="anatomicView.addMode">
                <fieldset class="sub-bordered" ng-disabled="!paTrialOverview.trialDetailObj.pa_sci_editable"> 
                    <legend class="sub-bordered">Select Anatomic Sites:</legend>
                    <form class="form form-horizontal" role="form">

                        <div class="form-group">
                            <label for="arms_groups" class="control-label col-xs-12 col-sm-3">Anatomic Sites: </label>
                            <div class="col-xs-12 col-sm-9">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="btn-toolbar" ng-show="paTrialOverview.trialDetailObj.pa_sci_editable">
                                            <button type="submit" class="btn btn-primary pull-right" id="submission_btn" ng-click="armView.saveSelection()">
                                                <i class="glyphicon glyphicon-search"></i> Save
                                            </button>
                                            <!--button class="btn btn-warning pull-right" id="reset_btn" ng-click="anatomicView.reset()">
                                                <i class="glyphicon glyphicon-remove"></i> Clear
                                            </button-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </fieldset>
            </div>
            <fieldset>
                <legend class="sub-bordered">List of Arms Groups:</legend>
                <div class="form-group table-responsive">
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                        <th>Label</th>
                        <th>Type</th>
                        <th>Description</th>
                        <th class="text-center">Edit</th>
                        <th class="text-center">Deletion</th>
                        </thead>
                        <tbody>
                        <tr ng-repeat="arms_group in armView.curTrial.arms_groups track by $index" class="animated-item">
                            <td>{{arms_group.label}}</td>
                            <td>&nbsp;</td>
                            <td>{{arms_group.description}}</td>
                            <td>
                                <button class="btn btn-default" restriction-field ng-disabled="status._destroy" ng-click="armView.setEditMode($index)">
                                    <i class="glyphicon glyphicon-edit"></i>
                                </button>
                            </td>
                            <td>
                                <input type="checkbox" ng-model="arms_group.selected" ng-change="anatomicView.deleteListHandler(armView.curTrial.arms_groups)" />
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="btn-toolbar" ng-show="paTrialOverview.trialDetailObj.pa_sci_editable">
                        <button type="submit" class="btn btn-primary pull-right" id="add_arms_groups" restriction-field ng-click="armView.setAddMode()">Add Arms Groups</button>
                        <button type="submit" class="btn btn-primary pull-right" id="delete" restriction-field ng-click="armView.deleteSelected()">Delete Arms Groups</button>
                    </div>

                </div>

            </fieldset>
        </uib-accordion-group>
    </uib-accordion>