<div ng-show="omView.addEditMode">
<form class="form form-horizontal" role="form" name="om_form" novalidate ctrp-submit="omView.saveOutcomeMeasure()">
    <!-- first row in the accordion body -->
    <div class="row">
        <uib-accordion close-others="false">
            <uib-accordion-group is-open="paTrialOverview.accordionOpen">
                <uib-accordion-heading>
                    Outcome Measure Details <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': paTrialOverview.accordionOpen, 'glyphicon-chevron-right': !paTrialOverview.accordionOpen}"></i>
                </uib-accordion-heading>

                <!-- fieldset for outcome measure details-->
                <fieldset class="sub-bordered" restriction-field ng-disabled="!paTrialOverview.trialDetailObj.pa_editable">
                    <legend class="sub-bordered">Outcome Measure Details</legend>
                    <div class="form-group has-feedback required" ng-class="{'has-error': ctrpbtn.om_form.needsAttention(om_form.om_type)}">
                    <label for="om_type" class="control-label col-xs-12 col-sm-3">Outcomemeasure Type</label>
                    <div class="col-xs-12 col-sm-5">
                        <select name="om_type" id="om_type"
                                class="form-control input-sm"
                                ng-required="true"
                                ng-model="omView.currentOutcomeMeasure.outcome_measure_type_id"
                                ng-options="om.id as om.name for om in omView.om_types"
                                >
                            <option value="">- Please select a  outcome-measure type...</option>
                        </select>
                    </div>
                        <span ng-messages="ctrpbtn.om_form.needsAttention(om_form.om_type) &&
                                    om_form.primary_purpose.$error">
                        <span class="help-block" ng-message="required">Outcomemeasure Type is required</span>
                        </span>
                     </div>
                <!--/fieldset-->
                <!-- end of outcome measure types -->

                <!-- fieldset for Title -->
                <!--fieldset class="sub-bordered" restriction-field ng-disabled="!paTrialOverview.trialDetailObj.pa_editable">
                    <legend class="sub-bordered">Title</legend-->

                    <div class="form-group has-feedback required" ng-class="{'has-error': ctrpbtn.om_form.needsAttention(om_form.title)}">
                        <label for="title" class="control-label col-xs-12 col-sm-2">Title</label>
                        <div class="col-xs-12 col-sm-10">
                                <textarea name="title"
                                          id="title"
                                          rows="5"
                                          class="form-control"
                                          ng-model="omView.currentOutcomeMeasure.title"
                                          ng-maxlength="255"
                                          ng-required="true">
                                </textarea>
                                <span ng-show="om_form.title.$dirty">
                                    {{255 - om_form.title.$viewValue.length}} characters left
                                </span>

                        </div>

                            <span ng-messages="ctrpbtn.om_form.needsAttention(om_form.title) && om_form.title.$error">
                              <span class="help-block" ng-message="required">Please enter the Title</span>
                            </span>
                    </div>
                <!--/fieldset-->
                <!-- fieldset for Time Frame -->
                <!--fieldset class="sub-bordered" restriction-field ng-disabled="!paTrialOverview.trialDetailObj.pa_editable">
                    <legend class="sub-bordered">Time Frame</legend-->

                    <div class="form-group has-feedback required" ng-class="{'has-error': ctrpbtn.om_form.needsAttention(om_form.time_frame)}">
                        <label for="title" class="control-label col-xs-12 col-sm-2">Time Frame</label>
                        <div class="col-xs-12 col-sm-10">
                                <textarea name="time_frame"
                                          id="time_frame"
                                          rows="5"
                                          class="form-control"
                                          ng-model="omView.currentOutcomeMeasure.time_frame"
                                          ng-maxlength="255"
                                          ng-required="true">
                                </textarea>
                                <span ng-show="om_form.time_frame.$dirty">
                                    {{255 - om_form.time_frame.$viewValue.length}} characters left
                                </span>
                        </div>

                            <span ng-messages="ctrpbtn.om_form.needsAttention(om_form.time_frame) && om_form.time_frame.$error">
                              <span class="help-block" ng-message="required">Please enter the Time Frame</span>
                            </span>
                    </div>
                <!--/fieldset-->

                <!-- fieldset for Description -->
                <!--fieldset class="sub-bordered" restriction-field ng-disabled="!paTrialOverview.trialDetailObj.pa_editable">
                    <legend class="sub-bordered">Description</legend-->

                    <div class="form-group has-feedback">
                        <label for="description" class="control-label col-xs-12 col-sm-2">Description</label>
                        <div class="col-xs-12 col-sm-10">
                                <textarea name="description"
                                          id="description"
                                          rows="5"
                                          class="form-control"
                                          ng-model="omView.currentOutcomeMeasure.description"
                                          ng-maxlength="1000">
                                </textarea>
                             <span ng-show="om_form.description.$dirty">
                                    {{1000 - om_form.description.$viewValue.length}} characters left
                                </span>
                        </div>
                    </div>
                <!--/fieldset-->

                <!-- safety issue -->
                <!-- fieldset for outcome measure types-->
                <!--fieldset class="sub-bordered" restriction-field ng-disabled="!paTrialOverview.trialDetailObj.pa_editable">
                    <legend class="sub-bordered">Safety Issue</legend-->

                    <div class="form-group has-feedback required" ng-class="{'has-error': ctrpbtn.om_form.needsAttention(om_form.safety_issue)}">
                    <label for="safety_issue" class="control-label col-xs-12 col-sm-2">Safety Issue</label>
                    <div class="col-xs-12 col-sm-5">
                        <select name="safety_issue" id="safety_issue"
                                class="form-control input-sm"
                                ng-required="true"
                                ng-model="omView.currentOutcomeMeasure.safety_issue"
                                ng-options="om for om in omView.safety_issues"
                                >
                            <option value="">- Please select a safety issue type...</option>
                        </select>
                    </div>
                     <span ng-messages="ctrpbtn.om_form.needsAttention(om_form.safety_issue) &&
                                    om_form.safety_issue.$error">
                    <span class="help-block" ng-message="required">Outcomemeasure Type is required</span>
               </span>
                </div>
                </fieldset>
                <!-- safety issue -->
               
                <!-- Saving the form for the Outcome Measure" -->
                <div class="form-group no-bottom-margin">
                    <div class="btn-toolbar" ng-if="paTrialOverview.trialDetailObj.pa_editable">
                        <button type="submit" class="btn btn-primary pull-right" id="submit_processing">Save</button>
                        <button type="button" class="btn btn-warning pull-right" ng-click="omView.resetOutcomeMeasure()">
                            <i class="glyphicon glyphicon-remove"></i> Reset
                        </button>
                    </div>
                </div>
            </uib-accordion-group>
        </uib-accordion>
    </div>
</form>
</div>

<!-- Grid the shows all the Outcome Measures -->
<div class="row">
    <uib-accordion close-others="false">
        <uib-accordion-group is-open="paTrialOverview.accordionOpen">
            <uib-accordion-heading>
                List of Outcome Measures  <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': paTrialOverview.accordionOpen, 'glyphicon-chevron-right': !paTrialOverview.accordionOpen}"></i>
            </uib-accordion-heading>

            <fieldset>
                <legend class="sub-bordered">List of Outcome Measures:</legend>
                <div class="form-group table-responsive">
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                        <th>Outcome Measure Type</th>
                        <th>Title</th>
                        <th>Time Frame</th>
                        <th>Description</th>
                        <th>Safety Issue</th>
                        <th class="text-center">Edit</th>
                        <th class="text-center">Copy</th>
                        <th class="text-center">Deletion</th>
                        </thead>
                        <tbody>

                        <tr ng-repeat="outcome_measure in omView.curTrial.outcome_measures track by $index" class="animated-item" ng-class="{'deleted-text': outcome_measure._destroy, 'edit-selected': outcome_measure.id === omView.currentOutcomeMeasure.id}">
                            <!--<tr ng-repeat="participating_site in omView.curTrial.participating_sites track by $index" class="animated-item" ng-class="participating_site._destroy ? 'deleted-text' : ''">-->
                            <td>{{outcome_measure.outcome_measure_type}}</td>
                            <td>
                                {{outcome_measure.title}}
                            </td>
                            <td>
                                {{outcome_measure.time_frame}}
                            </td>
                            <td>
                                {{outcome_measure.description}}
                            </td>
                            <td>
                                {{outcome_measure.safety_issue}}
                            </td>
                            
                            <td>
                                <button class="btn btn-default" restriction-field ng-disabled="status._destroy" ng-click="omView.setEditMode($index)">
                                    <i class="glyphicon glyphicon-edit"></i>
                                </button>
                            </td>
                            <td>
                                <button class="btn btn-default" restriction-field ng-disabled="status._destroy" ng-click="omView.setCopyMode($index)">
                                    <i class="glyphicon glyphicon-copy"></i>
                                </button>
                            </td>
                            <td>
                                <input type="checkbox" ng-model="outcome_measure.selected" ng-change="omView.deleteListHandler(omView.curTrial.outcome_measures)" />
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="btn-toolbar" ng-if="paTrialOverview.trialDetailObj.pa_editable">
                        <button type="submit" class="btn btn-primary pull-right" id="add_outcome_measure" restriction-field ng-click="omView.setAddMode()">Add Outcome Measure</button>
                        <button type="submit" class="btn btn-primary pull-right" id="delete" restriction-field ng-click="omView.deleteSelected()">Delete Outcome Measures</button>
                    </div>

                </div>

            </fieldset>
        </uib-accordion-group>
    </uib-accordion>
</div>

