<div class="row" id="section_top">
    <div class="panel panel-default" ng-show="diseaseView.addMode">
        <div class="panel-heading">
            <div class="panel-title">Add Disease/Condition</div>
        </div>
        <div class="panel-body">
            <form class="form form-horizontal" role="form" name="search_disease_form" novalidate ctrp-submit="diseaseView.searchDiseases()">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Disease/Condition:</label>
                    <div class="col-xs-12 col-sm-5">
                        <input type="text" name="protocol_id" id="protocol_id" class="form-control input-sm" ng-model="diseaseView.searchParams.disease_name" autofocus />
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <button type="submit" class="btn btn-primary" id="search_btn" ng-disabled="diseaseView.disableBtn || diseaseView.searching">
                            <i class="glyphicon glyphicon-search"></i> Search
                        </button>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9 checkbox checkbox-info">
                        <label for="synonym">
                            <input type="checkbox" id="synonym" ng-model="diseaseView.searchParams.synonym"> Search Synonyms
                        </label>
                    </div>
                </div>
           </form>

           <form class="form form-horizontal width-normal" role="form" name="saved_disease_form" novalidate ctrp-submit="diseaseView.saveDiseases()">
                <div class="col-xs-12">
                    <span us-spinner="{radius: 10, length: 5}" spinner-on="diseaseView.searching"></span>
                </div>

                <h4 ng-show="diseaseView.searchResult.length">{{diseaseView.searchResult.length === 300 ? 'More than ' : ''}}{{diseaseView.searchResult.length}} results for "{{diseaseView.searchParams.disease_name}}"</h4>

                <div class="form-group">
                    <div class="col-sm-7 table-responsive max-height-lg">
                        <table class="table table-bordered table-striped table-hover" ng-show="diseaseView.searchResult.length">
                            <thead>
                                <th>Preferred Name</th>
                                <th>Synonyms</th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="result in diseaseView.searchResult track by $index">
                                    <td>
                                        {{result.preferred_name}}
                                        <button class="btn btn-primary" type="button" ng-click="diseaseView.openTree(result.nt_term_id)">
                                            <i class="glyphicon glyphicon-tree-conifer"></i>
                                        </button>
                                        <button class="btn btn-primary" type="button" ng-click="diseaseView.openInfo(result.nt_term_id)">
                                            <i class="glyphicon glyphicon-info-sign"></i>
                                        </button>
                                        <button restriction-field class="btn btn-primary" type="button" ng-click="diseaseView.addDisease($index)"
                                                ng-disabled="result.added">
                                            <i class="glyphicon glyphicon-plus"></i>
                                        </button>
                                        <div class="has-error">
                                            <span class="help-block" ng-show="result.exists">
                                                This disease has been added to this trial already
                                            </span>
                                        </div>
                                    </td>
                                    <td>
                                        <p ng-repeat="synonym in result.ncit_disease_synonyms track by $index">
                                            {{synonym.alternate_name}}
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-4">
                        <div ng-show="diseaseView.addedDiseases.length > 0" class="form-group">
                            <h4>Your Selections <span class="pull-right">{{diseaseView.addedDiseases.length}} diseases selected</span></h4>
                            <ul class="list-group">
                                <li ng-repeat="addedDisease in diseaseView.addedDiseases track by $index" class="list-group-item">
                                    {{addedDisease.preferred_name}}
                                    <button restriction-field class="btn btn-warning" type="button" ng-click="diseaseView.removeDisease($index)">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="form-group no-bottom-margin">
                    <div class="btn-toolbar">
                        <button type="submit" class="btn btn-primary pull-right" id="save_btn2" restriction-field ng-disabled="!diseaseView.addedDiseases.length || diseaseView.disableBtn">
                            <i class="glyphicon glyphicon-ok"></i> Save
                        </button>
                        <button type="button" class="btn btn-warning pull-right" id="reset_btn" restriction-field ng-disabled="!diseaseView.addedDiseases.length || diseaseView.disableBtn" ng-click="diseaseView.resetDiseases()">
                            <i class="glyphicon glyphicon-remove"></i> Reset
                        </button>
                        <button type="button" class="btn btn-warning pull-right" id="back_btn" restriction-field ng-click="diseaseView.setAddMode(false)" ng-disabled="diseaseView.disableBtn">
                            <i class="glyphicon glyphicon-arrow-left"></i> Back to Disease List
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="panel panel-default" ng-hide="diseaseView.addMode">
        <div class="panel-heading">
            <div class="panel-title">List of Disease/Condition</div>
        </div>
        <div class="panel-body">
            <form class="form form-horizontal" role="form" name="disease_form" novalidate ctrp-submit="diseaseView.updateRank()">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover" ng-show="diseaseView.existingDiseases.length">
                        <thead>
                            <th>Preferred Name</th>
                            <th>NCI Thesaurus Concept ID</th>
                            <th>Menu Display Name</th>
                            <th>Parent Preferred Name(s)</th>
                            <th>Disease Code</th>
                            <th class="text-center td-icon">
                                <input type="checkbox" restriction-field ng-model="diseaseView.selectedAll" ng-change="diseaseView.toggleAll()" ng-disabled="!paTrialOverview.trialDetailObj.pa_sci_editable"/>
                            </th>
                        </thead>
                        <tbody>
                        <tr ng-repeat="disease in diseaseView.existingDiseases track by $index">
                            <td>{{disease.preferred_name}}</td>
                            <td>{{disease.thesaurus_id}}</td>
                            <td>{{disease.display_name}}</td>
                            <td>{{disease.parent_preferred}}</td>
                            <td>
                                <div>
                                    <label class="radio-inline">
                                        <input type="radio" restriction-field ng-model="disease.rank" ng-change="diseaseView.updateValidationVar()" value="Primary"> Primary
                                    </label><br>
                                    <label class="radio-inline">
                                        <input type="radio" restriction-field ng-model="disease.rank" ng-change="diseaseView.updateValidationVar()" value="Secondary"> Secondary
                                    </label><br>
                                    <label class="radio-inline">
                                        <input type="radio" restriction-field ng-model="disease.rank" ng-change="diseaseView.updateValidationVar()" value=""> N/A
                                    </label>
                                </div>
                            </td>
                            <td class="text-center td-icon">
                                <input type="checkbox" restriction-field ng-model="disease._destroy" ng-change="diseaseView.toggleOne()" ng-disabled="!paTrialOverview.trialDetailObj.pa_sci_editable"/>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <input type="hidden" name="disease_dummy" ng-model="diseaseView.dummyField" ng-required="diseaseView.showPrimaryRequired || diseaseView.showPrimaryOnlyOne || diseaseView.showSecondaryOnlyOne">
                <div class="has-error">
                    <span class="help-block" ng-show="diseaseView.showPrimaryRequired && ctrpbtn.disease_form.needsAttention(disease_form.disease_dummy)">
                        One disease must be selected as primary<br>
                    </span>
                    <span class="help-block" ng-show="diseaseView.showPrimaryOnlyOne && ctrpbtn.disease_form.needsAttention(disease_form.disease_dummy)">
                        Only one disease can be selected as primary<br>
                    </span>
                    <span class="help-block" ng-show="diseaseView.showSecondaryOnlyOne && ctrpbtn.disease_form.needsAttention(disease_form.disease_dummy)">
                        Only one disease can be selected as secondary
                    </span>
                </div>

                <div class="form-group no-bottom-margin">
                    <div class="btn-toolbar">
                        <button type="submit" class="btn btn-primary pull-right" id="save_btn" restriction-field ng-disabled="diseaseView.disableBtn || !paTrialOverview.trialDetailObj.pa_sci_editable"
                                ng-show="diseaseView.existingDiseases.length">
                            <i class="glyphicon glyphicon-ok"></i> Save
                        </button>
                        <button type="button" class="btn btn-primary pull-right" id="add_btn" restriction-field  ng-disabled="diseaseView.disableBtn || !paTrialOverview.trialDetailObj.pa_sci_editable" ng-click="diseaseView.setAddMode(true)">
                            <i class="glyphicon glyphicon-plus"></i> Add Disease/Condition
                        </button>
                        <button type="button" class="btn btn-danger pull-right" id="delete_btn" restriction-field ctrp-confirm ctrp-click="diseaseView.deleteSelected()" confirm-msg="Click OK to remove selected Disease/Condition from the study. Click Cancel to abort."
                                ng-disabled="diseaseView.selectedNum === 0 || diseaseView.disableBtn || !paTrialOverview.trialDetailObj.pa_sci_editable" ng-show="diseaseView.existingDiseases.length">
                            <i class="glyphicon glyphicon-trash"></i> Delete Selected
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
