<div class="row">
    <form class="form-horizontal" role="form" name="trial_design_form" novalidate ctrp-submit="designView.submitForm()">
        <fieldset class="sub-bordered" ng-disabled="!paTrialOverview.trialDetailObj.pa_sci_editable">
            <legend class="sub-bordered">
                Trial Design{{designView.researchCategoryTitle}}
            </legend>
            <!-- research categories -->
            <div class="form-group">
                <label for="research_category" class="control-label col-xs-12 col-sm-2">Research Category</label>
                <div class="col-xs-12 col-sm-5" layout="row" layout-wrap flex-xs="100">
                    <select name="research_category" id="research_category"
                        class="form-control input-sm"
                        ng-model="designView.trialDetailObj.research_category_id"
                        ng-options="cat.id as cat.name for cat in designView.researchCategories"
                        >
                        <option value="">- Please select a research category...</option>
                    </select>
                    <!-- <md-radio-group ng-model="designView.trialDetailObj.research_category_id" layout="row">
                        <md-radio-button ng-repeat="cat in designView.researchCategories" value="{{cat.id}}" class="md-primary">{{cat.name}}</md-radio-button>
                    </md-radio-group> -->
                </div>
            </div>
            <!-- end of research categories -->

            <!-- primary purposes -->
            <div class="form-group">
                <label for="primary_purpose" class="control-label col-xs-12 col-sm-2">Primary Purpose</label>
                <div class="col-xs-12 col-sm-5">
                    <select name="primary_purpose" id="primary_purpose"
                        class="form-control input-sm"
                        ng-model="designView.trialDetailObj.primary_purpose_id"
                        ng-options="purpose.id as purpose.name for purpose in designView.primaryPurposes"
                        >
                        <option value="">- Please select a primary purpose...</option>
                    </select>
                </div>
            </div>
            <!-- end of primary purposes -->

            <!-- description if primary purpose is Other -->
            <div class="form-group" ng-show="designView.isOtherPrimaryPurpose">
                <label for="description_other" class="control-label col-xs-12 col-sm-2">Description of Other Primary Purpose</label>
                <div class="col-xs-12 col-sm-5">
                    <textarea class="form-control"
                        name="description_other" id="description_other"
                        maxlength="200" ng-maxlength="200"
                        ng-model="designView.trialDetailObj.primary_purpose_other" rows="3">
                    </textarea>
                    <span ng-show="trial_design_form.description_other.$viewValue.length > 0">
                        {{200 - trial_design_form.description_other.$viewValue.length}} characters left
                    </span>
                </div>
            </div>
            <!-- end of description -->

            <!-- secondary purpose -->
            <div class="form-group" ng-show="designView.isInterventional || designView.isExpandedAccess">
                <label for="secondary_purpose" class="control-label col-xs-12 col-sm-2">Secondary Purpose</label>
                <div class="col-xs-12 col-sm-5">
                    <select name="secondary_purpose" id="secondary_purpose"
                        class="form-control input-sm"
                        ng-model="designView.trialDetailObj.secondary_purpose_id"
                        ng-options="purpose.id as purpose.name for purpose in designView.secondaryPurposes"
                        >
                        <option value="">- Please select a secondary purpose...</option>
                    </select>
                </div>
            </div>
            <!-- end of secondary purpose -->

            <!-- description if primary purpose is Other -->
            <div class="form-group" ng-show="designView.isOtherSecondaryPurpose && (designView.isInterventional || designView.isExpandedAccess)">
                <label for="description_other2" class="control-label col-xs-12 col-sm-2">Description of Other Secondary Purpose</label>
                <div class="col-xs-12 col-sm-5">
                    <textarea class="form-control"
                        name="description_other2" id="description_other2"
                        ng-maxlength="1000" maxlength="1000"
                        ng-model="designView.trialDetailObj.secondary_purpose_other" rows="3">
                    </textarea>
                    <span ng-show="trial_design_form.description_other2.$viewValue.length > 0">
                        {{1000 - trial_design_form.description_other2.$viewValue.length}} characters left
                    </span>
                </div>
            </div>
            <!-- end of description -->

            <!-- trial phase -->
            <div class="form-group">
                <label for="trial_phase" class="control-label col-xs-12 col-sm-2">Trial Phase</label>
                <div class="col-xs-12 col-sm-5">
                    <select name="trial_phase" id="trial_phase"
                        class="form-control input-sm"
                        ng-model="designView.trialDetailObj.phase_id"
                        ng-options="phase.id as phase.name for phase in designView.trialPhases"
                        >
                        <option value="">- Please select a trial phase...</option>
                    </select>
                </div>
            </div>
            <!-- end of trial phase -->

            <!-- pilot or not -->
            <div class="form-group">
                <label class="control-label col-xs-12 col-sm-2">Is this a pilot?</label>
                <div class="col-xs-12 col-sm-5">
                    <label class="radio-inline">
                      <input type="radio" name="optradio" ng-model="designView.trialDetailObj.pilot" value="Yes">Yes
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="optradio" ng-model="designView.trialDetailObj.pilot" value="No">No
                    </label>
                </div>
            </div>
            <!-- end of pilot -->

            <!-- intervention models -->
            <div class="form-group" ng-show="designView.isInterventional || designView.isExpandedAccess">
                <label for="intervention_model" class="control-label col-xs-12 col-sm-2">Intervention Model</label>
                <div class="col-xs-12 col-sm-5">
                    <select name="intervention_model" id="intervention_model"
                        class="form-control input-sm"
                        ng-model="designView.trialDetailObj.intervention_model_id"
                        ng-options="model.id as model.name for model in designView.interventionModels"
                        >
                        <option value="">- Please select an intervention model...</option>
                    </select>
                </div>
            </div>
            <!-- end of intervention models -->

            <!-- maskings -->
            <div class="form-group" ng-show="designView.isInterventional || designView.isExpandedAccess">
                <label for="masking" class="control-label col-xs-12 col-sm-2">Masking</label>
                <div class="col-xs-12 col-sm-5">
                    <select name="masking" id="masking"
                        class="form-control input-sm"
                        ng-model="designView.trialDetailObj.masking_id"
                        ng-options="mask.id as mask.name for mask in designView.maskings"
                        >
                        <option value="">- Please select a masking...</option>
                    </select>
                </div>
            </div>
            <!-- end of maskings -->

            <!-- masking roles -->
            <div class="form-group" ng-show="designView.trialDetailObj.showMaskingRoles && (designView.isInterventional || designView.isExpandedAccess)">
                <label class="control-label col-xs-12 col-sm-2">Masking Role(s)</label>
                <div class="col-xs-12 col-sm-10" layout="row" layout-wrap flex-xs="100">
                    <md-checkbox ng-model="designView.trialDetailObj.masking_role_subject" aria-label="Subject">Subject</md-checkbox>
                    <md-checkbox ng-model="designView.trialDetailObj.masking_role_investigator" aria-label="Investigator">Investigator</md-checkbox>
                    <md-checkbox ng-model="designView.trialDetailObj.masking_role_caregiver" aria-label="Caregiver">Caregiver</md-checkbox>
                    <md-checkbox ng-model="designView.trialDetailObj.masking_role_outcome_assessor" aria-label="Outcomes Assessor">Outcomes Assessor</md-checkbox>
                </div>
            </div>
            <!-- end of masking roles -->

            <!-- Study models -->
            <div class="form-group" ng-show="designView.isObservational || designView.isAncillary">
                <label for="study_model" class="control-label col-xs-12 col-sm-2">Study Model</label>
                <div class="col-xs-12 col-sm-5">
                    <select name="study_model" id="study_model"
                        class="form-control input-sm"
                        ng-model="designView.trialDetailObj.study_model_id"
                        ng-options="model.id as model.name for model in designView.studyModels"
                        >
                        <option value="">- Please select a study model...</option>
                    </select>
                </div>
            </div>
            <!-- end of study models -->

            <!-- description if study model is Other -->
            <div class="form-group" ng-show="(designView.isObservational || designView.isAncillary) && designView.isOtherStudyModel">
                <label for="study_model_other" class="control-label col-xs-12 col-sm-2">Description of Other Study Model</label>
                <div class="col-xs-12 col-sm-5">
                    <textarea class="form-control"
                        name="study_model_other" id="study_model_other"
                        maxlength="200" ng-maxlength="200"
                        ng-model="designView.trialDetailObj.study_model_other" rows="3">
                    </textarea>
                    <span ng-show="trial_design_form.study_model_other.$viewValue.length > 0">
                        {{200 - trial_design_form.study_model_other.$viewValue.length}} characters left
                    </span>
                </div>
            </div>
            <!-- end of description for study model -->

            <!-- Time Perspectives -->
            <div class="form-group" ng-show="designView.isObservational || designView.isAncillary">
                <label for="time_perspective" class="control-label col-xs-12 col-sm-2">Time Perspective</label>
                <div class="col-xs-12 col-sm-5">
                    <select name="time_perspective" id="time_perspective"
                        class="form-control input-sm"
                        ng-model="designView.trialDetailObj.time_perspective_id"
                        ng-options="perspective.id as perspective.name for perspective in designView.timePerspectives"
                        >
                        <option value="">- Please select a time perspective...</option>
                    </select>
                </div>
            </div>
            <!-- end of Time perspectives -->

            <!-- description if study model is Other -->
            <div class="form-group" ng-show="(designView.isObservational || designView.isAncillary) && designView.isOtherTimePerspective">
                <label for="time_perspective_other" class="control-label col-xs-12 col-sm-2">Description of Other time perspective</label>
                <div class="col-xs-12 col-sm-5">
                    <textarea class="form-control"
                        name="time_perspective_other" id="time_perspective_other"
                        maxlength="200" ng-maxlength="200"
                        ng-model="designView.trialDetailObj.time_perspective_other" rows="3">
                    </textarea>
                    <span ng-show="trial_design_form.time_perspective_other.$viewValue.length > 0">
                        {{200 - trial_design_form.time_perspective_other.$viewValue.length}} characters left
                    </span>
                </div>
            </div>
            <!-- end of description for study model -->

            <!-- allocations -->
            <div class="form-group" ng-show="designView.isInterventional || designView.isExpandedAccess">
                <label for="allocation" class="control-label col-xs-12 col-sm-2">Allocation</label>
                <div class="col-xs-12 col-sm-5">
                    <select name="allocation" id="allocation"
                        class="form-control input-sm"
                        ng-model="designView.trialDetailObj.allocation_id"
                        ng-options="allocation.id as allocation.name for allocation in designView.allocations"
                        >
                        <option value="">- Please select an allocation...</option>
                    </select>
                </div>
            </div>
            <!-- end of allocations -->

            <!-- allocations -->
            <div class="form-group" ng-show="designView.isInterventional || designView.isExpandedAccess">
                <label for="study_classification" class="control-label col-xs-12 col-sm-2">Study Classification</label>
                <div class="col-xs-12 col-sm-5">
                    <select name="study_classification" id="study_classification"
                        class="form-control input-sm"
                        ng-model="designView.trialDetailObj.study_classification_id"
                        ng-options="class.id as class.name for class in designView.studyClassifications"
                        >
                        <option value="">- Please select a study classification...</option>
                    </select>
                </div>
            </div>
            <!-- end of allocations -->

            <!-- num of arms -->
            <div class="form-group" ng-show="designView.isInterventional || designView.isExpandedAccess">
                <label for="num_arms" class="control-label col-xs-12 col-sm-2">Number of Arms/Groups</label>
                <div class="col-xs-12 col-sm-2">
                    <input type="number" min="0" name="num_arms" id="num_arms" class="form-control input-sm" ng-class="designView.trialDetailObj.num_of_arms" placeholder="">
                </div>
            </div>
            <!-- end of number of arms -->

            <!-- target enrollment -->
            <div class="form-group">
                <label for="target_enrollment" class="control-label col-xs-12 col-sm-2">Target Enrollment</label>
                <div class="col-xs-12 col-sm-2">
                    <input type="number" min="0" name="target_enrollment" id="target_enrollment" class="form-control input-sm" ng-class="designView.trialDetailObj.target_enrollment" placeholder="">
                </div>
            </div>
            <!-- end of target enrollment -->

            <!-- final enrollment -->
            <div class="form-group">
                <label for="final_enrollment" class="control-label col-xs-12 col-sm-2">Final Enrollment for CT.gov</label>
                <div class="col-xs-12 col-sm-2">
                    <input type="number" min="0" name="final_enrollment" id="final_enrollment" class="form-control input-sm" ng-class="designView.trialDetailObj.final_enrollment" placeholder="">
                </div>
            </div>
            <!-- end of final enrollment -->

            <!-- Accruals -->
            <div class="form-group">
                <label class="control-label col-xs-12 col-sm-2">Accruals</label>
                <div class="col-xs-12 col-sm-2 form-text">
                    {{designView.trialDetailObj.accruals}}
                </div>
            </div>
            <!-- end of Accruals -->
        </fieldset>
    </form>
</div>
