<!-- Grid the shows all the Anatomic Sites -->
<div class="row">
    <uib-accordion close-others="false">
        <uib-accordion-group is-open="paTrialOverview.accordionOpen">
            <uib-accordion-heading>
                List of Anatomic Sites <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': paTrialOverview.accordionOpen, 'glyphicon-chevron-right': !paTrialOverview.accordionOpen}"></i>
            </uib-accordion-heading>

            <div class="form-group no-bottom-margin" ng-if="anatomicView.addMode">
                <fieldset class="sub-bordered" ng-disabled="!paTrialOverview.trialDetailObj.pa_sci_editable"> 
                    <legend class="sub-bordered">Select Anatomic Sites:</legend>
                    <form class="form form-horizontal" role="form">

                    <div class="form-group">
                        <label for="anatomic_sites" class="control-label col-xs-12 col-sm-3">Anatomic Sites: </label>
                        <div class="col-xs-12 col-sm-9">
                            <ui-select multiple id="anatomic_sites" ng-model="anatomicView.anatomic_sites_selected">
                                <ui-select-match placeholder="-Select  Anatomic Sites -">{{$item.name}}</ui-select-match>
                                <ui-select-choices repeat="anatomicSite in anatomicView.anatomicSitesArr">{{anatomicSite.name}}</ui-select-choices>
                            </ui-select>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="btn-toolbar" ng-show="paTrialOverview.trialDetailObj.pa_sci_editable">
                                        <button type="submit" class="btn btn-primary pull-right" id="submission_btn" ng-click="anatomicView.saveSelection()">
                                            <i class="glyphicon glyphicon-search"></i> Save
                                        </button>
                                        <button class="btn btn-warning pull-right" id="reset_btn" ng-click="anatomicView.reset()">
                                            <i class="glyphicon glyphicon-remove"></i> Reset
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </form>

                </fieldset>
            </div>
            <fieldset>
                <legend class="sub-bordered">List of Anatomic Sites:</legend>
                <div class="form-group table-responsive">
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                        <th>Anatomic Site Name</th>
                        <th class="text-center">Deletion</th>
                        </thead>
                        <tbody>
                        <tr ng-repeat="anatomic_site in anatomicView.curTrial.anatomic_site_wrappers track by $index" class="animated-item">
                            <!--<tr ng-repeat="participating_site in anatomicViewView.curTrial.participating_sites track by $index" class="animated-item" ng-class="participating_site._destroy ? 'deleted-text' : ''">-->
                            <td>{{anatomic_site.anatomic_site.name}}</td>
                            <td>
                                <input type="checkbox" ng-model="anatomic_site.selected" ng-change="anatomicView.deleteListHandler(anatomicView.curTrial.anatomic_site_wrappers)" />
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="btn-toolbar" ng-show="paTrialOverview.trialDetailObj.pa_sci_editable">
                        <button type="submit" class="btn btn-primary pull-right" id="add_anatomic_site" restriction-field ng-click="anatomicView.setAddMode()">Add Anatomic Site</button>
                        <button type="submit" class="btn btn-primary pull-right" id="delete" restriction-field ng-click="anatomicView.deleteSelected()">Delete Anatomic Sites</button>
                    </div>

                </div>

            </fieldset>
        </uib-accordion-group>
    </uib-accordion>
</div>