<div class="row" id="section_top">
    <div class="panel panel-default" ng-show="assoTrialsView.showLookupForm">
        <div class="panel-heading">
            <div class="panel-title">Associated Trial Details</div>
        </div>
        <div class="panel-body">
            <form name="associated_trials_form" role="form" class="form form-horizontal" novalidate ctrp-submit="assoTrialsView.lookupTrial()" unsaved-changes>
                <!-- fieldset for eligibility criteria -->
                <fieldset restriction-field ng-disabled="!paTrialOverview.trialDetailObj.pa_sci_editable" ng-show="assoTrialsView.showLookupForm || assoTrialsView.disableBtn">
                    <div class="form-group" ng-class="{'has-feedback required': true, 'has-error': ctrpbtn.associated_trials_form.needsAttention(associated_trials_form.identifier_type)}">
                        <label for="identifier_type" class="control-label col-xs-12 col-sm-3">Identifier Type:</label>
                        <div class="col-xs-12 col-sm-4">
                            <select name="identifier_type" id="identifier_type" class="form-control input-sm"
                                    ng-model="assoTrialsView.trialQueryObj.identifierTypeId"
                                    ng-options="type.id as type.name for type in assoTrialsView.identifierTypes"
                                    ng-required="true">
                                <option value="">
                                    -- Please select a trial identifier type...
                                </option>
                            </select>
                            <span ng-messages="ctrpbtn.associated_trials_form.needsAttention(associated_trials_form.identifier_type) &&
                                                associated_trials_form.identifier_type.$error">
                                <span class="help-block" ng-message="required"><br />Identifier Type is Required</span>
                           </span>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-feedback required': true, 'has-error': ctrpbtn.associated_trials_form.needsAttention(associated_trials_form.trial_identifier)}">
                        <label for="trial_identifier" class="control-label col-xs-12 col-sm-3">Trial Identifier:</label>
                        <div class="col-xs-12 col-sm-4">
                            <input type="text" name="trial_identifier" id="trial_identifier"
                                   class="form-control input-sm"
                                   ng-model="assoTrialsView.trialQueryObj.trialIdentifier"
                                   required
                                   placeholder="Trial Identifier"
                            >
                            <span ng-messages="ctrpbtn.associated_trials_form.needsAttention(associated_trials_form.trial_identifier) &&
                                                associated_trials_form.trial_identifier.$error">
                                <span class="help-block" ng-message="required"><br />Trial Identifier is Required</span>
                           </span>
                           <span class="help-block" ng-show="assoTrialsView.foundTrialObj.errorMsg.length > 0">
                               {{assoTrialsView.foundTrialObj.errorMsg}}
                           </span>
                        </div>
                        <div class="col-xs-12 col-sm-2">
                            <button type="submit" class="btn btn-primary">
                                <i class="glyphicon glyphicon-search"></i> Look Up Trial
                            </button>
                        </div>
                    </div>

                    <!-- show this div only if the trial is found not null -->
                    <div class="form-group">
                        <label class="control-label col-xs-12 col-sm-3">Research Category:</label>
                        <div class="col-xs-12 col-sm-5 form-text">{{assoTrialsView.foundTrialObj.researchCategory}}</div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-12 col-sm-3">Official Title:</label>
                        <div class="col-xs-12 col-sm-9 form-text">{{assoTrialsView.foundTrialObj.official_title}}</div>
                    </div>

                    <div class="form-group has-feedback has-error">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-5">
                            <span class="help-block">{{assoTrialsView.associationErrorMsg}}</span>
                        </div>
                    </div>

                    <div class="form-group no-bottom-margin">
                        <div class="btn-toolbar">
                            <button type="button" class="btn btn-primary pull-right" ng-disabled="assoTrialsView.foundTrialObj.official_title.length==0" ng-click="assoTrialsView.associateTrial(assoTrialsView.foundTrialObj)">
                                <i class="glyphicon glyphicon-ok"></i> Save
                            </button>
                            <button type="button" class="btn btn-warning pull-right" ng-click="assoTrialsView.resetTrialLookupForm(associated_trials_form)">
                                <i class="glyphicon glyphicon-remove"></i> Reset
                            </button>
                            <button type="button" class="btn btn-warning pull-right" id="oc_site_list" restriction-field ng-click="assoTrialsView.closeLookupForm()">
                                <i class="glyphicon glyphicon-arrow-left"></i> Back to Associated Trials List
                            </button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

    <div class="panel panel-default" ng-show="!assoTrialsView.showLookupForm">
        <div class="panel-heading">
            <div class="panel-title">List of Associated Trials</div>
        </div>
        <div class="panel-body">
            <fieldset restriction-field ng-disabled="!paTrialOverview.trialDetailObj.pa_sci_editable || assoTrialsView.disableBtn" ng-show="!assoTrialsView.showLookupForm">
                <div class="table-responsive">
                    <table st-table="assoTrialsView.trialDetailObj.associated_trials" class="table table-striped table-hover table-bordered" ng-hide="assoTrialsView.trialDetailObj.associated_trials.length === 0">
                        <thead>
                        <tr>
                            <th class="col-sm-2">Trial Identifier</th>
                            <th class="col-sm-2">Identifier Type</th>
                            <th class="col-sm-1">Trial Type</th>
                            <th>Official Title</th>
                            <th class="text-center td-icon"><input type="checkbox" name="delete_all_asso" id="delete_all_asso" ng-model="assoTrialsView.deleteAllAssoCheckbox" ng-change="assoTrialsView.deleteAllAssociations(assoTrialsView.deleteAllAssoCheckbox)"></th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="t in assoTrialsView.trialDetailObj.associated_trials track by $index" >
                                <td>
                                    <span ng-show="t.trial_identifier.indexOf('NCI') > -1">
                                        <!--<a ui-sref="main.viewTrial({trialId: t.associated_trial_id})">{{t.trial_identifier}}</a> -->
                                        <a href="" ctrp-trial-peek-view trial-id="t.associated_trial_id">{{t.trial_identifier}}</a>
                                    </span>
                                    <span ng-show="t.trial_identifier.indexOf('NCI') === -1">
                                        <a href="https://clinicaltrials.gov/ct2/show/{{t.trial_identifier}}" target="_blank">{{t.trial_identifier}}</a>
                                    </span>
                                </td>
                                <td>
                                    {{t.identifierTypeStr}}
                                </td>
                                <td>
                                    {{t.research_category_name}}
                                </td>
                                <td>
                                    {{t.official_title}}
                                </td>
                                <td class="text-center td-icon">
                                    <input type="checkbox" ng-model="t._destroy" ng-change="!t._destroy" ng-click="assoTrialsView.deleteAllAssoCheckbox = false"/>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="btn-toolbar">
                        <!-- <button type="button" class="btn btn-primary pull-right" id="save_btn" restriction-field ng-click="assoTrialsView.updateTrialAssociations()">
                        <i class="glyphicon glyphicon-ok"></i>  Save
                        </button> -->
                        <button type="button" restriction-field  ng-disabled="!paTrialOverview.trialDetailObj.pa_sci_editable" class="btn btn-primary pull-right" ng-click="assoTrialsView.showTrialLookupForm(associated_trials_form)">
                            <i class="glyphicon glyphicon-plus"></i> Add Associated Trial
                        </button>
                        <button type="button" class="btn btn-danger pull-right" id="cancel_btn"
                            restriction-field
                            ctrp-confirm
                            confirm-msg="Click OK to remove selected Associated Trial(s) from the study. Click Cancel to abort."
                            ctrp-click="assoTrialsView.deleteTrialAssociations()"
                            ng-show="assoTrialsView.trialDetailObj.associated_trials.length > 0"
                            ng-disabled="assoTrialsView.deleteBtnDisabled || !paTrialOverview.trialDetailObj.pa_sci_editable">
                            <i class="glyphicon glyphicon-trash"></i> Delete Selected
                        </button>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>
