<div class="row">
    <form name="criteria_form" role="form" class="form-horizontal" novalidate ctrp-submit="criteriaView.updateCriteria()">
        <!-- fieldset for eligibility criteria -->
            <fieldset class="sub-bordered" restriction-field ng-disabled="!paTrialOverview.trialDetailObj.pa_sci_editable">
                <legend class="sub-bordered">Eligibility Criteria</legend>
                <!-- <div class="form-group">
                    <div layout="row">
                        <div flex>Accepts Healthy Volunteer?</div>
                        <div flex>
                            <md-radio-group ng-model="criteriaView.trialDetailObj.accept_vol" class="md-primary" layout="row">
                                <md-radio-button value="Yes"> Yes </md-radio-button>
                                <md-radio-button value="No"> No </md-radio-button>
                            </md-radio-group>
                        </div>
                    </div>
                </div> -->
                <div class="form-group" ng-class="{'has-feedback required': true, 'has-error': ctrpbtn.criteria_form.needsAttention(criteria_form.accept_vol)}">
                    <label for="volunteer" class="control-label col-xs-12 col-sm-3 vertical-align">Accepts Healthy Volunteers?</label>
                    <div class="col-xs-12 col-sm-9" layout="row" layout-wrap layout-sm="100">
                        <!-- <md-radio-group ng-model="criteriaView.trialDetailObj.accept_vol" class="md-primary" layout="row">
                            <md-radio-button value="Yes"> Yes </md-radio-button>
                            <md-radio-button value="No"> No </md-radio-button>
                        </md-radio-group> -->
                        <label class="radio-inline">
                            <input type="radio" id="accept_vol" name="accept_vol"
                                ng-model="criteriaView.trialDetailObj.accept_vol"
                                value="Yes"
                                ng-required="criteriaView.trialDetailObj.accept_vol === ''"> Yes
                        </label>
                        <label class="radio-inline">
                            <input type="radio" id="accept_vol" name="accept_vol"
                            ng-model="criteriaView.trialDetailObj.accept_vol"
                            value="No"
                            ng-required="!criteriaView.trialDetailObj.accept_vol"> No
                        </label>
                        <span ng-messages="ctrpbtn.criteria_form.needsAttention(criteria_form.accept_vol) &&
                                            criteria_form.accept_vol.$error">
                            <span class="help-block" ng-message="required"><br />A choice for Accepts Healthy Volunteers is required</span>
                       </span>
                    </div>
                </div>

                <div class="form-group" ng-class="{'has-feedback required': true, 'has-error': ctrpbtn.criteria_form.needsAttention(criteria_form.gender)}">
                    <label class="control-label col-xs-12 col-sm-3">Gender</label>
                    <div class="col-xs-12 col-sm-9">
                        <label ng-repeat="g in criteriaView.genderList" class="radio-inline">
                            <input type="radio" id="gender" name="gender"
                                ng-model="criteriaView.trialDetailObj.gender_id"
                                ng-value="g.id"
                                ng-required="!criteriaView.trialDetailObj.gender_id"> {{g.name}}
                        </label>
                        <span ng-messages="ctrpbtn.criteria_form.needsAttention(criteria_form.gender) &&
                                            criteria_form.gender.$error">
                            <span class="help-block" ng-message="required">Gender is required</span>
                       </span>
                    </div>
                </div>

                <div class="form-group" ng-class="{'has-feedback required': true, 'has-error': ctrpbtn.criteria_form.needsAttention(criteria_form.min_age) ||
                        ctrpbtn.criteria_form.needsAttention(criteria_form.min_age_unit)}">
                    <label for="min_age" class="control-label col-xs-12 col-sm-3">Minimum Age</label>
                    <div class="col-xs-12 col-sm-2">
                        <input type="number" min="0" name="min_age" id="min_age" ng-model="criteriaView.trialDetailObj.min_age" class="form-control input-sm" placeholder="" required>
                        <span ng-messages="ctrpbtn.criteria_form.needsAttention(criteria_form.min_age) &&
                                            criteria_form.min_age.$error">
                            <span class="help-block" ng-message="required">Minimum Age is required</span>
                       </span>
                    </div>
                    <label for="min_age_unit" class="control-label col-xs-12 col-sm-2">Unit</label>
                    <div class="col-xs-12 col-sm-2">
                        <select name="min_age_unit" id="min_age_unit"
                            class="form-control input-sm"
                            ng-model="criteriaView.trialDetailObj.min_age_unit_id"
                            ng-options="unit.id as unit.name for unit in criteriaView.ageUnits"
                            required>
                            <option value="">- Please select a unit...</option>
                        </select>
                        <span ng-messages="ctrpbtn.criteria_form.needsAttention(criteria_form.min_age_unit) &&
                                            criteria_form.min_age_unit.$error">
                            <span class="help-block" ng-message="required">Minimum Age Unit is required</span>
                       </span>
                    </div>
                </div>

                <div class="form-group" ng-class="{'has-feedback required': true, 'has-error': ctrpbtn.criteria_form.needsAttention(criteria_form.max_age) ||
                    ctrpbtn.criteria_form.needsAttention(criteria_form.max_age_unit)}">
                    <label for="max_age" class="control-label col-xs-12 col-sm-3">Maximum Age</label>
                    <div class="col-xs-12 col-sm-2">
                        <input type="number" min="0" name="max_age" id="max_age" ng-model="criteriaView.trialDetailObj.max_age" class="form-control input-sm" placeholder="" required>
                        <span ng-messages="ctrpbtn.criteria_form.needsAttention(criteria_form.max_age) &&
                                            criteria_form.max_age.$error">
                            <span class="help-block" ng-message="required">Maximum Age is required</span>
                       </span>
                    </div>
                    <label for="max_age_unit" class="control-label col-xs-12 col-sm-2">Unit</label>
                    <div class="col-xs-12 col-sm-2">
                        <select name="max_age_unit" id="max_age_unit"
                            class="form-control input-sm"
                            ng-model="criteriaView.trialDetailObj.max_age_unit_id"
                            ng-options="unit.id as unit.name for unit in criteriaView.ageUnits"
                            required>
                            <option value="">- Please select a unit...</option>
                        </select>
                        <span ng-messages="ctrpbtn.criteria_form.needsAttention(criteria_form.max_age_unit) &&
                                            criteria_form.max_age_unit.$error">
                            <span class="help-block" ng-message="required">Maximum Age Unit is required</span>
                       </span>
                    </div>
                </div>

                <div class="form-group" ng-show="criteriaView.trialDetailObj.isObservational || criteriaView.trialDetailObj.isAncillary"
                    ng-class="{'has-feedback required': criteriaView.trialDetailObj.isObservational || criteriaView.trialDetailObj.isAncillary, 'has-error': ctrpbtn.criteria_form.needsAttention(criteria_form.sampling_method)}">
                        <label for="sampling_method" class="control-label col-xs-12 col-sm-3">Sampling Method</label>
                        <div class="col-xs-12 col-sm-4">
                            <select name="sampling_method" id="sampling_method"
                                class="form-control input-sm"
                                ng-model="criteriaView.trialDetailObj.sampling_method"
                                ng-options="v for (k, v) in criteriaView.samplingMethods"
                                ng-required="criteriaView.trialDetailObj.isObservational || criteriaView.trialDetailObj.isAncillary">
                                <option value="">- Please select a method...</option>
                            </select>
                            <span ng-messages="ctrpbtn.criteria_form.needsAttention(criteria_form.sampling_method) &&
                                                criteria_form.sampling_method.$error">
                                <span class="help-block" ng-message="required">Sampling Method is required</span>
                           </span>
                        </div>
                </div>

                <div class="form-group" ng-show="criteriaView.trialDetailObj.isObservational || criteriaView.trialDetailObj.isAncillary"
                    ng-class="{'has-feedback required': criteriaView.trialDetailObj.isObservational || criteriaView.trialDetailObj.isAncillary, 'has-error': ctrpbtn.criteria_form.needsAttention(criteria_form.study_pop_desc)}">
                    <label for="study_pop_desc" class="control-label col-xs-12 col-sm-3">Study Population Description</label>
                    <div class="col-xs-12 col-sm-5">
                        <textarea class="form-control input-sm"
                            name="study_pop_desc" id="study_pop_desc"
                            maxlength="800" ng-maxlength="800"
                            ng-required="criteriaView.trialDetailObj.isObservational || criteriaView.trialDetailObj.isAncillary"
                            ng-model="criteriaView.trialDetailObj.study_pop_desc" rows="3">
                        </textarea>
                        <span ng-show="criteria_form.study_pop_desc.$viewValue.length > 0">
                            {{800 - criteria_form.study_pop_desc.$viewValue.length}} characters left
                        </span>
                        <span ng-messages="ctrpbtn.criteria_form.needsAttention(criteria_form.study_pop_desc) &&
                                            criteria_form.study_pop_desc.$error">
                            <span class="help-block" ng-message="required">Study Population Description is required</span>
                        </span>
                    </div>

                </div>
            </fieldset>
        <!-- end of fieldset for eligibility criteria -->

        <!-- fieldset for other criteria -->
            <fieldset class="sub-bordered" restriction-field ng-disabled="!paTrialOverview.trialDetailObj.pa_sci_editable">
                <legend class="sub-bordered">Other Criteria</legend>
                <div class="row">
                    <button type="button" class="btn btn-default" ng-click="criteriaView.prepareOtherCriterion('Inclusion')"><i class="glyphicon glyphicon-plus"></i> Add Inclusion Criterion</button>
                    <button type="button" class="btn btn-default" ng-click="criteriaView.prepareOtherCriterion('Exclusion')"><i class="glyphicon glyphicon-plus"></i> Add Exclusion Criterion</button>
                </div>
                <div class="row top-buffer" ng-show="criteriaView.addOtherCriterionFormShown">
                    <div class="col-xs-12 col-sm-2">
                        <label class="control-label col-sm-12">Type: {{criteriaView.otherCriterion.criteria_type}}</label>
                    </div>
                    <div class="col-xs-12 col-sm-8">
                        <label for="other_criteria_desc" class="control-label col-sm-2">Description:</label>
                        <div class="col-sm-10">
                            <textarea class="form-control input-sm" rows="1"
                                name="other_criteria_desc" id="other_criteria_desc"
                                maxlength="5000" ng-maxlength="5000"
                                ng-model="criteriaView.otherCriterion.criteria_desc" placeholder="Criteria Description">
                            </textarea>
                        </div>
                        <span ng-show="criteria_form.other_criteria_desc.$viewValue.length > 0">
                            {{5000 - criteria_form.other_criteria_desc.$viewValue.length}} characters left
                        </span>
                    </div>
                    <div class="col-xs-12 col-sm-2">
                        <label class="control-label"></label>
                        <div class="btn-group inline">
                            <button type="button" class="btn btn-warning" ng-click="criteriaView.cancelEditOtherCriterion()">Cancel</button>
                            <button type="button" class="btn btn-danger" ng-click="criteriaView.upsertOtherCriterion(criteriaView.otherCriterion)"
                                ng-disabled="criteriaView.otherCriterion.criteria_desc==''">
                                Add
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row top-buffer" ng-hide="criteriaView.trialDetailObj.other_criteria.length == 0">
                    <table st-table="criteriaView.trialDetailObj.other_criteria" class="table table-striped table-hover">
                		<thead>
                        <!-- <tr>
                			<th>
                				<input st-search="'firstName'" placeholder="search for firstname" class="input-sm form-control" type="search"/>
                			</th>
                			<th colspan="4">
                				<input st-search placeholder="global search" class="input-sm form-control" type="search"/>
                			</th>
                		</tr> -->
                		<tr>
                			<th st-sort="criteria_type" class="col-sm-3">Eligibility Criterion Type</th>
                			<th class="col-sm-9">Eligibility Criterion Description</th>
                			<th class="text-center col-sm-1">Delete</th>
                		</tr>
                		</thead>
                		<tbody>
                		<tr ng-repeat="row in criteriaView.trialDetailObj.other_criteria track by $index" ng-class="row._destroy ? 'deleted-text' : ''">
                			<td>
                                <span in-place-edit="row.criteria_type" on-save="criteriaView.updateOtherCriteriaType(row.criteria_type, $index)"
                                      template="app/pa/dashboard/abstraction/scientific/_other_criteria_type_edit.html" id="other_criteria_type_edit">
                                      {{row.criteria_type}}
                                </span>
                            </td>
                			<td>
                                <span in-place-edit="row.criteria_desc" on-save="criteriaView.updateOtherCriteriaDesc(row.criteria_desc, $index)"
                                      template="app/pa/dashboard/abstraction/scientific/_other_criteria_desc_edit.html" id="other_criteria_desc_edit">
                                      {{row.criteria_desc}}
                                </span>
                            </td>
                			<td class="text-center">
                                <label class="btn btn-default" restriction-field ng-click="criteriaView.deleteOtherCriterion($index)">
                                    <i class="glyphicon" ng-class="row._destroy == true ? 'glyphicon-ok-circle' : 'glyphicon-remove-circle'"></i>
                                </label>
                			</td>
                		</tr>
                		</tbody>
                		<tfoot>
                			<tr>
                				<td colspan="5" class="text-center">
                					<div st-pagination="" st-items-by-page="criteriaView.otherCriteriaPerPage" st-displayed-pages="7"></div>
                				</td>
                			</tr>
                		</tfoot>
                	</table>
                </div>
            </fieldset>
        <!-- end of fieldset for other criteria -->
        <div class="form-group no-bottom-margin" ng-show="paTrialOverview.trialDetailObj.pa_sci_editable">
           <div class="row">
              <div class="col-sm-3"></div>
              <div class="btn-toolbar col-xs-12 col-sm-9">
                <button type="submit" class="btn btn-primary pull-right" id="save_btn" restriction-field>
                  <i class="glyphicon glyphicon-ok"></i>  Save
                </button>
                <button type="button" class="btn btn-warning pull-right" id="cancel_btn" ng-click="criteriaView.resetForm()" restriction-field>
                 <i class="glyphicon glyphicon-remove"></i>  Reset
                </button>
              </div>
          </div>
        </div>

    </form>
</div>
