<div class="row">
    <uib-accordion ng-hide="diseaseView.addMode" close-others="false">
        <uib-accordion-group is-open="paTrialOverview.accordionOpen">
            <uib-accordion-heading>
                List of Disease/Condition <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': paTrialOverview.accordionOpen, 'glyphicon-chevron-right': !paTrialOverview.accordionOpen}"></i>
            </uib-accordion-heading>

            <div class="col-xs-12 col-sm-12 col-md-12">
                <form class="form form-horizontal" role="form">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover" ng-show="diseaseView.existingDiseases.length">
                            <thead>
                                <th>Preferred Name</th>
                                <th>NCI Thesaurus Concept ID</th>
                                <th>Menu Display Name</th>
                                <th>Parent Preferred Name(s)</th>
                                <th class="text-center td-icon">
                                    <input type="checkbox" restriction-field ng-model="diseaseView.selectedAll" ng-change="diseaseView.toggleAll()" ng-disabled="!paTrialOverview.trialDetailObj.pa_sci_editable"/>
                                </th>
                            </thead>
                            <tbody>
                            <tr ng-repeat="disease in diseaseView.existingDiseases track by $index">
                                <td>{{disease.preferred_name}}</td>
                                <td>{{disease.thesaurus_id}}</td>
                                <td>{{disease.display_name}}</td>
                                <td>{{disease.parent_preferred}}</td>
                                <td class="text-center td-icon">
                                    <input type="checkbox" restriction-field ng-model="disease._destroy" ng-change="diseaseView.toggleOne()" ng-disabled="!paTrialOverview.trialDetailObj.pa_sci_editable"/>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </form>

                <div class="form-group no-bottom-margin">
                    <div class="btn-toolbar">
                        <button type="submit" class="btn btn-primary pull-right" id="add_bio_marker" restriction-field  ng-disabled="!paTrialOverview.trialDetailObj.pa_sci_editable" ng-click="diseaseView.setAddMode()">
                            <i class="glyphicon glyphicon-plus"></i> Add Disease/Condition
                        </button>
                        <button type="submit" class="btn btn-danger pull-right" id="delete" restriction-field ctrp-confirm ctrp-click="diseaseView.deleteSelected()" confirm-msg="Click OK to remove selected Disease/Condition from the study. Click Cancel to abort."
                                ng-disabled="diseaseView.selectedNum === 0 || diseaseView.disableBtn || !paTrialOverview.trialDetailObj.pa_sci_editable" ng-show="diseaseView.existingDiseases.length">
                            <i class="glyphicon glyphicon-trash"></i> Delete Selected
                        </button>
                    </div>
                </div>
            </div>
        </uib-accordion-group>
    </uib-accordion>

    <uib-accordion ng-show="diseaseView.addMode" close-others="false">
        <uib-accordion-group is-open="paTrialOverview.accordionOpen">
            <uib-accordion-heading>
                Add Disease/Condition <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': paTrialOverview.accordionOpen, 'glyphicon-chevron-right': !paTrialOverview.accordionOpen}"></i>
            </uib-accordion-heading>

            <div class="col-xs-12 col-sm-12 col-md-7">
                <form class="form form-horizontal" role="form">
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-8">
                            <input type="text" id="protocol_id" class="form-control input-sm" ng-model="diseaseView.disease_name" autofocus />
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <div class="btn-toolbar">
                                <button type="submit" class="btn btn-primary" id="submission_btn" ng-click="diseaseView.searchDiseases()">
                                    <i class="glyphicon glyphicon-search"></i> Search
                                </button>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover" ng-show="diseaseView.searchResult.length">
                        <thead>
                            <th>Preferred Name</th>
                            <th>Synonyms</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="result in diseaseView.searchResult track by $index">
                                <td>
                                    {{result.preferred_name}}
                                    <button class="btn btn-primary" type="button" ng-click="diseaseView.openTree(result.nt_term_id)">
                                        <i class="glyphicon glyphicon-tree-conifer"></i>
                                    </button>
                                    <button class="btn btn-primary" type="button" ng-click="diseaseView.openInfo(result.nt_term_id)">
                                        <i class="glyphicon glyphicon-info-sign"></i>
                                    </button>
                                    <button restriction-field class="btn btn-primary" type="button" ng-click="diseaseView.addDisease($index)"
                                            ng-disabled="result.added">
                                        <i class="glyphicon glyphicon-plus"></i>
                                    </button>
                                </td>
                                <td>
                                    <p ng-repeat="synonym in result.ncit_disease_synonyms track by $index">
                                        {{synonym.alternate_name}}
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div ng-show="diseaseView.addedDiseases.length > 0" class="col-xs-12 col-sm-12 col-md-5">
                <form class="form form-horizontal" role="form" name="added_disease_form" novalidate ctrp-submit="diseaseView.saveDiseases()">
                    <div class="form-group">
                        <h4>Your Selections</h4>
                        <ul class="list-group">
                            <li ng-repeat="addedDisease in diseaseView.addedDiseases track by $index" class="list-group-item">
                                {{addedDisease.preferred_name}}
                                <button restriction-field class="btn btn-warning" type="button" ng-click="diseaseView.removeDisease($index)">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </button>
                            </li>
                        </ul>
                    </div>

                    <div class="form-group no-bottom-margin">
                        <div class="btn-toolbar">
                            <button type="submit" class="btn btn-primary pull-right" id="submit_btn" restriction-field ng-disabled="diseaseView.disableBtn">
                                <i class="glyphicon glyphicon-ok"></i> Save
                            </button>
                            <button type="button" class="btn btn-warning pull-right" restriction-field ng-click="diseaseView.resetDisease()">
                                <i class="glyphicon glyphicon-remove"></i> Reset
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </uib-accordion-group>
    </uib-accordion>
</div>
