<div class="row" id="section_top">
    <div ng-show="omView.editMode || omView.addMode || omView.copyMode" id="outcomeMeasure" class="ctrp-ui">
    <form class="form form-horizontal" role="form" name="om_form" novalidate ctrp-submit="omView.saveOutcomeMeasure()">
        <!-- first row in the accordion body -->
        <div class="row">
            <uib-accordion close-others="false">
                <uib-accordion-group is-open="paTrialOverview.accordionOpen">
                    <uib-accordion-heading>
                        Outcome Measure Details <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': paTrialOverview.accordionOpen, 'glyphicon-chevron-right': !paTrialOverview.accordionOpen}"></i>
                    </uib-accordion-heading>

                    <!-- fieldset for outcome measure details-->
                    <fieldset class="sub-bordered" restriction-field ng-disabled="!paTrialOverview.trialDetailObj.pa_sci_editable">
                        <legend class="sub-bordered">Outcome Measure Details</legend>
                        <div class="form-group has-feedback required" ng-class="{'has-error': ctrpbtn.om_form.needsAttention(om_form.om_type)}">
                        <label for="om_type" class="control-label col-xs-12 col-sm-3">Outcome Measure Type:</label>
                        <div class="col-xs-12 col-sm-5">
                            <select name="om_type" id="om_type"
                                    class="form-control input-sm"
                                    ng-required="true"
                                    ng-model="omView.currentOutcomeMeasure.outcome_measure_type_id"
                                    ng-options="om.id as om.name for om in omView.om_types"
                                    >
                                <option value="">- Please select a  outcome-measure type...</option>
                            </select>
                        </div>
                            <span ng-messages="ctrpbtn.om_form.needsAttention(om_form.om_type) &&
                                        om_form.primary_purpose.$error">
                            <span class="help-block" ng-message="required">Outcome Measure Type is Required</span>
                            </span>
                         </div>
                    <!--/fieldset-->
                    <!-- end of outcome measure types -->

                    <!-- fieldset for Title -->
                    <!--fieldset class="sub-bordered" restriction-field ng-disabled="!paTrialOverview.trialDetailObj.pa_sci_editable">
                        <legend class="sub-bordered">Title</legend-->

                        <div class="form-group has-feedback required" ng-class="{'has-error': ctrpbtn.om_form.needsAttention(om_form.title)}">
                            <label for="title" class="control-label col-xs-12 col-sm-3">Title:</label>
                            <div class="col-xs-12 col-sm-9">
                                    <input name="title"
                                              id="title"
                                              rows="5"
                                              class="form-control input-sm"
                                              ng-model="omView.currentOutcomeMeasure.title"
                                              ng-maxlength="255"
                                              ng-required="true" />
                                <span class="help-block" ng-show="om_form.title.$dirty">
                                    {{255 - om_form.title.$viewValue.length}} characters left
                                </span>

                                <span ng-messages="ctrpbtn.om_form.needsAttention(om_form.title) && om_form.title.$error">
                                  <span class="help-block" ng-message="required">Title is Required</span>
                                </span>
                            </div>
                        </div>
                    <!--/fieldset-->
                    <!-- fieldset for Time Frame -->
                    <!--fieldset class="sub-bordered" restriction-field ng-disabled="!paTrialOverview.trialDetailObj.pa_sci_editable">
                        <legend class="sub-bordered">Time Frame</legend-->

                        <div class="form-group has-feedback required" ng-class="{'has-error': ctrpbtn.om_form.needsAttention(om_form.time_frame)}">
                            <label for="title" class="control-label col-xs-12 col-sm-3">Time Frame:</label>
                            <div class="col-xs-12 col-sm-9">
                                    <input name="time_frame"
                                              id="time_frame"
                                              rows="5"
                                              class="form-control input-sm"
                                              ng-model="omView.currentOutcomeMeasure.time_frame"
                                              ng-maxlength="255"
                                              ng-required="true" />
                                    <span class="help-block" ng-show="om_form.time_frame.$dirty">
                                        {{255 - om_form.time_frame.$viewValue.length}} characters left
                                    </span>

                                <span ng-messages="ctrpbtn.om_form.needsAttention(om_form.time_frame) && om_form.time_frame.$error">
                                  <span class="help-block" ng-message="required">Time Frame is Required</span>
                                </span>
                            </div>
                        </div>
                    <!--/fieldset-->

                    <!-- fieldset for Description -->
                    <!--fieldset class="sub-bordered" restriction-field ng-disabled="!paTrialOverview.trialDetailObj.pa_sci_editable">
                        <legend class="sub-bordered">Description</legend-->

                        <div class="form-group has-feedback">
                            <label for="description" class="control-label col-xs-12 col-sm-3">Description:</label>
                            <div class="col-xs-12 col-sm-9">
                                    <textarea name="description"
                                              id="description"
                                              rows="5"
                                              class="form-control"
                                              ng-model="omView.currentOutcomeMeasure.description"
                                              ng-maxlength="1000"></textarea>
                                 <span class="help-block" ng-show="om_form.description.$dirty">
                                        {{1000 - om_form.description.$viewValue.length}} characters left
                                    </span>
                            </div>
                        </div>
                    <!--/fieldset-->

                    <!-- safety issue -->
                    <!-- fieldset for outcome measure types-->
                    <!--fieldset class="sub-bordered" restriction-field ng-disabled="!paTrialOverview.trialDetailObj.pa_sci_editable">
                        <legend class="sub-bordered">Safety Issue</legend-->

                        <div class="form-group has-feedback required" ng-class="{'has-error': ctrpbtn.om_form.needsAttention(om_form.safety_issue)}">
                        <label for="safety_issue" class="control-label col-xs-12 col-sm-3">Safety Issue:</label>
                        <div class="col-xs-12 col-sm-5">
                            <select name="safety_issue"
                                    id="safety_issue"
                                    class="form-control input-sm"
                                    ng-required="true"
                                    ng-model="omView.currentOutcomeMeasure.safety_issue"
                                    ng-options="om for om in omView.safety_issues"
                                    >
                                <option value="">- Please select a safety issue type...</option>
                            </select>
                         <span ng-messages="ctrpbtn.om_form.needsAttention(om_form.safety_issue) &&
                                                om_form.safety_issue.$error">
                                <span class="help-block" ng-message="required">Safety Issue is Required</span>
                           </span>
                        </div>
                    </div>
                    </fieldset>
                    <!-- safety issue -->

                    <!-- Saving the form for the Outcome Measure" -->
                    <div class="form-group no-bottom-margin">
                        <div class="btn-toolbar" ng-if="paTrialOverview.trialDetailObj.pa_sci_editable">
                            <button type="submit" class="btn btn-primary pull-right" id="submit_processing">
                                <i class="glyphicon glyphicon-ok"></i> Save
                            </button>
                            <button type="button" class="btn btn-warning pull-right" ng-click="omView.resetOutcomeMeasure()">
                                <i class="glyphicon glyphicon-remove"></i> Reset
                            </button>
                        </div>
                    </div>
                </uib-accordion-group>
            </uib-accordion>
        </div>
    </form>
    </div>

    <!-- Grid the shows all the Outcome Measures -->
    <div class="row ctrp-ui">
        <uib-accordion close-others="false" ng-hide="omView.addMode || omView.editMode || omView.copyMode">
            <uib-accordion-group is-open="paTrialOverview.accordionOpen">
                <uib-accordion-heading>
                    List of Outcome Measures  <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': paTrialOverview.accordionOpen, 'glyphicon-chevron-right': !paTrialOverview.accordionOpen}"></i>
                </uib-accordion-heading>

                <fieldset>

                            <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover" ng-show="omView.curTrial.outcome_measures.length">
                            <thead>
                            <th>Index</th>
                            <th>Outcome Measure Type</th>
                            <th>Title</th>
                            <th>Time Frame</th>
                            <th>Description</th>
                            <th>Safety Issue</th>
                            <th class="text-center td-icon">Edit</th>
                            <th class="text-center td-icon">Copy</th>
                            <th class="text-center td-icon">
                                <input type="checkbox" restriction-field ng-model="omView.selectedAllOM" ng-click="omView.checkAllOM()"  ng-disabled="!paTrialOverview.trialDetailObj.pa_sci_editable"/>
                            </th>
                            </thead>
                            <tbody ui-sortable="sortableListener" ng-model="omView.curTrial.outcome_measures">

                            <tr ng-repeat="outcome_measure in omView.curTrial.outcome_measures track by $index" class="animated-item" style="cursor: move;" ng-class="{'deleted-text': outcome_measure._destroy, 'edit-selected': outcome_measure.id === omView.currentOutcomeMeasure.id}">
                                <!--<tr ng-repeat="participating_site in omView.curTrial.participating_sites track by $index" class="animated-item" ng-class="participating_site._destroy ? 'deleted-text' : ''">-->
                               <td>
                                 {{$index+1}}
                               </td>
                                <td>
                                    {{(omView.om_types  | findObjByAttribute:'id':outcome_measure.outcome_measure_type_id)[0].name}}
                                </td>
                                <td>
                                    {{outcome_measure.title}}
                                </td>
                                <td>
                                    {{outcome_measure.time_frame}}
                                </td>
                                <td>
                                    {{outcome_measure.description}}
                                </td>
                                <td>
                                    {{outcome_measure.safety_issue}}
                                </td>

                                <td class="text-center td-icon">
                                    <button  data-toggle="modal" class="btn btn-primary" restriction-field ng-disabled="status._destroy || !paTrialOverview.trialDetailObj.pa_sci_editable" ng-click="omView.setEditMode($index)">
                                        <i class="glyphicon glyphicon-edit"></i>
                                    </button>
                                </td>
                                <td class="text-center td-icon">
                                    <button class="btn btn-default" restriction-field ng-disabled="status._destroy || !paTrialOverview.trialDetailObj.pa_sci_editable" ng-click="omView.setCopyMode($index)" ng-disabled="!paTrialOverview.trialDetailObj.pa_editable">
                                        <i class="glyphicon glyphicon-copy"></i>
                                    </button>
                                </td>
                                <td class="text-center td-icon">
                                    <input type="checkbox" restriction-field ng-model="outcome_measure.selected" ng-change="omView.deleteListHandler(omView.curTrial.outcome_measures)" ng-click="omView.selectedAllOM = false"  ng-disabled="!paTrialOverview.trialDetailObj.pa_sci_editable"/>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <div class="btn-toolbar">
                            <button type="button"  ng-disabled="!paTrialOverview.trialDetailObj.pa_sci_editable" class="btn btn-primary pull-right" id="add_outcome_measure" restriction-field ng-click="omView.setAddMode()">
                                <i class="glyphicon glyphicon-plus"></i> Add Outcome Measure
                            </button>
                            <button type="submit" class="btn btn-danger pull-right" id="delete" restriction-field ng-click="omView.deleteSelected()"
                                    ng-show="omView.curTrial.outcome_measures.length"
                                    ng-disabled="!omView.selectedDeleteOutcomeMeasuresList.length">
                                <i class="glyphicon glyphicon-trash"></i> Delete Selected
                            </button>
                        </div>

                    </div>

                </fieldset>
            </uib-accordion-group>
        </uib-accordion>
        <div class="btn-toolbar" ng-if="paTrialOverview.trialDetailObj.pa_sci_editable" ng-show="omView.addMode || omView.editMode || omView.copyMode">
            <button type="button" class="btn btn-warning pull-right" id="oc_site_list" restriction-field ng-click="omView.setToDefaultMode()">
                <i class="glyphicon glyphicon-arrow-left"></i> Back to Outcome Measures List
            </button>
        </div>
        <div class="top-offset-xs" ng-show="omView.addMode || omView.editMode || omView.copyMode"></div>
    </div>
</div>
