<div ng-show="interventionView.showInterventionForm">
        <!-- first row in the accordion body -->
        <div class="row">
            <uib-accordion close-others="false">
                <uib-accordion-group is-open="paTrialOverview.accordionOpen">
                    <uib-accordion-heading>
                        Add Intervention <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': paTrialOverview.accordionOpen, 'glyphicon-chevron-right': !paTrialOverview.accordionOpen}"></i>
                    </uib-accordion-heading>

                    <!-- add associated trial -->
                    <div class="row">
                        <form name="intervention_form" role="form" class="form-horizontal" novalidate ctrp-submit="interventionView.lookupTrial()">
                            <!-- fieldset for list of interventions -->
                            <fieldset restriction-field ng-disabled="!paTrialOverview.trialDetailObj.pa_sci_editable" ng-show="interventionView.showInterventionForm">
                                <legend class="sub-bordered">
                                    Intervention Detail
                                </legend>
                                <div class="form-group" ng-class="{'has-feedback required': true, 'has-error': ctrpbtn.intervention_form.needsAttention(intervention_form.identifier_type)}">
                                    <label for="intervention_name" class="control-label col-xs-12 col-sm-3">Intervention Name:</label>
                                    <div class="col-xs-12 col-sm-5">
                                        <input type="text" id="intervention_name" class="form-control input-sm" ng-model="interventionView.curInterventionObj.name" ng-click="interventionView.openLookupModal('lg')" readonly>
                                    </div>
                                    <div class="col-xs-12 col-sm-2">
                                        <button type="button" class="btn btn-primary" ng-click="interventionView.openLookupModal('lg')">
                                            <i class="glyphicon glyphicon-search"></i> Look Up Interventions
                                        </button>
                                    </div>
                                </div>
                                <!-- intervention type for cancer.gov -->
                                <div class="form-group">
                                    <label for="trial_identifier" class="control-label col-xs-12 col-sm-3">Intervention Type (Cancer.gov):</label>
                                    <div class="col-xs-12 col-sm-5">
                                        <select name="intervention_type_cancer" id="intervention_type_cancer"
                                                class="form-control input-sm"
                                                ng-model="interventionView.curInterventionObj.intervention_type_cancer_gov_id"
                                                ng-options="type.id as type.name for type in interventionView.interventionTypesByCategory.cancerGov"
                                                ng-required="true"
                                        >
                                            <option value="">
                                                -- Please select an intervention type (cancer.gov)...
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <!-- end of intervention type for cancer.gov -->

                                <!-- intervention type for clinicaltrials.gov -->
                                <div class="form-group">
                                    <label for="trial_identifier" class="control-label col-xs-12 col-sm-3">Intervention Type (ClinicalTrials.gov):</label>
                                    <div class="col-xs-12 col-sm-5">
                                        <select name="intervention_type_ct" id="intervention_type_ct"
                                                class="form-control input-sm"
                                                ng-model="interventionView.curInterventionObj.intervention_type_ct_gov_id"
                                                ng-options="type.id as type.name for type in interventionView.interventionTypesByCategory.ctGov"
                                                ng-required="true"
                                        >
                                            <option value="">
                                                -- Please select an intervention type (CT.gov)...
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <!-- end of intervention type for clinicaltrials.gov -->

                                <div class="form-group">
                                    <label for="intervention_desc" class="control-label col-xs-12 col-sm-3">Intervention Description:</label>
                                    <div class="col-xs-12 col-sm-5">
                                        <textarea name="intervention_desc" id="intervention_desc" rows="10" class="form-control"></textarea>
                                        characters left....
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="other_names" class="control-label col-xs-12 col-sm-3">Other Names:</label>
                                    <div class="col-xs-12 col-sm-5">
                                        <input type="text" id="other_names" class="form-control input-sm" readonly>
                                    </div>
                                </div>

                                <div class="form-group text-center">
                                    <button type="button" class="btn btn-warning" ng-click="interventionView.resetLookupForm(intervention_form)">Reset</button>
                                    <button type="button" class="btn btn-primary"
                                        ng-disabled="interventionView.selectedInterventionObj.preferred_name.length==0"
                                        ng-click="interventionView.upsertIntervention(interventionView.selectedInterventionObj)">
                                        <i class="glyphicon glyphicon-plus"></i> Add
                                    </button>
                                    <span class="help-block">{{interventionView.associationErrorMsg}}</span>
                                </div>
                            </fieldset>

                        </form>
                    </div>
                    <!-- end of adding associated trial -->
                </uib-accordion-group>
            </uib-accordion>
        </div>
    </form>
</div>
<div class="row" ng-hide="interventionView.showInterventionForm">
    <uib-accordion close-others="false">
        <uib-accordion-group is-open="paTrialOverview.accordionOpen">
            <uib-accordion-heading>
                List of Interventions <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': paTrialOverview.accordionOpen, 'glyphicon-chevron-right': !paTrialOverview.accordionOpen}"></i>
            </uib-accordion-heading>
            <!-- associated trials -->
            <div class="row">
                <form>
                    <fieldset restriction-field ng-disabled="!paTrialOverview.trialDetailObj.pa_sci_editable">
                        <div class="row">
                            <table st-table="interventionView.trialDetailObj.associated_trials" class="table table-striped table-hover table-bordered" ng-hide="">
                                <thead>
                                <tr>
                                    <th class="col-sm-2">Name</th>
                                    <th>Description</th>
                                    <th class="col-sm-2">Other Names</th>
                                    <th class="col-sm-2">Type Code</th>
                                    <th class="col-sm-2">ClinicalTrials.gov Type Code</th>
                                    <th>Edit</th>
                                    <th class="text-center td-icon"><input type="checkbox" name="delete_all_inter" id="delete_all_inter" ng-model="interventionView.deleteAll" ng-change="interventionView.flagAllInterventionsForDeletion(interventionView.deleteAll)"></th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="t in interventionView.trialDetailObj.interventions track by $index" ng-class="{'deleted-text': t._destroy, 'edit-selected': interventionView.curInterventionObj.name === t.name}">
                                        <td>
                                            {{t.name}}
                                        </td>
                                        <td>
                                            {{t.description}}
                                        </td>
                                        <td>
                                            {{t.other_name}}
                                        </td>
                                        <td>
                                            {{t.intervention_type_id}} <!-- TODO: convert to string -->
                                        </td>
                                        <td>
                                            {{t.ct_type_code}}
                                        </td>
                                        <td>
                                            Edit
                                        </td>
                                        <td class="text-center td-icon">
                                            <input type="checkbox" ng-model="t._destroy" ng-change="!t._destroy" ng-click="interventionView.deleteAllAssoCheckbox = false"/>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="btn-toolbar col-xs-12 col-sm-9">
                  <!-- <button type="button" class="btn btn-primary pull-right" id="save_btn" restriction-field ng-click="interventionView.updateTrialAssociations()">
                    <i class="glyphicon glyphicon-ok"></i>  Save
                  </button> -->
                  <button type="button" restriction-field  ng-disabled="!paTrialOverview.trialDetailObj.pa_sci_editable" class="btn btn-primary pull-right" ng-click="interventionView.addIntervention()">
                      <i class="glyphicon glyphicon-plus"></i> Add Intervention
                  </button>
                  <button type="button" class="btn btn-danger pull-right" id="cancel_btn"
                      restriction-field
                      ctrp-confirm
                      confirm-msg="Click OK to remove selected Associated Trial(s) from the study. Click Cancel to abort."
                      ctrp-click="interventionView.deleteInterventions()"
                      ng-show="interventionView.trialDetailObj.interventions.length > 0"
                      ng-disabled="interventionView.deleteBtnDisabled || !paTrialOverview.trialDetailObj.pa_sci_editable">
                   <i class="glyphicon glyphicon-remove"></i>  Delete Selected
                  </button>
                </div>
            </div>
            <!-- end of associated trials -->
            </uib-accordion-group>
      </uib-accordion>
</div>
<div class="btn-toolbar" ng-show="interventionView.showInterventionForm">
    <button type="button" class="btn btn-warning pull-right" id="oc_site_list" restriction-field ng-click="interventionView.showInterventionForm = false">
        <i class="glyphicon glyphicon-arrow-left"></i> Back to List of Interventions
    </button>
</div>
