<div class="row" ng-if="!personDetailView.ctrpPerson && !personDetailView.ctepPerson">
    You have reached this page by mistake.
</div>
<div class="row" ng-show="personDetailView.defaultTab">
    <!-- modal template -->
    <script type="text/ng-template" id="delete_confirm_template.html">
        <div class="modal-header">
            <h3 class="modal-title">{{vm.modalTitle}}</h3>
        </div>
        <div class="modal-body">
            <div ng-show="vm.deletionStatus == ''">
                <strong>This will be a permanent deletion</strong>
            </div>
            <div ng-show="vm.deletionStatus != ''">
                <strong>{{vm.deletionStatus}}</strong>
            </div>
        </div>
        <div class="modal-footer">
            <div class="btn-toolbar">
                <button class="btn btn-danger pull-right" ng-click="vm.ok()" ng-disabled="vm.disableBtn">
                    <i class="glyphicon glyphicon-trash"></i> Delete Now
                </button>
                <button class="btn btn-warning pull-right" ng-click="vm.cancel()">
                    <i class="glyphicon glyphicon-remove"></i> Cancel
                </button>
            </div>
        </div>
    </script>
    <!-- end of modal template -->

    <!-- person detail section -->
    <div class="col-xs-12 drop-shadow">
        <div class="row">
            <p><h4>{{personDetailView.formTitleLabel}}</h4></p>
        </div>
        <div class="row">
            <ctrp-comment instance-uuid="{{personDetailView.curPerson.uuid}}" button-type="icon" field="" model="person" ng-show="personDetailView.isAllowedToComment"></ctrp-comment>
            <form class="form form-horizontal" role="form" name="person_form" novalidate ctrp-submit="personDetailView.updatePerson()" unsaved-changes>
                <md-tabs md-dynamic-height md-border-bottom md-selected>
                    <md-tab label="CTRP" md-active="personDetailView.defaultTab === 'CTRP' || personDetailView.tabOpen === 'CTRP'" ng-if="personDetailView.ctrpPerson" md-on-select="personDetailView.selectContext('CTRP')">
                        <!-- <md-content class="md-padding" ng-class="{'edit-off': !personDetailView.curOrgEditable}">
                            <div ng-show="personDetailView.curOrgEditable || personDetailView.ctrpOrg.new" ng-include src="'app/po/organization/_ctrpOrgDetailWR.html?_rload='+personDetailView.ctrpUpdateTime"></div>
                            <div ng-show="!personDetailView.curOrgEditable && !personDetailView.ctrpOrg.new" ng-include src="'app/po/organization/_ctrpOrgDetailRO.html?_rload='+personDetailView.ctrpUpdateTime"></div>
                            <div ng-include src="'app/po/organization/_associatedOrgs.html?_rload='+personDetailView.updateTime"></div>
                        </md-content> -->
                        <md-tab-body>
                            <div ng-include src="'app/po/person/sub_partials/_ctrpPersonDetail.html'"></div>
                        </md-tab-body>
                    </md-tab>
                    <md-tab label="CTEP" md-active="personDetailView.defaultTab === 'CTEP' || personDetailView.tabOpen === 'CTEP'" ng-if="personDetailView.ctepPerson" md-on-select="personDetailView.selectContext('CTEP')">
                        <md-tab-body>
                            <div ng-include src="'app/po/person/sub_partials/_ctepPersonDetail.html'"></div>
                        </md-tab-body>
                    </md-tab>
                </md-tabs>
            </form>
        </div>
        <modal visible="personDetailView.isConfirmOpen" title="Please confirm" id="confirm_association_person">
            <div class="modal-body">
                {{personDetailView.confirm.title}}
            </div>
            <div class="modal-footer">
                <div class="btn-toolbar">
                    <button type="button" class="btn btn-primary pull-right"  id="confirmChangeOverrideContext"
                            ng-click="personDetailView.confirmAssociatePerson('true')"><i class="glyphicon glyphicon-ok"></i>
                        Associate
                    </button>
                    <button type="button" class="btn btn-warning pull-right" id="cancelChangeOverrideContext"
                            ng-click="personDetailView.isConfirmOpen = false"><i class="glyphicon glyphicon-remove"></i>
                        Cancel
                    </button>
                </div>
            </div>
        </modal>
    </div>
    <!-- end of person detail section -->

</div>
