<strong>Hello from person search 2</strong>
<strong>{{personSearch2View.name}}</strong>
<form class="form form-horizontal" role="form" name="search_person_form2" novalidate>
    <div class="row" ng-hide="personSearch2View.searchWarningMessage==''" ng-cloak>
        <div class="alert alert-warning fade in">
            <strong>{{personSearch2View.searchWarningMessage}}</strong>
        </div>
    </div>

    <!-- first row -->
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6">
            <!-- person name -->
            <div class="form-group">
                <label for="person_fname" class="control-label col-xs-12 col-sm-3">First Name:</label>
                <div class=" col-xs-12 col-sm-3">
                    <input tabindex="12" type="text" id="person_fname" class="form-control input-sm" placeholder="First Name" ng-model="personSearch2View.searchParams.fname" auto-focus />
                </div>
                <label for="person_lname" class="control-label col-xs-12 col-sm-3">Last Name:</label>
                <div class="col-xs-12 col-sm-3">
                    <input tabindex="13" type="text" id="person_lname" class="form-control input-sm" placeholder="Last Name" ng-model="personSearch2View.searchParams.lname"/>
                </div>
            </div>
            <!-- person name ends -->

            <div class="form-group">
                <!--source context-->
                <label for="source_context" class="control-label col-xs-12 col-sm-3">Source Context:</label>
                <div ng-if="personSearch2View.sourceContextArr.length > 1">
                    <div class="col-xs-12 col-sm-3">
                        <select tabindex="15" class="form-control input-sm" id="source_context" ng-model="personSearch2View.searchParams.source_context">
                            <option value="" ng-selected="personSearch2View.searchParams.source_context==''">All Contexts</option>
                            <option ng-repeat="context in personSearch2View.sourceContextArr" value="{{context.name}}">{{context.name}}</option>
                        </select>
                    </div>
                </div>
                <div  ng-if="personSearch2View.sourceContextArr.length == 1">
                    <div class="col-xs-12 col-sm-3">
                       <p class="form-control-static">{{personSearch2View.sourceContextArr[0].name}}</p>
                    </div>
                </div>
                <!--source context ends-->
                <!--source id-->
                <label for="source_id" class="control-label col-xs-12 col-sm-3">Source ID:</label>
                <div class="col-xs-12 col-sm-3">
                    <input tabindex="16" type="text" id="source_id" class="form-control input-sm" placeholder="Source ID" ng-model="personSearch2View.searchParams.source_id"/>
                </div>
                <!-- source id ends -->
            </div>

            <div class="form-group">
                <label for="email" class="control-label col-xs-12 col-sm-3">Email:</label>
                <div class="col-xs-12 col-sm-9">
                    <input tabindex="18" type="text" id="email" class="form-control input-sm" placeholder="Email" ng-model="personSearch2View.searchParams.email"/>
                </div>
            </div>

            <div class="form-group" restriction-field="ROLE_CURATOR" ignore-rw>
                <!-- start date -->
                <label for="start_date" class="control-label col-xs-12 col-sm-3">
                    <div class="dropdown">
                        <a href="" data-toggle="dropdown" class="dropdown-toggle">Last Updated<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="" ng-click="personSearch2View.getDateRange('today')">Today</a></li>
                            <li><a href="" ng-click="personSearch2View.getDateRange('yesterday')">Yesterday</a></li>
                            <li><a href="" ng-click="personSearch2View.getDateRange('last7')">Last 7 Days</a></li>
                            <li><a href="" ng-click="personSearch2View.getDateRange('last30')">Last 30 Days</a></li>
                            <li><a href="" ng-click="personSearch2View.getDateRange('thisMonth')">This Month</a></li>
                            <li><a href="" ng-click="personSearch2View.getDateRange('lastMonth')">Last Month</a></li>
                            <li><a href="" ng-click="personSearch2View.getDateRange('clear')">Clear</a></li>
                        </ul>
                    </div>
                </label>
                <div class="col-xs-12 col-sm-5">
                    <div class="input-group add-on col-sm-12 date datepicker">
                        <input tabindex="20" type="text" class="form-control input-sm" id="start_date" name="startDate"
                               uib-datepicker-popup="{{personSearch2View.dateFormat}}" show-weeks="false"
                               ng-model="personSearch2View.searchParams.startDate" is-open="personSearch2View.startDateOpened"
                               datepicker-options="personSearch2View.dateOptions"
                               ng-required="false" close-text="Close" placeholder="Start Date"  ng-click="openCalendar($event, 'start')" />
                        <span class="input-group-btn">
                            <button tabindex="21" type="button" class="btn btn-default btn-calendar" ng-click="openCalendar($event, 'start')">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </div>
                </div>

                <!-- end date -->
                <!--<label for="person_fname" class="control-label col-sm-2"></label>-->
                <div class="col-xs-12 col-sm-4">
                    <div class="input-group add-on col-sm-12 date datepicker" ng-class="{'has-error': search_person_form.endDate.dateLaterThan && search_person_form.endDate.$dirty}">
                        <input tabindex="22" type="text" class="form-control input-sm" id="end_date" name="endDate"
                               uib-datepicker-popup="{{personSearch2View.dateFormat}}" show-weeks="false"
                               ng-model="personSearch2View.searchParams.endDate" is-open="personSearch2View.endDateOpened" ng-click="openCalendar($event, 'end')"
                               datepicker-options="personSearch2View.dateOptions" date-later-than="{{personSearch2View.searchParams.startDate| date: 'short'}}"
                               ng-required="false" close-text="Close" placeholder="End Date" ng-click="openCalendar($event, 'end')" />
                        <span class="input-group-btn">
                            <button tabindex="23" type="button" class="btn btn-default btn-calendar" ng-click="openCalendar($event, 'end')">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </div>
                    <span ng-show="search_person_form.endDate.$error.dateLaterThan" class="help-inline warning">
                        End date should be no earlier than start date
                    </span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-12 col-sm-3"></div>
                <div class="col-xs-12 col-sm-9">
                    <div ng-class="personSearch2View.searchParams.wc_search == true ? 'checkbox checkbox-info' : 'checkbox checkbox-circle'">
                        <label for="wc_search">
                            <input tabindex="11" type="checkbox" id="wc_search"  ng-model="personSearch2View.searchParams.wc_search"  /> Exact Search
                        </label>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-xs-12 col-sm-12 col-md-6">
            <!-- PO ID -->
            <div class="form-group">
                <!-- affiliated with organization name -->
                <label for="affiliation" class="control-label col-sm-12 col-sm-3">Affiliation:</label>

                <div class="col-sm-12 col-sm-9">
                    <!-- <input type="text" id="affiliation" class="form-control input-sm" placeholder="Organization Name" ng-model="personSearch2View.searchParams.affiliated_org_name"/> -->
                    <input tabindex="14" type="text" id="affiliation" class="form-control input-sm"
                            autocomplete="off" placeholder="Organization Name" ng-model="personSearch2View.searchParams.affiliated_org_name"
                            uib-typeahead="org for org in personSearch2View.typeAheadNameSearch($viewValue)" typeahead-loading="loadingOrganizations"
                            typeahead-min-length="3" typeahead-wait-ms="50" typeahead-no-results="noResults"/>
                </div>
                <!-- end of affiliation -->
            </div>
            <!-- PO ID ends -->

            <div class="form-group">
                <!--source status-->
                <label for="source_status" class="control-label col-xs-12 col-sm-3">Source Status:</label>
                <div  ng-if="personSearch2View.sourceStatusArr.length > 1">
                    <div class="col-xs-12 col-sm-4">
                        <select tabindex="17" class="form-control input-sm" id="source_status" ng-model="personSearch2View.searchParams.source_status" ng-options="status.name for status in personSearch2View.sourceStatusArr">
                            <option value="">Select a Status</option>
                        </select>
                    </div>
                </div>
                <div  ng-if="personSearch2View.sourceStatusArr.length == 1">
                    <div class="col-xs-12 col-sm-4">
                        <p class="form-control-static">{{personSearch2View.sourceStatusArr[0].name}}</p>
                    </div>
                </div>
                <!-- source status ends -->
            </div>

            <div class="form-group">
                <label for="phone" class="control-label col-xs-12 col-sm-3">Phone:</label>
                <div class="col-xs-12 col-sm-9">
                    <input tabindex="19" type="text" id="phone" class="form-control input-sm" placeholder="Phone" ng-model="personSearch2View.searchParams.phone"/>
                </div>
            </div>

            <div class="form-group" restriction-field="ROLE_CURATOR" ignore-rw>
                <!-- last updated by -->
                <label for="updated_by" class="control-label col-xs-12 col-sm-3">Updated by: </label>
                <div class="col-xs-12 col-sm-9">
                    <input tabindex="24" type="text" class="form-control input-sm" id="updated_by" ng-model="personSearch2View.searchParams.updated_by" placeholder="Username" />
                </div>
                <!-- end of last updated by -->
            </div>
        </div>
    </div>
    <!-- first row ends -->

    <!-- row for buttons -->
    <div class="row">
        <div class="col-xs-12">
            <div class="btn-toolbar">
                <button tabindex="30" type="submit" class="btn btn-primary pull-right" id="submission_btn" ng-click="personSearch2View.searchPeople('fromStart')" ng-disabled="searching">
                    <i class="glyphicon glyphicon-search"></i> Search
                </button>
                <button tabindex="29" class="btn btn-warning pull-right" id="reset_btn" ng-click="personSearch2View.resetSearch()" ng-disabled="searching">
                    <i class="glyphicon glyphicon-remove"></i> Clear
                </button>
            </div>
        </div>
    </div>
    <!-- end of buttons -->
    <!-- ag-grid for people search results -->
    <div class="row">
        <div style="padding: 4px">
            <div style="float: right;">
                <input type="text" ng-model="personSearch2View.gridOptions.quickFilterText" placeholder="Type text to filter..."/>
            </div>
            <div style="padding: 4px;">
                <b>Person Search Results: </b> {{personSearch2View.rowCount}} found
            </div>
            <div style="clear: both;"/>
        </div>
        <div style="width: 100%; height: 400px;"
             ag-grid="personSearch2View.gridOptions"
             class="ag-fresh ag-basic">
        </div>
    </div>
    <!-- end of people search results -->
</form>
