
<div class="form form-horizontal">
    <div class="row md-sidenav-push-in-target">
        <div ng-include src="'app/po/organization/_allOrgDetailRO.html?_rload='+orgDetailView.updateTime" onload="[curOrg = orgDetailView.ctepOrg]" ng-model="ctepOrg"></div>
        <div class="row"  ng-if="orgDetailView.curOrgEditable">
            <div class="form-group col-xs-12 col-sm-6 has-feedback">
                <div class="control-label col-xs-6 col-sm-6"></div>
                <div class="form-group col-xs-6 col-sm-6 form-text" ng-hide="orgDetailView.disableCloneFresh === true">
                    <ctrp-org-adv-search-modal-button
                            ng-click="orgDetailView.cloningCTEP = true;"
                            pre-search = '{
                                                "nosave": true,
                                                "source_context": "CTRP",
                                                "name": "{{orgDetailView.ctepOrg.name}}",
                                                "state_province": "{{orgDetailView.ctepOrg.state_province}}",
                                                "country": "{{orgDetailView.ctepOrg.country}}",
                                                "preload": {{orgDetailView.nilclose}},
                                                "hideform": {{orgDetailView.nilclose}},
                                                "nilclose": true,
                                                "disable": {{!!(orgDetailView.ctrpOrg && orgDetailView.ctepOrg.ctrp_id)}}
                                            }'
                            class="pull-left"
                            max-row-selectable="1" use-built-in-template="false" allow-overwrite="true"
                            button-label = 'Clone'
                            filtered-contexts = "CTRP"
                            selected-orgs-array="orgDetailView.selectedOrgsArray">
                    </ctrp-org-adv-search-modal-button>
                </div>
            </div>
        </div>
        <!-- end of reset and save buttons for CTEP -->
    </div>
</div>