<h4><span ng-hide="!orgDetailView.ctrpOrg.new">Add</span><span ng-hide="orgDetailView.ctrpOrg.new">Edit</span> Organization</h4>
<div class="row md-sidenav-push-in-target">
    <div ng-include src="'app/po/organization/_allOrgDetailWR.html'"></div>
    <div class="row"  ng-if="!orgDetailView.ctrpOrg.new">
        <div class="form-group col-xs-12 col-sm-6 has-feedback">
            <label class="control-label col-xs-6 col-sm-6">Context Organization ID:</label>
            <div class="form-group col-xs-6 col-sm-6 form-text">
                {{orgDetailView.ctrpOrg.id}}
            </div>
        </div>
    </div>
    <div class="form-group" ng-hide="orgDetailView.ctrpOrg.new">
        <label class="control-label col-xs-12 col-sm-3">Created By:</label>
        <div class="col-xs-12 col-sm-6 form-text">
            {{orgDetailView.ctrpOrg.created_by}} ({{orgDetailView.ctrpOrg.org_created_date}})
        </div>
    </div>
    <div class="form-group" ng-hide="orgDetailView.ctrpOrg.new">
        <label class="control-label col-xs-12 col-sm-3">Updated By:</label>
        <div class="col-xs-12 col-sm-6 form-text">
            {{orgDetailView.ctrpOrg.updated_by}} ({{orgDetailView.ctrpOrg.org_updated_date}})
        </div>
    </div>
    <div ng-show="orgDetailView.ctrpOrg.families.length > 0" class="form-group">
        <label class="control-label col-xs-12 col-sm-3">Families:</label>
        <div class="col-xs-12 col-sm-6 form-text">
            <p ng-repeat="family in orgDetailView.ctrpOrg.families">
                <a ui-sref="main.familyDetail({familyId : family.id })">{{family.name}}</a>
            </p>
        </div>
    </div>
    <div class="row" ng-hide="orgDetailView.ctrpOrg.new">
        <div class="form-group col-xs-12 col-sm-6 has-feedback">
            <label class="control-label col-xs-6 col-sm-6">Associate Organization Context:</label>
            <div class="form-group col-xs-6 col-sm-6 form-text">
                <ctrp-org-adv-search-modal-button
                        ng-hide="orgDetailView.ctrpOrg.new"
                        pre-search = '{"nosave": true, "source_contextfilter": ["CTEP","NLM"]}'
                        class="pull-left"
                        max-row-selectable="1" use-built-in-template="false" allow-overwrite="true"
                        filtered-contexts = "CTEP,NLM"
                        selected-orgs-array="orgDetailView.selectedOrgsArray">
                </ctrp-org-adv-search-modal-button>
            </div>
        </div>
    </div>
    <div class="form-group no-bottom-margin" ng-show="orgDetailView.curOrgEditable">
        <div class="col-xs-12 col-sm-3"></div>
        <div class="btn-toolbar col-xs-12 col-sm-6">
            <button type="submit" restriction-field class="btn btn-primary pull-right" id="save_btn" ng-disabled="orgDetailView.disableBtn">
                <i class="glyphicon glyphicon-ok"></i> Save
            </button>
            <button type="button" ng-hide="!orgDetailView.ctrpOrg.new" restriction-field class="btn btn-warning pull-right" id="clear_btn" ng-click="orgDetailView.clearForm()" ng-disabled="orgDetailView.disableBtn">
                <i class="glyphicon glyphicon-remove"></i> Reset
            </button>
            <button type="button" ng-hide="orgDetailView.ctrpOrg.new" restriction-field class="btn btn-warning pull-right" id="clear_btn" ng-click="orgDetailView.resetForm()" ng-disabled="orgDetailView.disableBtn">
                <i class="glyphicon glyphicon-remove"></i> Reset
            </button>
        </div>
    </div>
    <div class="form-group no-bottom-margin">
        <div class="col-xs-12 col-sm-3"></div>
        <div class="form-group" ng-if="orgDetailView.associatedOrgs && orgDetailView.associatedOrgs.length > 1">
            <div class="col-xs-12">
                <h4>Associated Organizations</h4>
                <div class="row animated-item top-offset-tiny table-responsive search-calendar-grid">
                    <table class="table table-bordered table-striped table-condensed class-by-name">
                        <thead>
                        <th class="ctrp_id nowrap">CTRP Organization ID</th>
                        <th class="ctep_id nowrap">CTEP Organization ID</th>
                        <th class="org_name nowrap">Name</th>
                        <th class="source_status nowrap">Source Status</th>
                        <th class="source_context nowrap">Source Context</th>
                        <th class="source_id nowrap">Source ID</th>
                        <th class="family_name nowrap">Family Name</th>
                        <th class="phone nowrap">Phone</th>
                        <th class="email nowrap">Email</th>
                        <th class="city nowrap">City</th>
                        <th class="state nowrap">State</th>
                        <th class="country nowrap">Country</th>
                        <th class="postal_code nowrap">Postal Code</th>
                        <th class="context_org_id nowrap">Context Org ID</th>
                        <th class="processing_status nowrap">Processing Status</th>
                        <th class="updated_by nowrap">Last Updated by</th>
                        <th class="updated_date nowrap">Last Updated Date</th>
                        <th class="association_date nowrap">Association Start Date</th>
                        <th class="td-icon">Delete</th>
                        </thead>
                        <tbody>
                        <tr ng-repeat="org in orgDetailView.associatedOrgs" ng-class="org._destroy == true ? 'deleted-text animated-item' : 'animated-item'">
                            <td>{{org.ctrp_id}}</td>
                            <td>{{org.ctep_id}}</td>
                            <td>{{org.name}}</td>
                            <td>{{org.source_status_name}}</td>
                            <td>{{org.source_context_name}}</td>
                            <td>{{org.source_id}}</td>
                            <td>{{org.aff_families_names}}</td>
                            <td>{{org.phone_with_ext}}</td>
                            <td>{{org.email}}</td>
                            <td>{{org.city}}</td>
                            <td>{{org.state_province}}</td>
                            <td>{{org.country}}</td>
                            <td>{{org.postal_code}}</td>
                            <td>{{org.id}}</td>
                            <td>{{org.processing_status}}</td>
                            <td>{{org.updated_by}}</td>
                            <td>{{org.org_updated_date}}</td>
                            <td>{{org.org_assoc_date}}</td>
                            <td class="text-center td-icon">
                                <button type="button" restriction-field class="btn btn-warning" ng-click="orgDetailView.toggleSelection($index)" title="Mark for deletion">
                                    <i ng-class="org._destroy == true ? 'glyphicon glyphicon-ok-circle' : 'glyphicon glyphicon-remove-circle'"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div> <!-- row ends -->
            </div>
        </div>
    </div>
</div>