
<form class="form form-horizontal" role="form" name="organization_form" novalidate ctrp-submit="orgDetailView.updateOrg()" unsaved-changes>
    <div class="row md-sidenav-push-in-target">
        <div ng-include src="'app/po/organization/_allOrgDetailWR.html'"></div>
        <div class="row"  ng-if="!orgDetailView.ctrpOrg.new">
            <div class="form-group col-xs-12 col-sm-6 has-feedback">
                <label class="control-label col-xs-6 col-sm-6">Context Organization ID:</label>
                <div class="form-group col-xs-6 col-sm-6 form-text">
                    {{orgDetailView.ctrpOrg.id}}
                </div>
            </div>
        </div>
        <div class="form-group" ng-hide="orgDetailView.ctrpOrg.new">
            <label class="control-label col-xs-12 col-sm-3">Created By:</label>
            <div class="col-xs-12 col-sm-6 form-text">
                {{orgDetailView.ctrpOrg.created_by}} ({{orgDetailView.ctrpOrg.org_created_date}})
            </div>
        </div>
        <div class="form-group" ng-hide="orgDetailView.ctrpOrg.new">
            <label class="control-label col-xs-12 col-sm-3">Updated By:</label>
            <div class="col-xs-12 col-sm-6 form-text">
                {{orgDetailView.ctrpOrg.updated_by}} ({{orgDetailView.ctrpOrg.org_updated_date}})
            </div>
        </div>
        <div ng-show="orgDetailView.ctrpOrg.families.length > 0" class="form-group">
            <label class="control-label col-xs-12 col-sm-3">Families:</label>
            <div class="col-xs-12 col-sm-6 form-text">
                <p ng-repeat="family in orgDetailView.ctrpOrg.families">
                    <a ui-sref="main.familyDetail({familyId : family.id })">{{family.name}}</a>
                </p>
            </div>
        </div>
        <div class="row" ng-hide="orgDetailView.ctrpOrg.new">
            <div class="form-group col-xs-12 col-sm-6 has-feedback">
                <label class="control-label col-xs-6 col-sm-6">Associate Organization Context:</label>
                <div class="form-group col-xs-6 col-sm-6">
                    <ctrp-org-adv-search-modal-button
                            ng-hide="orgDetailView.ctrpOrg.new"
                            pre-search= '{"nosave": true, "source_contextfilter": ["CTEP","NLM"]}'
                            class="pull-left"
                            max-row-selectable="1" use-built-in-template="false" allow-overwrite="true"
                            filtered-contexts = "CTEP,NLM"
                            selected-orgs-array="orgDetailView.selectedOrgsArray">
                    </ctrp-org-adv-search-modal-button>
                </div>
            </div>
        </div>
        <div class="form-group no-bottom-margin" ng-show="orgDetailView.curOrgEditable">
            <div class="col-xs-12 col-sm-3"></div>
            <div class="btn-toolbar col-xs-12 col-sm-6">
                <button type="submit" restriction-field class="btn btn-primary pull-right" id="save_btn" ng-disabled="orgDetailView.disableBtn">
                    <i class="glyphicon glyphicon-ok"></i> Save
                </button>
                <button type="button" ng-hide="!orgDetailView.ctrpOrg.new" restriction-field class="btn btn-warning pull-right" id="clear_btn" ng-click="orgDetailView.clearForm()" ng-disabled="orgDetailView.disableBtn">
                    <i class="glyphicon glyphicon-remove"></i> Reset
                </button>
                <button type="button" ng-hide="orgDetailView.ctrpOrg.new" restriction-field class="btn btn-warning pull-right" id="clear_btn" ng-click="orgDetailView.resetForm()" ng-disabled="orgDetailView.disableBtn">
                    <i class="glyphicon glyphicon-remove"></i> Reset
                </button>
            </div>
        </div>
    </div>
</form>
<div ng-include src="'app/po/organization/_associatedOrgs.html?_rload='+orgDetailView.updateTime"></div>
