
<div class="form-group" id="user_list_organization">
    <label for="organization_name" class="control-label {{label_class}}">{{label}} </label>
    <div class="{{div_class}}"  ng-if="!page_view.searchOrganization">
        <input type="text" id="organization_name" class="form-control input-sm" name="organization_name"
               autocomplete="off" placeholder="Organization Name"
               ng-blur = "page_view.enterOrg = false"
               focus-me = "page_view.enterOrg"
               ng-model="page_view.organization_name"
               typeahead-on-select="page_view.setUserListTypeAheadOrg($item)"
               ng-if="!page_view.userChosenOrg"
               uib-typeahead="org for org in page_view.typeAheadNameSearch($viewValue)" ui-typeahead-loading="loadingOrganizations"
               typeahead-min-length="3" typeahead-wait-ms="50" typeahead-no-results="noResults" />
        <div class="type-ahead-results" ng-if="page_view.userChosenOrg"
             ng-click="page_view.removeOrgChoice()"
             title="Change organization">
            <b>{{page_view.userChosenOrg.name}}</b>,<br>
            <span ng-if="page_view.userChosenOrg.city">{{page_view.userChosenOrg.city}}, </span>
            <span ng-if="page_view.userChosenOrg.state_province">{{page_view.userChosenOrg.state_province}}, </span>
            <span ng-if="page_view.userChosenOrg.postal_code">{{page_view.userChosenOrg.postal_code}}, </span>
            <span ng-if="page_view.userChosenOrg.country">{{page_view.userChosenOrg.country}}</span>
        </div>
    </div>
    <div class="col-sm-7 control-label text-left" ng-if="page_view.searchOrganization">
        {{page_view.searchOrganization}}
    </div>
</div>