<div class="row-fluid">
    <script type="text/ng-template" id="delete_confirm_template.html">
        <div class="modal-header">
            <h3 class="modal-title">{{vm.modalTitle}}</h3>
        </div>
        <div class="modal-body">
            <div ng-show="vm.deletionStatus == ''">
                <strong>This will be a permanent deletion</strong>
            </div>
            <div ng-show="vm.deletionStatus != ''">
                <strong>{{vm.deletionStatus}}</strong>
            </div>
        </div>
        <div class="modal-footer">
            <div class="col-sm-12">
                <div class="btn-toolbar">
                    <button class="btn btn-danger pull-right" id="delete_btn" ng-click="vm.ok()" ng-disabled="vm.disableBtn">
                        <i class="glyphicon glyphicon-trash"></i> Delete Now
                    </button>
                    <button class="btn btn-warning pull-right" id="cancel_btn" ng-click="vm.cancel()">
                        <i class="glyphicon glyphicon-remove"></i> Cancel
                    </button>
                </div>
            </div>
        </div>
    </script>
    <script type="text/ng-template" id="ctrp">CTRP Context</script>
    <script type="text/ng-template" id="nlm">NLM Context</script>
    <script type="text/ng-template" id="ctep">CTEP Context</script>
    <div class="col-xs-12 drop-shadow">
        <div class="row">
            <p>
                <h4>{{orgDetailView.formTitleLabel}}</h4>
            </p>
        </div>
        <div class="row">
            <ctrp-comment instance-uuid="{{orgDetailView.curOrg.uuid}}" button-type="icon" field="" model="organization"></ctrp-comment>
            <!-- tab views -->
            <form class="form form-horizontal" role="form" name="organization_form" novalidate ctrp-submit="orgDetailView.updateOrg()" unsaved-changes>
            <md-tabs md-dynamic-height md-border-bottom md-selected="orgDetailView.tabIndex">
                <md-tab ng-repeat="clusterOrg in orgDetailView.curOrg.cluster track by $index">
                    <md-tab-label>{{clusterOrg.context}}</md-tab-label>
                    <md-tab-body>
                        <!-- <button class="btn btn-primary pull-right" ctrp-comment-button ctrp-comment-panel uuid="{{orgDetailView.curOrg.uuid}}" field="mock_field">New Comment</button> -->
                        <!--CTRP content -->
                        <div class="row md-sidenav-push-in-target">
                            <div ng-if="!orgDetailView.curOrg.new" class="form-group">
                                <label class="control-label col-xs-12 col-sm-3">CTRP Organization ID:</label>
                                <div class="col-xs-12 col-sm-6 form-text">{{orgDetailView.curOrg.ctrp_id}}</div>
                            </div>
                            <div class="form-group has-feedback required" ng-class="{'has-error': ctrpbtn.organization_form.needsAttention(organization_form.name) || orgDetailView.showUniqueWarning}">
                                <label for="organization_name" class="control-label col-xs-12 col-sm-3">Name:</label>
                                <div class="col-xs-12 col-sm-6" ng-if="orgDetailView.curOrgEditable">
                                    <input type="text" restriction-field class="form-control input-sm" name="name" id="organization_name" maxlength="160" ng-model="orgDetailView.curOrg.name" auto-focus required ng-blur="orgDetailView.checkUniqueOrganization()">
                                    <span class="form-control-feedback" ng-show="orgDetailView.curOrg.name.length"></span>
                                    <span ng-show="organization_form.name.$dirty">{{160 - orgDetailView.curOrg.name.length}} left</span>
                                    <span class="help-block" ng-show="organization_form.name.$error.required && ctrpbtn.organization_form.needsAttention(organization_form.name)">Name is Required</span>
                                    <div class="has-error" ng-show="orgDetailView.showUniqueWarning && orgDetailView.curOrg.name.length > 0 && organization_form.name.$dirty">
                                        <span class="help-block">
                                            Warning: Organization exists in the database. Please verify and create a new Organization record.
                                        </span>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 form-text" ng-if="!orgDetailView.curOrgEditable">
                                    {{orgDetailView.curOrg.name}}
                                </div>
                            </div>

                                <div class="form-group">
                                    <label for="source_context" class="control-label col-xs-12 col-sm-3">Source Context:</label>
                                        <div class="col-xs-12 col-sm-6" ng-if="orgDetailView.curOrgEditable">
                                            <select restriction-field ng-init="orgDetailView.curOrg.source_context_id"
                                                    class="form-control input-sm" id="source_context"
                                                    ng-model="orgDetailView.curOrg.source_context_id"
                                                    ng-options="context.id as context.name for context in orgDetailView.sourceContextArr">
                                            </select>
                                        </div>

                                        <div class="col-xs-12 col-sm-6 form-text" ng-if="!orgDetailView.curOrgEditable">{{clusterOrg.context}}</div>
                                </div>
                                <div class="form-group" ng-if="!orgDetailView.curOrg.new">
                                    <!--  Make source ID a R/O field -->
                                    <label class="control-label col-xs-12 col-sm-3">Source ID:</label>
                                    <div class="col-xs-12 col-sm-6 form-text">
                                        {{orgDetailView.curOrg.source_id}}
                                    </div>
                                </div>
                                <div class="form-group required" ng-class="{'has-error': ctrpbtn.organization_form.needsAttention(organization_form.source_status)}">
                                    <label for="source_status" class="control-label col-xs-12 col-sm-3">Source Status:</label>
                                    <div class="col-xs-12 col-sm-6">
                                        <div ng-if="!orgDetailView.curOrgEditable" class="form-text">{{orgDetailView.curSourceStatusName}}</div>
                                        <div ng-if="orgDetailView.curOrgEditable" class="animated-item">
                                            <select restriction-field required ng-init="orgDetailView.curOrg.source_status_id"
                                                    class="form-control input-sm" id="source_status"
                                                    ng-model="orgDetailView.curOrg.source_status_id"
                                                    ng-options="status.id as status.name for status in orgDetailView.sourceStatusArr">
                                            </select>
                                        </div>
                                        <div class="has-error" ng-show="ctrpbtn.organization_form.needsAttention(organization_form.source_status)">
                                            <span class="help-block">
                                                Source Status is Required.
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group required" ng-class="{'has-error': ctrpbtn.organization_form.needsAttention(organization_form.processing_status)}">
                                    <label for="processing_status" class="control-label col-xs-12 col-sm-3">Processing Status:</label>
                                    <div class="col-xs-12 col-sm-6">
                                        <div ng-if="orgDetailView.curOrg.new || !orgDetailView.curOrgEditable" class="form-text">{{orgDetailView.curOrg.processing_status}}</div>
                                        <div ng-if="!orgDetailView.curOrg.new && orgDetailView.curOrgEditable" class="animated-item">
                                            <select restriction-field required ng-init="orgDetailView.curOrg.processing_status"
                                                    class="form-control input-sm" id="processing_status"
                                                    ng-model="orgDetailView.curOrg.processing_status"
                                                    ng-options="status.name as status.name for status in orgDetailView.processStatusArr">
                                            </select>
                                        </div>
                                        <div class="has-error" ng-show="ctrpbtn.organization_form.needsAttention(organization_form.processing_status)">
                                            <span class="help-block">
                                                Processing Status is Required.
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-3">Name Alias:</label>
                                    <div class="col-xs-12 col-sm-6">
                                        <table class="table table-striped table-condensed" ng-if="orgDetailView.curOrgEditable" ctrp-hint>
                                            <tbody>
                                            <tr>
                                                <td class="col-md-7">
                                                    <div>
                                                        <input type="text" restriction-field class="form-control input-sm" id="alias" ng-model="orgDetailView.alias"/>
                                                    </div>
                                                </td>
                                                <td class="col-md-1">
                                                    <div>
                                                        <button type="button" class="btn btn-primary btn-add" ng-disabled="orgDetailView.alias == '' || orgDetailView.disableBtn" restriction-field ng-click="orgDetailView.addNameAlias()">
                                                            <i class="glyphicon glyphicon-plus"></i> Add
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <table class="table table-bordered table-striped table-condensed animated-item" ng-show="orgDetailView.addedNameAliases.length > 0">
                                            <tbody>
                                            <thead>
                                            <th>Alias</th>
                                            <th ng-show="orgDetailView.curOrgEditable">Delete</th>
                                            </thead>
                                            <tr ng-repeat="nameAlias in orgDetailView.addedNameAliases track by $index" ng-class="nameAlias._destroy == true ? 'deleted-text animated-item' : 'animated-item'">
                                                <td class="col-md-7">{{nameAlias.name}}</td>
                                                <td class="text-center td-icon" ng-show="orgDetailView.curOrgEditable">
                                                    <label class="btn btn-warning" restriction-field ng-click="orgDetailView.toggleSelection($index, 'other_id')">
                                                        <i ng-class="nameAlias._destroy == true ? 'glyphicon glyphicon-ok-circle' : 'glyphicon glyphicon-remove-circle'"></i>
                                                    </label>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="form-group" ng-show="clusterOrg.context == 'CTEP'">
                                    <label class="control-label col-xs-12 col-sm-3">CTEP Organization Type:</label>
                                    <div class="col-xs-12 col-sm-6 form-text">
                                        TODO:
                                    </div>
                                </div>
                                <div class="form-group has-feedback required"  ng-class="{'has-error': ctrpbtn.organization_form.needsAttention(organization_form.address)}">
                                    <label class="control-label col-xs-12 col-sm-3">Address 1:</label>
                                    <div class="col-xs-12 col-sm-6" ng-if="orgDetailView.curOrgEditable">
                                        <input type="text" restriction-field class="form-control input-sm" id="address" ng-model="orgDetailView.curOrg.address" name="address" required>
                                        <span class="form-control-feedback" ng-show="orgDetailView.curOrg.address.length"></span>
                                        <span class="help-block" ng-show="organization_form.address.$error.required && ctrpbtn.organization_form.needsAttention(organization_form.address)">Address1 is Required</span>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 form-text" ng-if="!orgDetailView.curOrgEditable">
                                        {{orgDetailView.curOrg.address}}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-3">Address 2:</label>
                                    <div class="col-xs-12 col-sm-6" ng-if="orgDetailView.curOrgEditable">
                                        <input type="text" restriction-field class="form-control input-sm" id="address2" ng-model="orgDetailView.curOrg.address2">
                                    </div>
                                    <div class="col-xs-12 col-sm-6 form-text" ng-if="!orgDetailView.curOrgEditable">
                                        {{orgDetailView.curOrg.address2}}
                                    </div>
                                </div>
                                <div class="form-group" ng-if="clusterOrg.context == 'CTEP'">
                                    <label class="control-label col-xs-12 col-sm-3">Address 3:</label>
                                    <!-- CTEP has address 3 -->
                                    <div class="col-xs-12 col-sm-6 form-text">
                                        {{orgDetailView.curOrg.address3}}
                                    </div>
                                </div>
                                <div class="form-group has-feedback required" ng-class="{'has-error': ctrpbtn.organization_form.needsAttention(organization_form.country)}">
                                    <label class="control-label col-xs-12 col-sm-3">Country:</label>
                                    <div class="col-xs-12 col-sm-6" ng-if="orgDetailView.curOrgEditable">
                                        <select restriction-field class="form-control input-sm" id="country"
                                                ng-model="orgDetailView.curOrg.country"
                                                ng-change="orgDetailView.watchCountrySelection(orgDetailView.curOrg.country)" name="country" required>
                                            <option value="" ng-selected="orgDetailView.curOrg.country == ''">Select a country</option>
                                            <option ng-repeat="country in orgDetailView.countriesArr track by $index" value="{{country.name}}" ng-selected="orgDetailView.curOrg.country == country.name">{{country.name}}</option>
                                        </select>
                                        <span class="form-control-feedback select-feedback" ng-show="orgDetailView.curOrg.country.length"></span>
                                        <span class="help-block" ng-show="organization_form.country.$invalid">Country is Required</span>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 form-text" ng-if="!orgDetailView.curOrgEditable">
                                        {{orgDetailView.curOrg.country}}
                                    </div>
                                </div>
                                <div class="form-group" ng-hide="orgDetailView.states.length == 0">
                                    <label class="control-label col-xs-12 col-sm-3">State:</label>
                                    <div class="col-xs-12 col-sm-6" ng-if="orgDetailView.curOrgEditable">
                                        <select restriction-field class="form-control input-sm" id="state" ng-model="orgDetailView.curOrg.state_province">
                                            <option value="" ng-selected="orgDetailView.curOrg.state_province == ''">Select a state or province</option>
                                            <option ng-repeat="state in orgDetailView.states track by $index" value="{{state.name}}" ng-selected="state.name==orgDetailView.curOrg.state_province">{{state.name}}</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 form-text" ng-if="!orgDetailView.curOrgEditable">{{orgDetailView.curOrg.state_province}}</div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-xs-12 col-sm-6 has-feedback required"
                                         ng-class="{'has-error': organization_form.city.$error && ctrpbtn.organization_form.needsAttention(organization_form.city)}"
                                         required>
                                        <label class="control-label col-xs-6 col-sm-6">City:</label>
                                        <div class="col-xs-12 col-xs-6 col-sm-6" ng-if="orgDetailView.curOrgEditable" ng-if="orgDetailView.curOrgEditable">
                                            <input type="text" restriction-field class="form-control input-sm" id="city" ng-model="orgDetailView.curOrg.city" required name="city">
                                            <span class="form-control-feedback" ng-show="orgDetailView.curOrg.city.length"></span>
                                            <span class="help-block" ng-show="organization_form.city.$error.required && ctrpbtn.organization_form.needsAttention(organization_form.city)">City is Required</span>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 form-text" ng-if="!orgDetailView.curOrgEditable">{{orgDetailView.curOrg.city}}</div>
                                    </div>
                                    <div class="form-group col-md-6 col-lg-6 col-xl-6 col-xs-12 col-sm-12 has-feedback"
                                         ng-class="{'has-error': organization_form.postal_code.$error && ctrpbtn.organization_form.needsAttention(organization_form.postal_code),
                                         'required': orgDetailView.curOrg.country === 'United States'}"
                                         required>
                                        <label class="control-label col-md-3 col-lg-3 col-xl-3 col-sm-3 col-xs-6">Postal Code:</label>
                                        <div class="form-group col-md-3 col-lg-3 col-xl-3 col-sm-3 col-xs-6" ng-if="orgDetailView.curOrgEditable">
                                            <input type="text" restriction-field class="form-control input-sm" id="postal_code" ng-model="orgDetailView.curOrg.postal_code" placeholder="Postal Code" name="postal_code" ng-required="orgDetailView.curOrg.country==='United States'">
                                            <span class="form-control-feedback" ng-show="orgDetailView.curOrg.postal_code.length"></span>
                                            <span class="help-block" ng-show="organization_form.postal_code.$error && ctrpbtn.organization_form.needsAttention(organization_form.postal_code)">
                                                Postal Code is Required
                                            </span>
                                        </div>
                                        <div class="col-xs-12 col-sm-2 form-text" ng-if="!orgDetailView.curOrgEditable">{{orgDetailView.curOrg.postal_code}}</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-xs-12 col-sm-6 has-feedback"
                                         ng-class="{'has-error': organization_form.email.$error && ctrpbtn.organization_form.needsAttention(organization_form.email)}">
                                        <label class="control-label col-xs-6 col-sm-6">Email:</label>
                                        <div class="form-group col-xs-6 col-sm-6" ng-if="orgDetailView.curOrgEditable">
                                            <input type="email" restriction-field class="form-control input-sm" id="email" maxlength="254"
                                                   pattern="[a-zA-Z0-9_\.\+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-\.]+"
                                                   ng-model="orgDetailView.curOrg.email" placeholder="Email" name="email">
                                            <span class="form-control-feedback" ng-show="organization_form.email.$viewValue.length" ng-class="!(organization_form.email.$error && ctrpbtn.organization_form.needsAttention(organization_form.email)) ? 'glyphicon glyphicon-ok glyphicon-green' : 'glyphicon glyphicon-exclamation-sign glyphicon-red'"></span>
                                            <span ng-show="organization_form.email.$dirty">{{30 - orgDetailView.curOrg.email.length}} left</span>
                                            <div class="has-error"
                                                 ng-if="!organization_form.email.$viewValue.length && organization_form.email.$error && ctrpbtn.organization_form.needsAttention(organization_form.email)">
                                                <span class="help-block">Email is Required</span>
                                            </div>
                                            <div class="has-error"
                                                 ng-if="organization_form.email.$viewValue.length && (organization_form.email.$error && ctrpbtn.organization_form.needsAttention(organization_form.email))">
                                                <span class="help-block">Valid Email is Required</span>
                                            </div>
                                            <div class="form-text" ng-if="!orgDetailView.curOrgEditable">{{orgDetailView.curOrg.email}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-xs-12 col-sm-6 has-feedback"
                                         ng-class="{'has-error': organization_form.phone.$error && ctrpbtn.organization_form.needsAttention(organization_form.phone)}">
                                        <label class="control-label col-xs-6 col-sm-6">Phone Number:</label>
                                        <div class="form-group col-xs-6 col-sm-6" ng-if="orgDetailView.curOrgEditable">
                                            <input type="text" restriction-field class="form-control input-sm" id="phone" name="phone" maxlength="30"
                                                   ng-model="orgDetailView.curOrg.phone" placeholder="Phone" ng-blur="orgDetailView.isValidPhoneNumber()">
                                            <span ng-show="orgDetailView.curOrg.phone.length" class="form-control-feedback" ng-class="(orgDetailView.curOrg.phone.length > 0 && orgDetailView.showPhoneWarning && !orgDetailView.IsPhoneValid) ? 'glyphicon glyphicon-exclamation-sign glyphicon-red' : 'glyphicon glyphicon-ok glyphicon-green'"></span>
                                            <div class="has-error"
                                                 ng-if="organization_form.phone.$error && ctrpbtn.organization_form.needsAttention(organization_form.phone)">
                                                <span class="help-block">Phone is Required</span>
                                            </div>
                                            <span ng-show="organization_form.phone.$dirty">{{30 - orgDetailView.curOrg.phone.length}} left</span>
                                            <div class="has-error" ng-show="orgDetailView.curOrg.phone.length && orgDetailView.showPhoneWarning && !orgDetailView.IsPhoneValid">
                                                        <span class="help-block">
                                                            Warning: Phone number invalid for the selected Country.
                                                         </span>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-2 form-text" ng-if="!orgDetailView.curOrgEditable">{{orgDetailView.curOrg.phone}}</div>
                                    </div>
                                    <div class="form-group col-md-6 col-lg-6 col-xl-6 col-xs-12 col-sm-12 has-feedback">
                                        <label class="control-label col-md-3 col-lg-3 col-xl-3 col-sm-3 col-xs-6">Extension:</label>
                                        <div class="form-group col-md-3 col-lg-3 col-xl-3 col-sm-3 col-xs-6" ng-if="orgDetailView.curOrgEditable">
                                            <input type="text" restriction-field class="form-control input-sm" id="extension" name="extension" maxlength="30"
                                                   ng-model="orgDetailView.curOrg.extension" placeholder="Phone Extension">
                                            <span ng-show="organization_form.extension.$dirty">{{30 - orgDetailView.curOrg.extension.length}} left</span>
                                        </div>
                                        <div class="col-xs-12 col-sm-2 form-text" ng-if="!orgDetailView.curOrgEditable">{{orgDetailView.curOrg.extension}}</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div ng-if="!orgDetailView.curOrg.new" class="form-group">
                                        <label class="control-label col-xs-12 col-sm-3">Context Organization ID:</label>
                                        <div class="col-xs-12 col-sm-6 form-text">{{orgDetailView.curOrg.id}}</div>
                                    </div>
                                </div>
                                <div class="form-group" ng-hide="orgDetailView.curOrg.new || !orgDetailView.curOrg.created_by">
                                    <label class="control-label col-xs-12 col-sm-3">Created By:</label>
                                    <div class="col-xs-12 col-sm-6 form-text">
                                        {{orgDetailView.curOrg.created_by}} ({{orgDetailView.curOrg.org_created_date}})
                                    </div>
                                </div>
                                <div class="form-group" ng-hide="orgDetailView.curOrg.new || !orgDetailView.curOrg.updated_by">
                                    <label class="control-label col-xs-12 col-sm-3">Updated By:</label>
                                    <div class="col-xs-12 col-sm-6 form-text">
                                        {{orgDetailView.curOrg.updated_by}} ({{orgDetailView.curOrg.org_updated_date}})
                                    </div>
                                </div>
                                <div ng-show="orgDetailView.curOrg.families.length > 0" class="form-group">
                                    <label class="control-label col-xs-12 col-sm-3">Families:</label>
                                    <div class="col-xs-12 col-sm-6 form-text">
                                        <p ng-repeat="family in orgDetailView.curOrg.families">
                                          <a ui-sref="main.familyDetail({familyId : family.id })">{{family.name}}</a>
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group" ng-show="clusterOrg.context == 'CTEP'">
                                    <label class="control-label col-xs-12 col-sm-3">Funding Mechanism:</label>
                                    <div class="col-xs-12 col-sm-6 form-text">
                                        {{clusterOrg.fuding_mechanism.name}} <!-- TODO -->
                                    </div>
                                </div>
                                <div class="form-group" ng-show="clusterOrg.context == 'CTEP'">
                                    <label class="control-label col-xs-12 col-sm-3">CTEP Context Org ID:</label>
                                    <div class="col-xs-12 col-sm-6 form-text">
                                        {{clusterOrg.id}}
                                    </div>
                                </div>
                                <div class="form-group" ng-show="clusterOrg.context == 'CTEP'">
                                    <label class="control-label col-xs-12 col-sm-3">Service Request:</label>
                                    <div class="col-xs-12 col-sm-6 form-text">
                                        Create
                                    </div>
                                </div>

                                <div class="form-group" ng-show="clusterOrg.context == 'CTEP'">
                                    <label class="control-label col-xs-12 col-sm-3">Processing Status:</label>
                                    <div class="col-xs-12 col-sm-3">
                                        <select ng-init="orgDetailView.curOrg.processing_status"
                                                class="form-control input-sm" id="processing_status"
                                                ng-model="orgDetailView.curOrg.processing_status"
                                                ng-options="status.name as status.name for status in orgDetailView.processingStatuses">
                                            <option value="">
                                                Please select --
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group" ng-show="clusterOrg.context == 'CTEP' && !orgDetailView.hasCtrpContext">
                                    <div class="col-xs-12 col-sm-3"></div>
                                    <div class="col-xs-12 col-sm-6 form-text pull-left">
                                        <button type="button" class="btn btn-primary" id="clone_button" restriction-field
                                            ng-click="orgDetailView.cloneCtepOrg(orgDetailView.curOrg.id)">Clone</button>
                                    </div>
                                </div>
                                <!-- reset and save buttons for CTEP context only -->
                                <div class="form-group no-bottom-margin" ng-show="clusterOrg.context == 'CTEP'">
                                    <div class="col-xs-12 col-sm-3"></div>
                                    <div class="btn-toolbar col-xs-12 col-sm-6">
                                        <button type="button" restriction-field class="btn btn-primary pull-right" id="save_btn_ctep" ng-disabled="orgDetailView.disableBtn">
                                            <i class="glyphicon glyphicon-ok"></i> Save
                                        </button><!-- TODO: update CTEP -->
                                        <button type="button" ng-hide="!orgDetailView.curOrg.new" restriction-field class="btn btn-warning pull-right" id="clear_btn_ctep" ng-click="orgDetailView.clearForm()" ng-disabled="orgDetailView.disableBtn">
                                            <i class="glyphicon glyphicon-remove"></i> Reset
                                        </button>
                                        <button type="button" ng-hide="orgDetailView.curOrg.new" restriction-field class="btn btn-warning pull-right" id="clear_btn_ctep" ng-click="orgDetailView.resetForm()" ng-disabled="orgDetailView.disableBtn">
                                            <i class="glyphicon glyphicon-remove"></i> Reset
                                        </button>
                                    </div>
                                </div>
                                <!-- end of reset and save buttons for CTEP -->

                                <div class="form-group no-bottom-margin" ng-show="orgDetailView.curOrgEditable">
                                    <div class="col-xs-12 col-sm-3"></div>
                                    <div class="btn-toolbar col-xs-12 col-sm-6">
                                        <button type="submit" restriction-field class="btn btn-primary pull-right" id="save_btn" ng-disabled="orgDetailView.disableBtn">
                                            <i class="glyphicon glyphicon-ok"></i> Save
                                        </button>
                                        <button type="button" ng-hide="!orgDetailView.curOrg.new" restriction-field class="btn btn-warning pull-right" id="clear_btn" ng-click="orgDetailView.clearForm()" ng-disabled="orgDetailView.disableBtn">
                                            <i class="glyphicon glyphicon-remove"></i> Reset
                                        </button>
                                        <button type="button" ng-hide="orgDetailView.curOrg.new" restriction-field class="btn btn-warning pull-right" id="clear_btn" ng-click="orgDetailView.resetForm()" ng-disabled="orgDetailView.disableBtn">
                                            <i class="glyphicon glyphicon-remove"></i> Reset
                                        </button>
                                    </div>
                                </div>

                                <div class="form-group no-bottom-margin" ng-show="orgDetailView.curOrgEditable">
                                    <div class="col-xs-12 col-sm-3"></div>
                                    <div class="btn-toolbar col-xs-12 col-sm-6">
                                        <ctrp-org-adv-search-modal-button
                                                class="col-xs-12 col-sm-3"
                                                max-row-selectable="1" use-built-in-template="false" allow-overwrite="true"
                                                button-label = 'Associate Organization Context'
                                                selected-orgs-array="orgDetailView.selectedOrgsArray">
                                        </ctrp-org-adv-search-modal-button>
                                    </div>
                                </div>
                        </div>
                        <!-- end of CTRP content -->
                    </md-tab-body>
                </md-tab>
            </md-tabs>
            <!-- end of tab views -->
            </form>
        </div>
        <div class="row top-offset-xs"></div>
    </div>
</div>
