<div class="row" ng-if="orgDetailView.associatedOrgs && !orgDetailView.defaultTab">
    You have reached this page by mistake.
</div>
<div class="col-xs-12 drop-shadow" ng-show="orgDetailView.defaultTab">
    <h4>{{orgDetailView.ctrpOrg.new?'Add':((orgDetailView.tabOpen === 'CTRP' || orgDetailView.tabOpen === 'CTEP') && orgDetailView.curOrgEditable?'Edit':'View')}} Organization</h4>
    <div class="row">
        <ctrp-comment ng-if="orgDetailView.currentUserIsAdmin" instance-uuid="{{orgDetailView.ctrpOrg.uuid}}" button-type="icon" field="" model="organization"></ctrp-comment>
        <!-- tab views -->
        <form class="form form-horizontal" role="form" name="organization_form" novalidate ctrp-submit="orgDetailView.updateOrg()" unsaved-changes>
            <md-content>
                <md-tabs md-dynamic-height md-border-bottom md-selected="orgDetailView.tabIndex">
                    <md-tab label="CTEP" md-active="orgDetailView.defaultTab === 'CTEP'" ng-if="orgDetailView.ctepOrg" md-on-select="orgDetailView.tabOpen = 'CTEP'">
                        <md-tab-body class="md-padding">
                            <div ng-include src="'app/po/organization/_ctepOrgDetail.html'"></div>
                        </md-tab-body>
                    </md-tab>
                    <md-tab label="CTRP" md-active="orgDetailView.defaultTab === 'CTRP' || orgDetailView.tabOpen === 'CTRP'" ng-if="orgDetailView.ctrpOrg" md-on-select="orgDetailView.tabOpen = 'CTRP'">
                        <md-tab-body class="md-padding" ng-class="{'edit-off': !orgDetailView.curOrgEditable}">
                            <div ng-show="orgDetailView.currentUserIsReadAll || orgDetailView.ctrpOrg.new" ng-include src="'app/po/organization/_ctrpOrgDetailWR.html?_rload='+orgDetailView.ctrpUpdateTime"></div>
                            <div ng-show="!orgDetailView.currentUserIsReadAll && !orgDetailView.ctrpOrg.new" ng-include src="'app/po/organization/_ctrpOrgDetailRO.html?_rload='+orgDetailView.ctrpUpdateTime"></div>
                            <div ng-include src="'app/po/organization/_associatedOrgs.html?_rload='+orgDetailView.updateTime"></div>
                        </md-tab-body>
                    </md-tab>
                    <md-tab label="NLM" md-active="orgDetailView.defaultTab === 'NLM'" ng-if="orgDetailView.nlmOrg" md-on-select="orgDetailView.tabOpen = 'NLM'">
                        <md-tab-body class="md-padding">
                            <div ng-include src="'app/po/organization/_nlmOrgDetailRO.html'"></div>
                        </md-tab-body>
                    </md-tab>
                </md-tabs>
            </md-content>
        </form>
    </div>
</div>
<modal visible="orgDetailView.confirmOverrideAssociatePopUp" title="Please confirm" id="confirmChangeOverrideAssociatePopup">
    <div class="modal-body">
        This organization is already associated.
    </div>
    <div class="modal-footer">
        <div class="btn-toolbar">
            <button type="button" class="btn btn-primary pull-right"  id="confirmChangeOverrideContext"
                    ng-click="orgDetailView.associateOrgs()"><i class="glyphicon glyphicon-ok"></i>
                Associate
            </button>
            <button type="button" class="btn btn-warning pull-right" id="cancelChangeOverrideContext"
                    ng-click="orgDetailView.confirmOverrideAssociatePopUp = false"><i class="glyphicon glyphicon-remove"></i>
                Cancel
            </button>
        </div>
    </div>
</modal>
