<div class="col-xs-12 drop-shadow">
    <div class="row">
        <ctrp-comment instance-uuid="{{orgDetailView.ctrpOrg.uuid}}" button-type="icon" field="" model="organization"></ctrp-comment>
        <!-- tab views -->
        <form class="form form-horizontal" role="form" name="organization_form" novalidate ctrp-submit="orgDetailView.updateOrg()" unsaved-changes>
            <md-content>
                <md-tabs md-dynamic-height md-border-bottom>
                    <md-tab label="CTEP" md-active="orgDetailView.defaultTab === 'CTEP'" ng-if="orgDetailView.ctepOrg">
                        <md-content class="md-padding">
                            <div ng-include src="'app/po/organization/_ctepOrgDetail.html'"></div>
                        </md-content>
                    </md-tab>
                    <md-tab label="CTRP" md-active="orgDetailView.defaultTab === 'CTRP'" ng-if="orgDetailView.ctrpOrg">
                        <md-content class="md-padding">
                            <div ng-show="orgDetailView.curOrgEditable || orgDetailView.ctrpOrg.new" ng-include src="'app/po/organization/_ctrpOrgDetailWR.html'"></div>
                            <div ng-show="!orgDetailView.curOrgEditable && !orgDetailView.ctrpOrg.new" ng-include src="'app/po/organization/_ctrpOrgDetailRO.html'"></div>
                        </md-content>
                    </md-tab>
                    <md-tab label="NLM" md-active="orgDetailView.defaultTab === 'NLM'" ng-if="orgDetailView.nmlOrg">
                        <md-content class="md-padding">
                            <div ng-include src="'app/po/organization/_nlmOrgDetail.html'" onload="curOrg = orgDetailView.nlmOrg"></div>
                        </md-content>
                    </md-tab>
                </md-tabs>
            </md-content>
        </form>
    </div>
</div>
