<div class="row">
  <uib-accordion close-others="false">
    <uib-accordion-group is-open="paTrialOverview.accordionOpen">
      <uib-accordion-heading>
        General Trial Details <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': paTrialOverview.accordionOpen, 'glyphicon-chevron-right': !paTrialOverview.accordionOpen}"></i>
      </uib-accordion-heading>
      <div class="row">
        <form name="general_trial_details_form" role="form" class="form-horizontal" novalidate ctrp-submit="generalTrialDetailView.saveGeneralTrialDetails()">
          <!-- fieldset for Title -->
          <fieldset class="sub-bordered" restriction-field>
            <legend class="sub-bordered">Title</legend>
            <div class="form-group">
              <label for="acronym" class="control-label col-xs-12 col-sm-2">Acronym</label>
              <div class="col-xs-12 col-sm-10">
                <input type="text" id="acronym" name="trial_acronym" class="form-control" ng-model="generalTrialDetailView.generalTrialDetailsObj.acronym" placeholder="Acronym">
              </div>
            </div>

            <div class="form-group">
              <label for="official_title" class="control-label col-xs-12 col-sm-2">Official Title</label>
              <div class="col-xs-12 col-sm-10">
                <textarea name="trial_official_title" id="official_title" rows="5" class="form-control"
                    ng-model="generalTrialDetailView.generalTrialDetailsObj.official_title">
                </textarea>
              </div>
            </div>
          </fieldset>

          <!-- fieldset for Alternate Titles -->
          <fieldset class="sub-bordered" restriction-field>
            <legend class="sub-bordered">Alternate Titles</legend>
            <div class="form-group">

                <!-- category -->
                <div class="col-xs-12 col-sm-4">
                    <label for="category" class="control-label col-xs-12 col-sm-3">Category</label>
                    <div class="col-xs-12 col-sm-9">
                      <select name="category" id="category"
                          class="form-control input-sm"
                          ng-model="generalTrialDetailView.curAlternateTitleObj.category"
                          ng-options="cat.title for cat in generalTrialDetailView.altTitleCategories">
                          <option value="">Select a category</option>
                      </select>
                    </div>
                </div>

                <!-- source -->
                <div class="col-xs-12 col-sm-4">
                    <label for="source" class="control-label col-xs-12 col-sm-3">Source</label>
                    <div class="col-xs-12 col-sm-9">
                      <select name="source" id="source" class="form-control input-sm"
                          ng-model="generalTrialDetailView.curAlternateTitleObj.source"
                          ng-options="source.title for source in generalTrialDetailView.altTitleSources">
                          <option value="">Select a source</option>
                      </select>
                    </div>
                </div>

                <!-- title -->
                <div class="col-xs-12 col-sm-3">
                    <input type="text" name="alternate_title" id="alternate_title" class="form-control input-sm" ng-model="generalTrialDetailView.curAlternateTitleObj.title" placeholder="Alternate Title">
                </div>

                <!-- button -->
                <div class="col-xs-12 col-sm-1">
                    <button type="button" class="btn btn-default" ng-click="generalTrialDetailView.addAltTitle()" ng-disabled="generalTrialDetailView.curAlternateTitleObj.title == '' || !generalTrialDetailView.curAlternateTitleObj.source.title || !generalTrialDetailView.curAlternateTitleObj.category.title">
                    <i class="glyphicon glyphicon-plus"></i> Add</button>
                </div>
            </div>

            <!-- form group for displaying the alternative titles -->
            <div class="form-group" ng-show="generalTrialDetailView.generalTrialDetailsObj.alternate_titles.length > 0">
              <table class="table table-bordered table-striped table-hover">
                <thead style="background-color: #d9edf7">
                  <th>Category</th>
                  <th>Source</th>
                  <th>Title</th>
                  <th class="text-center">Deletion</th>
                </thead>
                <tbody>
                  <tr ng-repeat="title in generalTrialDetailView.generalTrialDetailsObj.alternate_titles track by $index" class="animated-item" ng-class="title._destroy ? 'deleted-text' : ''">
                    <td class="col-sm-2">{{title.category}}</td>
                    <td class="col-sm-2">{{title.source}}</td>
                    <td class="col-sm-7">
                        <span in-place-edit="title.title" on-save="generalTrialDetailView.updateAlternateTitle(title.title, $index)"
                              template="app/pa/dashboard/abstraction/admin/other_identifier_edit_template.html" id="#other_id_edit">
                              {{title.title}}
                        </span>
                    </td>
                    <td class="text-center" class="col-sm-1">
                        <label class="btn btn-default" restriction-field ng-click="generalTrialDetailView.deleteAltTitle($index)">
                            <i class="glyphicon" ng-class="title._destroy == true ? 'glyphicon-ok-circle' : 'glyphicon-remove-circle'"></i>
                        </label>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </fieldset>

          <!-- fieldset for Keywords -->
          <fieldset class="sub-bordered" restriction-field>
            <legend class="sub-bordered">Keywords</legend>
            <label for="keywords" class="control-label col-xs-12 col-sm-2">Keywords</label>
            <div class="col-xs-12 col-sm-10">
              <textarea name="keywords" id="keywords" rows="5" class="form-control" ng-maxlength="4000"
                  ng-model="generalTrialDetailView.generalTrialDetailsObj.keywords">
              </textarea>
            </div>
          </fieldset>

          <!--fielset for Other Trial Identifiers -->
          <fieldset class="sub-bordered" restriction-field>
            <legend class="sub-bordered">Other Trial Identifiers</legend>
            <!-- form group for adding other identifier -->
            <div class="form-group">
              <label for="other_identifier" class="control-label col-xs-12 col-sm-2">Other Identifier</label>
              <div class="col-xs-12 col-sm-10">
                <div class="col-xs-12 col-sm-3">
                  <select ng-init="generalTrialDetailView.otherIdentifier.protocol_id_origin_id" class="form-control input-sm" id="other_identifier"
                      ng-model="generalTrialDetailView.otherIdentifier.protocol_id_origin_id"
                      ng-options="identifier.id as identifier.name for identifier in generalTrialDetailView.protocolIdOriginArr" name="other_ids">
                      <option value="">Select an identifier</option>
                  </select>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <input type="text" id="identifier_name" class="form-control input-sm" ng-model="generalTrialDetailView.otherIdentifier.protocol_id">
                </div>
                <div class="col-xs-12 col-sm-3">
                    <!-- otherIdentifier = {protocol_id_origin_id: '', protocol_id: ''}; -->
                  <button type="button" class="btn btn-default" ng-click="generalTrialDetailView.addOtherIdentifier()" ng-disabled="generalTrialDetailView.otherIdentifier.protocol_id == '' || !generalTrialDetailView.otherIdentifier.protocol_id_origin_id"><i class="glyphicon glyphicon-plus"></i> Add</button>
                </div>
              </div>
              <div class="add-association-error" ng-show="generalTrialDetailView.otherIdErrorMsg.length > 0">
                  {{generalTrialDetailView.otherIdErrorMsg}}
              </div>
            </div>

            <!-- form group for displaying the added other identifiers -->
            <div class="form-group">
              <table class="table table-bordered table-striped table-hover">
                <thead style="background-color: #d9edf7">
                  <th>Identifier Type</th>
                  <th>Value (Click for editing)</th>
                  <th class="text-center">Deletion</th>
                </thead>
                <tbody>
                      <tr>
                          <td>Lead Organization Trial ID</td>
                          <td>
                              <span in-place-edit="generalTrialDetailView.leadProtocolId" on-save="generalTrialDetailView.updateLeadProtocolId()"
                                    template="app/pa/dashboard/abstraction/admin/other_identifier_edit_template.html" id="#other_id_edit">
                                    {{generalTrialDetailView.leadProtocolId}}
                              </span>
                          </td>
                          <td class="text-center">--</td>
                      </tr>
                  <tr ng-repeat="otherId in generalTrialDetailView.generalTrialDetailsObj.other_ids track by $index" class="animated-item" ng-class="otherId._destroy ? 'deleted-text' : ''">
                    <td>{{otherId.identifierName}}</td>
                    <td>
                        <span in-place-edit="otherId.protocol_id" on-save="generalTrialDetailView.updateOtherId(otherId.protocol_id, $index)"
                              template="app/pa/dashboard/abstraction/admin/other_identifier_edit_template.html" id="#other_id_edit">
                              {{otherId.protocol_id}}
                        </span>
                    </td>
                    <td class="text-center">
                        <!-- <button type="button" class="btn btn-default">Edit</button> -->
                        <!-- <button type="button" class="btn btn-default" ng-click="generalTrialDetailView.deleteOtherIdentifier($index)">Delete</button> -->
                        <label class="btn btn-default" restriction-field ng-click="generalTrialDetailView.deleteOtherIdentifier($index)">
                            <i class="glyphicon" ng-class="otherId._destroy == true ? 'glyphicon-ok-circle' : 'glyphicon-remove-circle'"></i>
                        </label>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </fieldset>

          <!--fieldset for Lead Organization/Principal Investigator -->
          <fieldset class="sub-bordered" restriction-field>
            <legend class="sub-bordered">Lead Organization/Principal Investigator</legend>
            <!-- Lead Organization -->
            <div class="form-group has-feedback required" ng-class="{'has-error': ctrpbtn.general_trial_details_form.needsAttention(general_trial_details_form.lead_organization)}">
              <label for="lead_org" class="control-label col-xs-12 col-sm-2">Lead Organization</label>
              <div class="col-xs-12 col-sm-10">
                <div class="col-xs-12 col-sm-6">
                  <input type="text" id="lead_org" name="lead_organization" ng-model="generalTrialDetailView.leadOrg[0].name" disabled class="form-control" placeholder="Lead Organization" required>
                  <span class="form-control-feedback" ng-show="generalTrialDetailView.leadOrg.length == 0" ng-class="general_trial_details_form.lead_organization.$dirty &&
                      !ctrpbtn.general_trial_details_form.needsAttention(general_trial_details_form.lead_organization) ?
                      'glyphicon glyphicon-ok glyphicon-green' : 'glyphicon glyphicon-exclamation-sign glyphicon-red'"></span>
                  <span class="help-block" ng-show="general_trial_details_form.lead_organization.$dirty && general_trial_details_form.lead_organization.$error.required">Lead organization is Required</span>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <!-- <button class="btn btn-primary">Look Up Organization</button> -->
                  <ctrp-org-adv-search-modal-button max-row-selectable="1" use-built-in-template="false" selected-orgs-array="generalTrialDetailView.leadOrg"></ctrp-org-adv-search-modal-button>
                </div>
              </div>
            </div>

            <!-- Principal investigator -->
            <div class="form-group">
              <label for="pi" class="control-label col-xs-12 col-sm-2">Principal Investigator</label>
              <div class="col-xs-12 col-sm-10">
                <div class="col-xs-12 col-sm-6">
                  <input type="text" id="pi" name="principal_investigator" disabled class="form-control" ng-model="generalTrialDetailView.principalInvestigator[0].fullName" placeholder="Principal Investigator">
                </div>
                <div class="col-xs-12 col-sm-6">
                  <!-- <button class="btn btn-primary">Look Up Person</button> -->
                  <ctrp-person-adv-search-modal-button max-row-selectable="1" use-built-in-template="false" selected-persons-array="generalTrialDetailView.principalInvestigator"></ctrp-person-adv-search-modal-button>
                </div>
              </div>
            </div>
          </fieldset>

          <!-- fieldset for Spnsor -->
          <fieldset class="sub-bordered" restriction-field>
            <legend class="sub-bordered">Sponsor</legend>
            <div class="form-group has-feedback required" ng-class="{'has-error': ctrpbtn.general_trial_details_form.needsAttention(general_trial_details_form.sponsor)}">
              <label for="sponsor" class="control-label col-xs-12 col-sm-2">Sponsor</label>
              <div class="col-xs-12 col-sm-10">
                <div class="col-xs-12 col-sm-6">
                  <input type="text" id="sponsor" name="sponsor" ng-model="generalTrialDetailView.sponsors[0].name" disabled class="form-control" placeholder="Sponsor" required>
                  <!-- <input type="text" id="sponsor" name="sponsor" disabled class="form-control" placeholder="Sponsor"> -->
                  <span class="form-control-feedback" ng-show="generalTrialDetailView.sponsors.length == 0" ng-class="general_trial_details_form.sponsor.$dirty &&
                      !ctrpbtn.general_trial_details_form.needsAttention(general_trial_details_form.sponsor) ?
                      'glyphicon glyphicon-ok glyphicon-green' : 'glyphicon glyphicon-exclamation-sign glyphicon-red'"></span>
                  <span class="help-block" ng-show="general_trial_details_form.sponsor.$dirty && general_trial_details_form.sponsor.$error.required">Sponsor is Required</span>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <!-- <button class="btn btn-primary">Look Up Sponsor</button> -->
                  <ctrp-org-adv-search-modal-button max-row-selectable="1" use-built-in-template="false" selected-orgs-array="generalTrialDetailView.sponsors"></ctrp-org-adv-search-modal-button>
                </div>
              </div>
            </div>
          </fieldset>

          <!-- fieldset for Central Contact -->
          <fieldset class="sub-bordered" restriction-field>
            <legend class="sub-bordered">Central Contact</legend>
            <!-- Central contact -->
            <div class="form-group">
                <div class="row" style="margin-bottom: 7px;">
                    <div class="col-sm-offset-3 col-sm-9 col-xs-12">
                        <label ng-repeat="type in generalTrialDetailView.centralContactTypes track by $index" for="contact_type_{{$index}}" class="radio-inline control-label">
                          <input type="radio" name="contact_type" value="{{type.name}}" id="contact_type_{{$index}}" ng-model="generalTrialDetailView.centralContactType">{{type.name}}
                        </label>
                        <!-- <label class="radio-inline control-label">
                          <input type="radio" name="contact_type" value="PI" ng-model="generalTrialDetailView.centralContactType">PI
                        </label>
                        <label class="radio-inline control-label">
                            <input type="radio" name="contact_type" value="Person" ng-model="generalTrialDetailView.centralContactType">Person
                        </label>
                        <label class="radio-inline control-label">
                            <input type="radio" name="contact_type" value="General" ng-model="generalTrialDetailView.centralContactType">General
                        </label> -->
                    </div>
                </div>
            </div>
            <div ng-hide="generalTrialDetailView.centralContactType == 'None'">
              <div class="form-group">
                <label for="central_contact" class="control-label col-xs-12 col-sm-2">Central Contact</label>
                <div class="col-xs-12 col-sm-10">
                  <div class="col-xs-12 col-sm-6">
                    <input type="text" id="central_contact" name="central_contact" placeholder="Central Contact"
                        ng-disabled="generalTrialDetailView.centralContactType != 'General'"
                        class="form-control" ng-model="generalTrialDetailView.generalTrialDetailsObj.central_contacts[0].fullName"
                        >
                  </div>
                  <div class="col-xs-12 col-sm-6" ng-show="generalTrialDetailView.centralContactType == 'Person'">
                    <!-- <button class="btn btn-primary">Look Up Person</button> -->
                    <ctrp-person-adv-search-modal-button max-row-selectable="1" use-built-in-template="false" selected-persons-array="generalTrialDetailView.generalTrialDetailsObj.central_contacts"></ctrp-person-adv-search-modal-button>
                  </div>
                </div>
              </div>

              <!-- Email Address -->
              <div class="form-group">
              <div class="form-group has-feedback required" ng-class="{'has-error': (general_trial_details_form.email.$error && ctrpbtn.general_trial_details_form.needsAttention(general_trial_details_form.email) && general_trial_details_form.email.$dirty)}">
                <label for="email" class="control-label col-xs-12 col-sm-2">Email Address</label>
                <div class="col-xs-12 col-sm-10">
                  <div class="col-xs-12 col-sm-6">
                    <input type="email" id="email" name="email" ng-model="generalTrialDetailView.generalTrialDetailsObj.central_contacts[0].email" class="form-control" placeholder="Email" required>
                    <span class="form-control-feedback" ng-show="general_trial_details_form.email.$viewValue.length" ng-class="!(general_trial_details_form.email.$error && ctrpbtn.general_trial_details_form.needsAttention(general_trial_details_form.email)) ? 'glyphicon glyphicon-ok glyphicon-green' : 'glyphicon glyphicon-exclamation-sign glyphicon-red'"></span>
                  </div>
                </div>
              </div>

              <!-- Phone Number -->
              <div class="form-group has-feedback required" ng-class="{'has-error': (general_trial_details_form.phone.$error && ctrpbtn.general_trial_details_form.needsAttention(general_trial_details_form.phone))}">
                <label for="phone" class="control-label col-xs-12 col-sm-2">Phone Number</label>
                <div class="col-xs-12 col-sm-10">
                  <div class="col-xs-12 col-sm-6">
                    <input type="text" id="phone" name="phone" ng-model="generalTrialDetailView.generalTrialDetailsObj.central_contacts[0].phone"
                        class="form-control" placeholder="Phone", ng-change="generalTrialDetailView.isValidPhoneNumber()" required>
                    <span ng-show="general_trial_details_form.phone.$viewValue.length" class="form-control-feedback" ng-class="!generalTrialDetailView.isPhoneValid ? 'glyphicon glyphicon-exclamation-sign glyphicon-red' : 'glyphicon glyphicon-ok glyphicon-green'"></span>
                    <div class="has-error" ng-show="general_trial_details_form.phone.$viewValue.length && !generalTrialDetailView.isPhoneValid">
                        <span class="help-block">
                            Warning: Phone number is invalid.
                         </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>

          <div class="form-group no-bottom-margin" ng-if="generalTrialDetailView.generalTrialDetailsObj.pa_editable">
            <div class="col-sm-3"></div>
            <div class="btn-toolbar col-xs-12 col-sm-9">
              <button type="submit" class="btn btn-primary pull-right" id="save_btn" restriction-field="ROLE_ABSTRACTOR, ROLE_SUPER, ROLE_ADMIN" ng-disabled="!general_trial_details_form.$valid">
                <i class="glyphicon glyphicon-ok"></i>  Save
              </button>
              <button type="button" class="btn btn-warning pull-right" id="cancel_btn" ng-click="generalTrialDetailView.resetGeneralTrialDetails()" restriction-field="ROLE_ABSTRACTOR, ROLE_SUPER, ROLE_ADMIN">
               <i class="glyphicon glyphicon-remove"></i>  Reset
              </button>
            </div>
          </div>
        </form>
      </div>

    </uib-accordion-group>
  </uib-accordion>
</div>
