<script type="text/ng-template" id="comment_for_deletion.html">
    <div class="form-group">
      <label>Comment for deletion:</label>
      <input type="text" ng-model="dynamicPopover.title" class="form-control">
      <button type="button" class="btn btn-default" ng-click="trialRelatedDocsView.closePopover()">Close</button>
    </div>
</script>

<div class="row">
    <uib-accordion close-others="false">
         <uib-accordion-group is-open="paTrialOverview.accordionOpen">
              <uib-accordion-heading>
                Trial Related Documents <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': paTrialOverview.accordionOpen, 'glyphicon-chevron-right': !paTrialOverview.accordionOpen}"></i>
              </uib-accordion-heading>
                  <div class="row">
                    <form name="trial_docs_form" role="form" class="form-horizontal" novalidate ctrp-submit="trialRelatedDocsView.saveDocuments(true, trial_docs_form)">
                        <fieldset class="sub-bordered" ng-disabled="!paTrialOverview.trialDetailObj.pa_editable">
                            <legend class="sub-bordered">Trial Related Documents</legend>
                                <div class="row top-buffer">
                                    <div class="col-sm-4">
                                        <!-- <label class="control-label">Document Type</label> -->
                                        <select name="doc_type" id="doc_type"
                                            class="form-control input-sm"
                                            restriction-field
                                            ng-disabled="trialRelatedDocsView.curDoc.edit"
                                            ng-model="trialRelatedDocsView.curDoc.document_type"
                                            ng-options="type for type in trialRelatedDocsView.documentTypes">
                                            <option value="">- Please select a document type ...</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2" ng-show="trialRelatedDocsView.docSubtypeShown">
                                        <!-- <labe class="control-label">Document Subtype</labe> -->
                                        <input type="text" class="form-control input-sm"
                                            ng-model="trialRelatedDocsView.curDoc.document_subtype"
                                            name="document_subtype" id="document_subtype"
                                            placeholder="Subtype"
                                            ng-required="trialRelatedDocsView.docSubtypeShown">
                                    </div>
                                    <span class="col-sm-6">
                                        <!-- <label for="" class="control-label"></label> -->
                                        <input type="file" restriction-field class="button btn btn-default" ngf-select=""
                                               ng-model="trialRelatedDocsView.curDoc.file"
                                               name="current_doc" ngf-max-size="10MB"
                                               validate-file-type="{{trialRelatedDocsView.acceptedFileExtensions}}">
                                        <span ng-hide="trialRelatedDocsView.curDoc.edit">
                                            <button type="button" class="btn btn-primary"
                                                    ng-click="trialRelatedDocsView.upsertDoc(trialRelatedDocsView.curDoc.index)"
                                                    ng-disabled="trialRelatedDocsView.curDoc.document_type=='' ||
                                            trialRelatedDocsView.curDoc.file == '' || trial_docs_form.current_doc.$invalid">
                                                <i class="glyphicon glyphicon-plus"></i> Add</button>
                                        </span>
                                        <span ng-show="trialRelatedDocsView.curDoc.edit">
                                                <button type="button" class="btn btn-warning" ng-click="trialRelatedDocsView.cancelEdit()">Cancel</button>
                                                <button type="button" class="btn btn-primary" ng-click="trialRelatedDocsView.upsertDoc(trialRelatedDocsView.curDoc.index)"
                                                        ng-disabled="trialRelatedDocsView.curDoc.document_type==''">
                                                    Update
                                                </button>
                                        </span>
                                    </div>
                                </div>
                                <div class="row"></div>
                                <div class="row top-buffer" ng-show="trial_docs_form.current_doc.$error || trialRelatedDocsView.docTypeError !== ''">
                                    <span class="help-block alert alert-warning" ng-show="trial_docs_form.current_doc.$error.validateFileType">
                                        Error: The selected document is not a valid document type. Allowed file types: {{trialRelatedDocsView.acceptedFileExtensions}}
                                    </span>
                                    <span class="help-block alert alert-warning" ng-show="trial_docs_form.current_doc.$error.maxSize">
                                        Error: File size exceeds 10 MB
                                    </span>
                                    <span class="help-block alert alert-warning" ng-show="trialRelatedDocsView.docTypeError">
                                        Error: {{trialRelatedDocsView.docTypeError}}
                                    </span>
                                </div>
                                <div class="row top-buffer" ng-show="trialRelatedDocsView.curTrialDetailObj.trial_documents.length > 0">
                                     <table st-table="rowCollection" class="table table-bordered table-striped table-hover">
                                         <thead style="background-color: #d9edf7">
                                             <tr>
                                                <th>File Name</th>
                                                <th>Document Type</th>
                                                <th>Document Subtype</th>
                                                <th class="td-time">Date Added</th>
                                                <th class="td-name">Added By</th>
                                                <th class="text-center td-icon">Edit</th>
                                                <th class="text-center td-icon">Delete</th>
                                            </tr>
                                         </thead>
                                         <tbody>
                                             <tr ng-repeat="doc in trialRelatedDocsView.curTrialDetailObj.trial_documents track by $index"
                                                 class="animated-item" ng-class="doc.status !== 'active' ? 'deleted-text' : ''">
                                                 <td><a ng-class="doc.status == 'deleted' ? 'deleted-text' : ''" href="{{trialRelatedDocsView.downloadBaseUrl}}/{{doc.id}}">{{doc.file_name}}</a></td>
                                                 <td>{{doc.document_type}}</td>
                                                 <td>{{doc.document_subtype}}</td>
                                                 <td>{{doc.created_at | date: "dd-MMM-yyyy H:mm"}}</td>
                                                 <td>{{doc.added_by.username}} <!-- to be replaced with full name when available --></td>
                                                 <td class="text-center td-icon">
                                                     <label class="btn btn-primary" restriction-field ng-disabled="doc.status == 'deleted'" ng-click="trialRelatedDocsView.editDoc($index)">
                                                         <i class="glyphicon glyphicon-edit"></i>
                                                     </label>
                                                 </td>
                                                 <td class="text-center td-icon">
                                                     <!-- <label class="btn btn-warning" restriction-field
                                                         ng-hide="doc.document_type.indexOf('IRB Appro') > -1 || doc.document_type.indexOf('Protocol Doc') > -1 || doc.document_type.indexOf('Change Memo') > -1"
                                                         ng-click="trialRelatedDocsView.deleteDoc($index)">
                                                         <i class="glyphicon" ng-class="doc.status =='deleted' ? 'glyphicon-ok-circle' : 'glyphicon-remove-circle'"></i>
                                                     </label> -->
                                                     <!-- popover-placement="{{trialRelatedDocsView.commentPopOverOptions.placement}}" -->
                                                     <button type="button" class="btn btn-warning" restriction-field
                                                         uib-popover-template="trialRelatedDocsView.commentPopOverOptions.templateUrl"
                                                         tooltip-trigger="click"
                                                         tooltip-enable="doc.status == 'deleted'"
                                                         popover-placement="{{trialRelatedDocsView.commentPopOverOptions.placement}}"
                                                         popover-title="{{doc.file_name}}"
                                                         tooltip-is-open="{{trialRelatedDocsView.commentPopOverOptions.isOpen}}"
                                                         ng-hide="doc.document_type.indexOf('IRB Appro') > -1 || doc.document_type.indexOf('Protocol Doc') > -1 || doc.document_type.indexOf('Change Memo') > -1"
                                                         ng-click="trialRelatedDocsView.deleteDoc($index)">
                                                         <i class="glyphicon" ng-class="doc.status =='deleted' ? 'glyphicon-ok-circle' : 'glyphicon-remove-circle'"></i>
                                                     </button>
                                                 </td>
                                             </tr>
                                         </tbody>
                                     </table>
                                 </div>
                         </fieldset>
                         <!-- end of fieldset for trial related documents -->
                         <div class="form-group no-bottom-margin" ng-show="paTrialOverview.trialDetailObj.pa_editable">
                                <div class="row">
                                    <div class="alert alert-warning" ng-show="trialRelatedDocsView.formError.length > 0">
                                        <strong>Error: </strong>{{trialRelatedDocsView.formError}}
                                    </div>
                                </div>
                                <div class="row">
                                   <div class="col-sm-3"></div>
                                   <div class="btn-toolbar col-xs-12 col-sm-9">
                                     <button type="submit" class="btn btn-primary pull-right" id="save_btn" restriction-field ng-disabled="trialRelatedDocsView.saveBtnDisabled">
                                       <i class="glyphicon glyphicon-ok"></i>  Save
                                     </button>
                                     <button type="button" class="btn btn-warning pull-right" id="cancel_btn" ng-click="trialRelatedDocsView.resetForm()" restriction-field>
                                      <i class="glyphicon glyphicon-remove"></i>  Reset
                                     </button>
                                   </div>
                                   <div id="warning_message"></div>
                               </div>
                         </div>
                    </form>
                </div>
          </uib-accordion-group>
      </uib-accordion>
  </div>
