<div class="row">
    <uib-accordion close-others="false">
        <uib-accordion-group is-open="paTrialOverview.accordionOpen">
            <uib-accordion-heading>
                Trial Status <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': paTrialOverview.accordionOpen, 'glyphicon-chevron-right': !paTrialOverview.accordionOpen}"></i>
            </uib-accordion-heading>
                <form class="form-horizontal" role="form" name="trial_status_form" novalidate ctrp-submit="">
                    <fieldset class="sub-bordered" ng-disabled="!paTrialOverview.trialDetailObj.pa_editable">
                        <legend class="sub-bordered">Trial Statuses</legend>
                        <div class="row">
                            <table class="table table-striped table-condensed">
                                <thead>
                                    <th>Status Date</th>
                                    <th>Status</th>
                                    <th>Comment</th>
                                    <th>Why Study Stopped</th>
                                    <th></th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="col-md-2">
                                            <div class="input-group add-on date datepicker" date-date-format="yyyy-mm-dd">
                                                <input type="text" id="status_date" name="status_date" class="form-control input-sm"
                                                    datepicker-popup="{{trialStatusView.dateFormat}}" ng-model="trialStatusView.statusObj.status_date"
                                                    ng-click="trialStatusView.openCalendar($event, 'status_date')"
                                                    is-open="trialStatusView.statusDateOpened"
                                                    datepicker-options="trialStatusView.dateOptions"
                                                    ng-required="true" close-text="Close" readonly />
                                                <span class="input-group-btn">
                                                    <button type="button" restriction-field class="btn btn-default" ng-click="trialStatusView.openCalendar($event)">
                                                        <i class="glyphicon glyphicon-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                        <td class="col-md-2">
                                            <div>
                                                <select name="status" id="status_select"
                                                    class="form-control input-sm"
                                                    ng-required="true"
                                                    restriction-field
                                                    ng-model="trialStatusView.statusObj.trial_status_id"
                                                    ng-options="status.id as status.name for status in trialStatusView.trialStatuses">
                                                    <option value="">Select a status</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td class="col-md-3">
                                            <div>
                                                <textarea class="form-control input-sm" id="comment" name="status_comment" rows="1" ng-model="trialStatusView.statusObj.comment"></textarea>
                                            </div>
                                        </td>
                                        <td class="col-md-3">
                                            <div>
                                                <textarea rows="1" id="why_stopped" name="why_stopped" class="form-control input-sm" ng-model="trialStatusView.statusObj.why_stopped"></textarea>
                                            </div>
                                        </td>
                                        <td class="col-md-2">
                                            <div ng-hide="trialStatusView.statusObj.edit">
                                                <button class="btn btn-default" restriction-field type="button" ng-click="trialStatusView.addTrialStatus()"><i class="glyphicon glyphicon-plus"></i> Add</button>
                                            </div>
                                            <div class="btn-toolbar col-xs-12" ng-show="trialStatusView.statusObj.edit">
                                                <button class="btn btn-warning" restriction-field type="button" ng-click="trialStatusView.cancelEdit()">Cancel</button>
                                                <button class="btn btn-danger" restriction-field type="button" ng-click="trialStatusView.commitEdit()">Commit</button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <div class="row animated-item" ng-show="trialStatusView.tempTrialStatuses.length > 0">
                            <table class="table table-bordered table-striped table-hover">
                              <thead style="background-color: #d9edf7">
                                <th class="text-center">Status Date</th>
                                <th class="text-center">Status</th>
                                <th class="text-center">Comment</th>
                                <th class="text-center">Why Study Stopped</th>
                                <th class="text-center">Errors/Warnings</th>
                                <th class="text-center"> Delete/Edit </th>
                              </thead>
                              <tbody>
                                <tr ng-repeat="status in trialStatusView.tempTrialStatuses track by $index" class="animated-item text-center" ng-class="status._destroy ? 'deleted-text' : ''">
                                  <td class="col-sm-2">{{status.status_date}}</td>
                                  <td class="col-sm-1">{{status.trial_status_name}}</td>
                                  <td class="col-sm-2">{{status.comment}}</td>
                                  <td class="col-sm-2">{{status.why_stopped}}</td>
                                  <td class="col-sm-4">
                                      <div class="text-danger" ng-repeat="error in trialStatusView.statusValidationMsgs[$index].errors" ng-if="error.hasOwnProperty('status')">
                                          ERROR: Interim status [{{error.status}}] is missing
                                      </div>
                                      <div class="text-danger" ng-repeat="error in trialStatusView.statusValidationMsgs[$index].errors" ng-if="error.hasOwnProperty('message')">
                                          ERROR: {{error.message}}
                                      </div>
                                      <div class="text-warning" ng-repeat="warning in trialStatusView.statusValidationMsgs[$index].warnings" ng-if="warning.hasOwnProperty('status')">
                                          WARNING: Interim status [{{warning.status}}] is missing
                                      </div>
                                      <div class="text-warning" ng-repeat="warning in trialStatusView.statusValidationMsgs[$index].warnings" ng-if="warning.hasOwnProperty('message')">
                                          WARNING: {{warning.message}}
                                      </div>
                                  </td>
                                  <td class="text-center" class="col-sm-1">
                                      <label class="btn btn-default" restriction-field ng-click="trialStatusView.deleteTrialStatus($index)">
                                          <i class="glyphicon" ng-class="status._destroy ? 'glyphicon-ok-circle' : 'glyphicon-remove-circle'"></i>
                                      </label>
                                      <label class="btn btn-default" restriction-field ng-disabled="status._destroy" ng-click="trialStatusView.editTrialStatus($index)">
                                          <i class="glyphicon glyphicon-edit"></i>
                                      </label>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                        </div>

                        <!-- <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Status Date</label>
                                <input name="status_date" ng-model="trialStatusView.statusObj.status_date" required>
                                <div ng-messages="trial_status_form.status_date.$dirty && trial_status_form.status_date.$error" role="alert">
                                    <div class="help-block" ng-message="required">Status date is required</div>
                                </div>
                            </md-input-container>
                            <md-input-container>
                                <label>Status</label>
                                <md-select ng-model="trialStatusView.statusObj.trial_status_id" required>
                                    <md-option ng-repeat="status in trialStatusView.trialStatuses" value="{{status.id}}">
                                        {{status.name}}
                                    </md-option>
                                </md-select>
                            </md-input-container>

                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Why study stopped</label>
                                <input ng-model="trialStatusView.statusObj.why_stopped">
                            </md-input-container>

                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Comment</label>
                                <input ng-model="trialStatusView.statusObj.status_comment">
                            </md-input-container>
                        </div>
                        <button class="btn btn-default">Add</button> -->
                    </fieldset>
                </form>
        </uib-accordion-group>
    </uib-accordion>
</div>
