<div class="row">
    <uib-accordion close-others="false">
         <uib-accordion-group is-open="paTrialOverview.accordionOpen">
              <uib-accordion-heading>
                Trial Related Documents <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': paTrialOverview.accordionOpen, 'glyphicon-chevron-right': !paTrialOverview.accordionOpen}"></i>
              </uib-accordion-heading>
                  <div class="row">
                    <form name="trial_docs_form" role="form" class="form-horizontal" novalidate ctrp-submit="trialRelatedDocsView.saveDocuments(true)">
                        <fieldset class="sub-bordered" ng-disabled="!paTrialOverview.trialDetailObj.pa_editable">
                            <legend class="sub-bordered">Trial Related Documents</legend>
                                <div class="row top-buffer">
                                    <div class="col-sm-1"></div>
                                    <div class="col-sm-3">
                                        <label class="control-label">Document Type</label>
                                        <select name="doc_type" id="doc_type"
                                            class="form-control input-sm"
                                            restriction-field
                                            ng-disabled="trialRelatedDocsView.docTypeSelectionDisabled"
                                            ng-model="trialRelatedDocsView.curDoc.document_type"
                                            ng-options="type for type in trialRelatedDocsView.documentTypes">
                                            <option value="">- Please select a document type ...</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2" ng-show="trialRelatedDocsView.docSubtypeShown">
                                        <labe class="control-label">Document Subtype</labe>
                                        <input type="text" class="form-control input-sm" name="document_subtype" id="document_subtype"
                                            ng-model="trialRelatedDocsView.curDoc.document_subtype"
                                            ng-required="trialRelatedDocsView.docSubtypeShown">
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="" class="control-label"></label>
                                        <input type="file" restriction-field ngf-select=""
                                               ng-model="trialRelatedDocsView.curDoc.file"
                                               name="current_doc" ngf-max-size="10MB"
                                               validate-file-type="{{trialRelatedDocsView.acceptedFileExtensions}}">
                                    </div>
                                    <div class="col-sm-2" ng-hide="trialRelatedDocsView.curDoc.edit">
                                        <label for="" class="control-label"></label>
                                        <button type="button" class="btn btn-default"
                                            ng-click="trialRelatedDocsView.upsertDoc(trialRelatedDocsView.curDoc.index)"
                                            ng-disabled="trialRelatedDocsView.curDoc.document_type=='' ||
                                            trialRelatedDocsView.curDoc.file == '' || trial_docs_form.current_doc.$invalid">Save</button>
                                    </div>
                                    <div class="col-sm-2" ng-show="trialRelatedDocsView.curDoc.edit">
                                        <label for="" class="control-label"></label>
                                        <div class="btn-group inline">
                                            <button type="button" class="btn btn-warning" ng-click="trialRelatedDocsView.cancelEdit()">Cancel</button>
                                            <button type="button" class="btn btn-danger" ng-click="trialRelatedDocsView.upsertDoc(trialRelatedDocsView.curDoc.index)"
                                                ng-disabled="trialRelatedDocsView.curDoc.document_type==''">
                                                Update
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row top-buffer" ng-show="trial_docs_form.current_doc.$error">
                                    <span class="help-block" ng-show="trial_docs_form.current_doc.$error.validateFileType">
                                        Error: Please select a valid file. Allowed file types: {{trialRelatedDocsView.acceptedFileExtensions}}
                                    </span>
                                    <span class="help-block" ng-show="trial_docs_form.current_doc.$error.maxSize">
                                        Error: File size exceeds 10 MB
                                    </span>
                                </div>
                                <div class="row top-buffer">
                                     <!-- <table class="table table-striped table-condensed table-hover">
                                         <thead>
                                             <tr>
                                                <th class="file_name" custom-sort order="'file_name'" sort="sort">File Name&nbsp;</th>
                                                <th class="document_type" custom-sort order="'document_type'" sort="sort">Document Type&nbsp;</th>
                                                <th class="document_subtype" custom-sort order="'document_subtype'" sort="sort">Document Subtype&nbsp;</th>
                                                <th class="updated_at" custom-sort order="'updated_at'" sort="sort">Date Added&nbsp;</th>
                                                <th class="added_by" custom-sort order="'added_by'" sort="sort">Added By&nbsp;</th>
                                                <th>Edit</th>
                                                <th>Delete</th>
                                            </tr>
                                         </thead>
                                     </table> -->
                                     <table st-table="rowCollection" class="table table-bordered table-striped table-hover">
                                         <thead style="background-color: #d9edf7">
                                             <tr>
                                                <th>File Name&nbsp;</th>
                                                <th>Document Type&nbsp;</th>
                                                <th>Document Subtype&nbsp;</th>
                                                <th>Date Added&nbsp;</th>
                                                <th>Added By&nbsp;</th>
                                                <th>Delete/Edit</th>
                                            </tr>
                                         </thead>
                                         <tbody>
                                             <tr ng-repeat="doc in trialRelatedDocsView.curTrialDetailObj.trial_documents track by $index"
                                                 class="animated-item" ng-class="doc.deleted ? 'deleted-text' : ''">
                                                 <td><a ng-class="doc.deleted ? 'deleted-text' : ''" href="{{trialRelatedDocsView.downloadBaseUrl}}/{{doc.id}}">{{doc.file_name}}</a></td>
                                                 <td>{{doc.document_type}}</td>
                                                 <td>{{doc.document_subtype}}</td>
                                                 <td>{{doc.updated_at | date: "dd-MMM-yyyy H:mm"}}</td>
                                                 <td>{{doc.added_by.username}} <!-- to be replaced with full name when available --></td>
                                                 <td class="text-center" class="col-sm-1">
                                                     <label class="btn btn-default" restriction-field
                                                         ng-hide="doc.document_type.indexOf('IRB Appro') > -1 || doc.document_type.indexOf('Protocol Doc') > -1"
                                                         ng-click="trialRelatedDocsView.deleteDoc($index)">
                                                         <i class="glyphicon" ng-class="doc.deleted ? 'glyphicon-ok-circle' : 'glyphicon-remove-circle'"></i>
                                                     </label>
                                                     <label class="btn btn-default" restriction-field ng-disabled="doc.deleted" ng-click="trialRelatedDocsView.editDoc($index)">
                                                         <i class="glyphicon glyphicon-edit"></i>
                                                     </label>
                                                 </td>
                                             </tr>
                                         </tbody>
                                     </table>
                                 </div>
                         </fieldset>
                         <!-- end of fieldset for trial related documents -->
                         <div class="form-group no-bottom-margin" ng-show="paTrialOverview.trialDetailObj.pa_editable">
                               <div class="col-sm-3"></div>
                               <div class="btn-toolbar col-xs-12 col-sm-9">
                                 <button type="submit" class="btn btn-primary pull-right" id="save_btn" restriction-field>
                                   <i class="glyphicon glyphicon-ok"></i>  Save
                                 </button>
                                 <button type="button" class="btn btn-warning pull-right" id="cancel_btn" ng-click="trialRelatedDocsView.resetForm()" restriction-field>
                                  <i class="glyphicon glyphicon-remove"></i>  Reset
                                 </button>
                               </div>
                         </div>
                    </form>
                </div>
          </uib-accordion-group>
      </uib-accordion>
  </div>
