<div class="row">
    <uib-accordion close-others="false">
        <uib-accordion-group is-open="paTrialOverview.accordionOpen">
            <uib-accordion-heading>
                Human Subject Safety Information <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': paTrialOverview.accordionOpen, 'glyphicon-chevron-right': !paTrialOverview.accordionOpen}"></i>
            </uib-accordion-heading>
            <!-- first row in the accordion body -->
            <div class="row">
                <form class="form-horizontal" role="form" name="human_safety_form" novalidate ctrp-submit="regInfoSafetyView.updateHumanSafetyInfo()">
                    <!-- board approval status -->
                    <div class="form-group">
                        <label for="board_approval_status" class="control-label col-xs-12 col-sm-4">Board Approval Status</label>
                        <div class="col-xs-12 col-sm-4">
                            <select name="approval_status" id="board_approval_status"
                                class="form-control input-sm"
                                ng-disabled="!paTrialOverview.trialDetailObj.pa_editable"
                                ng-change="regInfoSafetyView.changeStatus()"
                                ng-model="regInfoSafetyView.trialDetailsObj.board_approval_status_id" restriction-field
                                ng-options="status.id as status.name for status in regInfoSafetyView.statuses">
                                <option value="">
                                    Select a status
                                </option>
                            </select>
                        </div>
                        <!-- offset below -->
                        <div class="col-sm-4"></div>
                    </div>
                    <!-- end of board approval status -->

                    <!-- board approval number -->

                    <div class="form-group" ng-class="regInfoSafetyView.approvalNumRequired ? 'has-feedback required' : ''">
                        <label for="approval_number" class="control-label col-xs-12 col-sm-4">Board Approval Number</label>
                        <div class="col-xs-12 col-sm-4">
                            <input type="text" name="approval_number" id="approval_number"
                                class="form-control input-sm" ng-required="regInfoSafetyView.approvalNumRequired"
                                ng-model="regInfoSafetyView.trialDetailsObj.board_approval_num" placeholder="Board Approval Number">
                                <span class="form-control-feedback" ng-show="regInfoSafetyView.approvalNumRequired && human_safety_form.approval_number.$viewValue.length == 0"
                                    ng-class="human_safety_form.approval_number.$dirty &&
                                    !ctrpbtn.human_safety_form.needsAttention(human_safety_form.approval_number) ?
                                    'glyphicon glyphicon-ok glyphicon-green' : 'glyphicon glyphicon-exclamation-sign glyphicon-red'"></span>
                                <span ng-messages="regInfoSafetyView.approvalNumRequired && human_safety_form.approval_number.$dirty &&
                                                    human_safety_form.approval_number.$error">
                                    <span class="help-block" ng-message="required">Board approval number is required</span>
                               </span>
                        </div>
                    </div>
                    <!-- end of board approval number -->

                    <!-- Board Affiliation -->
                    <div class="form-group">
                        <label for="board_affiliation" class="control-label col-xs-12 col-sm-4">Board Affiliation</label>
                        <div class="col-sm-4">
                            <input type="text" id="board_affiliation" name="board_affiliation" ng-model="regInfoSafetyView.trialDetailsObj.board_affiliated_org.name" disabled class="form-control input-sm" placeholder="Affiliated Organization">
                        </div>
                        <div class="col-sm-4">
                            <ctrp-org-adv-search-modal-button max-row-selectable="1" use-built-in-template="false" selected-orgs-array="regInfoSafetyView.boardAffiliationArray"></ctrp-org-adv-search-modal-button>
                        </div>
                    </div>
                    <!-- end of Board Affiliation -->

                    <!-- Board address -->
                    <div class="form-group">
                        <label for="board_affiliation_address" class="control-label col-xs-12 col-sm-4">Board Contact Address</label>
                        <div class="col-sm-4">
                            <input type="text" id="board_affiliation_address" class="form-control input-sm" ng-model="regInfoSafetyView.trialDetailsObj.board_affiliated_org.address" disabled>
                        </div>
                    </div>
                    <!-- end of Board address -->

                    <!-- Board city -->
                    <div class="form-group">
                        <label for="board_affiliation_city" class="control-label col-xs-12 col-sm-4">Board Contact City</label>
                        <div class="col-sm-4">
                            <input type="text" id="board_affiliation_city" class="form-control input-sm" ng-model="regInfoSafetyView.trialDetailsObj.board_affiliated_org.city" disabled>
                        </div>
                    </div>
                    <!-- end of Board city -->

                    <!-- Board state/province -->
                    <div class="form-group">
                        <label for="board_affiliation_state" class="control-label col-xs-12 col-sm-4">Board Contact State/Province</label>
                        <div class="col-sm-4">
                            <input type="text" id="board_affiliation_state" class="form-control input-sm" ng-model="regInfoSafetyView.trialDetailsObj.board_affiliated_org.state_province" disabled>
                        </div>
                    </div>
                    <!-- end of Board state/province -->

                    <!-- Board zipcode -->
                    <div class="form-group">
                        <label for="board_affiliation_zipcode" class="control-label col-xs-12 col-sm-4">Board Contact Zip/Postal Code</label>
                        <div class="col-sm-4">
                            <input type="text" id="board_affiliation_zipcode" name="board_affiliation_zipcode" class="form-control input-sm" ng-model="regInfoSafetyView.trialDetailsObj.board_affiliated_org.postal_code" disabled>
                        </div>
                    </div>
                    <!-- end of Board zipcode -->

                    <!-- Board country -->
                    <div class="form-group">
                        <label for="board_affiliation_country" class="control-label col-xs-12 col-sm-4">Board Contact Country</label>
                        <div class="col-sm-4">
                            <input type="text" id="board_affiliation_country" name="board_affiliation_country" class="form-control input-sm" ng-model="regInfoSafetyView.trialDetailsObj.board_affiliated_org.country" disabled>
                        </div>
                    </div>
                    <!-- end of Board country -->

                    <!-- Board phone -->
                    <div class="form-group">
                        <label for="board_affiliation_phone" class="control-label col-xs-12 col-sm-4">Board Contact Phone</label>
                        <div class="col-sm-4">
                            <input type="text" id="board_affiliation_phone" name="board_affiliation_phone" class="form-control input-sm" ng-model="regInfoSafetyView.trialDetailsObj.board_affiliated_org.phone" disabled>
                        </div>
                    </div>
                    <!-- end of Board phone -->

                    <!-- Board email -->
                    <div class="form-group">
                        <label for="board_affiliation_email" class="control-label col-xs-12 col-sm-4">Board Contact Email Address</label>
                        <div class="col-sm-4">
                            <input type="text" id="board_affiliation_email" name="board_affiliation_email" class="form-control input-sm" ng-model="regInfoSafetyView.trialDetailsObj.board_affiliated_org.email" disabled>
                        </div>
                    </div>
                    <!-- end of Board email -->

                    <!-- Board name -->
                    <div class="form-group" ng-class="regInfoSafetyView.boardNameRequired ? 'has-feedback required' : ''">
                        <label for="board_name" class="control-label col-xs-12 col-sm-4">Board Name</label>
                        <div class="col-sm-4">
                            <input type="text" id="board_name" name="board_name" class="form-control input-sm" ng-model="regInfoSafetyView.trialDetailsObj.board_name" ng-required="regInfoSafetyView.boardNameRequired" placeholder="Board Name">
                        </div>
                    </div>
                    <!-- end of Board name -->

                    <div class="form-group no-bottom-margin" ng-show="paTrialOverview.trialDetailObj.pa_editable">
                      <div class="col-sm-3"></div>
                      <div class="btn-toolbar col-xs-12 col-sm-9">
                        <button type="submit" class="btn btn-primary pull-right" id="save_btn" restriction-field="ROLE_ABSTRACTOR, ROLE_SUPER, ROLE_ADMIN"> <!--  ng-disabled="!human_safety_form.$valid" -->
                          <i class="glyphicon glyphicon-ok"></i>  Save
                        </button>
                        <button type="button" class="btn btn-warning pull-right" id="cancel_btn" ng-click="" restriction-field="ROLE_ABSTRACTOR, ROLE_SUPER, ROLE_ADMIN">
                         <i class="glyphicon glyphicon-remove"></i>  Reset
                        </button>
                      </div>
                    </div>

                </form>
            </div>
        </uib-accordion-group>
    </uib-accordion>
</div> <!-- outer row -->
