<div class="row">
    <form class="form form-horizontal" role="form" name="trial_form" novalidate ctrp-submit="trialNciView.updateTrial">
    <uib-accordion close-others="false">
        <uib-accordion-group is-open="paTrialOverview.accordionOpen">
            <uib-accordion-heading>
                Trial NCI Specific Information <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': paTrialOverview.accordionOpen, 'glyphicon-chevron-right': !paTrialOverview.accordionOpen}"></i>
            </uib-accordion-heading>
            <!-- first row in the accordion body -->
            <div class="row">
                 <!-- <p>
                    <s><strong>Clinical Research Category:</strong>
                    <span>{{paTrialOverview.trialDetailObj.research_category.name}}</span></s>
                </p> -->
                <div class="form-group">
                    <label for="study_source" class="control-label col-xs-12 col-sm-3">Study Source: </label>
                    <div class="col-xs-12 col-sm-9">
                        <select class="form-control input-sm" id="study_source" ng-model="trialNciView.curTrial.study_source_id" ng-options="studySource.id as studySource.name for studySource in trialNciView.studySourceArr">
                            <option value="">-Select a Study Source-</option>
                            <option ng-repeat="studySource in trialNciView.studySourceArr" value="{{studySource.code}}">{{studySource.name}}</option>
                        </select>

                    </div>
                </div>


                <div class="form-group required" ng-class="{'has-error': ctrpbtn.trial_form.needsAttention(trial_form.fs_dummy)}">
                    <label class="control-label col-xs-12 col-sm-3">Data Table 4 Funding Source:</label>
                    <div class="col-xs-12 col-sm-9" ng-hide="['update'].indexOf(trialNciView.curTrial.edit_type) > -1">
                        <ctrp-org-adv-search-modal-button max-row-selectable="1" use-built-in-template="false" selected-orgs-array="trialNciView.selectedFsArray" allow-overwrite="false"></ctrp-org-adv-search-modal-button>
                        <input type="hidden" name="fs_dummy" ng-model="trialNciView.dummyField" ng-required="trialNciView.fsNum === 0">
                                <span class="help-block" ng-show="ctrpbtn.trial_form.needsAttention(trial_form.fs_dummy)">
                                    Funding Source is required
                                </span>
                    </div>
                </div>

                <div ng-repeat="fs in trialNciView.addedFses track by $index" class="form-group">
                    <div class="col-xs-12 col-sm-3"></div>
                    <div class="col-xs-12 col-sm-6">
                        <input type="text" class="form-control input-sm" ng-class="fs._destroy == true ? 'deleted-text animated-item' : 'animated-item'" disabled value="{{fs.organization_name}}"/>
                    </div>
                    <label restriction-field class="col-xs-12 col-sm-1 btn btn-default" ng-click="trialNciView.toggleSelection($index, 'funding_source')" ng-hide="['update'].indexOf(trialNciView.curTrial.edit_type) > -1">
                        <i ng-class="fs._destroy == true ? 'glyphicon glyphicon-ok-circle' : 'glyphicon glyphicon-remove-circle'"></i>
                    </label>
                </div>

                <hr />
            </div>
            <!-- end of first row in the accordion body -->

            <!-- second row in the accordion body -->
            <div class="row">
                <!--div class="col-xs-12 pull-left"-->
                    <div class="form-group">
                        <label for="program_code" class="control-label col-xs-12 col-sm-3">Program Code</label>
                        <div class="col-xs-12 col-sm-9">
                            <input type="text" id="program_code" name="trial_program_code" class="form-control" ng-model="trialNciView.curTrial.program_code" placeholder="Program Code">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="nih_nci_div" class="control-label col-xs-12 col-sm-3">NIH/NCI Division/Department Identifier: </label>
                        <div class="col-xs-12 col-sm-9">
                            <select class="form-control input-sm" id="nih_nci_div" ng-model="trialNciView.curTrial.nih_nci_div">
                                <option value="">-Select a NIH/NCI Division/Department Identifier-</option>
                                <option ng-repeat="nci in trialNciView.nciDivArr" value="{{nci.code}}">
                                    {{nci.code}}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="nih_nci_div" class="control-label col-xs-12 col-sm-3">NIH/NCI Program Id: </label>
                        <div class="col-xs-12 col-sm-9">
                            <select class="form-control input-sm" id="nih_nci_prog" ng-model="trialNciView.curTrial.nih_nci_prog">
                                <option value="">-Select a NIH/NCI Program ID-</option>
                                <option ng-repeat="nci in trialNciView.nciProgArr" value="{{nci.code}}">
                                    {{nci.code}}
                                </option>
                            </select>

                        </div>
                    </div>


                        <!-- first form-group -->
                        <div class="form-group">
                                <label for="send_trial_flag" class="control-label col-xs-12 col-sm-3">Send Trial Information to ClinicalTrials.gov?</label>
                                <div class="col-xs-12 col-sm-9">
                                    <label class="radio-inline">
                                        <input type="radio" name="send_trial_flag" ng-model="trialNciView.curTrial.send_trial_flag" value="No"> No
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="send_trial_flag" ng-model="trialNciView.curTrial.send_trial_flag" value="Yes"> Yes
                                    </label>
                                </div>
                        </div>
                        <!-- end of first form-group -->

                        <!-- first form-group -->
                        <div class="form-group">
                            <label for="trial_processing_comment" class="col-xs-12">Comments:</label>
                        </div>
                        <!-- end of first form-group -->

                        <!-- second row in the form -->
                        <div class="form-group">
                            <div class="col-xs-12">
                                <textarea class="form-control" name="processing_comment" id="trial_processing_comment" rows="5"></textarea>
                            </div>
                        </div>
                        <!-- end of second row -->

                        <!--div class="form-group no-bottom-margin" ng-if="trialNciView.curTrial.admin_checkout != nil"-->
                        <div class="form-group no-bottom-margin" ng-if="trialNciView.curTrial.pa_editable">
                            <div class="btn-toolbar">
                                <button type="submit" class="btn btn-primary pull-right" id="submit_processing" ng-click="trialNciView.updateTrial()">Save</button>
                                <button type="button" class="btn btn-warning pull-right" ng-click="trialNciView.reload()" ng-disabled="trialDetailView.disableBtn">
                                    <i class="glyphicon glyphicon-remove"></i> Reset
                                </button>
                            </div>
                        </div>
                <!--/div-->
            </div>
        </uib-accordion-group>
    </uib-accordion>
    </form>
</div>

<!-- end of row -->
