<div id="trial-ps-warning-modal">
    <div class="modal-header">
        <h3 class="modal-title">Warning</h3>
        <button type="button" class="close" data-dismiss="modal" ng-click="psWarning.cancel()">&times;</button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-12">
                The Investigator marked for deletion is also the primary contact. Proceeding to delete this investigator will cause the primary contact to be removed as well.
                Please enter a new primary contact once deletion is complete.
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="col-xs-12">
            <div class="btn-toolbar">
                <button class="btn btn-primary pull-right" ng-click="psWarning.confirm()">Confirm</button>
                <button class="btn btn-danger pull-right" ng-click="psWarning.cancel()">
                    <i class="glyphicon glyphicon-remove"></i> Cancel
                </button>
            </div>
        </div>
    </div>
</div>
