<div class="sidebar">
  <uib-accordion close-others="false">
      <uib-accordion-group is-open="true">
          <uib-accordion-heading>
              Trial Overview  <i class="pull-right glyphicon glyphicon-chevron-right"></i>
          </uib-accordion-heading>
          <ul class="nav nav-pills nav-stacked">
              <li><a ui-sref="main.pa.trialOverview.trialIdentification">Trial Identification</a></li>
              <li><a ui-sref="main.pa.trialOverview.trialHistory">Trial History</a></li>
              <li><a ui-sref="main.pa.trialOverview.trialMilestones">Trial Milestones</a></li>
              <li><a ui-sref="main.pa.trialOverview.onHoldInfo">On Hold Info</a></li>
              <li><a ui-sref="main.pa.trialOverview.viewTSR">View TSR</a></li>
              <li><a ui-sref="main.pa.trialOverview.assignOwnership">Assign Ownership</a></li>
              <li><a ui-sref="main.pa.trialOverview.checkoutHistory">Check Out History</a></li>
          </ul>
      </uib-accordion-group>
      <uib-accordion-group is-open="true">
          <uib-accordion-heading>
              Admin Data  <i class="pull-right glyphicon glyphicon-chevron-right"></i>
          </uib-accordion-heading>
          <ul class="nav nav-pills nav-stacked">
              <li><a href="">General Trial Details</a></li>
              <li><a href="">Regulatory Information - FDAAA</a></li>
              <li><a href="">Regulatory Information - Human Subject Safety</a></li>
              <li><a href="">Regulatory Information - IND/IDE</a></li>
              <li><a href="">Trial Status</a></li>
              <li><a href="">Trial Funding</a></li>
              <li><a href="">Participating Sites</a></li>
              <li><a href="">Collaborators</a></li>
              <li><a href="">Trial Related Documents</a></li>
          </ul>
      </uib-accordion-group>
      <uib-accordion-group is-open="true">
          <uib-accordion-heading>
              Scientific Data  <i class="pull-right glyphicon glyphicon-chevron-right"></i>
          </uib-accordion-heading>
          <ul class="nav nav-pills nav-stacked">
              <li><a href="">Trial Design</a></li>
              <li><a href="">Design Details</a></li>
              <li><a href="">Outcome Measures</a></li>
              <li><a href="">Eligibility Criteria</a></li>
              <li><a href="">Associated Trials</a></li>
              <li><a href="">Disease/Condition</a></li>
              <li><a href="">Data Table 4 Anatomic Sites</a></li>
              <li><a href="">Bio Markers</a></li>
              <li><a href="">Interventions</a></li>
              <li><a href="">Arms</a></li>
              <li><a href="">Sub-Groups</a></li>
          </ul>
      </uib-accordion-group>
      <uib-accordion-group>
          <uib-accordion-heading>
              Complete  <i class="pull-right glyphicon glyphicon-chevron-right"></i>
          </uib-accordion-heading>
          <!--
          <ul class="nav nav-pills nav-stacked">
              <li><a href=""></a></li>
              <li><a href=""></a></li>
              <li><a href=""></a></li>
              <li><a href=""></a></li>
              <li><a href=""></a></li>
              <li><a href=""></a></li>
              <li><a href=""></a></li>
          </ul>
          -->
      </uib-accordion-group>
  </uib-accordion>
</div>
