<head lang="en" ng-app="ctrpApp">
  <meta charset="UTF-8">
  <title>CTRP</title>
</head>
<body>
<div>
  <img src="/ctrp/static/images/NIH-red-logo.png"/> <b>National Cancer Institute | Clinical Trials Reporting Program</b>
</div>

<div>
  <h3>User Management Links</h3>
  <ul>
    <% if local_user_signed_in? %>
        <b>Current Local User is <%= current_local_user.username %></b><br/>
        <li><%= link_to 'Edit User Account', edit_local_user_registration_path %></li>
    <% end %>
    <% if ldap_user_signed_in? %>
        <b>Current ldap User is <%= current_ldap_user.username %></b><br/>
    <% end %>
    <li><a href="/ctrp/users">List Users</a></li>
    <li><a href="/ctrp/sign_in">Sign In</a></li>
    <li><a href="/ctrp/local_users/sign_up">Sign Up</a></li>
    <li><%= link_to 'Sign out', destroy_session_path, method: :delete %></li>

  </ul>
</div>


</body>
</html>
