<div class="form-group" ng-show="personDetailView.matchedCtrpPersons.length > 0">
    <label class="control-label col-xs-12 col-sm-3">Possible Matching CTRP Persons:</label>
    <div class="col-xs-12 col-sm-9">
        <div class="row top-offset-tiny table-responsive search-calendar-grid">
            <table class="table table-bordered table-striped table-condensed">
                <thead>
                    <th width="6%" class="nowrap">CTRP Person ID</th>
                    <th>Prefix</th>
                    <th width="4%" class="min-width-md">First Name</th>
                    <th width="3%" class="min-width-md">Middle Name</th>
                    <th width="4%" class="min-width-md">Last Name</th>
                    <th width="2%" class="nowrap">Suffix</th>
                    <th width="3%" class="nowrap">Source Status</th>
                    <th width="3%" class="nowrap">Source Context</th>
                    <th width="10%" class="nowrap">Email</th>
                    <th width="8%" class="nowrap">Phone</th>
                    <th width="8%" class="nowrap">Associate</th>
                </thead>
                <tbody>
                <tr ng-repeat="ctrpPerson in personDetailView.matchedCtrpPersons">
                    <td>{{ctrpPerson.ctrp_id}}</td>
                    <td>{{ctrpPerson.prefix}}</td>
                    <td>{{ctrpPerson.fname}}</td>
                    <td>
                        {{ctrpPerson.mname}}
                    </td>
                    <td>
                        {{ctrpPerson.lname}}
                    </td>
                    <td>
                        {{ctrpPerson.suffix}}
                    </td>
                    <td>
                        <!-- {{person.source_status}} -->
                        Active
                    </td>
                    <td>
                        <!-- {{person.source_context}} -->
                        CTRP
                    </td>
                    <td>
                        {{ctrpPerson.email}}
                    </td>
                    <td>
                        {{ctrpPerson.phone}}
                    </td>
                    <td class="text-center">
                        <button type="button" restriction-field class="btn btn-warning" ng-click="personDetailView.associate(ctrpPerson, 'CTRP')" title="Association">
                            Associate
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div> <!-- row ends -->
    </div>
</div>
