<head lang="en" ng-app="ctrpApp">
  <meta charset="UTF-8">
  <title>CTRP Static Members</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="/ctrp/ui/css/override.css">

  <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-resource.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-animate.min.js"></script>


  <!-- angular modules/dependencies from third parties -->
  <script src="third_party_libs/angular-local-storage.js"></script>

</head>
<body>
<div>
  <img src="/ctrp/static/images/NIH-red-logo.png"/> <b>National Cancer Institute | Clinical Trials Reporting Program</b>
</div>
<h3>CTRP Static Members</h3>

<div>
  <ul>
    <li><a href="/ctrp/backoffice">Backoffice</a></li>
    <li><a href="/ctrp/admin/family_relationship">Family Relationsip</a></li>
    <li><a href="/ctrp/admin/family_status">Family Status</a></li>
    <li><a href="/ctrp/admin/family_type">Family Type</a></li>
    <li><a href="/ctrp/admin/po_affiliation_status">Person Org Affiliation Status</a></li>
    <li><a href="/ctrp/admin/source_context">Source Context</a></li>
    <li><a href="/ctrp/admin/source_status">Source Status</a></li>
    <li><a href="/ctrp/admin/internal_source">Internal Source</a></li>
    <li><a href="/ctrp/admin/study_source">Study Source</a></li>
    <li><a href="/ctrp/admin/protocol_id_origin">Protocol ID Origin</a></li>
    <li><a href="/ctrp/admin/phase">Phase</a></li>
    <li><a href="/ctrp/admin/research_category">Research Category</a></li>
    <li><a href="/ctrp/admin/primary_purpose">Primary Purpose</a></li>
    <li><a href="/ctrp/admin/accrual_disease_term">Accrual Disease Terminology</a></li>
    <li><a href="/ctrp/admin/responsible_party">Responsible Party</a></li>
    <li><a href="/ctrp/admin/trial_status">Trials Status</a></li>
    <li><a href="/ctrp/admin/site_recruitment_status">Site Recruitment Status</a></li>
    <li><a href="/ctrp/admin/holder_type">Holder Type</a></li>
    <li><a href="/ctrp/admin/processing_status">Processing Status</a></li>
    <li><a href="/ctrp/admin/milestone">Milestone</a></li>
    <li><a href="/ctrp/admin/submission_type">Submission Type</a></li>
    <li><a href="/ctrp/admin/submission_source">Submission Source</a></li>
    <li><a href="/ctrp/admin/submission_method">Submission Method</a></li>
    <li><a href="/ctrp/admin/gender">Gender</a></li>
    <li><a href="/ctrp/admin/study_classification">Study Classification</a></li>
    <li><a href="/ctrp/admin/study_model">Study Model</a></li>
    <li><a href="/ctrp/admin/outcome_measure_type">Outcome Measure Type</a></li>
    <li><a href="/ctrp/admin/allocation">Allocation</a></li>
    <li><a href="/ctrp/admin/intervention_model">Intervention Model</a></li>
    <li><a href="/ctrp/admin/masking">Masking</a></li>
    <li><a href="/ctrp/admin/age_unit">Age Unit</a></li>
    <li><a href="/ctrp/admin/amendment_reason">Amendment Reason</a></li>
    <li><a href="/ctrp/admin/anatomic_site">Anatomic Site</a></li>
    <li><a href="/ctrp/admin/user_status">User Status</a></li>
  </ul>
</div>


</body>
</html>
