<form class="form form-horizontal" role="form">
    <div class="row" ng-hide="searchWarningMessage==''" ng-cloak>
        <div class="alert alert-warning fade in">
            <a href="" class="close" data-dismiss="alert">&times;</a>
            <strong>{{searchWarningMessage}}</strong>
        </div>
    </div><br />

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6">
            <!-- organization name -->
            <div class="form-group">
                <label for="organization_name" class="col-xs-12 col-sm-3 control-label">Name:</label>
                <div class="col-xs-12 col-sm-5">
                    <!--<input type="text" id="organization_name" class="form-control"
                           placeholder="Organization Name" ng-model="searchParams.name" auto-focus/>-->

                    <input type="text" id="organization_name" class="form-control input-sm"
                            autocomplete="off" placeholder="Organization Name" ng-model="searchParams.name" auto-focus
                            uib-typeahead="org for org in typeAheadNameSearch($viewValue)" ui-typeahead-loading="loadingOrganizations"
                            typeahead-min-length="3" typeahead-wait-ms="50" typeahead-no-results="noResults" autocomplete="off"/>
                    <!--<i ng-show="loadingOrganizations" class="glyphicon glyphicon-refresh"></i>
                    <div ng-show="noResults">
                        <i class="glyphicon glyphicon-remove has-error">No organizations name matched</i>
                    </div>-->
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div ng-class="searchParams.alias == true ? 'checkbox checkbox-info' : 'checkbox checkbox-circle'">
                        <label for="alias_search">
                            <input type="checkbox" id="alias_search" id="name_alias" ng-model="searchParams.alias"/> Search Alias
                        </label>
                    </div>
                </div>
            </div>
            <!-- organization name ends -->

            <div class="form-group">
                <label for="source_status" class="control-label col-xs-12 col-sm-3">Source Status: </label>
                <div  ng-if="sourceStatuses.length > 1">
                    <div class="col-xs-12 col-sm-3">
                        <select class="form-control input-sm" id="source_status" ng-model="searchParams.source_status">
                            <option value="">Select a Status</option>
                            <option ng-repeat="status in sourceStatuses" value="{{status.name}}">{{status.name}}</option>
                        </select>
                    </div>
                </div>
                <div  ng-if="sourceStatuses.length == 1">
                    <div class="col-xs-12 col-sm-3">
                        {{sourceStatuses[0].name}}
                    </div>
                </div>
                <!--source id -->
                <label for="source_id" class="control-label col-xs-12 col-sm-2">Source ID: </label>
                <div class="col-xs-12 col-sm-4">
                    <input type="text" id="source_id" class="form-control input-sm" placeholder="Source ID" ng-model="searchParams.source_id"/>
                </div>
            </div>
            <!-- source id ends -->

            <!--
                <div class="form-group">
                    <label for="address" class="control-label col-xs-12 col-sm-3">Address:</label>
                    <div class="col-xs-12 col-sm-9">
                        <input type="text" id="address" class="form-control input-sm" placeholder="Address" ng-model="searchParams.address"/>
                    </div>
                </div>
            -->

            <div class="form-group">
                <label for="city" class="control-label col-xs-12 col-sm-3">City:</label>
                <div class="col-xs-12 col-sm-9">
                    <input type="text" id="city" class="form-control input-sm" placeholder="City" ng-model="searchParams.city"/>
                </div>
            </div>

            <div class="form-group">
                <label for="country" class="control-label col-xs-12 col-sm-3">Country:</label>
                <div class="col-xs-12 col-sm-9">
                    <select class="form-control input-sm" id="country" ng-model="searchParams.country" ng-change="watchCountrySelection(searchParams.country)">
                        <option value="" selected>All Countries</option>
                        <option ng-repeat="country in countries" value="{{country.name}}">{{country.name}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="state" class="control-label col-xs-12 col-sm-3">State:</label>
                <div class="col-xs-12 col-sm-9">
                    <select class="form-control input-sm" id="state" ng-model="searchParams.state_province">
                        <option value="">All States/Provinces</option>
                        <option ng-repeat="state in states track by state.name" value="{{state.name}}">{{state.name}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
            <!-- PO ID -->
            <div class="form-group">
                <!--source context-->
                <label for="source_id" class="control-label col-xs-12 col-sm-3">Source Context: </label>
                <div  ng-if="sourceContexts.length > 1">
                    <div class="col-xs-12 col-sm-9">
                        <select class="form-control input-sm" id="source_context" ng-model="searchParams.source_context">
                            <option value="" ng-selected="searchParams.source_context==''">All Contexts</option>
                            <option ng-repeat="context in sourceContexts" value="{{context.name}}">{{context.name}}</option>
                        </select>
                    </div>
                </div>
                <!-- source context ends -->
                <div  ng-if="sourceContexts.length == 1">
                    <div class="col-xs-12 col-sm-9">
                        {{sourceContexts[0].name}}
                    </div>
                </div>
            </div>
            <!-- PO ID ends -->

            <!--source status-->
            <div class="form-group">
                <label for="family_name" class="control-label col-xs-12 col-sm-3">Family Name:</label>
                <div class="col-xs-12 col-sm-9">
                    <input type="text" id="family_name" class="form-control input-sm" placeholder="Family Name" ng-model="searchParams.family_name"/>
                </div>
            </div>
            <!-- source status ends -->

            <!--
                <div class="form-group">
                    <label for="address2" class="control-label col-xs-12 col-sm-3"><nobr>Address 2:</nobr></label>
                    <div class="col-xs-12 col-sm-9">
                        <input type="text" id="address2" class="form-control input-sm" placeholder="Address 2" ng-model="searchParams.address2"/>
                    </div>
                </div>
            -->

            <div class="form-group">
                <label for="postal_code" class="control-label col-xs-12 col-sm-3">Postal Code:</label>
                <div class="col-xs-12 col-sm-9">
                    <input type="text" id="postal_code" class="form-control input-sm" placeholder="Postal Code" ng-model="searchParams.postal_code"/>
                </div>
            </div>

            <div class="form-group">
                <label for="phone" class="control-label col-xs-12 col-sm-3">Phone:</label>
                <div class="col-xs-12 col-sm-3">
                    <input type="text" id="phone" class="form-control input-sm" placeholder="Phone" ng-model="searchParams.phone"/>
                </div>
                <label for="email" class="control-label col-xs-12 col-sm-2">Email:</label>
                <div class="col-xs-12 col-sm-4">
                    <input type="text" id="email" class="form-control input-sm" placeholder="Email" ng-model="searchParams.email"/>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="btn-toolbar">
                <button type="submit" class="btn btn-primary pull-right" id="submission_btn" ng-click="searchOrgs('fromStart')">
                    <i class="glyphicon glyphicon-search"></i> Search
                </button>
                <button class="btn btn-warning pull-right" id="reset_btn" ng-click="resetSearch()">
                    <i class="glyphicon glyphicon-remove"></i> Clear
                </button>
            </div>
        </div>
    </div>
</form>
<!--<strong>Search Parameters:</strong> {{searchParams}}-->

<!-- use the ui-grid to present the organization search results, if showgrid is set to 'true' -->
<div class="row" ng-if="searchWarningMessage.length === 0">
    <div class="col-sm-12">
        <div class="row" ng-if="gridOptions.totalItems != null">
            <div class="col-xs-12 col-sm-6">
                <a href="" id="org_search_results"></a>
                <div ng-if="searchWarningMessage.length === 0">
                    <p><h4>Organization Search Results: {{gridOptions.totalItems}} found</h4></p>
                </div>
                <div ng-if="!usedinmodal">
                    <h5 ng-show="gridOptions.totalItems > 0 && curationModeEnabled == true">
                      <div class="alert alert-danger fade in" ng-show="curationReady">
                          <strong>Please confirm: {{nullifiedOrgName}} will be nullified </strong>
                      </div>
                      <button class="btn" ng-click="commitNullification()" ng-show="curationShown" ng-disabled="!curationReady" ng-class="curationReady ? 'btn-danger' : 'btn-warning'">Commit Nullification</button>
                    </h5>
                </div>
            </div>
        </div>
        <div class="row" ng-hide="warningMessage==''" ng-cloak>
            <div class="alert alert-danger fade in">
                <a href="" class="close" data-dismiss="alert">&times;</a>
                <strong>{{warningMessage}}</strong>
            </div>
        </div> <br />
        <div class="row animated-item" ng-if="gridOptions.data.length > 0">
            <div ui-grid="gridOptions" ui-grid-pagination ui-grid-selection class="grid"></div>
            <!--<div  ui-grid="gridOptions" ui-grid-pagination ui-grid-selection class="grid"
                 ui-grid-auto-resize></div> -->

            <!--<div ng-if="!enablerowselection" ui-grid="gridOptions" ui-grid-pagination class="grid" ui-grid-auto-resize-->
            <!--style="height: {{gridHeight}}"></div>-->
        </div>
    </div>
</div>
