<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.7/angular.js"></script>
    <script src="/podemo/angular/js/app.js"></script>
    <link rel="stylesheet" href="/podemo/angular/css/app.css">
  </head>
  <body>
    <div style="float:left;" ng-app="poDemo" ng-controller="SearchCtrl">
      <div>
        <div style="float:left;clear:both;">
          <img src="/podemo/angular/images/AngularJS-medium.png" />
          <h3>Search Result | <a href="/podemo/organizations">Back to Rails scaffolding</a> | <a href="/podemo/angular/">CTRP Organization List</a></h1></h3>
        </div>

        <div class="container">
            <form>
              <div>
                <div class="label">Name:</div>
                <div class="value"><input type="text" ng-model="search_params.name" autofocus></div>
              </div>
              <div>
                <div class="label">PO ID:</div>
                <div class="value"><input type="text" ng-model="search_params.identifier"></div>
              </div>
              <div>
                <div class="label">CTEP ID:</div>
                <div class="value"><input ng-model="search_params.ctep_id"></div>
              </div>
              <div id="buttonBar" style="float:left;">
                <input type="submit" class="button" ng-click="search(search_params)" value="Search">
                <input type="button" class="button" ng-click="reset()" value="Reset">
              </div>
            </form>
        </div>

        <div class="container" ng-repeat="org in orgs" ng-class-odd="'odd'" ng-class-even="'even'">
          <div>
            <div class="label">Name:</div>
            <div class="value">{{org.name}}</div>
          </div>
          <div>
            <div class="label">PO ID:</div>
            <div class="value">{{org.identifier}}</div>
          </div>
          <div>
            <div class="label">ID:</div>
            <div class="value">{{org.id}}</div>
          </div>
          <div>
            <div class="label">Organization Type:</div>
            <div class="value">{{org.organization_type.name}}</div>
          </div>
          <div>
            <div class="label">Organization Status:</div>
            <div class="value">{{org.organization_status.name}}</div>
          </div>
          <div>
            <div class="label">City:</div>
            <div class="value">{{org.city}}</div>
          </div>
          <div>
            <div class="label">State:</div>
            <div class="value">{{org.state}}</div>
          </div>
          <div>
            <div class="label">CTEP ID:</div>
            <div class="value">{{org.ctep_id}}</div>
          </div>
          <div>
            <a href="/podemo/angular/orgdetails.html#?id={{org.id}}">View Organization Details</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>