<div class="row">
    <div class="col-xs-12 drop-shadow">
        <div class="row">
            <h4>Search Trials
                <small>* for wild card</small>
            </h4>
        </div>
        <div class="row">
            <form class="form form-horizontal" role="form">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6">
                        <div class="form-group">
                            <label for="protocol_id" class="control-label col-xs-12 col-sm-3">Protocol ID: </label>
                            <div class="col-xs-12 col-sm-9">
                                <input type="text" id="protocol_id" class="form-control input-sm" placeholder="Protocol ID" ng-model="trialView.searchParams.protocol_id" auto-focus/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="protocol_origin_type" class="control-label col-xs-12 col-sm-3">Identifier Type: </label>
                            <div class="col-xs-12 col-sm-9">
                                <select class="form-control input-sm" id="protocol_origin_type" ng-model="trialView.searchParams.protocol_origin_type">
                                    <option value="">-Select an Identifier Type-</option>
                                    <option ng-repeat="protocol_origin_type in trialView.protocolIdOriginArr" value="{{protocol_origin_type.code}}">{{protocol_origin_type.name}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="phase" class="control-label col-xs-12 col-sm-3">Phase: </label>
                            <div class="col-xs-12 col-sm-6">
                                <select class="form-control input-sm" id="phase" ng-model="trialView.searchParams.phase">
                                    <option value="">-Select a Phase-</option>
                                    <option ng-repeat="phase in trialView.phaseArr" value="{{phase.code}}">{{phase.name}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="pilot" class="control-label col-xs-12 col-sm-3">Pilot Trial? </label>
                            <div class="col-xs-12 col-sm-3">
                                <select class="form-control input-sm" id="pilot" ng-model="trialView.searchParams.pilot">
                                    <option value="">-Select-</option>
                                    <option value="No">No</option>
                                    <option value="Yes">Yes</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="pilot" class="control-label col-xs-12 col-sm-3">Organization Type: </label>
                            <div class="col-xs-12 col-sm-9">
                                <select class="form-control input-sm" id="org_type" ng-model="trialView.searchParams.org_type">
                                    <option value="">-Select an Organization Type-</option>
                                    <option value="Lead Organization">Lead Organization</option>
                                    <option value="Sponsor">Sponsor</option>
                                    <!--<option value="Participating Site">Participating Site</option>-->
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="phase" class="control-label col-xs-12 col-sm-3">Study Source: </label>
                            <div class="col-xs-12 col-sm-9">
                                <ui-select multiple id="study_source" ng-model="trialView.searchParams.study_sources">
                                    <ui-select-match placeholder="-Select Study Sources-">{{$item.name}}</ui-select-match>
                                    <ui-select-choices repeat="studySource in trialView.studySourceArr">{{studySource.name}}</ui-select-choices>
                                </ui-select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="purpose" class="control-label col-xs-12 col-sm-3">Processing Status: </label>
                            <div class="col-xs-12 col-sm-9">
                                <ui-select multiple id="processingStatus" ng-model="trialView.searchParams.processing_status">
                                    <ui-select-match placeholder="-Select Processing Status-">{{$item.name}}</ui-select-match>
                                    <ui-select-choices repeat="processingStatus in trialView.processingStatusArr">{{processingStatus.name}}</ui-select-choices>
                                </ui-select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="onhold" class="control-label col-xs-12 col-sm-3">Trials on Hold: </label>
                            <div class="col-xs-12 col-sm-9">
                                <input type="checkbox" id="onhold" ng-model="trialView.searchParams.onhold">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="submissionType" class="control-label col-xs-12 col-sm-3">Submission Type: </label>
                            <div class="col-xs-12 col-sm-9">
                                <ui-select multiple id="submissionType" ng-model="trialView.searchParams.submission_type">
                                    <ui-select-match placeholder="-Select Submission Type-">{{$item.name}}</ui-select-match>
                                    <ui-select-choices repeat="submissionType in trialView.submissionTypesArr">{{submissionType.name}}</ui-select-choices>
                                </ui-select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="submissionMethod" class="control-label col-xs-12 col-sm-3">Submission Method: </label>
                            <div class="col-xs-12 col-sm-9">
                                <ui-select multiple id="submissionMethod" ng-model="trialView.searchParams.submission_method">
                                    <ui-select-match placeholder="-Select Submission Method-">{{$item.name}}</ui-select-match>
                                    <ui-select-choices repeat="submissionMethod in trialView.submissionMethodsArr">{{submissionMethod.name}}</ui-select-choices>
                                </ui-select>
                            </div>
                        </div>

                    </div>



                    <div class="col-xs-12 col-sm-12 col-md-6">
                        <div class="form-group">
                            <label for="official_title" class="control-label col-xs-12 col-sm-3">Official Title: </label>
                            <div class="col-xs-12 col-sm-9">
                                <input type="text" id="official_title" class="form-control input-sm" placeholder="Official Title" ng-model="trialView.searchParams.official_title" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="purpose" class="control-label col-xs-12 col-sm-3">Purpose: </label>
                            <div class="col-xs-12 col-sm-9">
                                <select class="form-control input-sm" id="purpose" ng-model="trialView.searchParams.purpose">
                                    <option value="">-Select a Purpose-</option>
                                    <option ng-repeat="purpose in trialView.primaryPurposeArr" value="{{purpose.code}}">{{purpose.name}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="official_title" class="control-label col-xs-12 col-sm-3">PI: </label>
                            <div class="col-xs-12 col-sm-9">
                                <input type="text" id="pi" class="form-control input-sm" placeholder="Principal Investigator" ng-model="trialView.searchParams.pi" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="official_title" class="control-label col-xs-12 col-sm-3">Organization: </label>
                            <div class="col-xs-12 col-sm-9">
                                <input type="text" id="org" class="form-control input-sm" placeholder="Organization" ng-model="trialView.searchParams.org" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="trial_status" class="control-label col-xs-12 col-sm-3">Trial Status: </label>
                            <div class="col-xs-12 col-sm-9">
                                <select class="form-control input-sm" id="trial_status" ng-model="trialView.searchParams.trial_status">
                                    <option value="">-Select a Trial Status-</option>
                                    <option ng-repeat="trialStatus in trialView.trialStatusArr" value="{{trialStatus.code}}">{{trialStatus.name}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="milestone" class="control-label col-xs-12 col-sm-3">Milestone: </label>
                            <div class="col-xs-12 col-sm-9">
                                <select class="form-control input-sm" id="milestone" ng-model="trialView.searchParams.milestone">
                                    <option value="">-Select a Milestone-</option>
                                    <option ng-repeat="milestone in trialView.milestoneArr" value="{{milestone.code}}">{{milestone.name}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="checkout" class="control-label col-xs-12 col-sm-3">Trials I have checked out: </label>
                            <div class="col-xs-12 col-sm-9">
                                <input type="checkbox" id="checkout" ng-model="trialView.searchParams.checkout">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="research_category" class="control-label col-xs-12 col-sm-3">Research Category: </label>
                            <div class="col-xs-12 col-sm-9">
                                <select class="form-control input-sm" id="research_category" ng-model="trialView.searchParams.research_category">
                                    <option value="">-Select a Research Category -</option>
                                    <option ng-repeat="rc in trialView.researchCategoriesArr" value="{{rc.code}}">{{rc.name}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="nih_nci_div" class="control-label col-xs-12 col-sm-3">NIH/NCI Div/Dept Identifier: </label>
                            <div class="col-xs-12 col-sm-9">
                                <select class="form-control input-sm" id="nih_nci_div" ng-model="trialView.searchParams.nih_nci_div">
                                    <option value="">-Select a NIH/NCI Div/Dept -</option>
                                    <option ng-repeat="nd in trialView.nciDivArr" value="{{nd.code}}">{{nd.code}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="nih_nci_prog" class="control-label col-xs-12 col-sm-3">NIH/NCI Program Identifier: </label>
                            <div class="col-xs-12 col-sm-9">
                                <select class="form-control input-sm" id="nih_nci_prog" ng-model="trialView.searchParams.nih_nci_prog">
                                    <option value="">-Select a NIH/NCI Program -</option>
                                    <option ng-repeat="np in trialView.nciProgArr" value="{{np.code}}">{{np.code}}</option>
                                </select>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <div class="btn-toolbar">
                            <button type="submit" class="btn btn-primary pull-right" id="submission_btn" ng-click="trialView.searchTrials()">
                                <i class="glyphicon glyphicon-search"></i> Search
                            </button>
                            <button class="btn btn-warning pull-right" id="reset_btn" ng-click="trialView.resetSearch()">
                                <i class="glyphicon glyphicon-remove"></i> Clear
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <span us-spinner="{radius: 20, length: 15}" spinner-on="trialView.searching"></span>
            </div>
        </div>
            <div class="row" ng-class="{'top-offset-xs': trialView.gridOptions.totalItems }">
            <div class="col-xs-12">
                <div class="row" ng-if="trialView.gridOptions.totalItems != null">
                    <p><h4>Trial Search Results: {{trialView.gridOptions.totalItems}} found</h4></p>
                </div>
                <div class="row animated-item" ng-if="trialView.gridOptions.data.length > 0">
                    <div class="col-xs-12">
                        <div ui-grid="trialView.gridOptions" ui-grid-pagination="" external-scopes="clickHandler" class="grid"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row top-offset-xs"></div>
    </div>
</div>
