

<div>
  <%= form_for(resource, :as => 'user', url: create_session_path) do %>
      <fieldset>
        <legend>Log In</legend>
        <table>
          <tr>
            <td>
              <label>Username </label>
              <input type="text" placeholder="Username or Email" name="user[username]" />
            </td>
            <td>
              <label>Password</label>
              <input type="password" placeholder="Password" name="user[password]" />
              <input type="submit" class="button" value="Log In" />
            </td>
          </tr>
        </table></fieldset>
  <% end %>
</div>

<%= render "devise/shared/links" %>
