# Ignore Node and Bower packages
node_modules/
src/bower_components/
build/

#Ignore the host url in the constant file
src/app/modules/ctrp.module.constants.dev.js
src/app/modules/ctrp.module.constants.prod.js


#Ignore the gulp config file
./gulp.config.js

#Ignore Test reporters
./report
**/test/coverage
