# Ignore Node and Bower packages
angularjs/ui2/node_modules/
angularjs/ui2/src/bower_components/
angularjs/ui2/.tmp
build/

#Ignore the host url in the constant file
./src/app/modules/ctrp.module.constants.host.js

#Ignore the gulp config file
./gulp.config.js

#Ignore Test reporters
./report
**/test/coverage
