
    <div class="modal-header">
        <h3 class="modal-title">NCI CLINICAL TRIALS REPORTING PROGRAM (CTRP) SYSTEM</h3>
    </div>
    <div class="modal-body">
        <p ng-bind-html="gsaView.renderGSAHtml()"></p>
    </div>
    <div class="modal-footer">
        <div class="btn-toolbar">
            <button class="btn btn-primary pull-right" type="button" ng-click="gsaView.accept()" autofocus>Accept</button>
            <button class="btn btn-danger pull-right" type="button" ng-click="gsaView.reject()">Reject</button>
        </div>
    </div>
