<div class="drop-shadow">
    <div class="row top-offset-xs"></div>
    <div class="row">
        <div class="col-xs-4"></div>
        <div class="col-xs-4">
            <div class="row">
                <div class="panel panel-default no-bottom-margin">
                    <div class="panel-heading">
                        <div class="panel-title">Sign Up Form</div>
                    </div>
                    <div class="panel-body">
                        <form class="form form-horizontal" role="form" name="signup_form" autocomplete="off" novalidate ctrp-submit="userView.updateUser()">
                            <div class="form-group has-feedback required" ng-class="{'has-error': ctrpbtn.signup_form.needsAttention(signup_form.username)}">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-user"></i>
                                    </span>
                                    <input class="form-control input-sm" name="username" type="text" required ng-model="userView.userObj.local_user.username" placeholder="Username">
                                </div>
                                <span class="form-control-feedback feedback-height-sm" ng-show="userView.userObj.local_user.username.length" ng-class="!ctrpbtn.signup_form.needsAttention(signup_form.username) ? 'glyphicon glyphicon-ok glyphicon-green' : 'glyphicon glyphicon-exclamation-sign glyphicon-red'"></span>
                                <span class="help-block" ng-show="signup_form.username.$error.required">Username is Required</span>
                            </div>
                            <div class="form-group has-feedback required" ng-class="{'has-error': ctrpbtn.signup_form.needsAttention(signup_form.password)}">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-lock"></i>
                                    </span>
                                    <input type="password" class="form-control input-sm" name="password" ng-model="userView.userObj.local_user.password" autocomplete="off" placeholder="Password" required>
                                </div>
                                <span class="form-control-feedback feedback-height-sm" ng-show="userView.userObj.local_user.password.length" ng-class="!ctrpbtn.signup_form.needsAttention(signup_form.password)  ? 'glyphicon glyphicon-ok glyphicon-green' : 'glyphicon glyphicon-exclamation-sign glyphicon-red'"></span>
                                <span class="help-block" ng-show="signup_form.password.$error.required">Password is Required</span>
                            </div>
                            <div class="form-group has-feedback required" ng-class="{'has-error': ctrpbtn.signup_form.needsAttention(signup_form.password_confirmation) || (userView.userObj.local_user.password !== userView.userObj.local_user.password_confirmation)}">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-lock"></i>
                                    </span>
                                    <input type="password" class="form-control input-sm" name="password_confirmation" ng-model="userView.userObj.local_user.password_confirmation" placeholder="Password Confirmation" required ng-class="!ctrpbtn.signup_form.needsAttention(signup_form.password)  ? 'glyphicon glyphicon-ok glyphicon-green' : 'glyphicon glyphicon-exclamation-sign glyphicon-red'">
                                </div>
                                <span class="form-control-feedback feedback-height-sm" ng-show="userView.userObj.local_user.password_confirmation.length" ng-class="!ctrpbtn.signup_form.needsAttention(signup_form.password_confirmation) && userView.userObj.local_user.password === userView.userObj.local_user.password_confirmation  ? 'glyphicon glyphicon-ok glyphicon-green' : ''"></span>
                                <span class="help-block" ng-show="userView.userObj.local_user.password !== userView.userObj.local_user.password_confirmation && signup_form.password_confirmation.$dirty">Passwords do not match</span>
                            </div>
                            <div class="form-group has-feedback required">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-tower"></i>
                                    </span>
                                    <input type="text" id="organization_name" class="form-control input-sm"
                                            autocomplete="off" placeholder="Organization Name" ng-model="userView.searchParams.name" auto-focus
                                            uib-typeahead="org for org in userView.typeAheadNameSearch($viewValue)" ui-typeahead-loading="loadingOrganizations"
                                            typeahead-min-length="3" typeahead-wait-ms="50" typeahead-no-results="noResults" />
                                </div>
                            </div>
                            <div class="form-group has-feedback required">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-eye-open"></i>
                                    </span>
                                    <input type="role" class="form-control input-sm" ng-model="userView.userObj.local_user.role" placeholder="Role" required>
                                </div>
                            </div>
                            <div class="form-group has-feedback required">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-envelope"></i>
                                    </span>
                                    <input type="email" class="form-control input-sm" ng-model="userView.userObj.local_user.email" placeholder="Email" required>
                                </div>
                            </div>
                            <div id="buttonBar" class="form-group">
                                <div class="btn-toolbar">
                                    <button type="submit" class="btn btn-primary pull-right">
                                        Save
                                    </button>
                                    <button type="button" class="btn btn-warning pull-right" ng-click="userView.reset()">
                                        <i class="glyphicon glyphicon-remove"></i> Reset
                                    </button>
                                    <button type="button" class="btn btn-default pull-right" id="cancel_btn" back-button>
                                     <i class="glyphicon glyphicon-remove"></i>  Cancel
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-4"></div>
    </div>
    <div class="row top-offset-xs"></div>
</div>
