<div class="row" ng-hide="searchWarningMessage==''" ng-cloak>
    <div class="alert alert-warning fade in" ng-if="searchWarningMessage.length">
        <strong>{{searchWarningMessage}}</strong>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 drop-shadow">
        <div class="row">
            <h4>Search User
                <small>Enter blank for wild card</small>
            </h4>
        </div>
        <div class="row">
            <form class="form form-horizontal" role="form">
                <!-- first row -->
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <!-- username -->
                        <div class="form-group" ng-if="!userView.registeredUsersPage">
                            <label for="username" class="control-label col-sm-5">Username: </label>
                            <div class="col-sm-7">
                                <input type="text" id="username" class="form-control input-sm" placeholder="Username" ng-model="userView.searchParams.username" auto-focus/>
                            </div>
                        </div>
                        <!-- username ends -->

                        <!--Last Name-->
                        <div class="form-group">
                            <label for="first_name" class="control-label col-sm-5">Last Name:</label>
                            <div class="col-sm-7">
                                <input type="text" id="last_name" class="form-control input-sm" placeholder="Last Name" ng-model="userView.searchParams.last_name" auto-focus/>
                            </div>
                        </div>
                        <!-- Last Name ends -->

                        <!--Status-->
                        <div class="form-group" ng-if="!userView.registeredUsersPage">
                            <label for="first_name" class="control-label col-sm-5">Status:</label>
                            <div class="col-sm-7" ng-if="!userView.searchStatus">
                                <select class="form-control input-sm" id="user_status_id" ng-model="userView.searchParams.user_status_id">
                                    <option value="">Select a status</option>
                                    <option ng-repeat="status in userView.statusArr" value="{{status.id}}">{{status.name}}</option>
                                </select>
                            </div>
                            <div class="col-sm-7 control-label text-left" ng-if="userView.searchStatus">
                                {{userView.searchStatus}}
                            </div>
                        </div>
                        <!-- Status ends -->

                        <!-- Organization Name-->
                        <div class="form-group">
                            <label for="organization_name" class="control-label col-sm-5">Organization Name:</label>
                            <div class="col-sm-7">
                                <input type="text" id="organization_name" class="form-control input-sm" name="organization_name"
                                       autocomplete="off" placeholder="Organization Name" ng-model="userView.searchParams.organization_name"
                                       uib-typeahead="org for org in userView.typeAheadNameSearch($viewValue)" ui-typeahead-loading="loadingOrganizations"
                                       typeahead-min-length="3" typeahead-wait-ms="50" typeahead-no-results="noResults" />
                            </div>
                        </div>
                        <!-- Organization Name ends -->
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <!--email-->
                        <div class="form-group" ng-if="!userView.registeredUsersPage">
                            <label for="email" class="control-label col-sm-5">Email:</label>
                            <div class="col-sm-7">
                                <input type="text" id="email" class="form-control input-sm" placeholder="email" ng-model="userView.searchParams.email" auto-focus/>
                            </div>
                        </div>
                        <!-- email ends -->

                        <!--First Name-->
                        <div class="form-group">
                            <label for="first_name" class="control-label col-sm-5">First Name:</label>
                            <div class="col-sm-7">
                                <input type="text" id="first_name" class="form-control input-sm" placeholder="First Name" ng-model="userView.searchParams.first_name" auto-focus/>
                            </div>
                        </div>
                        <!-- First Name ends -->

                        <!-- Site Admin-->
                        <div class="form-group" ng-if="!userView.registeredUsersPage">
                            <label for="site_admin" class="control-label col-sm-5">Site Administrator Privileges:</label>
                            <div class="col-sm-7">
                                <label class="control-label radio-line">Yes: <input type="radio" id="site_admin" ng-model="userView.searchParams.site_admin" ng-value="true"/></label>
                                <label class="control-label radio-line">No: <input type="radio" id="site_admin" ng-model="userView.searchParams.site_admin" ng-value="false"/></label>
                                <label class="control-label radio-line">All: <input type="radio" id="site_admin" ng-model="userView.searchParams.site_admin" ng-value="undefined"/></label>
                            </div>
                        </div>
                        <!-- Site Admin ends -->

                        <!-- Organization Family-->
                        <div class="form-group" ng-if="!(userView.searchOrganizationFamily !== undefined && userView.searchOrganizationFamily.length === 0) && !userView.registeredUsersPage">
                            <label for="organization_family" class="control-label col-sm-5">Organization Family:</label>
                            <div class="col-sm-7" ng-if="!userView.searchOrganizationFamily">
                                <input type="text" id="organization_family" class="form-control input-sm" placeholder="Organization Family" ng-model="userView.searchParams.organization_family" auto-focus/>
                            </div>
                            <div class="col-sm-7 control-label text-left" ng-if="userView.searchOrganizationFamily && userView.searchOrganizationFamily.length">
                                {{userView.searchOrganizationFamily}}
                            </div>
                        </div>
                        <!-- Organization Family ends -->
                    </div>
                </div><!-- first row ends -->

                <div class="row">
                    <div class="col-xs-12">
                        <div class="btn-toolbar">
                            <button type="submit" id="submission_btn" class="btn btn-primary pull-right" ng-click="userView.searchUsers()">
                               <i class="glyphicon glyphicon-search"></i> Search
                            </button>

                            <button id="reset_btn" class="btn btn-warning pull-right" ng-click="userView.resetSearch()">
                               <i class="glyphicon glyphicon-remove"></i> Clear
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <span us-spinner="{radius: 10, length: 5}" spinner-on="searching"></span>
            </div>
        </div>

        <!-- list of Users -->
        <div class="row">
            <div class="col-xs-12">
                <div class="row" ng-if="userView.gridOptions.totalItems != null">
                    <a href="" id="user_search_results"></a>
                    <h4>User Search Results: {{userView.gridOptions.totalItems}} found</h4>
                </div>
                <div class="row animated-item" ng-if="userView.gridOptions.data.length > 0">
                    <div ui-grid="userView.gridOptions" ui-grid-pagination="" external-scopes="clickHandler" ui-grid-selection ui-grid-exporter ui-grid-move-columns class="grid"></div>
                </div>
            </div>
        </div>
        <div class="row top-offset-xs" ng-if="userView.gridOptions.totalItems != null"></div>
        <div class="row top-offset-xs"></div>
    </div>
</div>
