<div class="row-fluid">
    <div class="col-xs-12 drop-shadow">
        <div class="row">
            <p>
                <h4>Edit User Profile</h4>
            </p>
        </div>
        <div class="row">
            <form class="form-horizontal" role="form" name="userDetail_form" novalidate  ng-class="{'show-form-errors': userDetailView.showValidation}">
                <fieldset restriction-field>
                    <div class="form-group has-feedback required" ng-class="{'has-error': ctrpbtn.userDetail_form.needsAttention(userDetail_form.username)}">
                        <label class="control-label col-xs-12 col-sm-3">User Name:</label>
                        <div class="col-xs-12 col-sm-6">
                            <input type="text" class="form-control input-sm" name="username" required ng-model="userDetailView.userDetails.username" placeholder="Username" ng-disabled="true">
                            <span class="form-control-feedback" ng-show="userDetailView.userDetails.username.length" ng-class="!ctrpbtn.userDetail_form.needsAttention(userDetail_form.username) ? 'glyphicon glyphicon-ok glyphicon-green' : 'glyphicon glyphicon-exclamation-sign glyphicon-red'"></span>
                            <span class="help-block" ng-show="userDetail_form.username.$error.required">Username is Required</span>
                        </div>
                    </div>

                    <div class="form-group has-feedback required" ng-class="{'has-error': ctrpbtn.userDetail_form.needsAttention(userDetail_form.userstatus)}">
                        <label class="control-label col-xs-12 col-sm-3">User Status:</label>
                        <div class="col-xs-12 col-sm-6">
                            <select name="userstatus" id="userstatus"
                                class="form-control input-sm"
                                ng-model="userDetailView.userDetails.user_status_id"
                                ng-disabled="userDetailView.userRole !== 'ROLE_SUPER' && userDetailView.userRole !== 'ROLE_ADMIN' && userDetailView.userRole !== 'ROLE_SITE-SU'"
                                ng-options="status.id as status.name for status in (userDetailView.statusArrForROLESITESU || userDetailView.statusArr)"
                                required>
                                <option value="">Select a status</option>
                            </select>
                            <span class="form-control-feedback select-feedback" ng-show="userDetailView.userDetails.user_status.id" ng-class="!ctrpbtn.userDetail_form.needsAttention(userDetail_form.userstatus) ? 'glyphicon glyphicon-ok glyphicon-green' : 'glyphicon glyphicon-exclamation-sign glyphicon-red'"></span>
                            <span class="help-block" ng-show="userDetail_form.userstatus.$error.required">Status is Required</span>
                            <div class="alert-warning" ng-if="userDetailView.inactivatingUser = (userDetailView.statusArr | findObjByAttribute:'id':userDetailView.userDetails.user_status_id)[0].code === 'INA' && (userDetailView.statusArr | findObjByAttribute:'id':userDetailView.userDetailsOrig.user_status_id)[0].code !== 'INA'" >
                                The User will no longer be able to Access CTRP.</div>
                        </div>
                    </div>

                    <div class="form-group has-feedback required" ng-class="{'has-error': ctrpbtn.userDetail_form.needsAttention(userDetail_form.domain)}">
                        <label class="control-label col-xs-12 col-sm-3">Domain:</label>
                        <div class="col-xs-12 col-sm-6">
                            <select name="domain" id="domain"
                                    class="form-control input-sm"
                                    ng-model="userDetailView.userDetails.domain"
                                    ng-disabled="userDetailView.userRole !== 'ROLE_SUPER' && userDetailView.userRole !== 'ROLE_ADMIN'"
                                    required>
                                <option value="">Select a domain</option>
                                <option ng-repeat="item in userDetailView.domainArr" value="{{item}}">{{item}}</option>
                            </select>
                            <span class="form-control-feedback select-feedback" ng-show="userDetailView.userDetails.domain" ng-class="!ctrpbtn.userDetail_form.needsAttention(userDetail_form.domain) ? 'glyphicon glyphicon-ok glyphicon-green' : 'glyphicon glyphicon-exclamation-sign glyphicon-red'"></span>
                            <span class="help-block" ng-show="userDetail_form.domain.$error.required">Domain is Required</span>
                        </div>
                    </div>

                    <div class="form-group has-feedback required" ng-class="{'has-error': ctrpbtn.userDetail_form.needsAttention(userDetail_form.role)}">
                        <label class="control-label col-xs-12 col-sm-3">Role:</label>
                        <div class="col-xs-12 col-sm-6">
                            <select class="form-control input-sm" id="role"
                                    ng-model="userDetailView.userDetails.role" name="role"
                                    ng-options="user_role.id as user_role.name for user_role in userDetailView.rolesArr"
                                    ng-disabled="userDetailView.disableRows"
                                    required>
                                <option value="">Select a role</option>
                            </select>
                            <span class="form-control-feedback select-feedback" ng-show="userDetailView.userDetails.role.length" ng-class="!ctrpbtn.userDetail_form.needsAttention(userDetail_form.role) ? 'glyphicon glyphicon-ok glyphicon-green' : 'glyphicon glyphicon-exclamation-sign glyphicon-red'"></span>
                            <span class="help-block" ng-show="userDetail_form.role.$invalid">Role is Required</span>
                        </div>
                    </div>

                    <div class="form-group has-feedback required" ng-class="{'has-error': ctrpbtn.userDetail_form.needsAttention(userDetail_form.first_name)}">
                        <label class="control-label col-xs-12 col-sm-3">First Name</label>
                        <div class="col-xs-12 col-sm-6">
                            <input type="text" class="form-control input-sm" name="first_name" required ng-model="userDetailView.userDetails.first_name" placeholder="First Name">
                            <span class="form-control-feedback" ng-show="userDetailView.userDetails.first_name.length" ng-class="!ctrpbtn.userDetail_form.needsAttention(userDetail_form.first_name) ? 'glyphicon glyphicon-ok glyphicon-green' : 'glyphicon glyphicon-exclamation-sign glyphicon-red'"></span>
                            <span class="help-block" ng-show="userDetail_form.first_name.$error.required">First Name is Required</span>
                        </div>
                    </div>

                    <div class="form-group has-feedback required" ng-class="{'has-error': ctrpbtn.userDetail_form.needsAttention(userDetail_form.last_name)}">
                        <label class="control-label col-xs-12 col-sm-3">Last Name</label>
                        <div class="col-xs-12 col-sm-6">
                            <input type="text" class="form-control input-sm" name="last_name" required ng-model="userDetailView.userDetails.last_name" placeholder="Last Name">
                            <span class="form-control-feedback" ng-show="userDetailView.userDetails.last_name.length" ng-class="!ctrpbtn.userDetail_form.needsAttention(userDetail_form.last_name) ? 'glyphicon glyphicon-ok glyphicon-green' : 'glyphicon glyphicon-exclamation-sign glyphicon-red'"></span>
                            <span class="help-block" ng-show="userDetail_form.last_name.$error.required">Last Name is Required</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-12 col-sm-3">Middle Name:</label>
                        <div class="col-xs-12 col-sm-6">
                            <input type="text" class="form-control input-sm" ng-model="userDetailView.userDetails.middle_name" placeholder="Middle Name">
                        </div>
                    </div>

                    <div class="form-group has-feedback required" ng-class="{'has-error': ctrpbtn.userDetail_form.needsAttention(userDetail_form.street_address)}">
                        <label class="control-label col-xs-12 col-sm-3">Street Address:</label>
                        <div class="col-xs-12 col-sm-6">
                            <input type="text" class="form-control input-sm" name="street_address" required ng-model="userDetailView.userDetails.street_address" placeholder="Street Address">
                            <span class="form-control-feedback" ng-show="userDetailView.userDetails.street_address.length" ng-class="!ctrpbtn.userDetail_form.needsAttention(userDetail_form.street_address) ? 'glyphicon glyphicon-ok glyphicon-green' : 'glyphicon glyphicon-exclamation-sign glyphicon-red'"></span>
                            <span class="help-block" ng-show="userDetail_form.street_address.$error.required">Street Address is Required</span>
                        </div>
                    </div>
                    <div class="form-group has-feedback required" ng-class="{'has-error': ctrpbtn.userDetail_form.needsAttention(userDetail_form.country)}">
                        <label for="country" class="control-label col-xs-12 col-sm-3">Country:</label>
                        <div class="col-xs-12 col-sm-6">
                            <select class="form-control input-sm" id="country"
                                    ng-model="userDetailView.userDetails.country"
                                    ng-change="userDetailView.watchCountrySelection(userDetailView.userDetails.country)" name="country" required>
                                <option value="" ng-selected="userDetailView.userDetails.country == ''">Select a country</option>
                                <option ng-repeat="country in userDetailView.countriesArr track by $index" value="{{country.name}}" ng-selected="userDetailView.userDetails.country == country.name">{{country.name}}</option>
                            </select>
                            <span class="form-control-feedback select-feedback" ng-show="userDetailView.userDetails.country.length" ng-class="!ctrpbtn.userDetail_form.needsAttention(userDetail_form.country) ? 'glyphicon glyphicon-ok glyphicon-green' : 'glyphicon glyphicon-exclamation-sign glyphicon-red'"></span>
                            <span class="help-block" ng-show="userDetail_form.country.$invalid">Country is Required</span>
                        </div>
                    </div>

                    <div class="form-group has-feedback required" ng-class="{'has-error': userDetailView.states.length && ctrpbtn.userDetail_form.needsAttention(userDetail_form.state)}">
                        <label for="state" class="control-label col-xs-12 col-sm-3">State:</label>
                        <div class="col-xs-12 col-sm-6">
                            <select class="form-control input-sm" name="state" id="state" required ng-model="userDetailView.userDetails.state" ng-disabled="!userDetailView.states.length">
                                <option value="" ng-selected="userDetailView.userDetails.state == ''">Select a state or province</option>
                                <option ng-repeat="state in userDetailView.states track by $index" value="{{state.name}}" ng-selected="state.name== userDetailView.userDetails.state">{{state.name}}</option>
                            </select>
                            <span class="form-control-feedback select-feedback" ng-show="userDetailView.userDetails.state.length && userDetailView.states.length" ng-class="!(ctrpbtn.userDetail_form.needsAttention(userDetail_form.state) && userDetailView.states.length) ? 'glyphicon glyphicon-ok glyphicon-green' : 'glyphicon glyphicon-exclamation-sign glyphicon-red'"></span>
                            <span class="help-block" ng-show="userDetail_form.state.$invalid && userDetailView.states.length">State/Province is Required</span>
                        </div>
                    </div>

                    <div class="form-group has-feedback required" ng-class="{'has-error': ctrpbtn.userDetail_form.needsAttention(userDetail_form.city) || ctrpbtn.userDetail_form.needsAttention(userDetail_form.zipcode)}">
                        <label class="control-label col-xs-12 col-sm-3">City:</label>
                        <div class="col-xs-12 col-sm-3">
                            <input name="city" type="text" class="form-control input-sm" required ng-model="userDetailView.userDetails.city" placeholder="City">
                            <span class="form-control-feedback" ng-show="userDetailView.userDetails.city.length" ng-class="!ctrpbtn.userDetail_form.needsAttention(userDetail_form.city) ? 'glyphicon glyphicon-ok glyphicon-green' : 'glyphicon glyphicon-exclamation-sign glyphicon-red'"></span>
                            <span class="help-block" ng-show="userDetail_form.city.$error.required">City is Required</span>
                        </div>
                        <label class="control-label col-xs-12 col-sm-1">Zip Code:</label>
                        <div class="col-xs-12 col-sm-2">
                            <input name="zipcode" type="text" class="form-control input-sm" required ng-model="userDetailView.userDetails.zipcode" placeholder="zipcode">
                            <span class="form-control-feedback" ng-show="userDetailView.userDetails.zipcode.length" ng-class="!ctrpbtn.userDetail_form.needsAttention(userDetail_form.zipcode) ? 'glyphicon glyphicon-ok glyphicon-green' : 'glyphicon glyphicon-exclamation-sign glyphicon-red'"></span>
                            <span class="help-block" ng-show="userDetail_form.zipcode.$error.required">Zipcode/Postal Code is Required</span>
                        </div>
                    </div>

                    <div class="form-group has-feedback required" ng-class="{'has-error': ctrpbtn.userDetail_form.needsAttention(userDetail_form.email) || ctrpbtn.userDetail_form.needsAttention(userDetail_form.phone)}">
                        <label class="control-label col-xs-12 col-sm-3">Email:</label>
                        <div class="col-xs-12 col-sm-3">
                            <input name="email" type="text" class="form-control input-sm" required ng-model="userDetailView.userDetails.email" placeholder="email">
                            <span class="form-control-feedback" ng-show="userDetailView.userDetails.email.length" ng-class="!ctrpbtn.userDetail_form.needsAttention(userDetail_form.email) ? 'glyphicon glyphicon-ok glyphicon-green' : 'glyphicon glyphicon-exclamation-sign glyphicon-red'"></span>
                            <span class="help-block" ng-show="userDetail_form.email.$error.required">Email is Required</span>
                        </div>
                        <label class="control-label col-xs-12 col-sm-1">Phone:</label>
                        <div class="col-xs-12 col-sm-2">
                            <input name="phone" type="text" class="form-control input-sm" required ng-model="userDetailView.userDetails.phone" placeholder="Phone">
                            <span class="form-control-feedback" ng-show="userDetailView.userDetails.phone.length" ng-class="!ctrpbtn.userDetail_form.needsAttention(userDetail_form.phone) ? 'glyphicon glyphicon-ok glyphicon-green' : 'glyphicon glyphicon-exclamation-sign glyphicon-red'"></span>
                            <span class="help-block" ng-show="userDetail_form.phone.$error.required">Phone is Required</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-12 col-sm-3">Receive Email Notifications?:</label>
                        <div class="col-xs-12 col-sm-6">
                            <label class="radio-inline control-label">
                                <input type="radio" name="receive_email_notifications" ng-value="true" id="email_notification_1" ng-model="userDetailView.userDetails.receive_email_notifications"> Yes
                            </label>
                            <label class="radio-inline control-label">
                                <input type="radio" name="receive_email_notifications" ng-value="false" id="email_notification_2" ng-model="userDetailView.userDetails.receive_email_notifications"> No
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-12 col-sm-3">PRS Organization Name:</label>
                        <div class="col-xs-12 col-sm-6">
                            <input type="text" class="form-control input-sm" ng-model="userDetailView.userDetails.prs_organization_name" placeholder="PRS Organization name">
                        </div>
                    </div>

                    <div class="form-group has-feedback required" ng-class="{'has-error': !userDetailView.selectedOrgsArray.length}">
                        <label class="control-label col-xs-12 col-sm-3">Affiliated Organization:</label>
                        <div class="col-xs-12 col-sm-4">
                            <input class="form-control input-sm" type="text" id="lead_org" name="lead_organization" ng-model="userDetailView.selectedOrgsArray[userDetailView.selectedOrgsArray.length-1].name" disabled class="form-control input-sm" placeholder="Affiliated Organization" ng-required="true">
                        </div>
                        <ctrp-org-adv-search-modal-button class="col-xs-12 col-sm-3"  max-row-selectable="1" use-built-in-template="false" allow-overwrite="false" selected-orgs-array="userDetailView.selectedOrgsArray"></ctrp-org-adv-search-modal-button>
                    </div>

                    <div class="form-group no-bottom-margin">
                        <div class="col-xs-12 col-sm-3"></div>
                        <div class="btn-toolbar col-xs-12 col-sm-6">
                            <a class="hand-hover pull-left"
                               ng-if="userDetailView.userRole !== 'ROLE_SUPER' && userDetailView.userRole !== 'ROLE_ADMIN' && userDetailView.userRole !== 'ROLE_SITE-SU'"
                               ng-click="userDetailView.userRequestAdmin({username : userDetailView.userDetails.username})">Request for Admin Access</a>
                            <button type="button" class="btn btn-primary pull-right" id="save_btn"
                                    ng-click="userDetailView.showValidation = true"
                                    ctrp-confirm ctrp-click="userDetailView.validateSave()"
                                    ng-attr-confirm-off="{{userDetailView.confirmSave()}}"
                                    confirm-msg="{{userDetailView.confirmMsg}}">
                                <i class="glyphicon glyphicon-ok"></i>  Save
                            </button>

                            <button type="button" class="btn btn-warning pull-right" ng-click="userDetailView.reset()">
                                <i class="glyphicon glyphicon-remove"></i> Reset
                            </button>
                        </div>
                    </div>
                </fieldset>
            </form>

            <div class="form-group" ng-if="userDetailView.gridOptions.data.length > 0">
                <div class="btn-toolbar col-xs-12 col-sm-12"><h4>Trials owned by {{userDetailView.userDetails.first_name}} {{userDetailView.userDetails.last_name}}:</h4></div>
                <div class="btn-toolbar col-xs-12 col-sm-12">

                    <!-- list of Users -->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row animated-item">
                                <div ui-grid="userDetailView.gridOptions"  ng-class="{'ui-grid-hide-left': !userDetailView.isCurationEnabled}"
                                     ui-grid-pagination="" ui-grid-selection ui-grid-exporter ui-grid-move-columns class="grid"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row top-offset-xs" ng-if="userDetailView.gridOptions.totalItems != null"></div>
                    <div class="row top-offset-xs"></div>

                </div>
            </div>
        </div>
        <div class="row top-offset-xs"></div>
    </div>
</div>
<modal visible="userDetailView.showSelectedTrialsModal" title="Transfer Ownership Selected Trials" id="transferTrialsfff">
    <ctrptransferselect options="userDetailView.userOptions"> </ctrptransferselect>
</modal>

<modal visible="userDetailView.chooseTransferTrials" title="Inactivate User and Transfer Ownership?" id="transferInactiveUserTrials">
    <div id="chooseTransferTrials">The trial(s) owned by this user will need to be reassigned to a new owner.</div>
    <div class="row modal-footer">
        <div class="btn-toolbar col-xs-12 col-sm-12">
            <div class="col-xs-12 col-sm-6">
                <button type="button" class="btn btn-primary pull-right" id="withoutTransOwn"
                    ng-click="userDetailView.saveWithoutTransfer()"><i class="glyphicon glyphicon-ok"></i>  Save without Transferring ownership
                </button>
            </div>
            <div class="col-xs-12 col-sm-6">
                <button type="button" class="btn btn-primary pull-right"  id="withTransOwn"
                    ng-click="userDetailView.transferAllUserTrials()"><i class="glyphicon glyphicon-ok"></i>  Transfer ownership
                </button>
            </div>
        </div>
    </div>
</modal>

<modal visible="userDetailView.showAllTrialsModal" title="Transfer Ownership All Trials" id="transferTrials">
    <ctrptransferselect options="userDetailView.userOptions"> </ctrptransferselect>
</modal>