<div class="row">
    <form class="form form-horizontal" role="form" name="interventions_lookup_form">
        <div class="row">
            <div class="col-xs-7">
                <div class="form-group">
                    <label for="intervention_name" class="control-label col-xs-12 col-sm-3">Intervention Name: </label>
                    <div class="col-xs-12 col-sm-6">
                        <input type="text" id="intervention_name" name="intervention_name" class="form-control input-sm" placeholder="Intervention Name" ng-model="interventionsLookupView.searchParams.name" auto-focus/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 col-sm-9 col-sm-offset-3">
                        <div class="col-xs-12 col-sm-4">
                            <label for="onhold">
                                <input type="checkbox" id="onhold" ng-model="interventionsLookupView.searchParams.include_synonyms"> Include Synonym
                            </label>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <label for="checkout">
                                <input type="checkbox" id="checkout" ng-model="interventionsLookupView.searchParams.exact"> Exact Match Only
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-4">
                <div class="btn-toolbar">
                    <button type="submit" class="btn btn-primary pull-right" id="submission_btn" ng-click="interventionsLookupView.lookupInterventions(interventionsLookupView.searchParams)">
                        <i class="glyphicon glyphicon-search"></i> Search
                    </button>
                    <button class="btn btn-warning pull-right" id="reset_btn" ng-click="interventionsLookupView.resetSearch()">
                        <i class="glyphicon glyphicon-remove"></i> Clear
                    </button>
                </div>
            </div>
        </div>
        <div class="row" ng-hide="interventionsLookupView.searchResults.total == -1">
            <strong>Intervention Lookup Results: {{interventionsLookupView.searchResults.total}}</strong>
            <div style="width: 100%; height: 400px;"
                 ag-grid="interventionsLookupView.gridOptions"
                 class="ag-fresh ag-basic">
            </div>
        </div>
    </form>
</div>
