<div class="row">
    <div class="col-xs-12 drop-shadow">
        <div class="row">
            <h4>View Trial</h4>
        </div>
        <div class="row">
            <form class="form form-horizontal" role="form">
                <h5 class="border-bottom">Amendment Details:</h5>

                <div ng-if="viewTrialView.curTrial.last_amendment_num" class="form-group">
                    <label class="control-label col-xs-12 col-sm-3">Amendment Number:</label>
                    <div class="col-xs-12 col-sm-6 form-text">
                        {{viewTrialView.curTrial.last_amendment_num}}
                    </div>
                </div>

                <div ng-if="viewTrialView.curTrial.last_amendment_date" class="form-group">
                    <label class="control-label col-xs-12 col-sm-3">Amendment Date:</label>
                    <div class="col-xs-12 col-sm-6 form-text">
                        {{viewTrialView.curTrial.last_amendment_date}}
                    </div>
                </div>

                <h5 class="border-bottom">Trial Identifiers:</h5>

                <div ng-if="viewTrialView.curTrial.lead_protocol_id" class="form-group">
                    <label class="control-label col-xs-12 col-sm-3">Lead Organization Trial Identifier:</label>
                    <div class="col-xs-12 col-sm-6 form-text">
                        {{viewTrialView.curTrial.lead_protocol_id}}
                    </div>
                </div>

                <div ng-if="viewTrialView.curTrial.nci_id" class="form-group">
                    <label class="control-label col-xs-12 col-sm-3">NCI ID:</label>
                    <div class="col-xs-12 col-sm-6 form-text">
                        {{viewTrialView.curTrial.nci_id}}
                    </div>
                </div>

                <div ng-if="viewTrialView.curTrial.other_ids.length > 0" class="form-group">
                    <label class="control-label col-xs-12 col-sm-3">Other Trial Identifier:</label>
                    <div class=" col-xs-12 col-sm-6">
                        <table class="table table-bordered table-striped table-condensed">
                            <thead>
                                <th>Protocol ID Type</th>
                                <th>Protocol ID</th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="otherId in viewTrialView.curTrial.other_ids track by $index">
                                    <td class="col-md-6 protocol-id-origin">{{otherId.protocol_id_origin.name}}</td>
                                    <td class="col-md-6 protocol-id">{{otherId.protocol_id}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <h5 class="border-bottom">Trial Details:</h5>

                <div ng-if="viewTrialView.curTrial.official_title" class="form-group">
                    <label class="control-label col-xs-12 col-sm-3">Official Title:</label>
                    <div class="col-xs-12 col-sm-6 form-text">
                        {{viewTrialView.curTrial.official_title}}
                    </div>
                </div>

                <div ng-if="viewTrialView.curTrial.phase" class="form-group">
                    <label class="control-label col-xs-12 col-sm-3">Phase:</label>
                    <div class="col-xs-12 col-sm-6 form-text">
                        {{viewTrialView.curTrial.phase.name}}
                    </div>
                </div>

                <div ng-if="viewTrialView.curTrial.pilot" class="form-group">
                    <label class="control-label col-xs-12 col-sm-3">Pilot?</label>
                    <div class="col-xs-12 col-sm-6 form-text">
                        {{viewTrialView.curTrial.pilot}}
                    </div>
                </div>

                <div ng-if="viewTrialView.curTrial.research_category" class="form-group">
                    <label class="control-label col-xs-12 col-sm-3">Research Category:</label>
                    <div class="col-xs-12 col-sm-6 form-text">
                        {{viewTrialView.curTrial.research_category.name}}
                    </div>
                </div>

                <div ng-if="viewTrialView.curTrial.primary_purpose" class="form-group">
                    <label class="control-label col-xs-12 col-sm-3">Primary Purpose:</label>
                    <div class="col-xs-12 col-sm-6 form-text">
                        {{viewTrialView.curTrial.primary_purpose.name}}
                    </div>
                </div>

                <div ng-if="viewTrialView.curTrial.primary_purpose_other" class="form-group">
                    <label class="control-label col-xs-12 col-sm-3">Describe "Other" Primary Purpose:</label>
                    <div class="col-xs-12 col-sm-6 form-text">
                        {{viewTrialView.curTrial.primary_purpose_other}}
                    </div>
                </div>

                <div ng-if="viewTrialView.curTrial.secondary_purpose" class="form-group">
                    <label class="control-label col-xs-12 col-sm-3">Secondary Purpose:</label>
                    <div class="col-xs-12 col-sm-6 form-text">
                        {{viewTrialView.curTrial.secondary_purpose.name}}
                    </div>
                </div>

                <div ng-if="viewTrialView.curTrial.primary_purpose_other" class="form-group">
                    <label class="control-label col-xs-12 col-sm-3">Describe "Other" Secondary Purpose:</label>
                    <div class="col-xs-12 col-sm-6 form-text">
                        {{viewTrialView.curTrial.secondary_purpose_other}}
                    </div>
                </div>

                <div ng-if="viewTrialView.curTrial.accrual_disease_term" class="form-group">
                    <label class="control-label col-xs-12 col-sm-3">Accrual Disease Terminology:</label>
                    <div class="col-xs-12 col-sm-6 form-text">
                        {{viewTrialView.curTrial.accrual_disease_term.name}}
                    </div>
                </div>

                <h5 class="border-bottom">Lead Organization/Principal Investigator:</h5>

                <div ng-if="viewTrialView.curTrial.lead_org" class="form-group">
                    <label class="control-label col-xs-12 col-sm-3">Lead Organization:</label>
                    <div class="col-xs-12 col-sm-6 form-text">
                        {{viewTrialView.curTrial.lead_org.name}}
                    </div>
                </div>

                <div ng-if="viewTrialView.curTrial.pi" class="form-group">
                    <label class="control-label col-xs-12 col-sm-3">Principal Investigator:</label>
                    <div class="col-xs-12 col-sm-6 form-text">
                        {{viewTrialView.curTrial.pi.lname + ', ' + viewTrialView.curTrial.pi.fname}}
                    </div>
                </div>

                <h5 class="border-bottom">Sponsor:</h5>

                <div ng-if="viewTrialView.curTrial.sponsor" class="form-group">
                    <label class="control-label col-xs-12 col-sm-3">Sponsor:</label>
                    <div class="col-xs-12 col-sm-6 form-text">
                        {{viewTrialView.curTrial.sponsor.name}}
                    </div>
                </div>

                <h5 class="border-bottom">Data Table 4 Information:</h5>

                <div ng-repeat="funding_source in viewTrialView.curTrial.funding_sources track by $index" class="form-group">
                    <label class="control-label col-xs-12 col-sm-3"><span ng-if="$index == 0">Data Table 4 Funding Source:</span></label>
                    <div class="col-xs-12 col-sm-6 form-text">
                        {{funding_source.name}}
                    </div>
                </div>

                <div ng-if="viewTrialView.curTrial.program_code" class="form-group">
                    <label class="control-label col-xs-12 col-sm-3">Program Code:</label>
                    <div class="col-xs-12 col-sm-6 form-text">
                        {{viewTrialView.curTrial.program_code}}
                    </div>
                </div>

                <h5 class="border-bottom">NIH Grant Information (for NIH funded Trials):</h5>

                <div ng-if="viewTrialView.curTrial.grants.length > 0" class="form-group">
                    <label class="control-label col-xs-12 col-sm-3"></label>
                    <div class=" col-xs-12 col-sm-7">
                        <table class="table table-bordered table-striped table-condensed">
                            <thead>
                                <th>Funding Mechanism</th>
                                <th>Institute Code</th>
                                <th>Serial Number</th>
                                <th>NCI Division/Program Code</th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="grant in viewTrialView.curTrial.grants track by $index">
                                    <td class="col-md-3">{{grant.funding_mechanism}}</td>
                                    <td class="col-md-2">{{grant.institute_code}}</td>
                                    <td class="col-md-3">{{grant.serial_number}}</td>
                                    <td class="col-md-4">{{grant.nci}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <h5 class="border-bottom">Trial Status:</h5>

                <div ng-if="viewTrialView.curTrial.current_trial_status" class="form-group">
                    <label class="control-label col-xs-12 col-sm-3">Current Trials Status:</label>
                    <div class="col-xs-12 col-sm-6 form-text">
                        {{viewTrialView.curTrial.current_trial_status}}
                    </div>
                </div>

                <div ng-if="viewTrialView.curTrial.current_trial_why_stopped" class="form-group">
                    <label class="control-label col-xs-12 col-sm-3">Why the Study Stopped:</label>
                    <div class="col-xs-12 col-sm-6 form-text">
                        {{viewTrialView.curTrial.current_trial_why_stopped}}
                    </div>
                </div>

                <div ng-if="viewTrialView.curTrial.current_trial_status_date" class="form-group">
                    <label class="control-label col-xs-12 col-sm-3">Current Trials Status Date:</label>
                    <div class="col-xs-12 col-sm-6 form-text">
                        {{viewTrialView.curTrial.current_trial_status_date}}
                    </div>
                </div>

                <h5 class="border-bottom">Trial Dates:</h5>

                <div ng-if="viewTrialView.curTrial.start_date" class="form-group">
                    <label class="control-label col-xs-12 col-sm-3">Trial Start Date:</label>
                    <div class="col-xs-12 col-sm-6 form-text">
                        {{viewTrialView.curTrial.start_date}} {{viewTrialView.curTrial.start_date_qual}}
                    </div>
                </div>

                <div ng-if="viewTrialView.curTrial.primary_comp_date" class="form-group">
                    <label class="control-label col-xs-12 col-sm-3">Primary Completion Date:</label>
                    <div class="col-xs-12 col-sm-6 form-text">
                        {{viewTrialView.curTrial.primary_comp_date}} {{viewTrialView.curTrial.primary_comp_date_qual}}
                    </div>
                </div>

                <div ng-if="viewTrialView.curTrial.comp_date" class="form-group">
                    <label class="control-label col-xs-12 col-sm-3">Completion Date:</label>
                    <div class="col-xs-12 col-sm-6 form-text">
                        {{viewTrialView.curTrial.comp_date}} {{viewTrialView.curTrial.comp_date_qual}}
                    </div>
                </div>

                <h5 class="border-bottom">FDA IND/IDE Information for applicable trials:</h5>

                <div ng-if="viewTrialView.curTrial.ind_ides.length > 0" class="form-group">
                    <label class="control-label col-xs-12 col-sm-3"></label>
                    <div class=" col-xs-12 col-sm-8">
                        <table class="table table-bordered table-striped table-condensed">
                            <thead>
                                <th>IND/IDE Types</th>
                                <th>IND/IDE Number</th>
                                <th>IND/IDE Grantor</th>
                                <th>IND/IDE Holder Type</th>
                                <th>NIH Institution, NCI Division/Program Code (if applicable)</th>
                            </thead>
                            <tbody>
                            <tr ng-repeat="indIde in viewTrialView.curTrial.ind_ides track by $index">
                                <td class="col-md-2">{{indIde.ind_ide_type}}</td>
                                <td class="col-md-2">{{indIde.ind_ide_number}}</td>
                                <td class="col-md-2">{{indIde.grantor}}</td>
                                <td class="col-md-3">{{indIde.holder_type.name}}</td>
                                <td class="col-md-3">{{indIde.nih_nci}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <h5 class="border-bottom">Regulatory Information:</h5>

                <div ng-if="viewTrialView.curTrial.oversight_authorities.length > 0" class="form-group">
                    <label class="control-label col-xs-12 col-sm-3">Trial Oversight Authority:</label>
                    <div class=" col-xs-12 col-sm-6">
                        <table class="table table-bordered table-striped table-condensed">
                            <thead>
                                <th>Country</th>
                                <th>Organization</th>
                            </thead>
                            <tbody>
                            <tr ng-repeat="authority in viewTrialView.curTrial.oversight_authorities track by $index">
                                <td class="col-md-5">{{authority.country}}</td>
                                <td class="col-md-7">{{authority.organization}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div ng-if="viewTrialView.curTrial.intervention_indicator" class="form-group">
                    <label class="control-label col-xs-12 col-sm-3">FDA Regulated Intervention Indicator:</label>
                    <div class="col-xs-12 col-sm-6 form-text">
                        {{viewTrialView.curTrial.intervention_indicator}}
                    </div>
                </div>

                <div ng-if="viewTrialView.curTrial.sec801_indicator" class="form-group">
                    <label class="control-label col-xs-12 col-sm-3">Section 801 Indicator:</label>
                    <div class="col-xs-12 col-sm-6 form-text">
                        {{viewTrialView.curTrial.sec801_indicator}}
                    </div>
                </div>

                <div ng-if="viewTrialView.curTrial.data_monitor_indicator" class="form-group">
                    <label class="control-label col-xs-12 col-sm-3">Data Monitoring Committee Appointed Indicator:</label>
                    <div class="col-xs-12 col-sm-6 form-text">
                        {{viewTrialView.curTrial.data_monitor_indicator}}
                    </div>
                </div>

                <h5 class="border-bottom">Trial Related Documents:</h5>

                <div ng-repeat="document in viewTrialView.curTrial.trial_documents track by $index" ng-if="document.document_type == 'Protocol Document' && document.is_latest" class="form-group">
                    <label class="control-label col-xs-12 col-sm-3">Protocol Document:</label>
                    <div class="col-xs-12 col-sm-9 form-text">
                        <a href="{{viewTrialView.downloadBaseUrl}}/{{document.id}}">{{document.file_name}}</a>
                    </div>
                </div>

                <div ng-repeat="document in viewTrialView.curTrial.trial_documents track by $index" ng-if="document.document_type == 'Change Memo Document' && document.is_latest" class="form-group">
                    <label class="control-label col-xs-12 col-sm-3">Change Memo Document:</label>
                    <div class="col-xs-12 col-sm-9 form-text">
                        <a href="{{viewTrialView.downloadBaseUrl}}/{{document.id}}">{{document.file_name}}</a>
                    </div>
                </div>

                <div ng-repeat="document in viewTrialView.curTrial.trial_documents track by $index" ng-if="document.document_type == 'Protocol Highlighted Document' && document.is_latest" class="form-group">
                    <label class="control-label col-xs-12 col-sm-3">Protocol Highlighted Document:</label>
                    <div class="col-xs-12 col-sm-9 form-text">
                        <a href="{{viewTrialView.downloadBaseUrl}}/{{document.id}}">{{document.file_name}}</a>
                    </div>
                </div>

                <div ng-repeat="document in viewTrialView.curTrial.trial_documents track by $index" ng-if="document.document_type == 'IRB Approval' && document.is_latest" class="form-group">
                    <label class="control-label col-xs-12 col-sm-3">IRB Approval:</label>
                    <div class="col-xs-12 col-sm-9 form-text">
                        <a href="{{viewTrialView.downloadBaseUrl}}/{{document.id}}">{{document.file_name}}</a>
                    </div>
                </div>

                <div ng-repeat="document in viewTrialView.curTrial.trial_documents track by $index" ng-if="document.document_type == 'List of Participating Sites' && document.is_latest" class="form-group">
                    <label class="control-label col-xs-12 col-sm-3">List of Participating Sites:</label>
                    <div class="col-xs-12 col-sm-9 form-text">
                        <a href="{{viewTrialView.downloadBaseUrl}}/{{document.id}}">{{document.file_name}}</a>
                    </div>
                </div>

                <div ng-repeat="document in viewTrialView.curTrial.trial_documents track by $index" ng-if="document.document_type == 'Informed Consent' && document.is_latest" class="form-group">
                    <label class="control-label col-xs-12 col-sm-3">Informed Consent Document:</label>
                    <div class="col-xs-12 col-sm-9 form-text">
                        <a href="{{viewTrialView.downloadBaseUrl}}/{{document.id}}">{{document.file_name}}</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
