<form class="form-horizontal" role="form">
    <!-- first row -->
    <div class="row">
        <div class="col-md-6">
            <!-- organization name -->
            <div class="form-group">
                <label for="organization_name" class="col-xs-12 col-sm-2 control-label">Name: </label>

                <div class="col-xs-12 col-sm-7">
                    <input type="text" id="organization_name" class="form-control"
                           placeholder="Organization Name" ng-model="searchParams.name" auto-focus/>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <div ng-class="searchParams.alias == true ? 'checkbox checkbox-info' : 'checkbox checkbox-circle'">
                        <label for="alias_search" class="btn btn-default">
                            <input type="checkbox" id="alias_search" id="name_alias"
                                   ng-change="searchOrgs()" ng-model="searchParams.alias"/> Search Alias
                        </label>
                    </div>
                </div>
            </div>
            <!-- organization name ends -->
        </div>
        <div class="col-md-6">
            <!-- PO ID -->
            <div class="form-group">
                <!-- ID used as ctrp_id here -->
                <label for="ctrp_id" class="control-label col-xs-12 col-sm-2">CTRP ID: </label>

                <div class="col-xs-12 col-sm-4">
                    <input type="text" id="ctrp_id" class="form-control" placeholder="PO ID"
                           ng-model="searchParams.ctrp_id"/>
                </div>

                <label for="phone" class="control-label col-xs-12 col-sm-2">Phone:</label>

                <div class="col-xs-12 col-sm-4 pull-right">
                    <input type="text" id="phone" class="form-control" placeholder="Phone"
                           ng-model="searchParams.phone"/>
                </div>
            </div>
            <!-- PO ID ends -->
        </div>
    </div>
    <!-- first row ends -->

    <!-- second row -->
    <div class="row">
        <div class="col-md-6">
            <!--source context-->
            <div class="form-group">
                <label for="source_id" class="control-label col-xs-12 col-sm-2">Source Context: </label>

                <div class="col-xs-12 col-sm-4">
                    <select class="form-control" id="source_context"
                            ng-model="searchParams.source_context"
                            ng-change="searchOrgs()">
                        <option value="">Select a context</option>
                        <option ng-repeat="context in sourceContexts" value="{{context.name}}">
                            {{context.name}}
                        </option>
                    </select>
                </div>
            <!-- source context ends -->
            <!--source id-->
                <label for="source_id" class="control-label col-xs-12 col-sm-2">Source ID: </label>

                <div class="col-xs-12 col-sm-4">
                    <input type="text" id="source_id" class="form-control" placeholder="Source ID"
                           ng-model="searchParams.source_id"/>
                </div>
            </div>
            <!-- source id ends -->
        </div>
        <div class="col-md-6">
            <!--source status-->
            <div class="form-group">
                <label for="source_status" class="control-label col-xs-12 col-sm-2">Source Status: </label>

                <div class="col-xs-12 col-sm-10">
                    <select class="form-control" id="source_status"
                            ng-model="searchParams.source_status"
                            ng-change="searchOrgs()">
                        <option value="">Select a status</option>
                        <option ng-repeat="status in sourceStatuses" value="{{status.name}}">
                            {{status.name}}
                        </option>
                    </select>
                </div>
            </div>
            <!-- source status ends -->
        </div>
    </div>
    <!--second row ends -->

    <!-- third row -->
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="address" class="control-label col-xs-12 col-sm-2">Address:</label>

                <div class="col-xs-12 col-sm-10">
                    <input type="text" id="address" class="form-control" placeholder="Address"
                           ng-model="searchParams.address"/>
                </div>
            </div>

        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="address2" class="control-label col-xs-12 col-sm-2">Address 2:</label>

                <div class="col-xs-12 col-sm-10">
                    <input type="text" id="address2" class="form-control" placeholder="Address 2"
                           ng-model="searchParams.address2"/>
                </div>
            </div>
        </div>
    </div>
    <!--third row ends -->


    <!-- fourth row -->
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="family_name" class="control-label col-xs-12 col-sm-2">Family Name:</label>

                <div class="col-xs-12 col-sm-10">
                    <input type="text" id="family_name" class="form-control" placeholder="Family Name"
                           ng-model="searchParams.family_name"/>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="email" class="control-label col-xs-12 col-sm-2">Email:</label>

                <div class="col-xs-12 col-sm-10">
                    <input type="text" id="email" class="form-control" placeholder="Email"
                           ng-model="searchParams.email"/>
                </div>
            </div>
        </div>
    </div>
    <!--fourth row ends -->

    <!-- fifth row -->
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="country" class="control-label col-xs-12 col-sm-2">Country:</label>

                <div class="col-xs-12 col-sm-10">
                    <select class="form-control" id="country" ng-model="searchParams.country"
                            ng-change="watchCountrySelection(searchParams.country)">
                        <option value="" selected>All countries</option>
                        <option ng-repeat="country in countries" value="{{country.name}}">
                            {{country.name}}
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label for="city" class="control-label col-xs-12 col-sm-2">City:</label>

                <div class="col-xs-12 col-sm-10">
                    <input type="text" id="city" class="form-control" placeholder="City"
                           ng-model="searchParams.city"/>
                </div>
            </div>
        </div>
    </div>
    <!--fifth row ends -->

    <!-- sixth row -->
    <div class="row">
        <div class="col-md-6">
            <div class="form-group" ng-hide="states.length == 0">
                <label for="state" class="control-label col-xs-12 col-sm-2">State:</label>

                <div class="col-xs-12 col-sm-10">
                    <select class="form-control" id="state" ng-model="searchParams.state_province"
                            ng-change="searchOrgs()">
                        <option value="">All states/provinces</option>
                        <option ng-repeat="state in states track by state.name"
                                value="{{state.name}}">{{state.name}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="postal_code" class="control-label col-xs-12 col-sm-2">Postal Code:</label>

                <div class="col-xs-12 col-sm-10">
                    <input type="text" id="postal_code" class="form-control" placeholder="Postal Code"
                           ng-model="searchParams.postal_code"/>
                </div>
            </div>
        </div>
    </div>
    <!-- sixth row ends -->

    <div class="row">
        <div class="form-group">
            <div class="col-sm-12 text-center">
                <button type="submit" class="btn btn-primary" id="submission_btn" ng-click="searchOrgs()">
                <i class="glyphicon glyphicon-search"></i> Search
                </button>

                <button type="reset" class="btn btn-danger" id="reset_btn"
                        ng-click="resetSearch()">
                    <i class="glyphicon glyphicon-remove"></i> Clear
                </button>
            </div>
        </div>
    </div>
</form>
<!--<strong>Search Parameters:</strong> {{searchParams}}-->

<!-- use the ui-grid to present the organization search results, if showgrid is set to 'true' -->
<div class="row" ng-show="showgrid">
    <div class="col-sm-12">
        <div class="row" ng-if="gridOptions.totalItems != null">
            <div class="col-sm-11">
                <a href="" id="org_search_results"></a>
                <p><h4>Organization Search Results: {{gridOptions.totalItems}} found</h4></p>
            </div>
        </div>
        <div class="row animated-item"  ng-if="gridOptions.data.length > 0">
            <div ng-if="enablerowselection" ui-grid="gridOptions" ui-grid-pagination ui-grid-selection class="grid"
             ui-grid-auto-resize
             style="height: {{gridHeight}}"></div>

            <!--<div ng-if="!enablerowselection" ui-grid="gridOptions" ui-grid-pagination class="grid" ui-grid-auto-resize-->
            <!--style="height: {{gridHeight}}"></div>-->
        </div>
    </div>
</div>