<form class="form-horizontal" role="form">

    <!-- first row -->
    <div class="row">
        <div class="col-md-6">
            <!-- person name -->
            <div class="form-group">
                <label for="person_fname" class="control-label col-sm-2">First Name: </label>
                <div class="col-sm-4">
                    <input type="text" id="person_fname" class="form-control"
                           placeholder="First Name"
                           ng-model="searchParams.fname" auto-focus/>
                </div>
                <label for="person_lname" class="control-label col-sm-2">Last Name: </label>

                <div class="col-sm-4">
                    <input type="text" id="person_lname" class="form-control"
                           placeholder="Last Name"
                           ng-model="searchParams.lname"/>
                </div>
            </div>
            <!-- person name ends -->
        </div>
        <div class="col-md-6">
            <!-- PO ID -->
            <div class="form-group">
                <!-- ID used as ctrp_id here -->
                <label for="ctrp_id" class="control-label col-sm-2">CTRP ID: </label>

                <div class="col-sm-10">
                    <input type="text" id="ctrp_id" class="form-control" placeholder="PO ID"
                           ng-model="searchParams.ctrp_id"/>
                </div>
            </div>
            <!-- PO ID ends -->
        </div>
    </div>
    <!-- first row ends -->

    <!-- second row -->
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <!--source context-->
                <label for="source_context" class="control-label col-sm-2">Source Context: </label>

                <div class="col-sm-4">
                    <select class="form-control" id="source_context"
                            ng-model="searchParams.source_context">
                        <option value="">Select a context</option>
                        <option ng-repeat="context in sourceContextArr" value="{{context.name}}">
                            {{context.name}}
                        </option>
                    </select>
                </div>
                <!--source context ends-->
                <!--source id-->
                <label for="source_id" class="control-label col-sm-2">Source ID: </label>

                <div class="col-sm-4">
                    <input type="text" id="source_id" class="form-control" placeholder="Source ID"
                           ng-model="searchParams.source_id"/>
                </div>
                <!-- source id ends -->
            </div>
        </div>
        <div class="col-md-6">
            <!--source status-->
            <div class="form-group">
                <label for="source_status" class="control-label col-sm-2">Source Status: </label>

                <div class="col-sm-10">
                    <select class="form-control" id="source_status"
                            ng-model="searchParams.source_status">
                        <option value="">Select a status</option>
                        <option ng-repeat="status in sourceStatusArr" value="{{status.name}}">
                            {{status.name}}
                        </option>
                    </select>
                </div>
            </div>
            <!-- source status ends -->
        </div>
    </div>
    <!--second row ends -->

    <!-- third row -->
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="prefix" class="control-label col-sm-2">Prefix:</label>

                <div class="col-sm-10">
                    <input type="text" id="prefix" class="form-control" placeholder="Prefix"
                           ng-model="searchParams.prefix"/>
                </div>
            </div>

        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="suffix" class="control-label col-sm-2">Suffix:</label>

                <div class="col-sm-10">
                    <input type="text" id="suffix" class="form-control" placeholder="Suffix"
                           ng-model="searchParams.suffix"/>
                </div>
            </div>
        </div>
    </div>
    <!--third row ends -->


    <!-- fourth row -->
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="email" class="control-label col-sm-2">Email:</label>

                <div class="col-sm-10">
                    <input type="text" id="email" class="form-control" placeholder="Email"
                           ng-model="searchParams.email"/>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="phone" class="control-label col-sm-2">Phone:</label>

                <div class="col-sm-10">
                    <input type="text" id="phone" class="form-control" placeholder="Phone"
                           ng-model="searchParams.phone"/>
                </div>
            </div>
        </div>
    </div>
    <!--fourth row ends -->

    <div class="row">
        <div class="form-group">
            <div class="col-sm-12 text-center">
                <button type="submit" class="btn btn-primary" ng-click="searchPeople()">
                    <i class="glyphicon glyphicon-search"></i> Search
                </button>

                <button type="reset" class="btn btn-default btn-danger" ng-click="resetSearch()">
                    <i class="glyphicon glyphicon-remove"></i> Clear
                </button>
            </div>
        </div>
    </div>
</form>

<!-- list of people -->
<div class="row">
    <div class="col-sm-12">
        <div class="row" ng-if="gridOptions.totalItems != null">
            <div class="col-sm-6">
                <!-- information section -->
                <a href="" id="people_search_results"></a>
                <p><h4>People Search Results: {{gridOptions.totalItems}} found</h4></p>
                <h5 ng-show="gridOptions.totalItems > 0">
                    <mark>Curation Mode: </mark>
                    <toggle-switch ng-model="curationShown"></toggle-switch>
                    <button class="btn" ng-click="commitNullification()" ng-show="curationShown"
                            ng-disabled="!curationReady"
                            ng-class="curationReady ? 'btn-danger' : 'btn-warning'">Commit Nullification</button>
                </h5>

            </div>
            <div class="col-sm-6">
                <div class="row">
                    <!-- TODO: add confirmation message of the two selected persons -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="alert alert-danger fade in" ng-show="warningMessage != false">
                <a href="" class="close" data-dismiss="alert">&times;</a>
                <strong>{{warningMessage}}</strong>
            </div>
            <!--<div class="alert alert-info fade in" ng-show="curationReady">
                <a href="" class="close" data-dismiss="alert">&times;</a>
                <strong>Please click the above Commit button to nullify the selected person</strong>
            </div>-->
        </div> <br />
        <div class="row animated-item" ng-if="gridOptions.data.length > 0">
            <div ui-grid="gridOptions" ui-grid-pagination ui-grid-selection class="grid"></div>
        </div>
    </div>

</div>