<div class="row-fluid">
    <script type="text/ng-template" id="delete_confirm_template.html">
        <div class="modal-header">
            <h3 class="modal-title">{{vm.modalTitle}}</h3>
        </div>
        <div class="modal-body">
            <div ng-show="vm.deletionStatus == ''">
                <strong>This will be a permanent deletion</strong>
            </div>
            <div ng-show="vm.deletionStatus != ''">
                <strong>{{vm.deletionStatus}}</strong>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="vm.ok()">Delete Now</button>
            <button class="btn btn-primary" ng-click="vm.cancel()">Cancel</button>
        </div>
    </script>

    <form class="form-horizontal" name="family_form" role="form" novalidate>
        <div class="form-group col-sm-12" ng-class="{'has-error' : family_form.name.$error.required && family_form.name.$dirty }">
            <label class="control-label col-sm-3">Family Name:</label>
            <div class="col-sm-9">
                <input type="text" name="name" class="form-control input-xs" ng-model="familyDetailView.curFamily.name" required>
                <p ng-show="family_form.name.$error.required && family_form.name.$dirty" class="help-inline">
                    Family name is required
                </p>
            </div>
        </div>
        <div class="form-group col-sm-12">
            <label class="control-label col-sm-3">Family Status:</label>
            <div class="col-sm-9">
                <select class="form-control" id="family_status" ng-model="familyDetailView.curFamily.family_status_id">
                    <option value="">Select a status</option>
                    <option ng-repeat="status in familyDetailView.familyStatusArr"
                            value="{{status.id}}" ng-selected="familyDetailView.curFamily.family_status_id == status.id">
                        {{status.name}}
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group col-sm-12">
            <label class="control-label col-sm-3">Family Type:</label>
            <div class="col-sm-9">
                <select class="form-control" id="family_type" ng-model="familyDetailView.curFamily.family_type_id">
                    <option value="">Select a status</option>
                    <option ng-repeat="type in familyDetailView.familyTypeArr"
                            value="{{type.id}}" ng-selected="familyDetailView.curFamily.family_type_id == type.id">
                        {{type.name}}
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group col-sm-12">
            <label class="control-label col-sm-3">Description:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control input-xs" ng-model="familyDetailView.curFamily.description">
            </div>
        </div>
        <div id="buttonBar" class="form-group col-sm-12">
            <div class="col-sm-offset-3 col-sm-9">
                <input type="submit" class="btn btn-success" ng-click="familyDetailView.updateFamily()"
                       ng-disabled="family_form.$invalid" value="Save">
                <input type="reset" class="btn btn-danger" value="Reset">
                <button ng-hide="familyDetailView.curFamily.new" class="btn btn-warning" ng-click="familyDetailView.confirmDelete('sm')">
                    Delete This Family
                </button>
            </div>
        </div>
    </form>
</div>