<div class="row-fluid">
    <script type="text/ng-template" id="delete_confirm_template.html">
        <div class="modal-header">
            <h3 class="modal-title">{{vm.modalTitle}}</h3>
        </div>
        <div class="modal-body">
            <div ng-show="vm.deletionStatus == ''">
                <strong>This will be a permanent deletion</strong>
            </div>
            <div ng-show="vm.deletionStatus != ''">
                <strong>{{vm.deletionStatus}}</strong>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="vm.ok()">Delete Now</button>
            <button class="btn btn-primary" ng-click="vm.cancel()">Cancel</button>
        </div>
    </script>

    <form class="form-horizontal" role="form" novalidate>
        <div class="form-group">
            <label class="control-label col-sm-3">Name:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control input-xs" ng-model="familyDetailView.curFamily.name" required>
            </div>
        </div>

        <div id="buttonBar" class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <input type="submit" class="btn btn-success" ng-click="familyDetailView.updateFamily()" value="Save">
                <input type="reset" class="btn btn-danger" value="Reset">
                <button ng-hide="familyDetailView.curFamily.new" class="btn btn-warning" ng-click="familyDetailView.confirmDelete('sm')">
                    Delete This Family
                </button>
            </div>
        </div>
    </form>
</div>