<footer class="footer">
    <div class="container center-block">
        <ul class="list-inline">
            <li><a href="http://www.hhs.gov/" onclick="NCIAnalytics.FooterLink(this, 'HHS');">U.S. Department of Health and Human Services</a></li>
            <li><a href="http://www.nih.gov" onclick="NCIAnalytics.FooterLink(this, 'NIH');">National Institutes of Health</a></li>
            <li><a href="/" onclick="NCIAnalytics.FooterLink(this, 'NCI');">National Cancer Institute</a></li>
            <li class="last"><a href="http://usa.gov" onclick="NCIAnalytics.FooterLink(this, 'USA.gov');">USA.gov</a></li>
        </ul>
        <div class="text-center">
            NIH ... Turning Discovery Into Health<sup>®</sup>
        </div>
    </div>
</footer>
