<div class="row">
    <div class="col-md-12">
        <hr/>
        <div class="row">
            <div class="col-md-6">
                <!--<p>© Copyright - CTRP NCI.</p>-->
            </div>
            <div class="col-md-6">
                <ul class="list-inline pull-right">
                    <li><a href="">Link 1</a>
                    </li>
                    <li><a href="">Link 2</a>
                    </li>
                    <li><a href="">Link 3</a>
                    </li>
                    <li><a href="">Link 4</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>