<div class="row">
    <div class="col-xs-12 col-border">
        <div class="row">
            <h4>Search Organizations
                <small>
                    <mark>* for wild card (e.g. university* for any university)</mark>
                </small>
            </h4>
        </div>
        <div class="row">
            <ctrp-advanced-org-search-form showgrid=true enablerowselection=true usedinmodal=false></ctrp-advanced-org-search-form>
        </div>
    </div>
</div>

<!--&lt;!&ndash; list of organizations &ndash;&gt;-->
<!--<div class="row">-->
<!--<p><h4>Organization Search Results:</h4></p>-->
<!--<div ui-grid="orgsView.gridOptions" ui-grid-pagination="" class="grid" ui-grid-auto-resize style="height: {{orgsView.gridHeight}}"></div>-->
<!--</div>-->