<div class="row-fluid">
    <script type="text/ng-template" id="delete_confirm_template.html">
        <div class="modal-header">
            <h3 class="modal-title">{{vm.modalTitle}}</h3>
        </div>
        <div class="modal-body">
            <div ng-show="vm.deletionStatus == ''">
                <strong>This will be a permanent deletion</strong>
            </div>
            <div ng-show="vm.deletionStatus != ''">
                <strong>{{vm.deletionStatus}}</strong>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" id="delete_btn" ng-click="vm.ok()">Delete Now</button>
            <button class="btn btn-primary" id="cancel_btn" ng-click="vm.cancel()">Cancel</button>
        </div>
    </script>

    <form class="form-horizontal" role="form" name="organization_form" novalidate>
        <div class="form-group col-sm-12" ng-class="{'has-error' : organization_form.name.$error.required && organization_form.name.$dirty }">
            <label class="control-label col-sm-3">Name:</label>
            <div class="col-sm-9">
            <input type="text" class="form-control input-xs" name="name" id="organization_name" ng-model="orgDetailView.curOrg.name" required>
                <p ng-show="organization_form.name.$error.required && organization_form.name.$dirty" class="help-inline">
                    Organization name is required
                </p>
            </div>
        </div>
        <!--<div class="form-group col-sm-12" ng-hide="orgDetailView.curOrg.new">-->
            <!--<label class="control-label col-sm-3">PO ID:</label>-->
            <!--<div class="col-sm-9">-->
                <!--<input type="text" class="form-control input-xs" id="organization_id" ng-model="orgDetailView.curOrg.id"-->
                       <!--ng-disabled="!orgDetailView.curOrg.new" required>-->
            <!--</div>-->
        <!--</div>-->
        <div class="form-group col-sm-12">
            <label class="control-label col-sm-3">Source:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control input-xs" id="source_id" ng-model="orgDetailView.curOrg.source_id">
            </div>
        </div>
        <div class="form-group col-sm-12">
            <label class="control-label col-sm-3">Source Status:</label>
            <div class="col-sm-9">
                <select class="form-control" id="source_status" ng-model="orgDetailView.curOrg.source_status_id">
                    <option value="">Select a status</option>
                    <option ng-repeat="status in orgDetailView.sourceStatusArr"
                            value="{{status.id}}" ng-selected="orgDetailView.curOrg.source_status_id == status.id">
                        {{status.name}}
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group col-sm-12">
            <label class="control-label col-sm-3">Address 1:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control input-xs" id="address"  ng-model="orgDetailView.curOrg.address">
            </div>
        </div>
        <div class="form-group col-sm-12">
            <label class="control-label col-sm-3">Address 2:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control input-xs" id="address2"  ng-model="orgDetailView.curOrg.address2">
            </div>
        </div>

        <div class="form-group col-sm-12">
            <label class="control-label col-sm-3">Country:</label>
            <div class="col-sm-9">
                <select class="form-control input-xs" id="country" ng-model="orgDetailView.curOrg.country"
                        ng-change="orgDetailView.watchCountrySelection(orgDetailView.curOrg.country)">
                    <option value="" ng-selected="orgDetailView.curOrg.country == ''">Select a country</option>
                    <option ng-repeat="country in orgDetailView.countriesArr track by $index" value="{{country.name}}"
                            ng-selected="orgDetailView.curOrg.country == country.name">{{country.name}}</option>
                </select>
            </div>
        </div>

        <div class="form-group col-sm-12" ng-hide="orgDetailView.curOrg.state_province == '' ||
                                                    orgDetailView.states.length == 0">
            <label class="control-label col-sm-3">State:</label>
            <div class="col-sm-9">
                <select class="form-control input-xs" id="state" ng-model="orgDetailView.curOrg.state_province">
                    <option value="" ng-selected="orgDetailView.curOrg.state_province == ''">Select a state or province</option>
                    <option ng-repeat="state in orgDetailView.states track by $index"
                            value="{{state.name}}" ng-selected="state.name == orgDetailView.curOrg.state_province">{{state.name}}
                    </option>
                </select>
            </div>
        </div>

        <div class="form-group col-sm-12">
            <label class="control-label col-sm-3">City:</label>
            <div class="col-sm-9">
                <input class="form-control" id="city" ng-model="orgDetailView.curOrg.city">
            </div>
        </div>

        <div class="form-group col-sm-12">
            <label class="control-label col-sm-3">Postal Code:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control input-xs" id="postal_code"  ng-model="orgDetailView.curOrg.postal_code"
                        placeholder="Postal Code">
            </div>
        </div>
        <div class="form-group col-sm-12">
            <label class="control-label col-sm-3">Email:</label>
            <div class="col-sm-9">
                <input type="email" class="form-control input-xs" id="email"  ng-model="orgDetailView.curOrg.email" type="email" placeholder="Email">
            </div>
        </div>
        <div class="form-group col-sm-12">
            <label class="control-label col-sm-3">Phone:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control input-xs" id="phone"  ng-model="orgDetailView.curOrg.phone" type="text" placeholder="Phone">
            </div>
        </div>
        <div class="form-group col-sm-12">
            <label class="control-label col-sm-3">Fax:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control input-xs" id="fax"  ng-model="orgDetailView.curOrg.fax" type="text" placeholder="Fax">
            </div>
        </div>

        <div id="buttonBar" class="form-group col-sm-12">
            <div class="col-sm-offset-3 col-sm-9">
                <input type="submit" class="btn btn-success" id="save_btn" ng-click="orgDetailView.updateOrg()" ng-disabled="organization_form.$invalid" value="Save">
                <input type="reset" class="btn btn-danger" id="reset_btn" value="Reset">
                <button ng-hide="orgDetailView.curOrg.new" class="btn btn-warning" id="confirm_btn" ng-click="orgDetailView.confirmDelete('sm')">
                    Delete This Organization
                </button>
            </div>
        </div>
    </form>
</div>