<div class="row-fluid">
    <script type="text/ng-template" id="delete_confirm_template.html">
        <div class="modal-header">
            <h3 class="modal-title">{{vm.modalTitle}}</h3>
        </div>
        <div class="modal-body">
            <div ng-show="vm.deletionStatus == ''">
                <strong>This will be a permanent deletion</strong>
            </div>
            <div ng-show="vm.deletionStatus != ''">
                <strong>{{vm.deletionStatus}}</strong>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="vm.ok()">Delete Now</button>
            <button class="btn btn-primary" ng-click="vm.cancel()">Cancel</button>
        </div>
    </script>

    <div class="col-xs-12 col-border">
        <div class="row">
            <p>
            <h4 ng-if="personDetailView.curPerson.new">
                <mark>Add a person</mark>
            </h4>
            </p>
            <p>
            <h4 ng-if="!personDetailView.curPerson.new">
                <mark>Edit the person</mark>
            </h4>
            </p>
        </div>
        <div class="row">
            <form class="form-horizontal" role="form" name="person_form" novalidate>
                <div class="form-group col-sm-12"
                     ng-class="{'has-error' : person_form.name.$error.required && person_form.name.$dirty }">
                    <label class="control-label col-sm-3">Name:</label>

                    <div class="col-sm-9">
                        <input type="text" name="name" class="form-control input-sm"
                               ng-model="personDetailView.curPerson.name" required>

                        <p ng-show="person_form.name.$error.required && person_form.name.$dirty" class="help-inline">
                            Name is required
                        </p>
                    </div>


                </div>
                <div class="form-group col-sm-12">
                    <label class="control-label col-sm-3">Source ID:</label>

                    <div class="col-sm-9">
                        <input type="text" class="form-control input-xs"
                               ng-model="personDetailView.curPerson.source_id">
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <label class="control-label col-sm-3">Source Status:</label>

                    <div class="col-sm-9">
                        <select class="form-control" id="source_status"
                                ng-model="personDetailView.curPerson.source_status_id">
                            <option value="">Select a status</option>
                            <option ng-repeat="status in personDetailView.sourceStatusArr"
                                    value="{{status.id}}"
                                    ng-selected="personDetailView.curPerson.source_status_id == status.id">
                                {{status.name}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <label class="control-label col-sm-3">Prefix:</label>

                    <div class="col-sm-9">
                        <input type="text" class="form-control input-xs" ng-model="personDetailView.curPerson.prefix">
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <label class="control-label col-sm-3">Suffix:</label>

                    <div class="col-sm-9">
                        <input type="text" class="form-control input-xs" ng-model="personDetailView.curPerson.suffix">
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <label class="control-label col-sm-3">Email:</label>

                    <div class="col-sm-9">
                        <input type="email" class="form-control input-xs" ng-model="personDetailView.curPerson.email"
                               type="email" placeholder="Email">
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <label class="control-label col-sm-3">Phone:</label>

                    <div class="col-sm-9">
                        <input type="text" class="form-control input-xs" ng-model="personDetailView.curPerson.phone"
                               type="text"
                               placeholder="Phone">
                    </div>
                </div>
                <div class="form-group col-sm-12" ng-show="personDetailView.advancedFormShown">
                    <button class="btn btn-default" ng-click="personDetailView.toggleAdvancedSearchForm()">Use simple search</button>
                    <ctrp-advanced-org-search-form showgrid=false></ctrp-advanced-org-search-form>
                </div>
                <div class="form-group col-sm-12">
                    <label for="po_affiliation_id" class="control-label col-sm-3">
                        Affiliated Organizations:
                    </label>

                    <div class="col-sm-9">
                        <div class="col-md-6 animated-item pull-left">
                            <button class="btn btn-default" ng-click="personDetailView.toggleAdvancedSearchForm()"
                                    ng-hide="personDetailView.advancedFormShown">Used advanced search</button>
                            <input type="text" class="form-control" id="po_affiliation_id"
                                   placeholder="Search organizations (* for wildcard)"
                                   ng-keyup="personDetailView.searchOrgs()"
                                   ng-model="personDetailView.orgsSearchParams.name" ng-hide="personDetailView.advancedFormShown"/>

                            <div ng-hide="personDetailView.foundOrgs.length == 0" class="animated-item">
                                <div class="btn-group buttons pull-right">
                                    <button class="btn moveall btn-default" title="Select all"
                                            ng-click="personDetailView.batchSelect('selectAll')">
                                        <i class="glyphicon glyphicon-arrow-right"></i>
                                        <i class="glyphicon glyphicon-arrow-right"></i>
                                    </button>
                                </div>
                                <select multiple="multiple" id="duallistbox" class="form-control"
                                        ng-model="personDetailView.selectedOrgs"
                                        style="height: 194px;">
                                    <option class="animated-item"
                                            ng-repeat="org in personDetailView.foundOrgs track by $index"
                                            value="{{org}}">
                                        {{org.name}}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6 animated-item pull-right"
                             ng-hide="personDetailView.savedSelection.length == 0">
                            <label style="display:none;"></label>
                            <input type="text" class="form-control" placeholder="Filter affiliated organizations"
                                   ng-model="personDetailView.selectedOrgFilter"/>

                            <div class="btn-toolbar">
                                <button class="btn moveall btn-default" title="Remove all"
                                        ng-click="personDetailView.batchSelect('removeAll')">
                                    <i class="glyphicon glyphicon-arrow-left"></i>
                                    <i class="glyphicon glyphicon-arrow-left"></i>
                                </button>

                            </div>
                            <table class="table table-bordered table-striped table-condensed">
                                <thead>
                                <th>Remove</th>
                                <th>PO ID</th>
                                <th>Organization</th>
                                <th>Effective Date</th>
                                <th>Expiration Date</th>
                                </thead>
                                <tbody>
                                <tr ng-repeat="org in personDetailView.savedSelection | filter: {'name': personDetailView.selectedOrgFilter} track by $index"
                                    ng-class="org._destroy == true ? 'deleted-text animated-item' : 'animated-item'">
                                    <td style="vertical-align: middle">
                                        <label class="btn btn-default"
                                               ng-click="personDetailView.toggleSelection($index)">
                                            <i ng-class="org._destroy == true ? 'glyphicon glyphicon-ok-circle' : 'glyphicon glyphicon-remove-circle'"></i>
                                        </label>
                                    </td>
                                    <td>{{org.id}}</td>
                                    <td>{{org.name}}</td>
                                    <td>
                                        <div class="input-group add-on col-sm-12 date datepicker"
                                             date-date-format="yyyy-mm-dd">
                                            <input type="text" class="form-control input-normal"
                                                   datepicker-popup="{{personDetailView.dateFormat}}"
                                                   ng-model="org.effective_date" is-open="org.opened_effective"
                                                   is-open="opened" datepicker-options="personDetailView.dateOptions"
                                                   ng-required="false" close-text="Close" ng-disabled="org._destroy"/>
                                  <span class="input-group-btn">
                                        <button type="button" class="btn btn-default"
                                                ng-click="personDetailView.openCalendar($event, $index, 'effective')"
                                                ng-disabled="org._destroy">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                  </span>

                                        </div>
                                    </td>
                                    <td>
                                        <div class="input-group add-on col-sm-12 date datepicker"
                                             date-date-format="yyyy-mm-dd">
                                            <input type="text" class="form-control"
                                                   datepicker-popup="{{personDetailView.dateFormat}}"
                                                   ng-model="org.expiration_date" is-open="org.opened_expiration"
                                                   is-open="opened" datepicker-options="personDetailView.dateOptions"
                                                   ng-required="false" close-text="Close" ng-disabled="org._destroy"/>
                                  <span class="input-group-btn">
                                        <button type="button" class="btn btn-default"
                                                ng-click="personDetailView.openCalendar($event, $index, 'expiration')"
                                                ng-disabled="org._destroy">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                  </span>

                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


                <div id="buttonBar" class="form-group col-sm-12">
                    <div class="col-sm-offset-3 col-sm-9">
                        <input type="submit" class="btn btn-success" ng-click="personDetailView.updatePerson()"
                               value="Save" ng-disabled="person_form.$invalid">
                        <input type="reset" class="btn btn-danger" value="Reset">
                        <button ng-hide="personDetailView.curPerson.new" class="btn btn-warning"
                                ng-click="personDetailView.confirmDelete('sm')">
                            Delete This Person
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>