<div class="col-sm-3">
    <div class="row pull-left">
        <div class="panel panel-default">
            <div class="panel-heading">Login</div>
            <div class="panel-body">
                <form class="form-horizontal" role="form" novalidate>
                    <!-- email -->
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="email">Email:</label>

                        <div class="col-sm-9">
                            <input type="email" class="form-control" id="email" placeholder="Email">
                        </div>
                    </div>
                    <!-- end of email -->

                    <!-- password -->
                    <div class="form-group">
                        <label class="control-label col-sm-3">Password:</label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control" id="password" placeholder="Password"/>
                        </div>
                    </div>
                    <!-- end of password -->
                    <!-- submit button -->
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-8">
                            <button type="button" class="btn btn-default">Go</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <!--      <div zf-tabs="" id="displaced-tabs" displaced="true">
                    <div zf-tab="" title="Tab 1">
                      Tab 1
                    </div>
                    <div zf-tab="" title="Tab 2">
                      Tab 2
                    </div>
                    <div zf-tab="" title="Tab 3">
                      Tab 3
                    </div>
                  </div>

                  <div zf-tab-content="" target="displaced-tabs">
                  </div>
                      -->
        </div>
    </div>

    <div class="row">
        <div class="panel panel-info">
            <div class="panel-heading">Featured</div>
            <div class="panel-body">
                <p>Blah blah blah blah blah ... blah blah blah blah ...</p>
                <a href="" class="">Read More →</a>
            </div>
        </div>
    </div>

</div>