

<div class="col-md-9" role="content">
    <div class="row">   <style>
        .pdsa-summary-block-primary {
            background-color: #428bca;
            color: #fff;
        }

        /* theme of summary blocks */
        .pdsa-summary-block-primary {
            background-color: #428bca;
            color: #fff;
        }

        .pdsa-summary-block-primary .summary-footer {
            background-color: deepskyblue;
            margin:0 auto;
        }

        .pdsa-summary-block-primary .summary-footer a {
            color: white;
            margin:0 auto;
        }

        /* for success */
        .pdsa-summary-block-success {
            background-color: #3c763d;
            color: #fff;
            margin:0 auto;
        }

        .pdsa-summary-block-success .summary-footer {
            background-color: green;
            margin:0 auto;
        }

        .pdsa-summary-block-success .summary-footer a {
            color: white;
            margin:0 auto;
        }


        /* for info */
        .pdsa-summary-block-info {
            background-color: #31708f;
            color: #fff;
            margin:0 auto;
        }

        .pdsa-summary-block-info .summary-footer {
            background-color: teal;
            margin:0 auto;
        }

        .pdsa-summary-block-info .summary-footer a {
            color: white;
            margin:0 auto;
        }



        /* for danger */
        .pdsa-summary-block-danger {
            background-color: #a94442;
            color: #fff;
            margin:0 auto;
        }

        .pdsa-summary-block-danger .summary-footer {
            background-color: red;
            margin:0 auto;
        }

        .pdsa-summary-block-danger .summary-footer a {
            color: white;
            margin:0 auto;
        }


        /* structure of summary blocks */
        .pdsa-summary-block {
            position: relative;
            width: 100%;
            margin: 0.3em;
            padding: 1em;
            min-height: 15em;

        }

        .pdsa-summary-block .summary-background i,
        .pdsa-summary-block .summary-background div {
            margin-left: -0.4em;
            margin-top: 0.1em;
            font-size: 8em;
            opacity: 0.3;
        }

        .pdsa-summary-block .summary-body {
            position: absolute;
            top: 1.3em;
            right: 0.8em;
        }

        .pdsa-summary-block .summary-body .summary-line1 {
            text-align: right;
            font-size: xx-large;
        }

        .pdsa-summary-block .summary-body .summary-line2 {
            text-align: right;
            font-size: medium;
        }

        .pdsa-summary-block .summary-footer {
            position: absolute;
            bottom: 0em;
            right: 0em;
            width: 100%;
            padding: 0.4em;
            font-weight: 300;
            text-transform: uppercase;
            font-size: small;
            opacity: 0.6;
        }

        .pdsa-summary-block .summary-footer a {
            text-decoration: none;
        }

        .pdsa-summary-block .summary-footer:hover {
            opacity: 1;
            cursor: pointer;
        }
    </style>

        <div class="container" align="center" margin:0 auto;>
            <div class="row">
                <div class="col-md-1">

                </div>
                <div class="col-md-8" align="center">

                    <div class="row" align="center">
                        <!-- left column -->
                        <div class="col-xs-12 col-sm-6" align="center">
                            <!-- summary block -->
                            <div class="pdsa-summary-block pdsa-summary-block-success"  align="center">
                                <div class="summary-background"  align="left">
                                    <i class="glyphicon glyphicon-tint"></i>
                                </div>
                                <div class="summary-body">

                                </div>
                                <div class="summary-footer">
                                    <a href="/ctrp/angular#/main/organizations">View Organization</a>
                                    <i class="glyphicon glyphicon-chevron-right pull-right"></i>
                                </div>
                            </div>
                            <!--end of summary block -->
                        </div>
                        <!-- end of left column -->

                        <!-- right column -->
                        <div class="col-xs-12 col-sm-6">
                            <!-- summary block -->
                            <div class="pdsa-summary-block pdsa-summary-block-primary">
                                <div class="summary-background" align = left>
                                    <i class="glyphicon glyphicon-tree-deciduous"></i>
                                </div>
                                <div class="summary-body">

                                </div>
                                <div class="pdsa-summary-block-primary summary-footer">
                                    <a href="/ctrp/angular#/main/people">View Person
                                    <i class="glyphicon glyphicon-chevron-right pull-right"></i></a>
                                </div>
                            </div>
                            <!--end of summary block -->
                        </div>
                        <!-- end of right column -->

                    </div>

                    <!-- second row -->
                    <div class="row">
                        <!-- left column -->
                        <div class="col-xs-12 col-sm-6">
                            <!-- summary block -->
                            <div class="pdsa-summary-block pdsa-summary-block-info">
                                <div class="summary-background" align = left>
                                    <i class="glyphicon glyphicon-filter" align = left></i>
                                </div>
                                <div class="summary-body">

                                </div>
                                <div class="summary-footer">
                                    <a href="/ctrp/angular#/main/registration">View Registration</a>
                                    <i class="glyphicon glyphicon-chevron-right pull-right"></i>
                                </div>
                            </div>
                            <!--end of summary block -->
                        </div>
                        <!-- end of left column -->
                        <!-- right column -->
                        <div class="col-xs-12 col-sm-6">
                            <!-- summary block -->
                            <div class="pdsa-summary-block pdsa-summary-block-danger">
                                <div class="summary-background" align = left>
                                    <i class="glyphicon glyphicon-paperclip" align = left></i>
                                </div>
                                <div class="summary-body">

                                </div>
                                <div class="pdsa-summary-block-primary summary-footer">
                                    <a href="/ctrp/angular#/main/trials">View Trials</a>
                                    <i class="glyphicon glyphicon-chevron-right pull-right"></i>
                                </div>
                            </div>
                            <!--end of summary block -->
                        </div>
                        <!-- end of right column -->
                    </div>
                    <!-- end of second row -->
                </div>
                <div class="col-md-1">

                </div>
            </div>
        </div>

    </div>
</div>