  <md-input-container md-no-float ng-show="editMode">
    <label ng-show="editMode">Comment:</label>
    <textarea rows="1" cols="40" ng-model="model"></textarea>
  </md-input-container>
  <md-content>
    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
      <md-button class="md-warn" ng-click="cancelEdit()" ng-show="editMode">Cancel</md-button>
      <md-button md-no-ink class="md-primary" ng-click="saveEdit()" ng-show="editMode">Save</md-button>
    </section>
  </md-content>
  <!-- <button ng-click="cancelEdit()" ng-show="editMode">cancel</button>
  <button ng-click="saveEdit()" ng-show="editMode">save</button> -->
  <div ng-if="isEditable">
    <span ng-mouseenter="showEdit = true" ng-mouseleave="showEdit = false">
      <span ng-hide="editMode" ng-click="edit()">{{model}}</span>
      <a ng-show="showEdit" ng-click="edit()">Edit</a>
    </span>
  </div>
<!-- <div ng-if="!isEditable">
  <span ng-mouseenter="showEdit = false" ng-mouseleave="showEdit = false">
    <span ng-hide="editMode" ng-click="edit()">{{model}}</span>
  </span>
</div> -->
