<div>
  <md-input-container md-no-float>
    <label ng-show="editMode">Comment:</label>
    <!-- <input ng-model="comment.content"> -->
  <textarea rows="1" cols="40" ng-model="model" ng-show="editMode"></textarea>
  </md-input-container>
  <button ng-click="cancelEdit()" ng-show="editMode">cancel</button>
  <button ng-click="saveEdit()" ng-show="editMode">save</button>
  <span ng-mouseenter="showEdit = true" ng-mouseleave="showEdit = false">
    <span ng-hide="editMode" ng-click="edit()">{{model}}</span>
    <a ng-show="showEdit" ng-click="edit()">edit</a>
  </span>
</div>
