<button class="btn btn-primary pull-right" curation-field ng-click="commentView.toggleRight()" ng-show="buttonType !='icon'">
  <ng-md-icon icon="comment" style="fill: white"></ng-md-icon>
  <span ng-if="commentView.commentList.length == 1">
      {{commentView.commentList.length}} Comment
  </span>
  <span ng-if="commentView.commentList.length > 1">
      {{commentView.commentList.length}} Comments
  </span>
  <span ng-if="commentView.commentList.length == 0">Comment</span>
</button>
<div class="sideNavBar">
  <div layout="column" class="relative" layout-fill role="main">
    <md-button class="md-fab md-fab-top-right" curation-field style="background-color: #007299" aria-label="Comment"
    ng-click="commentView.toggleRight()" ng-show="buttonType=='icon'">
      <ng-md-icon icon="comment"></ng-md-icon>
      <span flex ng-show="commentView.commentList.length > 0">
          {{commentView.commentList.length}}
      </span>
    </md-button>
  </div>
</div>


<md-sidenav side-nav-push-in layout="column" class="md-sidenav-right md-white-frame-z5" md-component-id="right">
  <md-toolbar style="background-color: #4a4a4a">

    <div layout="row" layout-align="start center" flex>
      <!-- <md-button ng-click="commentView.closeSideNav()">Close</md-button> chevron_right-->
      <ng-md-icon icon="keyboard_arrow_right" style="fill: red" size="24" ng-click="commentView.closeSideNav()"></ng-md-icon>
      <!-- <ng-md-icon icon="" style="fill: wheat" size="24"></ng-md-icon> -->
      <span flex>Comments</span>
    </div>
  </md-toolbar>
  <div id="toastr_message"></div>
  <md-button ng-show="!commentView.showCommentForm" ng-click="commentView.toggleCommentFormShown()">
    <span flex>
      <ng-md-icon icon="edit" style="fill: blue" size="20"></ng-md-icon>
      Write a comment
    </span>
  </md-button>
  <md-content layout="column" layout-padding>
    <form name="commentForm" ng-show="commentView.showCommentForm">

      <div layout layout-sm="column">
        <!-- <md-input-container flex>
          <label>Username</label>
          <input ng-model="commentView.comment.username" type="text" disabled>
        </md-input-container> -->
        <!-- <md-input-container md-no-float>
          <label>Category</label>
          <input ng-model="commentView.comment.field" type="text">
        </md-input-container> -->
      </div>
      <md-input-container flex>
        <label>Comment:</label>
        <!-- <input ng-model="commentView.comment.content"> -->
        <textarea columns="1" md-maxlength="4000" ng-maxlength="4000" ng-model="commentView.comment.content" required></textarea>
      </md-input-container>

      <div class="form-group">
          <div class="btn-toolbar col-xs-12 col-sm-9">
      <!-- <section layout="row" layout-sm="column" layout-align="center center" layout-wrap> -->
        <!-- <md-button class="md-raised md-warn" ng-show="commentView.showCommentForm" ng-click="commentView.toggleCommentFormShown()">
            Close form
        </md-button>
        <md-button class="md-raised md-primary" ng-click="commentView.postComment()">Submit</md-button> -->
        <button type="submit" class="btn btn-primary pull-right" ng-disabled="!commentForm.$valid" id="comment_submit_btn" ng-click="commentView.postComment(commentForm)">
         <i class="glyphicon glyphicon-plus"></i> Submit
        </button>
        <button class="btn btn-warning pull-right" id="comment_reset_btn" ng-show="commentView.showCommentForm" ng-click="commentView.toggleCommentFormShown()">
          <i class="glyphicon glyphicon-arrow-up"></i> Close Form
        </button>
        </div>
      </div>

      <!-- </section> -->

    </form>
    <section layout="row">
      <br />
    </section>

    <div ng-show="commentView.commentList.length == 0">
      <strong>No comments yet</strong>
    </div>

    <div flex="33" class="md-3-line">
      <div dir-paginate="comment in commentView.commentList | itemsPerPage: commentView.pagingOptions.pageSize" current-page="commentView.pagingOptions.currentPage" pagination-id="comment">
      <md-divider></md-divider>
      <div class="md-list-item-text">
        <div class="md-list-item-text">
          <p class="md-caption"><strong>{{comment.username}}</strong> commented ({{comment.created_at | date: "dd-MMM-yyyy H:mm"}}): </p>
          <h5 class="md-body-1" in-place-edit="comment.content" on-save="commentView.updateComment(comment.content, $index)"
          template="/ctrp/ui/js/modules/widgets/comment/comment-in-place-edit.html" is-editable="comment.isEditable">{{comment.content}}</h5>
        </div>
      </div>
      </div>
      <dir-pagination-controls boundary-links="true" pagination-id="comment"></dir-pagination-controls>
    </div>

  </md-content>

</md-sidenav>
